<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Make Up Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.9995 14.9043C13.9788 14.9043 13.1484 15.7347 13.1484 16.7554C13.1484 17.7761 13.9788 18.6064 14.9995 18.6064C16.0202 18.6064 16.8506 17.776 16.8506 16.7554C16.8506 15.7347 16.0202 14.9043 14.9995 14.9043Z"
                fill="white"
              />
              <path
                d="M15.0004 11.3936C12.0439 11.3936 9.63867 13.7988 9.63867 16.7552C9.63867 19.7117 12.0439 22.1169 15.0004 22.1169C17.9568 22.1169 20.362 19.7117 20.362 16.7552C20.362 13.7988 17.9568 11.3936 15.0004 11.3936ZM15.0004 20.5212C12.9238 20.5212 11.2344 18.8319 11.2344 16.7553C11.2344 14.6787 12.9238 12.9893 15.0004 12.9893C17.0769 12.9893 18.7663 14.6787 18.7663 16.7552C18.7663 18.8319 17.0769 20.5212 15.0004 20.5212Z"
                fill="white"
              />
              <path
                d="M26.2341 7.02139H19.9977L19.4496 4.28049C19.3601 3.83289 18.9671 3.51074 18.5107 3.51074H11.4894C11.033 3.51074 10.64 3.83289 10.5506 4.28049L10.0024 7.02139H3.76594C1.68938 7.02139 0 8.71076 0 10.7873V22.7235C0 24.8001 1.68938 26.4895 3.76594 26.4895H26.234C28.3106 26.4895 29.9999 24.8001 29.9999 22.7235V10.7873C30 8.71076 28.3106 7.02139 26.2341 7.02139ZM15 24.032C10.9877 24.032 7.72342 20.7678 7.72342 16.7554C7.72342 12.7431 10.9877 9.47881 15 9.47881C19.0123 9.47881 22.2766 12.7431 22.2766 16.7554C22.2766 20.7678 19.0123 24.032 15 24.032ZM25.5319 12.4469H23.9292C23.4005 12.4469 22.9718 12.0183 22.9718 11.4895C22.9718 10.9608 23.4005 10.5321 23.9292 10.5321H25.5319C26.0607 10.5321 26.4894 10.9608 26.4894 11.4895C26.4894 12.0182 26.0607 12.4469 25.5319 12.4469Z"
                fill="white"
              />
              <path
                d="M9.0476 4.46816C9.0476 3.93941 8.61893 3.51074 8.09018 3.51074H3.87734C3.34859 3.51074 2.91992 3.93941 2.91992 4.46816V5.10648H9.0476V4.46816Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Make Up Photo Shoot
              </h5>
              <p class="text-white">
                Make Up Photo Shoot Tidak tahu bagaimana teknik makeup dapat
                mengubah hasil dari sesi foto profesional menjadi sempurna? Kami
                menyediakan layanan untuk melakukan makeup yang cocok untuk sesi
                foto profesional.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_1644)">
                <path
                  d="M5.21994 14.1879C5.86349 14.1879 6.3852 13.6662 6.3852 13.0227C6.3852 12.3791 5.86349 11.8574 5.21994 11.8574C4.57639 11.8574 4.05469 12.3791 4.05469 13.0227C4.05469 13.6662 4.57639 14.1879 5.21994 14.1879Z"
                  fill="white"
                />
                <path
                  d="M26.6323 17.4923C27.3269 17.4822 27.9786 17.2068 28.4709 16.7144C28.9693 16.216 29.2415 15.5584 29.2497 14.8748C29.7275 14.3855 30.0001 13.7279 30.0001 13.0228C30.0001 12.3178 29.7275 11.6601 29.2498 11.1709C29.2416 10.4872 28.9693 9.82955 28.4709 9.33109C27.9725 8.83276 27.315 8.56053 26.6313 8.55233C26.2692 8.19889 25.8149 7.95813 25.3175 7.85658C24.7046 5.78758 23.466 3.92471 21.7774 2.55338C19.8693 1.00381 17.4623 0.150391 15 0.150391C12.5377 0.150391 10.1307 1.00375 8.2227 2.55332C6.53414 3.92465 5.29553 5.78752 4.68258 7.85652C4.18523 7.95807 3.73084 8.19883 3.36885 8.55227C2.68518 8.56053 2.02758 8.83276 1.52918 9.33109C1.03078 9.82949 0.758555 10.4871 0.750293 11.1708C0.27252 11.6601 0 12.3178 0 13.0227C0 13.7279 0.27252 14.3855 0.750234 14.8747C0.758438 15.5584 1.03072 16.216 1.52906 16.7144C2.02137 17.2067 2.67305 17.4821 3.36768 17.4922C3.61992 17.7387 3.91723 17.9302 4.24242 18.0583V25.2243L1.00031 28.4664L2.38377 29.8499L5.62588 26.6078H24.374L27.6161 29.8499L28.9996 28.4664L25.7575 25.2243V18.0584C26.0827 17.9303 26.38 17.7388 26.6323 17.4923ZM8.15238 13.619L7.55426 13.9894L7.7151 14.6743C7.77111 14.913 7.7015 15.1585 7.529 15.331C7.35885 15.5011 7.11299 15.5738 6.87229 15.5171L6.18744 15.3562L5.81695 15.9544C5.68787 16.1627 5.46504 16.2872 5.22082 16.2872C4.9766 16.2872 4.75371 16.1627 4.62463 15.9543L4.25414 15.3562L3.56924 15.5171C3.32906 15.5737 3.08291 15.5011 2.9127 15.3309C2.74014 15.1584 2.67059 14.9128 2.7266 14.6741L2.88744 13.9893L2.28932 13.6189C2.08096 13.4898 1.95656 13.267 1.95656 13.0228C1.95656 12.7786 2.08102 12.5557 2.28937 12.4267L2.88738 12.0562L2.72654 11.3713C2.67053 11.1327 2.74014 10.8872 2.91258 10.7147C3.08514 10.5421 3.33059 10.4724 3.56936 10.5285L4.25414 10.6894L4.62457 10.0913C4.75365 9.88299 4.97648 9.75854 5.22076 9.75854C5.46504 9.75854 5.68793 9.88293 5.81689 10.0913L6.18732 10.6894L6.87211 10.5285C7.11088 10.4727 7.35633 10.5421 7.52889 10.7147C7.70145 10.8872 7.77105 11.1328 7.71504 11.3714L7.5542 12.0562L8.15227 12.4267C8.36063 12.5558 8.48508 12.7786 8.48508 13.0229C8.48508 13.2671 8.36074 13.4899 8.15238 13.619ZM19.5172 18.598C19.3416 19.8757 19.3252 21.6351 19.3236 24.6513H10.6765C10.6749 21.6351 10.6584 19.8757 10.4828 18.598C10.3258 17.4562 10.0291 16.6649 9.45492 15.9322C9.60557 15.6009 9.68678 15.2417 9.69123 14.8747C10.1689 14.3854 10.4415 13.7278 10.4415 13.0227C10.4415 12.5997 10.3427 12.1942 10.161 11.8314C12.2197 10.4333 13.5234 8.59217 14.283 7.2049C14.5513 6.71477 14.7911 6.20934 15 5.6974C15.2089 6.20934 15.4487 6.71477 15.717 7.2049C16.4765 8.59223 17.7802 10.4333 19.839 11.8313C19.6573 12.1942 19.5585 12.5997 19.5585 13.0227C19.5585 13.7279 19.8311 14.3855 20.3088 14.8747C20.3132 15.2417 20.3944 15.6009 20.5451 15.9322C19.9709 16.665 19.6742 17.4562 19.5172 18.598ZM25.7459 15.3562L25.3754 15.9544C25.2463 16.1627 25.0235 16.2872 24.7792 16.2872C24.535 16.2872 24.3121 16.1628 24.1831 15.9544L23.8126 15.3563L23.1278 15.5172C22.8871 15.5737 22.6413 15.5012 22.4711 15.331C22.2986 15.1585 22.2289 14.9129 22.285 14.6743L22.4458 13.9894L21.8477 13.619C21.6394 13.4899 21.5149 13.2671 21.5149 13.0229C21.5149 12.7787 21.6394 12.5557 21.8477 12.4267L22.4458 12.0562L22.285 11.3714C22.2289 11.1327 22.2986 10.8872 22.4711 10.7147C22.6436 10.5422 22.8891 10.4725 23.128 10.5286L23.8127 10.6894L24.1832 10.0913C24.3122 9.88305 24.5351 9.7586 24.7793 9.7586C25.0235 9.7586 25.2465 9.88299 25.3755 10.0914L25.7459 10.6894L26.4307 10.5285C26.6695 10.4725 26.9149 10.5421 27.0875 10.7147C27.26 10.8872 27.3296 11.1328 27.2736 11.3714L27.1128 12.0562L27.7108 12.4267C27.9192 12.5558 28.0436 12.7786 28.0436 13.0229C28.0436 13.2671 27.9192 13.49 27.7109 13.619L27.1127 13.9894L27.2736 14.6743C27.3296 14.913 27.2601 15.1585 27.0875 15.331C26.9173 15.5011 26.6711 15.5737 26.4309 15.5172L25.7459 15.3562Z"
                  fill="white"
                />
                <path
                  d="M24.7785 14.1879C25.4221 14.1879 25.9438 13.6662 25.9438 13.0227C25.9438 12.3791 25.4221 11.8574 24.7785 11.8574C24.135 11.8574 23.6133 12.3791 23.6133 13.0227C23.6133 13.6662 24.135 14.1879 24.7785 14.1879Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_1644">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Make Up Wedding
              </h5>
              <p class="text-white">
                Ciptakan momen tidak terlupakan di hari pernikahan Anda dengan
                riasan yang tepat. Tim kami dapat menciptakan wedding look yang
                sempurna untuk melengkapi dan menunjang penampilan Anda di hari
                pernikahan Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26.0774 22.5467V13L24.5393 13.769V22.5457L23.5137 25.1829H27.1025L26.0774 22.5467Z"
                fill="white"
              />
              <path
                d="M13.4217 17.951L7.10742 14.794V17.9449C7.10742 20.0685 10.5506 21.7901 14.7979 21.7901C19.0452 21.7901 22.4883 20.0685 22.4883 17.9449V14.7939L16.1735 17.9512C15.0926 18.3794 14.5027 18.3792 13.4217 17.951Z"
                fill="white"
              />
              <path
                d="M15.4849 16.5761L26.4138 11.1116C26.7922 10.9224 26.7922 10.6129 26.4138 10.4237L15.4849 4.95928C15.1066 4.77008 14.4875 4.77008 14.1091 4.95928L3.18018 10.4237C2.80192 10.6129 2.80192 10.9224 3.18018 11.1116L14.1091 16.5761C14.4875 16.7653 15.1066 16.7653 15.4849 16.5761Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Make Up Graduation
              </h5>
              <p class="text-white">
                Tampil cantik dan memukau di hari kelulusan Anda bersama kami!
                Tim kami dapat memberikan tampilan yang natural, elegan, atau
                bold sesuai keinginan di hari kelulusan Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.6921 8.72672C10.5356 8.12344 9.40689 7.92234 8.69439 8.42812C8.19096 8.78672 7.9683 9.45469 7.95752 10.2628C6.78495 9.1355 5.8368 7.79606 5.1633 6.31547V0.9375H3.01596V6.31734H3.02674C2.65689 7.59047 2.34096 9.08344 2.34377 10.4864C2.34752 13.3177 4.56471 14.7427 6.36846 14.7427C6.39424 14.7427 6.41768 14.737 6.44346 14.7366C6.74477 14.7333 7.04377 14.6835 7.32986 14.5889L7.34627 14.5823C7.64205 14.4797 7.90736 14.3306 8.11877 14.1234C8.11877 14.1234 7.80564 13.9027 7.33971 13.4541C7.63174 13.4752 7.95143 13.4681 8.27064 13.4334C8.51486 14.5875 9.04314 15.8227 9.46361 16.3927L18.6952 29.0625H20.9494L12.5963 16.92C13.2417 16.9055 13.8652 16.6509 14.4436 16.2394C15.871 15.2259 16.4869 13.6702 14.8585 11.4548C14.4804 10.9489 14.0525 10.4822 13.5811 10.0617C14.1544 10.4255 14.8575 11.0287 15.6225 12.022C18.481 15.7266 27.6563 28.3978 27.6563 28.3978V26.7361C27.6563 26.7361 19.2619 15.1795 16.3955 11.4633C14.4197 8.90156 12.4767 8.32922 11.6921 8.72672ZM4.54127 12.4102C5.00533 13.582 6.91877 14.1389 6.91877 14.1389C5.70377 14.8219 2.70283 13.1808 2.69908 10.4859C2.69721 9.09094 3.02205 7.58719 3.39752 6.31687H3.95955C5.12392 10.3242 7.95658 11.3597 7.95658 11.3597C6.75846 11.3597 5.35267 11.0002 5.35267 11.0002C6.54283 12.3628 9.07689 12.6337 9.07689 12.6337C6.8583 13.1175 4.54127 12.4102 4.54127 12.4102ZM14.3306 11.6761C15.7908 13.6603 15.1692 14.7788 14.693 15.1172C14.2177 15.4552 14.2571 14.7511 12.7969 12.7659C11.3358 10.7822 9.19314 9.01781 9.66939 8.67984C10.1452 8.34281 12.8705 9.69188 14.3306 11.6761Z"
                fill="white"
              />
              <path
                d="M26.4116 10.8818C26.5156 11.0491 27.6556 13.0502 27.6556 13.0502V11.0819C27.6556 11.0819 27.3434 10.5682 27.2361 10.3985C26 8.42269 24.3697 7.33566 23.3975 7.28269C23.1767 7.27238 23.0094 7.3155 22.8856 7.37644C21.8647 6.7516 20.8466 6.49519 20.1491 6.90769C19.3259 7.39425 19.1281 8.69972 19.3644 10.1468C19.0639 11.3941 19.7005 13.6816 20.2269 14.5408L27.6556 26.2736V23.0285L23.2016 15.2903C23.803 15.3171 24.4034 15.1249 24.9748 14.7874C26.4139 13.9361 27.1283 12.5069 25.7595 10.2714C25.4742 9.81133 25.1472 9.37842 24.7827 8.97816C25.2889 9.39394 25.8622 10.0047 26.4116 10.8818ZM25.3034 13.7407C24.8248 14.0233 24.92 13.3568 23.6938 11.3552C22.467 9.35316 20.5756 7.50675 21.0542 7.22363C21.5338 6.94003 24.0139 8.43863 25.2392 10.4402C26.4664 12.4422 25.7853 13.4566 25.3034 13.7407Z"
                fill="white"
              />
              <path
                d="M6.86396 19.7226L6.87053 19.7311C5.69959 19.2173 4.57693 19.0931 3.92537 19.6368C3.19365 20.249 3.21568 21.5704 3.68818 22.9608C3.60006 24.2395 4.60553 26.3925 5.2674 27.1561L6.8124 29.0629H9.33568L8.08131 27.4368C8.77178 27.427 9.41631 27.1218 9.99193 26.6404C11.2712 25.5703 11.739 24.045 10.0187 22.0593C9.65349 21.6375 9.22412 21.239 8.76521 20.8809C9.33006 21.2039 10.0266 21.734 10.7668 22.5586C12.1857 24.1401 16.3988 29.0629 16.3988 29.0629H17.6251C17.6251 29.0629 12.9221 23.5359 11.4947 21.9464C9.79084 20.0479 7.75928 19.0711 6.86396 19.7226ZM9.53443 22.3087C11.0752 24.0881 10.5699 25.1976 10.1443 25.5558C9.71771 25.9111 9.70131 25.2384 8.15959 23.459C6.61881 21.6797 4.44709 20.1614 4.87178 19.8037C5.2974 19.447 7.99271 20.5303 9.53443 22.3087Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Make Up Acara Khusus
              </h5>
              <p class="text-white">
                Anda perlu mendatangi acara khusus yang membutuhkan penampilan
                terbaik Anda? Seperti malam perpisahan, ulang tahun, dll.
                Percayakan pada kami untuk merias Anda dan memberikan hasil
                terbaik.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_1672)">
                <path
                  d="M15.5132 3.74565C15.5413 3.66553 15.3851 3.6618 15.2602 3.70154C15.3411 3.51183 15.4246 3.32275 15.5132 3.13563C15.5342 3.09101 15.4891 3.07067 15.4219 3.06901C15.4372 3.04638 15.4502 3.02283 15.4671 3.0002C15.5249 2.92122 15.4434 2.89113 15.3416 2.89486C15.3399 2.81215 15.2545 2.775 15.1622 2.7804C15.1705 2.74117 15.1782 2.70142 15.1853 2.66167C15.2156 2.60355 15.2414 2.54181 15.2729 2.48431C15.2829 2.46605 15.2619 2.45525 15.2272 2.45048C15.2304 2.42848 15.2373 2.40637 15.2404 2.38489C15.2477 2.33331 15.188 2.31442 15.1144 2.31826C15.1826 2.07106 15.2482 1.8222 15.3092 1.5724C15.3417 1.43915 14.9475 1.50142 14.9169 1.62657C14.9076 1.66528 14.8966 1.70347 14.8866 1.74115C14.8337 1.72506 14.749 1.73253 14.6771 1.75723C14.6962 1.66642 14.716 1.57396 14.7354 1.48211C14.7623 1.35093 14.5863 1.33433 14.4586 1.38964C14.4592 1.37408 14.4619 1.35851 14.4625 1.34294C14.4681 1.23491 14.3402 1.21229 14.2288 1.24082C14.2489 1.13601 14.2704 1.03026 14.2903 0.924815C14.3018 0.862029 14.2095 0.8475 14.1121 0.864104C14.1153 0.83297 14.1212 0.802874 14.1253 0.771637C14.127 0.755551 14.1224 0.744239 14.1191 0.730748C14.1306 0.628109 14.1454 0.527132 14.1564 0.423871C14.1741 0.250352 13.7762 0.320091 13.7614 0.467874C13.7614 0.468496 13.7609 0.469534 13.7609 0.470053C13.6553 0.479705 13.521 0.521631 13.4978 0.584003C13.4449 0.558162 13.3582 0.563559 13.2826 0.590437C13.2926 0.51198 13.2974 0.434042 13.3073 0.356207C13.325 0.221916 13.0878 0.234785 12.9727 0.316459C12.9364 0.329328 12.9061 0.349254 12.8829 0.369698C12.8088 0.356311 12.7186 0.37717 12.6608 0.423975C12.6403 0.423456 12.6188 0.425013 12.5963 0.429371C12.5958 0.225756 12.1986 0.286467 12.1981 0.460505C12.1981 0.485205 12.1968 0.508348 12.1968 0.532528C12.1573 0.538963 12.1188 0.551935 12.0847 0.569578C12.0842 0.567398 12.0842 0.564181 12.0842 0.563143C12.0748 0.50347 12.0207 0.478771 11.9558 0.476591C11.9416 0.335347 11.9289 0.194518 11.9142 0.0536891C11.902 -0.060261 11.5063 0.0225552 11.5205 0.158507C11.5299 0.243917 11.5372 0.329951 11.5461 0.416399C11.5141 0.429371 11.4883 0.444835 11.4722 0.459986C11.4354 0.304628 11.0579 0.400313 11.0799 0.558266C11.0216 0.558266 10.9554 0.575493 10.901 0.606108C10.8998 0.591579 10.8971 0.577672 10.8961 0.563662C10.8773 0.373434 10.4834 0.471817 10.5028 0.667442C10.5065 0.706671 10.5138 0.744862 10.518 0.783571C10.4807 0.790525 10.443 0.799138 10.4092 0.813149C10.3033 0.729295 10.0553 0.793223 10.0585 0.935712C10.0617 1.05184 10.0728 1.16683 10.0801 1.28286C10.0123 1.306 9.95896 1.34035 9.95989 1.38176C9.95564 1.35758 9.94993 1.33443 9.94567 1.30973C9.92876 1.21779 9.75088 1.22972 9.63963 1.29199C9.59853 1.30434 9.5593 1.32374 9.53024 1.34678C9.41121 1.30154 9.13744 1.41818 9.17853 1.48325C9.27609 1.63903 9.36959 1.79605 9.46092 1.9567C9.37177 1.95234 9.27204 1.99489 9.23094 2.06577C9.18746 2.07179 9.14283 2.08414 9.10444 2.1024C8.9717 2.0611 8.76155 2.15616 8.80565 2.29803C8.83139 2.38022 8.8645 2.46138 8.89345 2.54305C8.77307 2.56246 8.61999 2.62732 8.63556 2.67091C8.69866 2.84391 8.76207 3.01753 8.82579 3.19105C8.69928 3.18296 8.53697 3.26733 8.56841 3.38398C8.98 4.93061 9.91267 6.22837 10.6313 7.63469L10.781 7.57284C10.8062 7.56204 11.41 7.31442 12.3263 7.31442C12.8577 7.31442 13.3917 7.39714 13.911 7.55997L14.0679 7.60833C14.3043 7.01616 14.541 6.42451 14.7811 5.83339C15.0363 5.20469 15.19 4.51082 15.5383 3.92841C15.5796 3.8596 15.5498 3.81819 15.4926 3.79889C15.499 3.78 15.5066 3.76225 15.5132 3.74565Z"
                  fill="white"
                />
                <path
                  d="M13.7844 14.4779C13.7928 10.7893 13.7849 7.85994 13.7849 7.85994C12.1556 7.3511 10.9333 7.85994 10.9333 7.85994C10.8991 9.02393 10.9454 11.6157 11.0236 14.5917C11.6153 14.4907 12.6618 14.3656 13.7844 14.4779Z"
                  fill="white"
                />
                <path
                  d="M11.0391 15.0922C11.1982 20.9861 11.4721 28.1791 11.4983 28.8772C11.5316 29.8009 12.5161 29.7939 12.5161 29.7939C12.5161 29.7939 13.4842 29.8294 13.5688 28.8267C13.7252 26.9797 13.7746 20.292 13.7878 14.9773C12.6662 14.86 11.5998 14.9943 11.0391 15.0922Z"
                  fill="white"
                />
                <path
                  d="M20.5341 4.5127L19.4007 4.53584L19.4669 7.71067H19.4518C18.7279 14.2081 19.6614 25.9183 19.9005 28.68L19.916 29.4441C19.9224 29.7532 20.1745 29.9997 20.4824 29.9997C20.4862 29.9997 20.4899 29.9997 20.4937 29.9997C20.8071 29.9922 21.0558 29.7342 21.0494 29.421L21.0462 29.2779H21.0494C22.0661 14.8912 20.7618 8.49628 20.6013 7.77999L20.5341 4.5127Z"
                  fill="white"
                />
                <path
                  d="M20.5098 4.11934C20.8182 3.08922 21.211 1.69629 20.3093 1.69629C19.422 1.69629 18.9422 2.35353 18.9513 2.9075C18.9593 3.40346 19.3887 4.11934 19.3887 4.11934H20.5098Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_1672">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Make Up Daily
              </h5>
              <p class="text-white">
                Apakah Anda ingin berpenampilan natural, segar dan sehat untuk
                penampilan sehari-hari? Bersama tim kami Anda bisa mendapatkan
                penampilan yang sederhana namun mempesona untuk menemani Anda di
                setiap kegiatan sehari-hari Anda.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
