<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Listrik dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.88145 13.553C10.2056 13.8772 10.2056 14.4072 9.88145 14.7313C9.55729 15.0555 9.02729 15.0555 8.70312 14.7313L1.63229 7.65966C1.30812 7.33549 1.30812 6.80549 1.63229 6.48133C1.95645 6.15716 2.48645 6.15716 2.81062 6.48133L9.88145 13.553ZM15.7748 7.66049C16.099 7.98466 16.099 8.51466 15.7748 8.83883C15.4506 9.16299 14.9206 9.16299 14.5965 8.83883L7.52395 1.76716C7.19979 1.44299 7.19979 0.912995 7.52395 0.588828C7.84812 0.264661 8.37812 0.264661 8.70229 0.588828L15.7748 7.66049Z"
                fill="white"
              />
              <path
                d="M28.3333 29.9997C28.3333 25.8613 26.1999 22.8488 24.5316 21.1247C24.9054 20.4904 25.0582 19.7501 24.9662 19.0196C24.8743 18.2891 24.5426 17.6098 24.0233 17.088L23.1074 16.1722C23.2594 15.6096 23.2607 15.0169 23.1112 14.4536C22.9617 13.8903 22.6667 13.3762 22.2558 12.963L18.1316 8.83801C18.4317 8.52286 18.5968 8.10285 18.5915 7.66768C18.5862 7.2325 18.4109 6.81665 18.1032 6.50891C17.7955 6.20117 17.3796 6.02594 16.9444 6.02063C16.5092 6.01533 16.0892 6.18036 15.7741 6.48051L13.4191 8.83551L13.4166 8.83717L9.88159 12.373L7.52493 14.7297C7.36574 14.8834 7.23877 15.0673 7.15142 15.2707C7.06408 15.474 7.0181 15.6927 7.01618 15.914C7.01425 16.1353 7.05642 16.3548 7.14022 16.5596C7.22403 16.7644 7.34778 16.9505 7.50427 17.107C7.66076 17.2635 7.84684 17.3872 8.05167 17.471C8.2565 17.5548 8.47596 17.597 8.69726 17.5951C8.91856 17.5932 9.13726 17.5472 9.3406 17.4598C9.54394 17.3725 9.72785 17.2455 9.88159 17.0863L14.0066 21.2113C14.8766 22.0813 16.1058 22.3555 17.2149 22.0622L18.1324 22.9797C18.6556 23.5009 19.3374 23.8331 20.0702 23.924C20.8031 24.0148 21.5454 23.8591 22.1799 23.4813C23.4158 24.7713 24.9999 27.003 24.9999 29.9997H28.3333Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Instalasi Listrik
              </h5>
              <p class="text-white">
                Pemasangan listrik bagi rumah Anda yang belum memiliki aliran
                listrik. Tukang kami dapat membantu dalam memasang kabel,
                saklar, stop kontak, dan peralatan listrik lainnya dengan
                presisi, baik dan aman.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.6362 0L7.72168 16.9995H13.1352L8.69035 30L22.2786 13.0921H16.66L20.6362 0Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemeliharaan Listrik
              </h5>
              <p class="text-white">
                Tanpa disadari sistem listrik Anda juga memerlukan pemeliharaan
                rutin. Tukang listrik kami dapat memeriksa dan merawat sistem
                listrik Anda, memastikan semua komponen tetap dalam kondisi
                optimal.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 6.25C19.1421 6.25 22.5 9.60786 22.5 13.75C22.5 16.526 20.9918 18.9498 18.75 20.2466L18.75 25L17.5 26.25H16.25C16.25 26.9404 15.6904 27.5 15 27.5C14.3096 27.5 13.75 26.9404 13.75 26.25H12.5L11.25 25L11.25 20.2466C9.00823 18.9498 7.5 16.526 7.5 13.75C7.5 9.60786 10.8579 6.25 15 6.25ZM16.2501 21.1463C15.8435 21.2145 15.4259 21.25 15 21.25C14.5741 21.25 14.1565 21.2145 13.7499 21.1463L13.75 23.75H16.25L16.2501 21.1463ZM8.1499 19.2743L9.47573 20.6001L6.82408 23.2517L5.49825 21.9259L8.1499 19.2743ZM21.8501 19.2743L24.5017 21.9259L23.1759 23.2517L20.5243 20.6001L21.8501 19.2743ZM27.5 12.8125V14.6875H23.75V12.8125H27.5ZM6.25 12.8125V14.6875H2.5V12.8125H6.25ZM23.1759 4.24825L24.5017 5.57408L21.8501 8.22573L20.5243 6.8999L23.1759 4.24825ZM6.82408 4.24825L9.47573 6.8999L8.1499 8.22573L5.49825 5.57408L6.82408 4.24825ZM15.9375 1.25V5H14.0625V1.25H15.9375Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Lampu
              </h5>
              <p class="text-white">
                Lampu tidak tidak menyala? Tukang listrik kami dapat membantu
                Anda memilih dan memasang lampu yang sesuai dengan kebutuhan dan
                gaya dekorasi Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.1449 1.23047L13.2531 3.2666C12.7915 3.29477 12.3322 3.3529 11.8781 3.44063L10.5139 1.67906L9.04354 2.17898L9.03621 4.4202C8.41336 4.74035 7.81646 5.12742 7.25262 5.57918L5.17459 4.64355L4.1107 5.77518L5.17453 7.79297C4.83512 8.27682 4.53685 8.78826 4.28285 9.32191L2.00133 9.38414L1.53809 10.8654L3.38016 12.2223C3.29197 12.7719 3.24891 13.3273 3.24645 13.8831L1.20117 14.9194L1.41539 16.4575L3.66029 16.897C3.79449 17.3668 3.9609 17.8269 4.15834 18.2739L2.67891 20.1105L3.50467 21.4252L5.80447 20.8869C5.95 21.0581 6.10082 21.2248 6.2567 21.3867C6.58228 21.7234 6.92909 22.039 7.29498 22.3315L6.8482 24.635L8.19223 25.4113L9.94816 23.8824C10.4506 24.0844 10.9679 24.2472 11.4954 24.3694L12.0686 26.6198L13.6158 26.7462L14.546 24.6239C15.1887 24.5852 15.8294 24.4891 16.4594 24.3346L17.9371 26.0467L19.3781 25.4699L19.3359 24.6019L15.9723 22.0513C14.9931 22.2989 13.9777 22.3652 12.9803 22.2527C11.1197 22.0429 9.3317 21.2027 7.9285 19.7515C4.72119 16.4343 4.81289 11.1576 8.12994 7.95041C9.73658 6.39691 11.8032 5.60883 13.8721 5.5865C16.0747 5.56272 18.2792 6.40658 19.9329 8.11699C22.6245 10.9009 22.9913 15.0888 21.0792 18.2593L22.9524 19.6802C23.1853 19.3149 23.3956 18.9358 23.5823 18.5449L25.8472 18.4826L26.3105 17.0014L24.4813 15.6537C24.5696 15.0996 24.6142 14.5394 24.6149 13.9783L26.6474 12.9456L26.4333 11.4075L24.1903 10.968C24.0016 10.3183 23.7514 9.68804 23.4432 9.08572L24.7798 7.23451L23.8862 5.96555L21.6854 6.60457C21.6578 6.57527 21.6309 6.54557 21.6029 6.51668C21.2565 6.15825 20.8858 5.82418 20.4933 5.51684L20.9145 3.34154L19.5703 2.56523L17.9004 4.01918C17.3598 3.80162 16.8046 3.63229 16.2414 3.50648L15.694 1.3568L14.1449 1.23047ZM10.7373 10.2246C10.1312 10.2315 9.53045 10.3804 8.97949 10.6512L11.6291 12.6618C12.4304 13.2697 12.6577 14.4251 12.0428 15.2362C11.4277 16.0477 10.2465 16.1697 9.43359 15.5531L6.78586 13.5444C6.51475 14.9971 7.02814 16.5363 8.28551 17.4903C9.41315 18.3456 10.8604 18.5057 12.107 18.0579L12.3871 17.9572L12.6232 18.1366L20.5445 24.1462L20.7806 24.3257L20.7605 24.6223C20.6646 25.9436 21.2052 27.2948 22.3334 28.1507C23.5908 29.1046 25.2129 29.1837 26.5392 28.5315L23.8916 26.5229C23.0787 25.9062 22.879 24.7355 23.4943 23.9246C24.1096 23.1137 25.2836 23.022 26.0852 23.6298L28.7329 25.6386C29.0034 24.1864 28.4921 22.6464 27.2351 21.6926C26.1035 20.8338 24.6677 20.6636 23.4284 21.1048L23.15 21.2037L22.9139 21.0242L14.9926 15.0147L14.7565 14.8352L14.7766 14.5405C14.8675 13.2288 14.3167 11.8924 13.1854 11.034C12.4504 10.4764 11.5904 10.2149 10.7374 10.2247L10.7373 10.2246ZM13.2898 15.5127L22.8919 22.7985L22.2308 23.6719L12.627 16.3843L13.2898 15.5127Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Perbaikan
              </h5>
              <p class="text-white">
                Listrik Anda mengalami masalah? Jangan khawatir. Tukang kami
                handal dalam mengidentifikasi dan memperbaiki gangguan atau
                kerusakan pada sistem listrik Anda, memastikan rumah Anda
                kembali aman dan nyaman.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M25.7812 20.625V29.0625H4.21875V20.625" fill="white" />
              <path
                d="M14.0625 20.625V26.25C14.0625 26.4986 13.9637 26.7371 13.7879 26.9129C13.6121 27.0887 13.3736 27.1875 13.125 27.1875C12.8764 27.1875 12.6379 27.0887 12.4621 26.9129C12.2863 26.7371 12.1875 26.4986 12.1875 26.25V20.625"
                fill="#2C66A6"
              />
              <path
                d="M10.3125 20.625V26.25C10.3125 26.4986 10.2137 26.7371 10.0379 26.9129C9.8621 27.0887 9.62364 27.1875 9.375 27.1875C9.12636 27.1875 8.8879 27.0887 8.71209 26.9129C8.53627 26.7371 8.4375 26.4986 8.4375 26.25V20.625"
                fill="#2C66A6"
              />
              <path
                d="M21.5625 20.625V26.25C21.5625 26.4986 21.4637 26.7371 21.2879 26.9129C21.1121 27.0887 20.8736 27.1875 20.625 27.1875C20.3764 27.1875 20.1379 27.0887 19.9621 26.9129C19.7863 26.7371 19.6875 26.4986 19.6875 26.25V20.625"
                fill="#2C66A6"
              />
              <path
                d="M17.8125 20.625V26.25C17.8125 26.4986 17.7137 26.7371 17.5379 26.9129C17.3621 27.0887 17.1236 27.1875 16.875 27.1875C16.6264 27.1875 16.3879 27.0887 16.2121 26.9129C16.0363 26.7371 15.9375 26.4986 15.9375 26.25V20.625"
                fill="#2C66A6"
              />
              <path
                d="M27.1875 0.9375H2.8125C2.29473 0.9375 1.875 1.35723 1.875 1.875V19.6875C1.875 20.2053 2.29473 20.625 2.8125 20.625H27.1875C27.7053 20.625 28.125 20.2053 28.125 19.6875V1.875C28.125 1.35723 27.7053 0.9375 27.1875 0.9375Z"
                fill="white"
              />
              <path d="M26.25 2.8125H3.75V18.75H26.25V2.8125Z" fill="white" />
              <path
                d="M24.375 8.90625H5.625V12.6562H24.375V8.90625Z"
                fill="#2C66A6"
              />
              <path
                d="M24.375 8.4375H5.625C5.50068 8.4375 5.38145 8.48689 5.29354 8.57479C5.20564 8.6627 5.15625 8.78193 5.15625 8.90625V12.6562C5.15625 12.7806 5.20564 12.8998 5.29354 12.9877C5.38145 13.0756 5.50068 13.125 5.625 13.125H24.375C24.4993 13.125 24.6185 13.0756 24.7065 12.9877C24.7944 12.8998 24.8438 12.7806 24.8438 12.6562V8.90625C24.8438 8.78193 24.7944 8.6627 24.7065 8.57479C24.6185 8.48689 24.4993 8.4375 24.375 8.4375ZM13.5938 9.375H16.4062V12.1875H13.5938V9.375ZM12.6562 12.1875H9.84375V9.375H12.6562V12.1875ZM17.3438 9.375H20.1562V12.1875H17.3438V9.375ZM6.09375 9.375H8.90625V12.1875H6.09375V9.375ZM23.9062 12.1875H21.0938V9.375H23.9062V12.1875Z"
                fill="#2C66A6"
              />
              <path
                d="M7.96875 9.84375H7.03125V11.7188H7.96875V9.84375Z"
                fill="#2C66A6"
              />
              <path
                d="M11.7188 9.84375H10.7812V11.7188H11.7188V9.84375Z"
                fill="#2C66A6"
              />
              <path
                d="M15.4688 9.84375H14.5312V11.7188H15.4688V9.84375Z"
                fill="#2C66A6"
              />
              <path
                d="M19.2188 9.84375H18.2812V11.7188H19.2188V9.84375Z"
                fill="#2C66A6"
              />
              <path
                d="M22.9688 9.84375H22.0312V11.7188H22.9688V9.84375Z"
                fill="#2C66A6"
              />
              <path
                d="M7.96875 4.21875H5.15625V5.15625H7.96875V4.21875Z"
                fill="#2C66A6"
              />
              <path
                d="M11.7188 4.21875H8.90625V5.15625H11.7188V4.21875Z"
                fill="#2C66A6"
              />
              <path
                d="M15.4688 4.21875H12.6562V5.15625H15.4688V4.21875Z"
                fill="#2C66A6"
              />
              <path
                d="M19.2188 4.21875H16.4062V5.15625H19.2188V4.21875Z"
                fill="#2C66A6"
              />
              <path
                d="M24.375 4.6875H20.625V6.5625H24.375V4.6875Z"
                fill="#2C66A6"
              />
              <path
                d="M7.03125 6.09375H6.09375V7.03125H7.03125V6.09375Z"
                fill="#2C66A6"
              />
              <path
                d="M10.7812 6.09375H9.84375V7.03125H10.7812V6.09375Z"
                fill="#2C66A6"
              />
              <path
                d="M14.5312 6.09375H13.5938V7.03125H14.5312V6.09375Z"
                fill="#2C66A6"
              />
              <path
                d="M18.2812 6.09375H17.3438V7.03125H18.2812V6.09375Z"
                fill="#2C66A6"
              />
              <path
                d="M6.5625 16.875C7.08027 16.875 7.5 16.4553 7.5 15.9375C7.5 15.4197 7.08027 15 6.5625 15C6.04473 15 5.625 15.4197 5.625 15.9375C5.625 16.4553 6.04473 16.875 6.5625 16.875Z"
                fill="#2C66A6"
              />
              <path
                d="M10.3125 16.875C10.8303 16.875 11.25 16.4553 11.25 15.9375C11.25 15.4197 10.8303 15 10.3125 15C9.79473 15 9.375 15.4197 9.375 15.9375C9.375 16.4553 9.79473 16.875 10.3125 16.875Z"
                fill="#2C66A6"
              />
              <path
                d="M14.0625 16.875C14.5803 16.875 15 16.4553 15 15.9375C15 15.4197 14.5803 15 14.0625 15C13.5447 15 13.125 15.4197 13.125 15.9375C13.125 16.4553 13.5447 16.875 14.0625 16.875Z"
                fill="#2C66A6"
              />
              <path
                d="M17.8125 16.875C18.3303 16.875 18.75 16.4553 18.75 15.9375C18.75 15.4197 18.3303 15 17.8125 15C17.2947 15 16.875 15.4197 16.875 15.9375C16.875 16.4553 17.2947 16.875 17.8125 16.875Z"
                fill="#2C66A6"
              />
              <path
                d="M6.5625 17.3438C6.28437 17.3438 6.01249 17.2613 5.78123 17.1068C5.54997 16.9522 5.36973 16.7326 5.2633 16.4756C5.15686 16.2187 5.12901 15.9359 5.18327 15.6632C5.23753 15.3904 5.37146 15.1398 5.56813 14.9431C5.7648 14.7465 6.01537 14.6125 6.28815 14.5583C6.56094 14.504 6.84369 14.5319 7.10065 14.6383C7.35761 14.7447 7.57723 14.925 7.73176 15.1562C7.88628 15.3875 7.96875 15.6594 7.96875 15.9375C7.96875 16.3105 7.82059 16.6681 7.55687 16.9319C7.29315 17.1956 6.93546 17.3438 6.5625 17.3438ZM6.5625 15.4688C6.46979 15.4688 6.37916 15.4962 6.30208 15.5477C6.22499 15.5993 6.16491 15.6725 6.12943 15.7581C6.09395 15.8438 6.08467 15.938 6.10276 16.0289C6.12084 16.1199 6.16549 16.2034 6.23104 16.269C6.2966 16.3345 6.38012 16.3792 6.47105 16.3972C6.56198 16.4153 6.65623 16.406 6.74188 16.3706C6.82754 16.3351 6.90075 16.275 6.95225 16.1979C7.00376 16.1208 7.03125 16.0302 7.03125 15.9375C7.03125 15.8132 6.98186 15.694 6.89396 15.606C6.80605 15.5181 6.68682 15.4688 6.5625 15.4688Z"
                fill="#2C66A6"
              />
              <path
                d="M10.3125 17.3438C10.0344 17.3438 9.76249 17.2613 9.53123 17.1068C9.29997 16.9522 9.11973 16.7326 9.0133 16.4756C8.90686 16.2187 8.87901 15.9359 8.93327 15.6632C8.98753 15.3904 9.12146 15.1398 9.31813 14.9431C9.5148 14.7465 9.76537 14.6125 10.0382 14.5583C10.3109 14.504 10.5937 14.5319 10.8506 14.6383C11.1076 14.7447 11.3272 14.925 11.4818 15.1562C11.6363 15.3875 11.7188 15.6594 11.7188 15.9375C11.7188 16.3105 11.5706 16.6681 11.3069 16.9319C11.0431 17.1956 10.6855 17.3438 10.3125 17.3438ZM10.3125 15.4688C10.2198 15.4688 10.1292 15.4962 10.0521 15.5477C9.97499 15.5993 9.91491 15.6725 9.87943 15.7581C9.84395 15.8438 9.83467 15.938 9.85276 16.0289C9.87084 16.1199 9.91549 16.2034 9.98104 16.269C10.0466 16.3345 10.1301 16.3792 10.2211 16.3972C10.312 16.4153 10.4062 16.406 10.4919 16.3706C10.5775 16.3351 10.6507 16.275 10.7023 16.1979C10.7538 16.1208 10.7813 16.0302 10.7813 15.9375C10.7813 15.8132 10.7319 15.694 10.644 15.606C10.556 15.5181 10.4368 15.4688 10.3125 15.4688Z"
                fill="#2C66A6"
              />
              <path
                d="M14.0625 17.3438C13.7844 17.3438 13.5125 17.2613 13.2812 17.1068C13.05 16.9522 12.8697 16.7326 12.7633 16.4756C12.6569 16.2187 12.629 15.9359 12.6833 15.6632C12.7375 15.3904 12.8715 15.1398 13.0681 14.9431C13.2648 14.7465 13.5154 14.6125 13.7882 14.5583C14.0609 14.504 14.3437 14.5319 14.6006 14.6383C14.8576 14.7447 15.0772 14.925 15.2318 15.1562C15.3863 15.3875 15.4688 15.6594 15.4688 15.9375C15.4688 16.3105 15.3206 16.6681 15.0569 16.9319C14.7931 17.1956 14.4355 17.3438 14.0625 17.3438ZM14.0625 15.4688C13.9698 15.4688 13.8792 15.4962 13.8021 15.5477C13.725 15.5993 13.6649 15.6725 13.6294 15.7581C13.594 15.8438 13.5847 15.938 13.6028 16.0289C13.6208 16.1199 13.6655 16.2034 13.731 16.269C13.7966 16.3345 13.8801 16.3792 13.9711 16.3972C14.062 16.4153 14.1562 16.406 14.2419 16.3706C14.3275 16.3351 14.4007 16.275 14.4523 16.1979C14.5038 16.1208 14.5313 16.0302 14.5313 15.9375C14.5313 15.8132 14.4819 15.694 14.394 15.606C14.306 15.5181 14.1868 15.4688 14.0625 15.4688Z"
                fill="#2C66A6"
              />
              <path
                d="M17.8125 17.3438C17.5344 17.3438 17.2625 17.2613 17.0312 17.1068C16.8 16.9522 16.6197 16.7326 16.5133 16.4756C16.4069 16.2187 16.379 15.9359 16.4333 15.6632C16.4875 15.3904 16.6215 15.1398 16.8181 14.9431C17.0148 14.7465 17.2654 14.6125 17.5382 14.5583C17.8109 14.504 18.0937 14.5319 18.3506 14.6383C18.6076 14.7447 18.8272 14.925 18.9818 15.1562C19.1363 15.3875 19.2188 15.6594 19.2188 15.9375C19.2188 16.3105 19.0706 16.6681 18.8069 16.9319C18.5431 17.1956 18.1855 17.3438 17.8125 17.3438ZM17.8125 15.4688C17.7198 15.4688 17.6292 15.4962 17.5521 15.5477C17.475 15.5993 17.4149 15.6725 17.3794 15.7581C17.344 15.8438 17.3347 15.938 17.3528 16.0289C17.3708 16.1199 17.4155 16.2034 17.481 16.269C17.5466 16.3345 17.6301 16.3792 17.7211 16.3972C17.812 16.4153 17.9062 16.406 17.9919 16.3706C18.0775 16.3351 18.1507 16.275 18.2023 16.1979C18.2538 16.1208 18.2813 16.0302 18.2813 15.9375C18.2813 15.8132 18.2319 15.694 18.144 15.606C18.056 15.5181 17.9368 15.4688 17.8125 15.4688Z"
                fill="#2C66A6"
              />
              <path
                d="M24.3751 17.4934L23.4845 17.1934L23.7236 16.4059H22.9689C22.8945 16.4055 22.8213 16.3875 22.7553 16.3532C22.6893 16.319 22.6323 16.2696 22.5892 16.209C22.5456 16.1489 22.517 16.0793 22.5056 16.006C22.4942 15.9326 22.5003 15.8576 22.5236 15.7871L22.9923 14.3809L23.883 14.6809L23.6205 15.4684H24.3751C24.4495 15.4687 24.5227 15.4867 24.5887 15.521C24.6548 15.5552 24.7117 15.6047 24.7548 15.6652C24.7984 15.7253 24.8271 15.7949 24.8385 15.8683C24.8499 15.9416 24.8437 16.0166 24.8205 16.0871L24.3751 17.4934Z"
                fill="#2C66A6"
              />
              <path
                d="M22.5 22.5H7.5C6.98223 22.5 6.5625 22.9197 6.5625 23.4375C6.5625 23.9553 6.98223 24.375 7.5 24.375H22.5C23.0178 24.375 23.4375 23.9553 23.4375 23.4375C23.4375 22.9197 23.0178 22.5 22.5 22.5Z"
                fill="#2C66A6"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Perawatan Panel Listrik
              </h5>
              <p class="text-white">
                Panel listrik adalah jantung dari sistem listrik Anda. Tukang
                listrik kami membantu Anda dalam memasang dan merawatnya,
                memastikan distribusi listrik yang efisien dan aman ke seluruh
                rumah atau bangunan Anda.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
