<script setup>
import { ref } from 'vue';
import { Carousel, Pagination, Slide } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';

</script>

<template>
  <main class="mt-8 mx-auto md:hidden">
    <Carousel :autoplay="2000" :wrap-around="true" @change="handleSlideChange" class="mb-8">
      <Slide v-for="slide in 3" :key="slide">
        <div :class="['carousel__item']">

          <div v-if="slide === 1" >
            <div class="bg-white rounded-3xl  overflow-hidden flex flex-col items-center justify-center">
              <img src="/public/Mitra/orang1.png" alt="Gambar 1" class="object-cover h-40 w-40 p-5" />
              <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
              <div class="p-4 w-full">
                <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Rama Dwi</h3>
                <p class="text-gray-600 text-center sans3 text-xl">
                  Adanya tukangsegala sangat berpengaruh bagi saya dan keluarga saya. Saya dengan cepat
                  mendapatkan orderan. Senang bisa menjadi bagian dari tukangsegala.
                </p>
                <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">Tukang Listrik</h3>
              </div>
            </div>
          </div>

          <div v-else-if="slide === 2" >
            <div class="bg-white rounded-3xl  overflow-hidden flex flex-col items-center justify-center">
              <img src="/public/Mitra/orang2.png" alt="Gambar 1" class="object-cover h-40 w-40 p-5" />
              <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
              <div class="p-4 w-full">
                <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Sinta Raniba</h3>
                <p class="text-gray-600 text-center sans3 text-xl">
                  Pengalaman kerja saya bertambah dengan ikut serta di Tukangsegala. Terimakasih telah
                  memberi wadah untuk kami.
                </p>
                <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">Tukang Makeup</h3>
              </div>
            </div>
          </div>

          <div v-else-if="slide === 3" >
            <div class="bg-white rounded-3xl  overflow-hidden flex flex-col items-center justify-center">
              <img src="/public/Mitra/orang3.png" alt="Gambar 1" class="object-cover h-40 w-40 p-5" />
              <hr class="my-2 w-[280.007px] border-t-2 border-green-500" />
              <div class="p-4 w-full">
                <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Febriansyah</h3>
                <p class="text-gray-600 text-center sans3 text-xl">
                  Saya sangat amat terbantu dalam mencari pekerjaan sesuai dengan bidang keahlian saya.
                </p>
                <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">
                  Tukang Design Interior
                </h3>
              </div>
            </div>
          </div>

          <div v-else >
            <div>{{ slide }}</div>
          </div>

        </div>
      </Slide>
    </Carousel>
  </main>
</template>