<template>
  <!-- Card 1 -->
  <div
    class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-between h-[35rem] py-10 w-auto"
  >
    <img
      src="/public/Mitra/orang1.png"
      alt="Gambar 1"
      class="object-cover h-40 w-40 p-5"
    />
    <hr class="my-2 w-[280.007px] border-t-2 border-[#093D77]" />
    <div class="p-4 w-full">
      <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Rama Dwi</h3>
      <p class="text-gray-600 text-center sans3 text-xl">
        Adanya tukangsegala sangat berpengaruh bagi saya dan keluarga saya. Saya
        dengan cepat mendapatkan orderan. Senang bisa menjadi bagian dari
        tukangsegala.
      </p>
      <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">
        Tukang Listrik
      </h3>
    </div>
  </div>
  <!-- Card 2 -->
  <div
    class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-between h-[35rem] py-10 w-auto"
  >
    <img
      src="/public/Mitra/orang2.png"
      alt="Gambar 1"
      class="object-cover h-40 w-40 p-5"
    />
    <hr class="my-2 w-[280.007px] border-t-2 border-[#093D77]" />
    <div class="p-4 w-full">
      <h3 class="font-semibold mb-3 text-center sans3 text-3xl">
        Sinta Raniba
      </h3>
      <p class="text-gray-600 text-center sans3 text-xl">
        Pengalaman kerja saya bertambah dengan ikut serta di Tukangsegala.
        Terimakasih telah memberi wadah untuk kami.
      </p>
      <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">
        Tukang Makeup
      </h3>
    </div>
  </div>
  <!-- Card 3 -->
  <div
    class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-between h-[35rem] py-10 w-auto"
  >
    <img
      src="/public/Mitra/orang3.png"
      alt="Gambar 1"
      class="object-cover h-40 w-40 p-5"
    />
    <hr class="my-2 w-[280.007px] border-t-2 border-[#093D77]" />
    <div class="p-4 w-full">
      <h3 class="font-semibold mb-3 text-center sans3 text-3xl">Febriansyah</h3>
      <p class="text-gray-600 text-center sans3 text-xl">
        Saya sangat amat terbantu dalam mencari pekerjaan sesuai dengan bidang
        keahlian saya.
      </p>
      <h3 class="font-semibold mb-3 text-center sans3 text-3xl mt-7">
        Tukang Design Interior
      </h3>
    </div>
  </div>
</template>
