<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Kunci Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.75556 6.92296C3.80977 6.84112 3.88956 6.77954 3.98246 6.74784C4.07537 6.71614 4.17615 6.7161 4.26908 6.74774C4.36201 6.77937 4.44184 6.84089 4.4961 6.92269C4.55037 7.0045 4.57601 7.10197 4.56902 7.19988V7.43642C4.56902 12.6287 8.65941 16.823 13.6498 16.823H14.0594C14.2571 16.8084 14.454 16.8608 14.6183 16.9717C14.7826 17.0826 14.9048 17.2457 14.9652 17.4345L17.5094 24.7556C17.5631 24.9897 17.5471 25.2344 17.4633 25.4595L16.1017 28.6037C16.0559 28.711 15.9697 28.796 15.8617 28.8402C15.7538 28.8845 15.6328 28.8845 15.5248 28.8403L12.4383 27.3864C12.3299 27.3403 12.242 27.2563 12.191 27.1502C12.1401 27.044 12.1295 26.9229 12.1613 26.8095L12.5248 25.3556C12.5728 25.2443 12.5762 25.1188 12.5344 25.005C12.4925 24.8912 12.4085 24.7978 12.2998 24.7441L11.2556 24.2768C11.1611 24.2176 11.0882 24.1295 11.0476 24.0256C11.0071 23.9216 11.0011 23.8075 11.0306 23.6999L11.4344 22.246C11.4824 22.1347 11.4859 22.0092 11.444 21.8954C11.4021 21.7815 11.3181 21.6882 11.2094 21.6345L10.4825 21.3057C10.3792 21.2555 10.2987 21.1682 10.257 21.0613C10.2152 20.9543 10.2154 20.8356 10.2575 20.7287L10.7133 19.3672C10.7609 19.2551 10.7634 19.1291 10.7205 19.0152C10.6775 18.9013 10.5922 18.8083 10.4825 18.7556L9.12095 18.1441C9.01097 18.0921 8.92596 17.9988 8.88441 17.8845L8.5671 16.996C7.43262 16.8744 6.35117 16.4522 5.43441 15.773C4.35241 14.9475 3.54418 13.8152 3.11506 12.5237C2.68593 11.2322 2.65582 9.84143 3.02864 8.53257C3.18868 7.96255 3.43374 7.41991 3.75556 6.92296ZM6.95749 8.38834C6.85117 7.45193 6.9495 6.50359 7.24569 5.60891C7.54188 4.71423 8.02886 3.89456 8.67296 3.20658C9.31705 2.51859 10.1029 1.97871 10.9761 1.62427C11.8494 1.26983 12.7892 1.10928 13.7306 1.15373C15.0164 1.23778 16.249 1.69834 17.2749 2.47802C18.3008 3.25769 19.0745 4.322 19.4998 5.53834C19.9274 6.74391 19.9678 8.05296 19.6152 9.28257L26.9421 16.9383C27.0405 17.023 27.117 17.1301 27.1652 17.2506C27.2134 17.3711 27.2319 17.5015 27.219 17.6306V20.9999C27.2224 21.0614 27.2127 21.1229 27.1907 21.1804C27.1687 21.2379 27.1348 21.2901 27.0912 21.3336C27.0477 21.3772 26.9955 21.4111 26.938 21.4331C26.8805 21.4551 26.819 21.4648 26.7575 21.4614H23.2959C23.1874 21.466 23.0809 21.4311 22.9961 21.3632C22.9112 21.2953 22.8538 21.1991 22.8344 21.0922L22.6209 19.6153C22.6251 19.5541 22.6163 19.4927 22.5949 19.4352C22.5736 19.3777 22.5402 19.3254 22.4971 19.2817C22.454 19.2381 22.4022 19.2041 22.3449 19.182C22.2877 19.16 22.2264 19.1503 22.1652 19.1537H21.0113C20.9028 19.1583 20.7963 19.1234 20.7114 19.0555C20.6266 18.9876 20.5692 18.8914 20.5498 18.7845L20.319 17.3076C20.3224 17.2461 20.3127 17.1846 20.2907 17.1271C20.2687 17.0696 20.2348 17.0174 20.1912 16.9738C20.1477 16.9303 20.0955 16.8964 20.038 16.8744C19.9805 16.8524 19.919 16.8427 19.8575 16.846H19.0786C18.9635 16.8479 18.8518 16.8062 18.7662 16.7291C18.6806 16.652 18.6273 16.5454 18.6171 16.4306L18.4613 14.9999C18.4647 14.9384 18.455 14.8769 18.433 14.8194C18.411 14.7619 18.3771 14.7097 18.3336 14.6661C18.29 14.6226 18.2378 14.5887 18.1803 14.5667C18.1228 14.5447 18.0613 14.535 17.9998 14.5383H16.4479C16.3385 14.5395 16.233 14.4982 16.1536 14.423L15.5133 13.7364C14.6003 14.0552 13.6273 14.1644 12.6664 14.0559C11.7055 13.9475 10.7813 13.6242 9.96234 13.11C9.14338 12.5958 8.45065 11.9039 7.93547 11.0855C7.4203 10.2672 7.09591 9.34335 6.98633 8.38257L6.95749 8.38834ZM12.4613 4.3845C11.8493 4.3845 11.2623 4.62763 10.8295 5.0604C10.3968 5.49318 10.1536 6.08015 10.1536 6.69219C10.1536 7.30423 10.3968 7.8912 10.8295 8.32397C11.2623 8.75675 11.8493 8.99988 12.4613 8.99988C13.0734 8.99988 13.6603 8.75675 14.0931 8.32397C14.5259 7.8912 14.769 7.30423 14.769 6.69219C14.769 6.08015 14.5259 5.49318 14.0931 5.0604C13.6603 4.62763 13.0734 4.3845 12.4613 4.3845Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Pembuatan Kunci Duplikat
              </h5>
              <p class="text-white">
                Anda butuh kunci cadangan? Percayakan pada tukang kami! Tukang
                kami dapat membantu Anda Membuat salinan kunci untuk kunci
                rumah, mobil, kunci pintu kantor, atau kunci Anda yang lainnya.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6098_18684)">
                <path
                  d="M25.1093 0H18.4736C16.6698 0 15.208 1.4619 15.208 3.26562V5.66654H21.792C24.001 5.66654 25.792 7.45758 25.792 9.66659C25.792 11.8755 24.001 13.6666 21.792 13.6666H15.208V26.7344C15.208 28.5382 16.6698 30.0001 18.4736 30.0001H25.1093C26.9131 30.0001 28.375 28.5382 28.375 26.7344V3.26562C28.375 1.4619 26.9131 0 25.1093 0ZM23.2148 21.2559V23.1089C23.2148 23.8315 22.6299 24.4175 21.9063 24.4175C21.1836 24.4175 20.5977 23.8315 20.5977 23.1089V21.2559C20.0685 20.8574 19.7227 20.2305 19.7227 19.5176C19.7227 18.3121 20.7002 17.3331 21.9063 17.3331C23.1123 17.3331 24.0898 18.3121 24.0898 19.5176C24.0898 20.2305 23.7441 20.8574 23.2148 21.2559Z"
                  fill="white"
                />
                <path
                  d="M24.292 9.667C24.292 8.28607 23.1729 7.16699 21.792 7.16699H4.12501C2.74408 7.16699 1.625 8.28607 1.625 9.667C1.625 11.0479 2.74408 12.167 4.12501 12.167H21.792C23.1729 12.167 24.292 11.0479 24.292 9.667Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6098_18684">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Membuka Kunci yang Terkunci
              </h5>
              <p class="text-white">
                Kunci terkunci dan Anda terjebak di luar? Hubungi kami, dan kami
                akan membuka pintu dengan cepat dan tanpa kerusakan! Tukang kami
                dapat membuka kunci pintu yang terkunci, baik itu kunci rumah,
                mobil, laci, atau kotak aman.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 1.25L3.75 6.25V13.75C3.75 20.6875 8.55 27.175 15 28.75C21.45 27.175 26.25 20.6875 26.25 13.75V6.25L15 1.25ZM15 14.9875H23.75C23.0875 20.1375 19.65 24.725 15 26.1625V15H6.25V7.875L15 3.9875V14.9875Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Sistem Keamanan
              </h5>
              <p class="text-white">
                Jaga properti Anda dengan sistem keamanan terbaik. Kami dapat
                membantu menginstal dan memperbaiki berbagai jenis sistem
                keamanan, seperti kunci pintu digital, gembok, dan alarm.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M27.5 10.3668C27.5 14.7115 23.9635 18.2336 19.6009 18.2336C18.8049 18.2336 16.9924 18.0506 16.1106 17.3189L15.0084 18.4166C14.3604 19.062 14.5354 19.252 14.8236 19.565C14.9439 19.6956 15.084 19.8476 15.1921 20.0631C15.1921 20.0631 16.1106 21.3437 15.1921 22.6244C14.641 23.3561 13.0979 24.3806 11.3344 22.6244L10.967 22.9902C10.967 22.9902 12.0692 24.2709 11.1507 25.5515C10.5996 26.2834 9.13004 27.0151 7.84414 25.7345L6.55825 27.0151C5.67649 27.8932 4.59881 27.381 4.1702 27.0151L3.06801 25.9174C2.03929 24.8929 2.63938 23.783 3.06801 23.3561L12.6204 13.8429C12.6204 13.8429 11.7019 12.3792 11.7019 10.3668C11.7019 6.02209 15.2384 2.5 19.6009 2.5C23.9635 2.5 27.5 6.02209 27.5 10.3668ZM19.6012 13.1111C21.123 13.1111 22.3566 11.8825 22.3566 10.3669C22.3566 8.85131 21.123 7.62267 19.6012 7.62267C18.0794 7.62267 16.8457 8.85131 16.8457 10.3669C16.8457 11.8825 18.0794 13.1111 19.6012 13.1111Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembuatan Kunci Master
              </h5>
              <p class="text-white">
                Optimalkan keamanan dengan kunci master canggih dan jaga akses
                terorganisir dan aman! Kami dapat membuat kunci master untuk
                sistem kunci ganda atau multi-tingkat yang digunakan di gedung
                komersial / perumahan.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.97559 13.6807H6.16284V13.4182V9.06177C6.16284 6.57031 7.18262 4.30493 8.82349 2.66357V2.66138C10.4651 1.01978 12.731 0 15.2241 0C17.7153 0 19.9807 1.01978 21.6223 2.66138L21.6248 2.66357C23.2656 4.30493 24.2854 6.57031 24.2854 9.06177V13.4182V13.6807H26.0276C26.4158 13.6807 26.7336 13.9985 26.7336 14.3865V29.2942C26.7336 29.6821 26.4158 30 26.0276 30H3.97559C3.5874 30 3.26953 29.6821 3.26953 29.2942V14.3865C3.26953 13.9985 3.5874 13.6807 3.97559 13.6807ZM9.68335 13.6807H20.7642V13.4182V9.01147C20.7642 7.48804 20.1406 6.10205 19.1377 5.0979L19.1365 5.09888C18.1328 4.09448 16.7471 3.4707 15.2241 3.4707C13.7004 3.4707 12.3147 4.09424 11.3098 5.0979C10.3066 6.10205 9.68335 7.48804 9.68335 9.01147V13.4185V13.6807ZM15.2688 21.8379L16.3872 26.9988L13.3215 27.0117L14.2212 21.7815C13.3835 21.5129 12.7764 20.728 12.7764 19.8013C12.7764 18.6536 13.7065 17.7234 14.8547 17.7234C16.0017 17.7234 16.9326 18.6536 16.9326 19.8013C16.9326 20.8071 16.2178 21.6462 15.2688 21.8379Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Servis Gembok
              </h5>
              <p class="text-white">
                Gembok macet atau tidak berfungsi? Kami menyediakan servis
                gembok yang cepat dan efisien. Tukang kami dapat membantu Anda
                membersihkan, mengoleskan pelumas, dan memperbaiki gembok yang
                macet atau tidak berfungsi dengan baik.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
