<template>
  <div class="flex justify-center">
    <div
      class="container grid grid-cols-1 xl:grid-cols-2 w-full place-content-center p-4"
    >
      <div class="w-full">
        <h1 class="text-center font-semibold text-2xl xl:text-4xl sans3">
          Ini yang harus disiapkan oleh
          <span class="text-[#14B6B8]">Tukang</span>
        </h1>
        <div
          class="h-full grid grid-cols-3 lg:grid-cols-3 place-content-center gap-5"
        >
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/nailart/polish.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 xl:text-xl font-semibold">Nail Polish</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/nailart/remover.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Remover</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/nailart/uvlamp.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">UV Lamp</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/nailart/alatpedicure.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Alat Manicure Pedicure</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/nailart/kukuakrilik.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Kuku Akrilik</h1>
          </div>
          <div
            class="flex justify-center items-center flex-col text-center space-y-3"
          >
            <img
              src="/layanankami/nailart/serumkuku.svg"
              alt=""
              class="md:h-[120px] h-[85px] md:w-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Serum Kuku</h1>
          </div>
        </div>
      </div>

      <div class="hidden xl:flex justify-center">
        <img src="/layanankami/tukangsiap.svg" alt="" />
      </div>
    </div>
  </div>
</template>
