<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Make Up Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.617 5.86914C21.0775 5.86914 20.6387 6.30801 20.6387 6.84742C20.6387 7.38684 21.0775 7.8257 21.617 7.8257C22.1564 7.8257 22.5952 7.38684 22.5952 6.84742C22.5952 6.30801 22.1564 5.86914 21.617 5.86914Z"
                fill="white"
              />
              <path
                d="M17.7051 22.1738V24.1303C17.7051 26.1397 19.3578 29.9999 21.6181 29.9999C23.8785 29.9999 25.5312 26.1397 25.5312 24.1303V22.1738H17.7051ZM21.6181 26.0868C21.0779 26.0868 20.6399 25.6488 20.6399 25.1086C20.6399 24.5683 21.0779 24.1303 21.6181 24.1303C22.1584 24.1303 22.5964 24.5683 22.5964 25.1086C22.5964 25.6488 22.1584 26.0868 21.6181 26.0868Z"
                fill="white"
              />
              <path
                d="M13.7909 6.8482V4.80762L4.863 13.7355C4.38406 14.2148 3.46378 15.5576 2.91798 17.0435C2.66322 17.7352 2.15368 19.4255 2.9065 20.1783C3.62521 20.8961 5.1773 20.4878 6.12792 20.1302C7.3673 19.6641 8.69198 18.8794 9.34935 18.2218L15.6717 11.8986C14.4728 10.4886 13.7909 8.67832 13.7909 6.8482Z"
                fill="white"
              />
              <path
                d="M25.5312 18.2559H17.7051V20.2169H25.5312V18.2559Z"
                fill="white"
              />
              <path
                d="M26.5089 0H16.7263C16.1861 0 15.748 0.437988 15.748 0.978281V6.84785C15.748 8.34709 16.3601 9.83391 17.4262 10.9268L17.7046 11.2118V16.2996H25.5306V11.2118L25.8089 10.9268C26.8751 9.83391 27.4871 8.34703 27.4871 6.84785V0.978281C27.4872 0.437988 27.0492 0 26.5089 0ZM21.6176 9.78264C19.9993 9.78264 18.6828 8.46615 18.6828 6.84785C18.6828 5.22955 19.9993 3.91307 21.6176 3.91307C23.2359 3.91307 24.5524 5.22955 24.5524 6.84785C24.5524 8.46615 23.2359 9.78264 21.6176 9.78264Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Manicure Pedicure
              </h5>
              <p class="text-white">
                Apakah Anda ingin mendapatkan perawatan dasar yang menyegarkan
                untuk kuku tangan dan kaki Anda? Tim kami dapat merawat kuku
                Anda seperti memotong, memoles, dan merawat kutikula untuk
                menjaga kesehatan dan estetika.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7460_31387)">
                <path
                  d="M21.6742 15.4865L20.0956 14.9002C19.3732 14.6332 18.1497 14.4131 17.3793 14.4131H12.6192C11.8487 14.4131 10.6249 14.6332 9.90253 14.9002L8.32432 15.4865C7.60192 15.7543 7.13332 16.5933 7.28408 17.3489L9.53867 28.6241C9.68961 29.3796 10.445 29.9998 11.2165 29.9998H18.7823C19.5528 29.9998 20.3083 29.3798 20.46 28.6241L22.7147 17.3489C22.8648 16.5935 22.3976 15.7543 21.6742 15.4865ZM19.7029 20.8046C19.7029 21.1899 19.3876 21.5057 19.0011 21.5057H10.9969C10.6112 21.5057 10.2958 21.1899 10.2958 20.8046V18.5265C10.2958 18.1399 10.6112 17.8242 10.9969 17.8242H19.0011C19.3876 17.8242 19.7029 18.1418 19.7029 18.5265V20.8046Z"
                  fill="white"
                />
                <path
                  d="M17.3796 0H12.6197L11.2168 13.0104H18.7825L17.3796 0Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7460_31387">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Nail Art
              </h5>
              <p class="text-white">
                Ingin tampil beda dan memukau dengan desain kuku yang kreatif
                dan menonjol? Tim kami dapat .enciptakan desain kreatif dan unik
                pada kuku menggunakan berbagai teknik seperti stiker kuku,
                stempel, glitter, dan lukisan tangan bebas.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7460_31402)">
                <path
                  d="M18.5629 25.9277H11.4367C11.1558 25.9277 10.9277 26.1558 10.9277 26.4367C10.9277 26.7177 11.1558 26.9458 11.4367 26.9458H18.5629C18.8439 26.9458 19.0719 26.7177 19.0719 26.4367C19.0719 26.1558 18.8439 25.9277 18.5629 25.9277Z"
                  fill="white"
                />
                <path
                  d="M18.5629 23.8916H11.4367C11.1558 23.8916 10.9277 24.1197 10.9277 24.4006C10.9277 24.6816 11.1558 24.9096 11.4367 24.9096H18.5629C18.8439 24.9096 19.0719 24.6816 19.0719 24.4006C19.0719 24.1197 18.8439 23.8916 18.5629 23.8916Z"
                  fill="white"
                />
                <path
                  d="M20.3646 10.083L20.2608 10.0168C19.6866 5.2357 18.4752 2.6321 17.4109 1.23587C16.8112 0.448948 15.9042 0 14.9192 0H14.8902C13.8905 0.00915024 12.9769 0.477455 12.3833 1.28625C11.3841 2.64636 10.247 5.22092 9.71152 10.0336L9.63468 10.083C7.8949 11.1982 6.85547 13.0938 6.85547 15.1527V23.3722C6.85547 27.0269 9.82859 30.0001 13.4833 30.0001H16.516C20.1707 30.0001 23.1438 27.0269 23.1438 23.3722V15.1527C23.1438 13.0938 22.1044 11.1982 20.3646 10.083ZM22.1258 23.3722C22.1258 26.4654 19.6093 28.982 16.516 28.982H13.4834C10.3901 28.982 7.87355 26.4654 7.87355 23.3722V15.1527C7.87355 13.6974 8.49864 12.3404 9.5762 11.3972C9.56957 11.4776 9.56552 11.5626 9.55942 11.6436C9.55942 11.6456 9.5589 11.6471 9.5589 11.6491C9.52886 12.0584 9.50341 12.4783 9.48206 12.9069C9.47596 13.0184 9.47138 13.1319 9.46628 13.2454C9.4505 13.5915 9.4383 13.9432 9.42862 14.3005C9.42504 14.437 9.42047 14.5708 9.41742 14.7098C9.40721 15.1943 9.40064 15.6856 9.40064 16.1884V16.6608C9.40064 19.245 11.5023 21.3467 14.0866 21.3467H15.9129C18.4972 21.3467 20.5988 19.245 20.5988 16.6608V16.1884C20.5988 15.6916 20.5917 15.2061 20.581 14.726C20.5774 14.5718 20.5719 14.4227 20.5673 14.2715C20.5576 13.9468 20.5459 13.6266 20.5306 13.3105C20.5235 13.1603 20.5164 13.0112 20.5082 12.8646C20.4894 12.5251 20.467 12.1927 20.4421 11.8644C20.4354 11.7748 20.4293 11.6822 20.4222 11.5936C20.4167 11.5244 20.4125 11.4511 20.407 11.3824C21.4942 12.3266 22.1259 13.6902 22.1259 15.1526V23.3722H22.1258Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7460_31402">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Akrilik dan Gel Ekstensi
              </h5>
              <p class="text-white">
                Mau memiliki kuku yang lebih panjang dan kuat tanpa menunggu
                lama? Serahkan pada kami untuk membuat kuku palsu atau
                memperpanjang kuku dengan menggunakan bahan akrilik atau gel
                untuk kuku yang kuat.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7460_31412)">
                <path
                  d="M29.2478 0.752989C28.2892 -0.205546 26.751 -0.255117 25.7327 0.639727L17.1279 8.20143L13.3359 13.0822L16.9184 16.6648L21.7992 12.8728L29.3609 4.26797C30.2559 3.24973 30.2063 1.71158 29.2478 0.752989Z"
                  fill="white"
                />
                <path
                  d="M12.4584 14.9727L0.794473 26.6366L0 30.0003L3.36375 29.2058L15.0277 17.5419L12.4584 14.9727Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7460_31412">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pelepasan Nail Art
              </h5>
              <p class="text-white">
                Ingin menghapus desain kuku lama tanpa merusak kuku Anda? Apakah
                Anda tertarik dengan penggunaan remover khusus yang aman dan
                efektif? Kami dapat membantu menghapus cat kuku dengan cairan
                dan alat khusus tanpa merusak kuku asli Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_1672)">
                <path
                  d="M15.5132 3.74565C15.5413 3.66553 15.3851 3.6618 15.2602 3.70154C15.3411 3.51183 15.4246 3.32275 15.5132 3.13563C15.5342 3.09101 15.4891 3.07067 15.4219 3.06901C15.4372 3.04638 15.4502 3.02283 15.4671 3.0002C15.5249 2.92122 15.4434 2.89113 15.3416 2.89486C15.3399 2.81215 15.2545 2.775 15.1622 2.7804C15.1705 2.74117 15.1782 2.70142 15.1853 2.66167C15.2156 2.60355 15.2414 2.54181 15.2729 2.48431C15.2829 2.46605 15.2619 2.45525 15.2272 2.45048C15.2304 2.42848 15.2373 2.40637 15.2404 2.38489C15.2477 2.33331 15.188 2.31442 15.1144 2.31826C15.1826 2.07106 15.2482 1.8222 15.3092 1.5724C15.3417 1.43915 14.9475 1.50142 14.9169 1.62657C14.9076 1.66528 14.8966 1.70347 14.8866 1.74115C14.8337 1.72506 14.749 1.73253 14.6771 1.75723C14.6962 1.66642 14.716 1.57396 14.7354 1.48211C14.7623 1.35093 14.5863 1.33433 14.4586 1.38964C14.4592 1.37408 14.4619 1.35851 14.4625 1.34294C14.4681 1.23491 14.3402 1.21229 14.2288 1.24082C14.2489 1.13601 14.2704 1.03026 14.2903 0.924815C14.3018 0.862029 14.2095 0.8475 14.1121 0.864104C14.1153 0.83297 14.1212 0.802874 14.1253 0.771637C14.127 0.755551 14.1224 0.744239 14.1191 0.730748C14.1306 0.628109 14.1454 0.527132 14.1564 0.423871C14.1741 0.250352 13.7762 0.320091 13.7614 0.467874C13.7614 0.468496 13.7609 0.469534 13.7609 0.470053C13.6553 0.479705 13.521 0.521631 13.4978 0.584003C13.4449 0.558162 13.3582 0.563559 13.2826 0.590437C13.2926 0.51198 13.2974 0.434042 13.3073 0.356207C13.325 0.221916 13.0878 0.234785 12.9727 0.316459C12.9364 0.329328 12.9061 0.349254 12.8829 0.369698C12.8088 0.356311 12.7186 0.37717 12.6608 0.423975C12.6403 0.423456 12.6188 0.425013 12.5963 0.429371C12.5958 0.225756 12.1986 0.286467 12.1981 0.460505C12.1981 0.485205 12.1968 0.508348 12.1968 0.532528C12.1573 0.538963 12.1188 0.551935 12.0847 0.569578C12.0842 0.567398 12.0842 0.564181 12.0842 0.563143C12.0748 0.50347 12.0207 0.478771 11.9558 0.476591C11.9416 0.335347 11.9289 0.194518 11.9142 0.0536891C11.902 -0.060261 11.5063 0.0225552 11.5205 0.158507C11.5299 0.243917 11.5372 0.329951 11.5461 0.416399C11.5141 0.429371 11.4883 0.444835 11.4722 0.459986C11.4354 0.304628 11.0579 0.400313 11.0799 0.558266C11.0216 0.558266 10.9554 0.575493 10.901 0.606108C10.8998 0.591579 10.8971 0.577672 10.8961 0.563662C10.8773 0.373434 10.4834 0.471817 10.5028 0.667442C10.5065 0.706671 10.5138 0.744862 10.518 0.783571C10.4807 0.790525 10.443 0.799138 10.4092 0.813149C10.3033 0.729295 10.0553 0.793223 10.0585 0.935712C10.0617 1.05184 10.0728 1.16683 10.0801 1.28286C10.0123 1.306 9.95896 1.34035 9.95989 1.38176C9.95564 1.35758 9.94993 1.33443 9.94567 1.30973C9.92876 1.21779 9.75088 1.22972 9.63963 1.29199C9.59853 1.30434 9.5593 1.32374 9.53024 1.34678C9.41121 1.30154 9.13744 1.41818 9.17853 1.48325C9.27609 1.63903 9.36959 1.79605 9.46092 1.9567C9.37177 1.95234 9.27204 1.99489 9.23094 2.06577C9.18746 2.07179 9.14283 2.08414 9.10444 2.1024C8.9717 2.0611 8.76155 2.15616 8.80565 2.29803C8.83139 2.38022 8.8645 2.46138 8.89345 2.54305C8.77307 2.56246 8.61999 2.62732 8.63556 2.67091C8.69866 2.84391 8.76207 3.01753 8.82579 3.19105C8.69928 3.18296 8.53697 3.26733 8.56841 3.38398C8.98 4.93061 9.91267 6.22837 10.6313 7.63469L10.781 7.57284C10.8062 7.56204 11.41 7.31442 12.3263 7.31442C12.8577 7.31442 13.3917 7.39714 13.911 7.55997L14.0679 7.60833C14.3043 7.01616 14.541 6.42451 14.7811 5.83339C15.0363 5.20469 15.19 4.51082 15.5383 3.92841C15.5796 3.8596 15.5498 3.81819 15.4926 3.79889C15.499 3.78 15.5066 3.76225 15.5132 3.74565Z"
                  fill="white"
                />
                <path
                  d="M13.7844 14.4779C13.7928 10.7893 13.7849 7.85994 13.7849 7.85994C12.1556 7.3511 10.9333 7.85994 10.9333 7.85994C10.8991 9.02393 10.9454 11.6157 11.0236 14.5917C11.6153 14.4907 12.6618 14.3656 13.7844 14.4779Z"
                  fill="white"
                />
                <path
                  d="M11.0391 15.0922C11.1982 20.9861 11.4721 28.1791 11.4983 28.8772C11.5316 29.8009 12.5161 29.7939 12.5161 29.7939C12.5161 29.7939 13.4842 29.8294 13.5688 28.8267C13.7252 26.9797 13.7746 20.292 13.7878 14.9773C12.6662 14.86 11.5998 14.9943 11.0391 15.0922Z"
                  fill="white"
                />
                <path
                  d="M20.5341 4.5127L19.4007 4.53584L19.4669 7.71067H19.4518C18.7279 14.2081 19.6614 25.9183 19.9005 28.68L19.916 29.4441C19.9224 29.7532 20.1745 29.9997 20.4824 29.9997C20.4862 29.9997 20.4899 29.9997 20.4937 29.9997C20.8071 29.9922 21.0558 29.7342 21.0494 29.421L21.0462 29.2779H21.0494C22.0661 14.8912 20.7618 8.49628 20.6013 7.77999L20.5341 4.5127Z"
                  fill="white"
                />
                <path
                  d="M20.5098 4.11934C20.8182 3.08922 21.211 1.69629 20.3093 1.69629C19.422 1.69629 18.9422 2.35353 18.9513 2.9075C18.9593 3.40346 19.3887 4.11934 19.3887 4.11934H20.5098Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_1672">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pelepasan Nail Art
              </h5>
              <p class="text-white">
                Ingin menghapus desain kuku lama tanpa merusak kuku Anda? Apakah
                Anda tertarik dengan penggunaan remover khusus yang aman dan
                efektif? Kami dapat membantu menghapus cat kuku dengan cairan
                dan alat khusus tanpa merusak kuku asli Anda.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
