<template>
  <div class="p-4 min-h-screen">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 text-2xl font-bold text-center md:text-4xl sans3">
          Tukang AC di <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa
          Ngapain aja ya ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.25 2.5C16.25 1.80965 15.6904 1.25 15 1.25C14.3096 1.25 13.75 1.80965 13.75 2.5V3.23224L13.3839 2.86611C12.8957 2.37796 12.1043 2.37796 11.6161 2.86611C11.128 3.35427 11.128 4.14572 11.6161 4.63389L13.75 6.76776V11.9822L10.0628 8.29502V5.2774C10.0628 4.58705 9.50315 4.0274 8.81279 4.0274C8.12244 4.0274 7.56279 4.58705 7.56279 5.2774V5.79502L7.04507 5.27731C6.55692 4.78915 5.76546 4.78915 5.27731 5.27731C4.78915 5.76546 4.78915 6.55692 5.27731 7.04507L5.7951 7.56286H5.27725C4.5869 7.56286 4.02725 8.12251 4.02725 8.81286C4.02725 9.50322 4.5869 10.0629 5.27725 10.0629H8.2951L11.9822 13.75H6.76776L4.63389 11.6161C4.14572 11.128 3.35427 11.128 2.86611 11.6161C2.37796 12.1043 2.37796 12.8957 2.86611 13.3839L3.23224 13.75H2.5C1.80965 13.75 1.25 14.3096 1.25 15C1.25 15.6904 1.80965 16.25 2.5 16.25H3.23224L2.86611 16.6161C2.37796 17.1042 2.37796 17.8957 2.86611 18.3839C3.35427 18.872 4.14572 18.872 4.63389 18.3839L6.76776 16.25H11.9822L8.2951 19.9371H5.27725C4.5869 19.9371 4.02725 20.4967 4.02725 21.1871C4.02725 21.8775 4.5869 22.4371 5.27725 22.4371H5.7951L5.27725 22.955C4.7891 23.4431 4.7891 24.2346 5.27725 24.7227C5.76541 25.2109 6.55686 25.2109 7.04502 24.7227L7.56279 24.205V24.7226C7.56279 25.413 8.12244 25.9726 8.81279 25.9726C9.50315 25.9726 10.0628 25.413 10.0628 24.7226V21.705L13.75 18.0177V23.2322L11.6161 25.3661C11.128 25.8542 11.128 26.6457 11.6161 27.1339C12.1043 27.622 12.8957 27.622 13.3839 27.1339L13.75 26.7677V27.5C13.75 28.1904 14.3096 28.75 15 28.75C15.6904 28.75 16.25 28.1904 16.25 27.5V26.7677L16.6161 27.1339C17.1042 27.622 17.8957 27.622 18.3839 27.1339C18.872 26.6457 18.872 25.8542 18.3839 25.3661L16.25 23.2322V18.0177L19.9372 21.705V24.7226C19.9372 25.413 20.4969 25.9726 21.1872 25.9726C21.8776 25.9726 22.4372 25.413 22.4372 24.7226V24.205L22.955 24.7227C23.4431 25.2109 24.2346 25.2109 24.7227 24.7227C25.2109 24.2346 25.2109 23.4431 24.7227 22.955L24.2049 22.4371H24.7227C25.4131 22.4371 25.9727 21.8775 25.9727 21.1871C25.9727 20.4967 25.4131 19.9371 24.7227 19.9371H21.7049L18.0177 16.25H23.2322L25.3661 18.3839C25.8542 18.872 26.6457 18.872 27.1339 18.3839C27.622 17.8957 27.622 17.1042 27.1339 16.6161L26.7677 16.25H27.5C28.1904 16.25 28.75 15.6904 28.75 15C28.75 14.3096 28.1904 13.75 27.5 13.75H26.7677L27.1339 13.3839C27.622 12.8957 27.622 12.1043 27.1339 11.6161C26.6457 11.128 25.8542 11.128 25.3661 11.6161L23.2322 13.75H18.0177L21.7049 10.0629H24.7227C25.4131 10.0629 25.9727 9.50322 25.9727 8.81286C25.9727 8.12251 25.4131 7.56286 24.7227 7.56286H24.2049L24.7227 7.04507C25.2109 6.55692 25.2109 5.76546 24.7227 5.27731C24.2345 4.78915 23.4431 4.78915 22.9549 5.27731L22.4372 5.79502V5.2774C22.4372 4.58705 21.8776 4.0274 21.1872 4.0274C20.4969 4.0274 19.9372 4.58705 19.9372 5.2774V8.29502L16.25 11.9822V6.76776L18.3839 4.63389C18.872 4.14572 18.872 3.35427 18.3839 2.86611C17.8957 2.37796 17.1042 2.37796 16.6161 2.86611L16.25 3.23224V2.5Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Isi Freon
              </h5>
              <p class="text-white">
                Kinerja AC Anda mulai menurun? Sudah dibersihkan tapi tetap
                tidak dingin? Jangan khawatir, tim kami akan melakukan
                pemeriksaan menyeluruh, khususnya pengecekan tingkat freon pada
                unit AC Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_5604_21296)">
                <path
                  d="M28.5 4.5H1.49998C0.673025 4.5 0 5.17297 0 5.99998V16C0 16.827 0.673025 17.5 1.49998 17.5H28.5C29.327 17.5 29.9999 16.8269 29.9999 16V5.99998C30 5.17297 29.327 4.5 28.5 4.5ZM13 7.99999H17C17.2766 7.99999 17.5 8.2235 17.5 8.49996C17.5 8.77643 17.2765 8.99994 17 8.99994H13C12.7235 8.99994 12.5 8.77643 12.5 8.49996C12.5 8.2235 12.7235 7.99999 13 7.99999ZM27.5 15.4999H2.49999C2.22346 15.4999 2.00001 15.2764 2.00001 15C2.00001 14.7234 2.22352 14.5 2.49999 14.5H27.5C27.7765 14.5 27.9999 14.7235 27.9999 15C28 15.2765 27.7765 15.4999 27.5 15.4999ZM27.5 13.5H2.49999C2.22346 13.5 2.00001 13.2765 2.00001 13C2.00001 12.7235 2.22352 12.5 2.49999 12.5H27.5C27.7765 12.5 27.9999 12.7236 27.9999 13C28 13.2765 27.7765 13.5 27.5 13.5Z"
                  fill="white"
                />
                <path
                  d="M19 7.5C20.7411 7.5 21.5 6.7675 21.5 5C21.5 6.7675 22.2536 7.5 24 7.5C22.2536 7.5 21.5 8.25361 21.5 10C21.5 8.25361 20.7411 7.5 19 7.5Z"
                  stroke="#13D2D5"
                  stroke-linejoin="round"
                />
                <path
                  d="M23 11.5C24.7411 11.5 25.5 10.7675 25.5 9C25.5 10.7675 26.2536 11.5 28 11.5C26.2536 11.5 25.5 12.2536 25.5 14C25.5 12.2536 24.7411 11.5 23 11.5Z"
                  stroke="#13D2D5"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_5604_21296">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan AC
              </h5>
              <p class="text-white">
                Kebersihan cerminan kesehatan, dan hal ini berlaku juga untuk AC
                Anda. Kami menawarkan layanan pembersihan AC yang tentunya akan
                menghilangkan debu dan kotoran yang dapat menghambat kinerja
                unit AC Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.894 2.01395L23.394 4.26395C23.5647 4.29735 23.7184 4.38901 23.829 4.52327C23.9395 4.65753 24 4.82604 24 4.99995V23C24 23.1739 23.9395 23.3424 23.829 23.4766C23.7184 23.6109 23.5647 23.7026 23.394 23.736L11.894 25.986C11.7854 26.0072 11.6734 26.0042 11.5661 25.977C11.4587 25.9499 11.3588 25.8993 11.2733 25.8289C11.1879 25.7586 11.119 25.6702 11.0718 25.5701C11.0245 25.47 11 25.3606 11 25.25V2.74995C11 2.63926 11.0245 2.52994 11.0718 2.42984C11.119 2.32973 11.1879 2.24133 11.2733 2.17098C11.3588 2.10062 11.4587 2.05005 11.5661 2.02291C11.6734 1.99576 11.7854 1.9927 11.894 2.01395ZM15 13C14.7348 13 14.4804 13.1053 14.2929 13.2928C14.1054 13.4804 14 13.7347 14 14C14 14.2652 14.1054 14.5195 14.2929 14.7071C14.4804 14.8946 14.7348 15 15 15C15.2652 15 15.5196 14.8946 15.7071 14.7071C15.8946 14.5195 16 14.2652 16 14C16 13.7347 15.8946 13.4804 15.7071 13.2928C15.5196 13.1053 15.2652 13 15 13ZM10 4.49995V23.5H4.75C4.56876 23.4999 4.39366 23.4343 4.25707 23.3152C4.12048 23.1961 4.03165 23.0315 4.007 22.852L4 22.75V5.24995C4.00001 5.06872 4.06564 4.89361 4.18477 4.75702C4.30389 4.62043 4.46845 4.5316 4.648 4.50695L4.75 4.49995H10Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemindahan AC
              </h5>
              <p class="text-white">
                Pindah rumah atau ingin memindahkan AC ke ruangan lain? Jangan
                khawatir, kami memiliki layanan pemindahan AC yang hati-hati
                memutuskan AC dari lokasi lama dan memasangnya kembali dengan
                presisi di lokasi baru.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.1449 1.23047L13.2531 3.2666C12.7915 3.29477 12.3322 3.3529 11.8781 3.44063L10.5139 1.67906L9.04354 2.17898L9.03621 4.4202C8.41336 4.74035 7.81646 5.12742 7.25262 5.57918L5.17459 4.64355L4.1107 5.77518L5.17453 7.79297C4.83512 8.27682 4.53685 8.78826 4.28285 9.32191L2.00133 9.38414L1.53809 10.8654L3.38016 12.2223C3.29197 12.7719 3.24891 13.3273 3.24645 13.8831L1.20117 14.9194L1.41539 16.4575L3.66029 16.897C3.79449 17.3668 3.9609 17.8269 4.15834 18.2739L2.67891 20.1105L3.50467 21.4252L5.80447 20.8869C5.95 21.0581 6.10082 21.2248 6.2567 21.3867C6.58228 21.7234 6.92909 22.039 7.29498 22.3315L6.8482 24.635L8.19223 25.4113L9.94816 23.8824C10.4506 24.0844 10.9679 24.2472 11.4954 24.3694L12.0686 26.6198L13.6158 26.7462L14.546 24.6239C15.1887 24.5852 15.8294 24.4891 16.4594 24.3346L17.9371 26.0467L19.3781 25.4699L19.3359 24.6019L15.9723 22.0513C14.9931 22.2989 13.9777 22.3652 12.9803 22.2527C11.1197 22.0429 9.3317 21.2027 7.9285 19.7515C4.72119 16.4343 4.81289 11.1576 8.12994 7.95041C9.73658 6.39691 11.8032 5.60883 13.8721 5.5865C16.0747 5.56272 18.2792 6.40658 19.9329 8.11699C22.6245 10.9009 22.9913 15.0888 21.0792 18.2593L22.9524 19.6802C23.1853 19.3149 23.3956 18.9358 23.5823 18.5449L25.8472 18.4826L26.3105 17.0014L24.4813 15.6537C24.5696 15.0996 24.6142 14.5394 24.6149 13.9783L26.6474 12.9456L26.4333 11.4075L24.1903 10.968C24.0016 10.3183 23.7514 9.68804 23.4432 9.08572L24.7798 7.23451L23.8862 5.96555L21.6854 6.60457C21.6578 6.57527 21.6309 6.54557 21.6029 6.51668C21.2565 6.15825 20.8858 5.82418 20.4933 5.51684L20.9145 3.34154L19.5703 2.56523L17.9004 4.01918C17.3598 3.80162 16.8046 3.63229 16.2414 3.50648L15.694 1.3568L14.1449 1.23047ZM10.7373 10.2246C10.1312 10.2315 9.53045 10.3804 8.97949 10.6512L11.6291 12.6618C12.4304 13.2697 12.6577 14.4251 12.0428 15.2362C11.4277 16.0477 10.2465 16.1697 9.43359 15.5531L6.78586 13.5444C6.51475 14.9971 7.02814 16.5363 8.28551 17.4903C9.41315 18.3456 10.8604 18.5057 12.107 18.0579L12.3871 17.9572L12.6232 18.1366L20.5445 24.1462L20.7806 24.3257L20.7605 24.6223C20.6646 25.9436 21.2052 27.2948 22.3334 28.1507C23.5908 29.1046 25.2129 29.1837 26.5392 28.5315L23.8916 26.5229C23.0787 25.9062 22.879 24.7355 23.4943 23.9246C24.1096 23.1137 25.2836 23.022 26.0852 23.6298L28.7329 25.6386C29.0034 24.1864 28.4921 22.6464 27.2351 21.6926C26.1035 20.8338 24.6677 20.6636 23.4284 21.1048L23.15 21.2037L22.9139 21.0242L14.9926 15.0147L14.7565 14.8352L14.7766 14.5405C14.8675 13.2288 14.3167 11.8924 13.1854 11.034C12.4504 10.4764 11.5904 10.2149 10.7374 10.2247L10.7373 10.2246ZM13.2898 15.5127L22.8919 22.7985L22.2308 23.6719L12.627 16.3843L13.2898 15.5127Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Perbaikan
              </h5>
              <p class="text-white">
                AC Anda mengalami masalah? Jangan khawatir. Kami memiliki tim
                perbaikan AC yang akan melakukan analisis menyeluruh untuk
                mengidentifikasi sumber masalah dan menemukan solusi perbaikan
                yang efektif dan bergaransi.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="35"
              height="35"
              viewBox="0 0 35 35"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M33.1902 30.1722H31.9834C31.6501 30.1722 31.3799 29.902 31.3799 29.5687V28.3618H33.7937V29.5687C33.7937 29.902 33.5235 30.1722 33.1902 30.1722Z"
                fill="white"
              />
              <path
                d="M3.01739 30.1722H1.81051C1.47726 30.1722 1.20703 29.902 1.20703 29.5687V28.3618H3.6208V29.5687C3.62087 29.902 3.35064 30.1722 3.01739 30.1722Z"
                fill="white"
              />
              <path
                d="M33.7931 28.9655H1.20688C0.540313 28.9655 0 28.4252 0 27.7587V6.03452C0 5.36795 0.540313 4.82764 1.20688 4.82764H33.7931C34.4597 4.82764 35 5.36795 35 6.03452V27.7587C35 28.4252 34.4597 28.9655 33.7931 28.9655Z"
                fill="white"
              />
              <path
                d="M21.1209 27.7588H3.01739C2.01757 27.7588 1.20703 26.9483 1.20703 25.9484V7.84503C1.20703 6.84521 2.01757 6.03467 3.01739 6.03467H21.1209C22.1207 6.03467 22.9312 6.84521 22.9312 7.84503V25.9485C22.9312 26.9483 22.1207 27.7588 21.1209 27.7588Z"
                fill="white"
              />
              <path
                d="M12.0692 26.5515C17.4016 26.5515 21.7244 22.2287 21.7244 16.8964C21.7244 11.564 17.4016 7.24121 12.0692 7.24121C6.73682 7.24121 2.41406 11.564 2.41406 16.8964C2.41406 22.2287 6.73682 26.5515 12.0692 26.5515Z"
                fill="#2C66A6"
              />
              <path
                d="M12.0479 15.1516L15.6113 11.0791C15.9309 10.7137 16.4931 10.695 16.8364 11.0383L16.8378 11.0397C17.7784 11.9804 17.7271 13.5204 16.726 14.3964L13.8283 16.9319"
                fill="white"
              />
              <path
                d="M11.9762 18.6411L8.41275 22.7136C8.09311 23.079 7.53099 23.0977 7.18769 22.7544L7.18625 22.753C6.24562 21.8124 6.29689 20.2723 7.29802 19.3964L10.1958 16.8608"
                fill="white"
              />
              <path
                d="M13.7568 16.9321L17.8294 20.4956C18.1947 20.8152 18.2135 21.3773 17.8702 21.7206L17.8687 21.7221C16.9281 22.6627 15.388 22.6114 14.5121 21.6103L11.9766 18.7125"
                fill="white"
              />
              <path
                d="M10.2673 16.861L6.19483 13.2975C5.82945 12.9779 5.81072 12.4158 6.15402 12.0725L6.15546 12.071C7.09608 11.1304 8.63615 11.1817 9.51211 12.1828L12.0476 15.0805"
                fill="white"
              />
              <path
                d="M12.069 19.31C13.4021 19.31 14.4828 18.2293 14.4828 16.8962C14.4828 15.5631 13.4021 14.4824 12.069 14.4824C10.736 14.4824 9.65527 15.5631 9.65527 16.8962C9.65527 18.2293 10.736 19.31 12.069 19.31Z"
                fill="white"
              />
              <path
                d="M3.01754 8.44816C3.35083 8.44816 3.62102 8.17798 3.62102 7.84469C3.62102 7.5114 3.35083 7.24121 3.01754 7.24121C2.68425 7.24121 2.41406 7.5114 2.41406 7.84469C2.41406 8.17798 2.68425 8.44816 3.01754 8.44816Z"
                fill="#2C66A6"
              />
              <path
                d="M21.1211 8.44816C21.4543 8.44816 21.7245 8.17798 21.7245 7.84469C21.7245 7.5114 21.4543 7.24121 21.1211 7.24121C20.7878 7.24121 20.5176 7.5114 20.5176 7.84469C20.5176 8.17798 20.7878 8.44816 21.1211 8.44816Z"
                fill="#2C66A6"
              />
              <path
                d="M3.01754 26.5517C3.35083 26.5517 3.62102 26.2815 3.62102 25.9482C3.62102 25.6149 3.35083 25.3447 3.01754 25.3447C2.68425 25.3447 2.41406 25.6149 2.41406 25.9482C2.41406 26.2815 2.68425 26.5517 3.01754 26.5517Z"
                fill="#2C66A6"
              />
              <path
                d="M21.1211 26.5517C21.4543 26.5517 21.7245 26.2815 21.7245 25.9482C21.7245 25.6149 21.4543 25.3447 21.1211 25.3447C20.7878 25.3447 20.5176 25.6149 20.5176 25.9482C20.5176 26.2815 20.7878 26.5517 21.1211 26.5517Z"
                fill="#2C66A6"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Ac
              </h5>
              <p class="text-white">
                Pasang AC tidak perlu repot lagi! Kami siap membantu Anda
                menentukan lokasi terbaik untuk pemasangan AC dan
                mempertimbangkan berbagai aspek lainnya. dengan tetap memastikan
                sistem kelistrikan terintegrasi dengan baik.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
