<template>
  <!-- 1 -->
  <div
    class="flex items-center space-x-4 bg-[#093D77] p-3 w-full md:w-[55vh] rounded-t-[50px]"
  >
    <svg
      width="50"
      height="50"
      viewBox="0 0 50 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="25" cy="25" r="25" fill="white" />
      <path
        d="M34.4818 17.067C34.7523 17.476 34.7337 17.9359 34.7064 18.3595L34.7059 18.3654C34.7056 18.3678 34.7052 18.3715 34.7037 18.3897C34.702 18.4084 34.6998 18.4381 34.6998 18.4725V19.4912L35.5057 18.8681C35.6423 18.7625 35.8018 18.7087 35.9617 18.7085L35.9644 18.7085C36.0621 18.7078 36.1598 18.7279 36.2522 18.7685C36.3448 18.8091 36.4313 18.87 36.5057 18.9495L36.5069 18.9508L38.5451 21.1122L38.5468 21.114L38.5584 21.1265C38.6996 21.2884 38.7837 21.5074 38.7857 21.7413C38.7878 21.9773 38.7061 22.2002 38.565 22.3658L38.5629 22.3684C38.5581 22.374 38.5529 22.3799 38.5477 22.3856C38.5474 22.3859 38.5471 22.3862 38.5469 22.3865L35.2467 25.8789C35.2465 25.8792 35.2463 25.8794 35.2461 25.8796C35.095 26.0378 34.8995 26.1195 34.7036 26.1192L34.6992 26.1192C34.6016 26.1199 34.5039 26.1 34.4115 26.0595C34.319 26.0189 34.2325 25.9581 34.1581 25.8787L34.157 25.8776L32.1177 23.715C32.0427 23.6354 31.9815 23.539 31.9391 23.4303C31.8966 23.3215 31.8743 23.2037 31.8741 23.084C31.8739 22.9643 31.8959 22.8465 31.938 22.7375C31.9792 22.631 32.0384 22.5362 32.111 22.4574L32.1224 22.446L32.1224 22.446L32.1256 22.4427L32.2339 22.3324L32.248 22.3181L32.2609 22.3027C32.3116 22.2419 32.3484 22.1725 32.3707 22.0996C32.3929 22.0266 32.4005 21.9504 32.3935 21.8752L32.3701 21.624L32.1541 21.4935C31.8584 21.3149 31.5149 21.2364 31.1713 21.2724L31.1672 21.2729C31.0033 21.2915 30.6002 21.375 30.0734 21.7221L30.072 21.7231C29.8785 21.8515 29.5499 22.1417 29.2275 22.4371C28.8918 22.7447 28.5232 23.0953 28.2332 23.3728L28.2328 23.3732C28.1446 23.4578 28.0365 23.4972 27.9319 23.494C27.8271 23.4909 27.7201 23.4448 27.6353 23.3537L27.6349 23.3533L25.5867 21.1588L25.5862 21.1583C25.505 21.0716 25.4511 20.9504 25.4424 20.8155C25.4337 20.6805 25.4715 20.5504 25.5429 20.4496L25.5442 20.4478C25.9191 19.9132 26.2306 19.407 26.4493 18.9971C26.5583 18.7929 26.6481 18.6054 26.7114 18.4458C26.743 18.3662 26.7707 18.2866 26.7907 18.2108C26.8087 18.1424 26.8294 18.0445 26.8248 17.9397L26.8248 17.9389C26.7653 16.6358 26.3959 15.6785 25.5648 14.9624L25.5648 14.9624L25.5614 14.9595C25.3023 14.7402 24.916 14.525 24.5064 14.3569C24.0929 14.1873 23.6146 14.0488 23.1585 14.0083C22.739 13.9705 22.3167 13.9988 21.9052 14.092L21.8978 14.0937L21.8904 14.0956C21.6965 14.1458 21.5057 14.2085 21.3191 14.2832L21.3191 14.2832L21.3162 14.2844C21.2304 14.3194 21.1384 14.3235 21.0515 14.297C20.964 14.2704 20.8803 14.2122 20.8168 14.1235C20.7531 14.0344 20.7153 13.9214 20.7138 13.8012C20.7123 13.6811 20.7472 13.5669 20.8088 13.4755C21.0432 13.13 21.3057 12.8082 21.593 12.5138C22.0657 12.0508 23.3711 11.2142 25.0932 11.2142L25.0935 11.2142C26.107 11.2135 27.1118 11.4252 28.0515 11.8384L28.0525 11.8389C30.6162 12.9589 32.2882 14.4867 33.0504 15.2907C33.0508 15.2912 33.0513 15.2917 33.0518 15.2922L33.054 15.2946C33.5696 15.8469 34.0469 16.4392 34.4818 17.067ZM22.5488 22.8395L22.555 22.8334L22.561 22.8271C22.8279 22.544 23.181 22.3927 23.5408 22.3937C23.9006 22.3948 24.253 22.5481 24.5187 22.8328L26.0727 24.4984C26.0727 24.4985 26.0728 24.4985 26.0728 24.4986C26.0728 24.4986 26.0728 24.4986 26.0728 24.4986C26.2053 24.6406 26.3119 24.8112 26.3851 25.0012C26.4582 25.1913 26.496 25.3961 26.4956 25.6036C26.4951 25.811 26.4564 26.0156 26.3823 26.2053C26.3083 26.395 26.2009 26.565 26.0678 26.7063L26.0612 26.7133L26.0549 26.7206L16.0155 38.2421C16.0151 38.2425 16.0147 38.2429 16.0143 38.2434C15.7098 38.5871 15.3601 38.7686 15.0001 38.7857H14.9414C14.5785 38.7841 14.2232 38.6296 13.955 38.3431L13.9532 38.3413L13.9528 38.3408L11.6324 35.8273C11.4943 35.6771 11.3847 35.4961 11.3124 35.2946C11.2401 35.0932 11.2069 34.8769 11.2157 34.6597C11.2335 34.2386 11.4249 33.8462 11.7453 33.5219C11.7459 33.5213 11.7465 33.5207 11.7471 33.5201L22.5488 22.8395Z"
        fill="white"
        stroke="#093D77"
      />
    </svg>

    <span class="text-xl md:text-2xl text-white font-semibold"
      >Tukang Tersertifikasi</span
    >
  </div>

  <div
    class="mt-0 text-black border-2 border-[#093D77] rounded-b-3xl md:rounded-r-[50px] md:rounded-bl-[50px] p-4 md:p-10 text-xl md:text-3xl lg:text-2xl 2xl:text-3xl bg-white/75 sans3 font-normal"
  >
    Tim tukang kami dilengkapi dengan
    <span class="text-[#14B6B8]">sertifikasi profesional</span> sesuai dengan
    bidang pekerjaannya. Dengan sertifikasi ini, membuktikan bahwa pekerjaan
    dilakukan oleh <span class="text-[#14B6B8]">tukang yang ahli</span> yang
    berkualitas. <br />
    <br />
    Kami berkomitmen untuk memberikan
    <span class="text-[#14B6B8]"> layanan tukang yang berkualitas </span> untuk
    memenuhi semua kebutuhan Anda.
  </div>

  <!-- 2 -->
  <div
    class="flex items-center space-x-4 bg-[#093D77] p-3 w-full md:w-[620px] rounded-t-[50px] mt-10"
  >
    <svg
      width="50"
      height="50"
      viewBox="0 0 50 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="25" cy="25" r="25" fill="white" />
      <path
        d="M28.5714 18.5714C28.5714 20.9383 26.6526 22.8571 24.2856 22.8571C21.9187 22.8571 19.9999 20.9383 19.9999 18.5714C19.9999 16.2044 21.9187 14.2856 24.2856 14.2856C26.6526 14.2856 28.5714 16.2044 28.5714 18.5714Z"
        fill="white"
      />
      <path
        d="M14.2856 37.1428L14.2861 32.8566C14.2864 30.4898 16.2051 28.5714 18.5718 28.5714H27.1426M30.7142 32.1428L32.1428 33.5714L37.1428 28.5714M32.1428 14.2856C33.8764 15.2574 34.9999 16.8153 34.9999 18.5714C34.9999 20.3275 33.8764 21.8853 32.1428 22.8571M28.5714 18.5714C28.5714 20.9383 26.6526 22.8571 24.2856 22.8571C21.9187 22.8571 19.9999 20.9383 19.9999 18.5714C19.9999 16.2044 21.9187 14.2856 24.2856 14.2856C26.6526 14.2856 28.5714 16.2044 28.5714 18.5714Z"
        stroke="#093D77"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>

    <span class="text-xl md:text-2xl text-white font-semibold sans3"
      >Pembayaran Sekali Bayar untuk Semua Pekerjaan</span
    >
  </div>

  <div
    class="mt-0 text-black border-2 border-[#093D77] rounded-b-3xl md:rounded-r-[50px] md:rounded-bl-[50px] p-4 md:p-10 text-xl md:text-3xl lg:text-2xl 2xl:text-3xl bg-white/75 sans3 font-normal"
  >
    Kami menawarkan kemudahan dalam pembayaran dengan konsep
    <span class="text-[#14B6B8]">pembayaran di muka</span> . Kami percaya bahwa
    dengan pendekatan ini, kami dapat
    <span class="text-[#14B6B8]"> memastikan kelancaran proses </span> dan
    memberikan kepastian kepada Anda bahwa pekerjaan akan segera dilakukan
    setelah pembayaran diterima. <br />
    <br />
    <span class="text-[#14B6B8]">Kepuasan pelanggan adalah prioritas kami</span>
    Kepuasan pelanggan adalah prioritas kami, dan kami berkomitmen untuk
    memberikan pelayanan yang transparan dan efisien.
  </div>

  <!-- 3 -->
  <div
    class="flex items-center space-x-4 bg-[#093D77] p-3 w-full md:w-80 rounded-t-[50px] mt-10"
  >
    <svg
      width="50"
      height="50"
      viewBox="0 0 50 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="25" cy="25" r="25" fill="white" />
      <path
        d="M39.2858 25.0001C39.2858 32.8899 32.8899 39.2858 25.0001 39.2858C17.1103 39.2858 10.7144 32.8899 10.7144 25.0001C10.7144 17.1103 17.1103 10.7144 25.0001 10.7144C32.8899 10.7144 39.2858 17.1103 39.2858 25.0001Z"
        fill="white"
      />
      <path
        d="M30.1991 29.0458C30.4611 29.1332 30.7442 28.9916 30.8316 28.7296C30.9189 28.4676 30.7773 28.1845 30.5153 28.0972L30.1991 29.0458ZM25.0001 26.7858H24.5001C24.5001 27.001 24.6378 27.1921 24.842 27.2601L25.0001 26.7858ZM25.5001 19.3189C25.5001 19.0428 25.2762 18.8189 25.0001 18.8189C24.7239 18.8189 24.5001 19.0428 24.5001 19.3189H25.5001ZM30.5153 28.0972L25.1582 26.3114L24.842 27.2601L30.1991 29.0458L30.5153 28.0972ZM25.5001 26.7858V19.3189H24.5001V26.7858H25.5001ZM38.7858 25.0001C38.7858 32.6137 32.6137 38.7858 25.0001 38.7858V39.7858C33.166 39.7858 39.7858 33.166 39.7858 25.0001H38.7858ZM25.0001 38.7858C17.3864 38.7858 11.2144 32.6137 11.2144 25.0001H10.2144C10.2144 33.166 16.8341 39.7858 25.0001 39.7858V38.7858ZM11.2144 25.0001C11.2144 17.3864 17.3864 11.2144 25.0001 11.2144V10.2144C16.8341 10.2144 10.2144 16.8341 10.2144 25.0001H11.2144ZM25.0001 11.2144C32.6137 11.2144 38.7858 17.3864 38.7858 25.0001H39.7858C39.7858 16.8341 33.166 10.2144 25.0001 10.2144V11.2144Z"
        fill="#093D77"
      />
    </svg>

    <span class="text-xl md:text-2xl text-white font-semibold"
      >Same-day Service</span
    >
  </div>

  <div
    class="mt-0 text-black border-2 border-[#093D77] rounded-b-3xl md:rounded-r-[50px] md:rounded-bl-[50px] p-4 md:p-10 text-xl md:text-3xl lg:text-2xl 2xl:text-3xl bg-white/75 sans3 font-normal"
  >
    Kami menawarkan <span class="text-[#14B6B8]">Same-day Service</span> yang
    memungkinkan Anda untuk melakukan pemesanan layanan kami pada hari yang sama
    dan kami akan segera
    <span class="text-[#14B6B8]">datang pada hari itu juga</span> . Kami
    memahami betapa pentingnya kesegeraan dalam menyelesaikan proyek, dan dengan
    layanan "Same-day", kami berkomitmen untuk memberikan
    <span class="text-[#14B6B8]">respons cepat</span> dan menyediakan
    <span class="text-[#14B6B8]">solusi untuk kebutuhan mendesak</span>
    Anda.
  </div>
</template>
