<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Cat Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6142_614)">
                <path
                  d="M19.1902 16.9062L16.7949 19.3016L26.9973 29.5039C27.3281 29.8348 27.7617 30.0002 28.1952 30.0002C28.6288 30.0002 29.0623 29.8348 29.3931 29.5039C30.0547 28.8423 30.0547 27.7698 29.3931 27.1086L19.1902 16.9062Z"
                  fill="white"
                />
                <path
                  d="M18.6669 16.0335L18.773 15.9273L16.9569 14.1112L15.8252 12.9795L12.8408 15.9643L14.0629 17.186L15.7886 18.9117L15.922 18.7784L16.0968 18.6036L18.4921 16.2083L18.6669 16.0335Z"
                  fill="white"
                />
                <path
                  d="M10.3171 0.589258C10.3136 0.574915 10.3092 0.561116 10.3062 0.547317C10.2904 0.476233 10.2593 0.41205 10.2203 0.352315L10.206 0.317726L10.1981 0.325624C10.1497 0.25899 10.0899 0.202159 10.0208 0.153772C9.94914 0.103932 9.87216 0.0624441 9.78873 0.0367525C9.53299 -0.0417748 9.24458 -0.000740887 9.06782 0.220951C8.62344 0.777452 8.1904 1.3423 7.77162 1.9176L7.80966 2.01637L7.90689 2.2682L8.00411 2.52003L8.80056 4.58553L9.96194 7.59608L7.53912 5.5018L6.18918 4.33497L6.00208 4.17301L5.81497 4.01105L5.63032 3.85155C5.59183 3.96512 5.57748 4.09004 5.60317 4.22285C5.61752 4.29738 5.64321 4.37391 5.68116 4.45144C5.68606 4.46134 5.6886 4.47169 5.6935 4.48158C5.732 4.56302 5.76313 4.64699 5.79327 4.73096L5.30395 5.22029C5.19338 5.21629 5.08271 5.21039 4.97214 5.20304C4.86547 5.19559 4.75835 5.18679 4.65213 5.1739C4.49163 5.15465 4.33121 5.12896 4.17216 5.09192C3.7994 5.00504 3.34458 5.20249 3.26115 5.60938C3.12879 6.25131 2.90365 6.77467 2.59952 7.22695C2.25491 7.73952 1.80308 8.15875 1.27327 8.55321C1.01699 8.7443 0.746461 8.93041 0.453594 9.11706C0.212656 9.27066 0.112885 9.49335 0.110434 9.71605C0.108982 9.81727 0.126684 9.91849 0.162271 10.0133C0.296086 10.3668 0.662486 10.6281 1.06683 10.4641L12.1111 15.1875L15.0634 12.2353L10.3171 0.589258Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6142_614">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Pembersihan Dinding
              </h5>
              <p class="text-white">
                Ingin dinding Anda siap sempurna untuk pengecatan? Tukang kami
                siap untuk membantu Anda membersihkan dan mempersiapkan
                permukaan dinding sebelum proses pengecatan.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.5001 8.75V11.25C27.5001 12.2446 27.1051 13.1984 26.4018 13.9016C25.6985 14.6049 24.7447 15 23.7501 15H17.5001C17.1686 15 16.8507 15.1317 16.6163 15.3661C16.3818 15.6005 16.2501 15.9185 16.2501 16.25H17.5001C17.8317 16.25 18.1496 16.3817 18.384 16.6161C18.6185 16.8505 18.7501 17.1685 18.7501 17.5V26.25C18.7501 26.5815 18.6185 26.8995 18.384 27.1339C18.1496 27.3683 17.8317 27.5 17.5001 27.5H12.5001C12.1686 27.5 11.8507 27.3683 11.6163 27.1339C11.3818 26.8995 11.2501 26.5815 11.2501 26.25V17.5C11.2501 17.1685 11.3818 16.8505 11.6163 16.6161C11.8507 16.3817 12.1686 16.25 12.5001 16.25H13.7501C13.7501 15.2554 14.1452 14.3016 14.8485 13.5983C15.5518 12.8951 16.5056 12.5 17.5001 12.5H23.7501C24.0817 12.5 24.3996 12.3683 24.634 12.1339C24.8685 11.8995 25.0001 11.5815 25.0001 11.25V8.75C25.0001 8.41848 24.8685 8.10054 24.634 7.86612C24.3996 7.6317 24.0817 7.5 23.7501 7.5H22.2701C22.0141 8.22965 21.5381 8.86192 20.9076 9.30967C20.2772 9.75743 19.5234 9.99862 18.7501 10H6.25015C5.25559 10 4.30176 9.60491 3.5985 8.90165C2.89524 8.19839 2.50015 7.24456 2.50015 6.25C2.50015 5.25544 2.89524 4.30161 3.5985 3.59835C4.30176 2.89509 5.25559 2.5 6.25015 2.5H18.7501C19.5234 2.50138 20.2772 2.74257 20.9076 3.19033C21.5381 3.63808 22.0141 4.27035 22.2701 5H23.7501C24.7447 5 25.6985 5.39509 26.4018 6.09835C27.1051 6.80161 27.5001 7.75544 27.5001 8.75ZM4.62515 20H5.37515C5.99266 19.9394 6.56158 19.6385 6.95915 19.1621C7.35671 18.6857 7.55102 18.0721 7.50015 17.4537C7.50347 16.9261 7.36302 16.4076 7.0939 15.9537L5.00015 12.5L2.9064 15.955C2.6375 16.4085 2.49706 16.9266 2.50015 17.4537C2.44928 18.0721 2.64359 18.6857 3.04116 19.1621C3.43872 19.6385 4.00764 19.9394 4.62515 20Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pengecatan Dinding
              </h5>
              <p class="text-white">
                Anda bingung dan tidak tahu teknik pengecatan profesional untuk
                ruangan Anda? Tukang kami dapat melakukan aplikasi cat pada
                dinding Anda dengan teknik yang tepat untuk mencapai hasil yang
                rata dan sempurna.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6142_622)">
                <path
                  d="M5.17035 2.72174L5.17018 1.36084L5.17006 0H1.39117C0.63959 0 0.0302734 0.609316 0.0302734 1.3609V21.9076C0.419043 21.4484 0.878125 21.051 1.39117 20.7321C1.81187 20.4705 2.2685 20.2618 2.75207 20.1153C3.27889 19.9556 3.83705 19.8689 4.41531 19.8689H5.17176L5.17035 2.72174Z"
                  fill="white"
                />
                <path
                  d="M19.0822 2.72174L19.082 1.3609V0H14.8477L14.8478 1.3609L14.8479 2.72174L14.8494 19.8688H19.0838L19.0822 2.72174Z"
                  fill="white"
                />
                <path
                  d="M26.9433 1.36078C26.9431 0.609199 26.334 0 25.5824 0H21.8037V1.3609L21.8039 2.7218L21.8055 19.8689H24.2233H25.5842H26.9451L26.9433 1.36078Z"
                  fill="white"
                />
                <path
                  d="M12.1262 2.72174L12.1262 1.3609L12.126 0H7.8916L7.89172 1.3609L7.89189 2.72174L7.89336 19.8688H12.1277L12.1262 2.72174Z"
                  fill="white"
                />
                <path
                  d="M28.7558 22.5908H26.9459H25.585H24.2241H9.29855C9.56012 23.0115 9.76889 23.4681 9.91537 23.9517C9.97273 24.1411 10.0201 24.3347 10.0578 24.5317C10.1251 24.8828 10.1617 25.2446 10.1617 25.6151C10.1617 26.1933 10.075 26.7516 9.91537 27.2784C9.76883 27.762 9.56012 28.2186 9.29855 28.6393C8.97957 29.1524 8.58219 29.6115 8.12305 30.0002H25.585C28.0029 30.0002 29.97 28.033 29.97 25.6151C29.97 24.4433 29.5071 23.3782 28.7558 22.5908Z"
                  fill="white"
                />
                <path
                  d="M7.34748 24.8706C7.26357 24.539 7.12459 24.2295 6.94119 23.9517C6.40014 23.132 5.47137 22.5908 4.41574 22.5908C3.80115 22.5908 3.22969 22.7746 2.7525 23.0896C1.93277 23.6306 1.3916 24.5595 1.3916 25.6151C1.3916 26.0905 1.50158 26.54 1.69705 26.9403C2.1883 27.9462 3.22096 28.6393 4.41574 28.6393C5.47125 28.6393 6.40008 28.0982 6.94119 27.2784C7.25631 26.8011 7.44012 26.2297 7.44012 25.6151C7.44012 25.3581 7.40795 25.1087 7.34748 24.8706Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6142_622">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Wallpaper
              </h5>
              <p class="text-white">
                Ingin merubah suasana ruangan menggunakan wallpaper dinding?
                Tukang kami siap melakukan pemasangan wallpaper sebagai
                alternatif / pelengkap dari pengecatan dinding Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26.3998 10.3502L23.5498 5.8502C23.4898 5.7502 23.3998 5.7002 23.2798 5.7002H10.6198C10.5198 5.7002 10.4398 5.7452 10.3798 5.8352C10.3198 5.9252 10.3098 6.0202 10.3498 6.1202L11.5798 9.9602C11.6198 10.0602 11.5998 10.1602 11.5198 10.2602C11.4398 10.3602 11.3398 10.4002 11.2198 10.3802L6.65977 9.2102C6.55977 9.1902 6.48977 9.1352 6.44977 9.0452C6.40977 8.9552 6.40977 8.8602 6.44977 8.7602L8.09977 6.1502C8.15977 6.0502 8.15977 5.9502 8.09977 5.8502C8.03977 5.7502 7.94977 5.7002 7.82977 5.7002H6.26977C6.14977 5.7002 6.05977 5.7502 5.99977 5.8502L3.56977 10.3502C3.52977 10.3902 3.50977 10.4402 3.50977 10.5002V20.6402C3.50977 20.7602 3.57977 20.8502 3.71977 20.9102L5.09977 21.5102C5.19977 21.5502 5.29477 21.5402 5.38477 21.4802C5.47477 21.4202 5.51977 21.3402 5.51977 21.2402V11.2502C5.51977 11.1502 5.55977 11.0702 5.63977 11.0102C5.71977 10.9502 5.80977 10.9302 5.90977 10.9502L11.3398 12.4202C11.4998 12.4602 11.5798 12.5602 11.5798 12.7202V23.8502C11.5798 23.9302 11.6098 24.0002 11.6698 24.0602C11.7298 24.1202 11.7998 24.1502 11.8798 24.1502H13.1398C13.2198 24.1502 13.2898 24.1202 13.3498 24.0602C13.4098 24.0002 13.4398 23.9302 13.4398 23.8502V12.9002C13.4398 12.8202 13.4698 12.7502 13.5298 12.6902C13.5898 12.6302 13.6598 12.6002 13.7398 12.6002H24.2398C24.3398 12.6002 24.4198 12.6302 24.4798 12.6902C24.5398 12.7502 24.5698 12.8202 24.5698 12.9002V23.8202C24.5698 23.9002 24.5948 23.9702 24.6448 24.0302C24.6948 24.0902 24.7698 24.1202 24.8698 24.1202H26.1298C26.2098 24.1202 26.2798 24.0902 26.3398 24.0302C26.3998 23.9702 26.4298 23.9002 26.4298 23.8202V10.5002C26.4298 10.4402 26.4198 10.3902 26.3998 10.3502ZM10.4698 23.0402V16.6202C10.4698 16.4802 10.4298 16.3552 10.3498 16.2452C10.2698 16.1352 10.1598 16.0702 10.0198 16.0502L7.28977 15.3002C7.10977 15.2402 6.93977 15.2702 6.77977 15.3902C6.61977 15.5102 6.53977 15.6702 6.53977 15.8702V21.8402C6.53977 21.9602 6.57477 22.0702 6.64477 22.1702C6.71477 22.2702 6.79977 22.3402 6.89977 22.3802L9.62977 23.5802C9.82977 23.6802 10.0198 23.6702 10.1998 23.5502C10.3798 23.4302 10.4698 23.2602 10.4698 23.0402ZM22.5898 14.4602C22.5498 14.3602 22.4898 14.3102 22.4098 14.3102H15.0598C14.9998 14.3102 14.9498 14.3402 14.9098 14.4002C14.8698 14.4602 14.8598 14.5202 14.8798 14.5802L15.5398 16.4402C15.5798 16.5202 15.6398 16.5602 15.7198 16.5602H23.0698C23.1298 16.5602 23.1798 16.5352 23.2198 16.4852C23.2598 16.4352 23.2698 16.3702 23.2498 16.2902L22.5898 14.4602ZM16.2298 17.6702H17.0398C17.1798 17.6702 17.2948 17.7152 17.3848 17.8052C17.4748 17.8952 17.5198 18.0002 17.5198 18.1202V22.4102C17.5198 22.5502 17.4748 22.6652 17.3848 22.7552C17.2948 22.8452 17.1798 22.8902 17.0398 22.8902H16.2298C16.0898 22.8902 15.9748 22.8452 15.8848 22.7552C15.7948 22.6652 15.7498 22.5502 15.7498 22.4102V18.1202C15.7498 18.0002 15.7948 17.8952 15.8848 17.8052C15.9748 17.7152 16.0898 17.6702 16.2298 17.6702ZM18.8098 17.6702H19.6498C19.7898 17.6702 19.8998 17.7152 19.9798 17.8052C20.0598 17.8952 20.0998 18.0002 20.0998 18.1202V22.4102C20.0998 22.5502 20.0598 22.6652 19.9798 22.7552C19.8998 22.8452 19.7898 22.8902 19.6498 22.8902H18.8098C18.6898 22.8902 18.5848 22.8452 18.4948 22.7552C18.4048 22.6652 18.3598 22.5502 18.3598 22.4102V18.1202C18.3598 18.0002 18.4048 17.8952 18.4948 17.8052C18.5848 17.7152 18.6898 17.6702 18.8098 17.6702ZM21.4198 17.6702H22.2598C22.3798 17.6702 22.4848 17.7152 22.5748 17.8052C22.6648 17.8952 22.7098 18.0002 22.7098 18.1202V22.4102C22.7098 22.5502 22.6648 22.6652 22.5748 22.7552C22.4848 22.8452 22.3798 22.8902 22.2598 22.8902H21.4198C21.2998 22.8902 21.1948 22.8452 21.1048 22.7552C21.0148 22.6652 20.9698 22.5502 20.9698 22.4102V18.1202C20.9698 18.0002 21.0148 17.8952 21.1048 17.8052C21.1948 17.7152 21.2998 17.6702 21.4198 17.6702Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pengecatan Eksterior
              </h5>
              <p class="text-white">
                Apakah eksterior bangunan Anda butuh penyegaran dengan warna
                baru? Serahkan pada kami untuk melakukan pengecatan pada
                eksterior bangunan seperti tembok luar, pagar, atau pintu
                gerbang.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7431_31355)">
                <path
                  d="M27.3686 12.8945H26.316H21.5795H20.527H15.7905H14.7379H10.0014H8.94885H4.21234H3.15978H0V17.631H0.00210512V20.2624H0V24.9989H0.00210512V28.6829H5.79117H6.84373H11.5802H12.6328H17.3693H18.4219H23.1584H24.2109H30V24.9989V23.9464V21.315V20.2624V17.631V16.5785V12.8945H27.3686ZM21.5795 13.9471H26.316V16.5785H24.2109H23.1584H21.5795V13.9471ZM26.316 23.9464H24.2109H23.1584H21.5795V21.315H23.1584H24.2109H26.316V23.9464ZM1.05256 21.315H3.15978V23.9464H1.05256V21.315ZM4.21234 21.315H5.79117H6.84373H8.94885V23.9464H6.84373H5.79117H4.21234V21.315ZM6.84373 17.631H8.94885H10.0014H11.5802V20.2624H10.0014H8.94885H6.84373V17.631ZM17.3693 20.2624H15.7905H14.7379H12.6328V17.631H14.7379H15.7905H17.3693V20.2624ZM10.0014 21.315H11.5802H12.6328H14.7379V23.9464H12.6328H11.5802H10.0014V21.315ZM15.7905 21.315H17.3693H18.4219H20.527V23.9464H18.4219H17.3693H15.7905V21.315ZM23.1584 20.2624H21.5795H20.527H18.4219V17.631H20.527H21.5795H23.1584V20.2624ZM15.7905 13.9471H20.527V16.5785H18.4219H17.3693H15.7905V13.9471ZM10.0014 13.9471H14.7379V16.5785H12.6328H11.5802H10.0014V13.9471ZM4.21234 13.9471H8.94885V16.5785H6.84373H5.79117H4.21234V13.9471ZM1.05256 13.9471H3.15978V16.5785H1.05256V13.9471ZM1.05466 17.631H3.15978H4.21234H5.79117V20.2624H4.21234H3.15978H1.05466V17.631ZM5.79117 27.6303H1.05466V24.9989H3.15978H4.21234H5.79117V27.6303ZM11.5802 27.6303H6.84373V24.9989H8.94885H10.0014H11.5802V27.6303ZM17.3693 27.6303H12.6328V24.9989H14.7379H15.7905H17.3693V27.6303ZM23.1584 27.6303H18.4219V24.9989H20.527H21.5795H23.1584V27.6303ZM28.9474 27.6303H24.2109V24.9989H26.316H27.3686H28.9474V27.6303ZM28.9474 23.9464H27.3686V21.315H28.9474V23.9464ZM28.9474 20.2624H27.3686H26.316H24.2109V17.631H26.316H27.3686H28.9474V20.2624ZM27.3686 16.5785V13.9471H28.9474V16.5785H27.3686Z"
                  fill="white"
                />
                <path
                  d="M29.9977 1.31641H0.00195312V12.3683H29.9977V1.31641ZM2.26127 6.20712L4.89266 3.57572C5.09844 3.36995 5.43105 3.36995 5.63682 3.57572C5.8426 3.7815 5.8426 4.1141 5.63682 4.31988L3.00543 6.95127C2.9028 7.0539 2.76807 7.10547 2.63335 7.10547C2.49862 7.10547 2.36389 7.0539 2.26127 6.95127C2.05549 6.7455 2.05549 6.41289 2.26127 6.20712ZM9.84705 3.7936L3.00543 10.6352C2.9028 10.7378 2.76807 10.7894 2.63335 10.7894C2.49862 10.7894 2.36389 10.7378 2.26127 10.6352C2.05549 10.4295 2.05549 10.0968 2.26127 9.89107L9.10289 3.04944C9.30867 2.84367 9.64128 2.84367 9.84705 3.04944C10.0528 3.25522 10.0528 3.58783 9.84705 3.7936Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7431_31355">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Finishing
              </h5>
              <p class="text-white">
                Apakah Anda memerlukan lapisan pelindung untuk memperpanjang
                umur cat Anda? Kami dapat melakukan finishing seperti lapisan
                pelindung / sealant untuk melindungi cat dan memperpanjang umur
                pengecatan di rumah Anda untuk jangka waktu yang lama
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
