<script setup>
import kaki from '../components/footer.vue';
import navbar from '../components/atas.vue';
import cs from '../components/home/buttoncs.vue';
import { onMounted } from 'vue';

onMounted(() => {
  // Automatically scroll to the top
  window.scrollTo(0, 0);
});
</script>

<template>
  <navbar />
  <main class="pt-0 md:pt-16">
    <!-- 1 -->
    <div class="flex justify-center w-full">
      <div class="mt-32 md:mt-16 mb-16 mx-4 w-[150vh]">
        <h1 class="text-5xl text-center md:text-start md:text-[65px] font-bold sans3">
          Kebijakan Privasi
        </h1>
        <hr class="bg-[#C3C3C3] h-[1px ] md:mt-0 mt-5" />
        <div class="p-4">
          <p class="text-xl text-center md:text-start md:text-[22px] sans3">
            Kebijakan Privasi ini menjelaskan bagaimana informasi dikumpulkan, digunakan, dan
            dibagikan oleh kami ketika Anda menggunakan layanan kami.
            <br />
            <br />
            Kebijakan ini berlaku untuk semua situs, aplikasi seluler, dan layanan online lainnya
            ("Platform"), termasuk tukangsegala.com. Kecuali dinyatakan secara eksplisit di sini,
            Kebijakan ini hanya berlaku untuk informasi yang dikumpulkan pada atau melalui Platform,
            dan tidak berlaku untuk informasi yang dikumpulkan atau diperoleh dengan atau melalui
            cara lain (termasuk, tanpa batasan, informasi yang dikumpulkan secara offline, secara
            langsung, selama telepon dan/atau melalui surat, atau dari pihak ketiga di luar
            Platform). Dengan mengakses atau menggunakan Platform, Anda menyetujui Kebijakan ini.
            <br />
            <br />
            APABILA ANDA TIDAK MENYETUJUI KEBIJAKAN INI, HARAP TIDAK MENGAKSES ATAU MENGGUNAKAN
            PLATFORM.
          </p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="flex justify-center w-full">
      <div class="mt-16 mb-16 mx-4 w-[150vh]">
        <h1 class="text-5xl text-center md:text-start md:text-[65px] font-bold sans3">
          Kebijakan Privasi
        </h1>
        <hr class="bg-[#C3C3C3] h-[1px ] md:mt-0 mt-5" />
        <div class="p-4">
          <p class="text-xl text-center md:text-start md:text-[22px] sans3">
            "Konten" adalah teks, grafik, gambar, musik, perangkat lunak, audio, video, informasi,
            atau materi lainnya, termasuk namun tidak terbatas pada informasi profil, permintaan
            penawaran, pemesanan layanan, penawaran, utas obrolan/pesan, ulasan, penjadwalan, dan
            informasi kalender , dan informasi atau materi lain yang tersedia di atau melalui
            Platform. "Konsumen" adalah Pengguna yang terdaftar untuk mencari Penyedia Layanan di
            Platform, mencari Layanan dari Penyedia Layanan di Platform, melakukan pemesanan dengan
            Penyedia Layanan untuk menggunakan Layanan (atau menerima penawaran yang berkaitan),
            atau setuju Persyaratan ini untuk, menerima, membayar, meninjau, atau memfasilitasi
            penerimaan Layanan.
            <br />
            <br />
            Karena Konsumen mungkin, atau mungkin menjadi, pelanggan dari Penyedia Layanan, Konsumen
            sering disebut sebagai “pelanggan” atau “Pelanggan” di Platform dan dalam materi
            pemasaran yang terkait dengan Platform. "Platform" adalah semua situs web, seluler atau
            aplikasi lain, perangkat lunak, proses, dan layanan lain apa pun yang disediakan oleh
            atau melalui tukangsegala.com.
            <br />
            <br />
            "Layanan" adalah layanan yang terdaftar, dikutip, dijadwalkan, dipenuhi, atau disediakan
            oleh Profesional Layanan, atau dicari, dijadwalkan, dibayar atau diterima oleh Konsumen,
            melalui Platform.
            <br />
            <br />
            "Penyedia Tukang" adalah Pengguna yang menggunakan, atau terdaftar untuk menggunakan,
            Platform untuk menawarkan, menyediakan, menerima pembayaran, atau memfasilitasi
            penyediaan Layanan. Penyedia Jasa sering disebut sebagai “pro” di Platform.
            <br />
            <br />
            "Konten tukangsegala.com" adalah semua Konten yang tukangsegala.com sediakan di atau
            melalui Platform, termasuk Konten apa pun yang dilisensikan dari pihak ketiga, tetapi
            tidak termasuk Konten Pengguna.
            <br />
            <br />
            "Pengguna" adalah orang atau entitas yang menyelesaikan proses pendaftaran akun
            tukangsegala.com, menyetujui Ketentuan ini, menggunakan layanan apa pun yang ditawarkan
            oleh atau melalui Platform, atau orang atau entitas yang mengajukan atau menerima
            permintaan melalui tukangsegala.com, termasuk tetapi tidak terbatas pada Profesional
            Jasa dan Konsumen
          </p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="flex justify-center w-full">
      <div class="mt-16 mb-16 mx-4 w-[150vh]">
        <h1 class="text-4xl text-center md:text-start md:text-[65px] font-bold sans3">
          Pengumpulan Informasi
        </h1>
        <hr class="bg-[#C3C3C3] h-[1px ] md:mt-0 mt-5" />
        <div class="p-4">
          <p class="text-xl text-center md:text-start md:text-[22px] sans3">
            Kami mengumpulkan dan menyimpan informasi bergantung pada bagaimana Anda mengakses dan
            menggunakan Platform. Kami mengumpulkan informasi dengan berbagai cara, termasuk saat
            Anda memberikan informasi secara langsung kepada kami, saat Anda mengizinkan pihak
            ketiga untuk memberikan informasi kepada kami, dan saat kami secara pasif mengumpulkan
            informasi dari Anda, seperti informasi yang dikumpulkan dari browser atau perangkat
            Anda. Informasi yang Anda Berikan Langsung kepada Kami
            <br />
            <br />
          </p>
          <div class="text-xl md:text-[22px] sans3">
            <span class="font-bold"
              >Kami dapat mengumpulkan informasi dari Anda selama Anda menggunakan atau mengakses
              Platform, seperti:</span
            >
            <br />
            1.Saat Anda mendaftar untuk sebuah akun; Saat Anda berpartisipasi dalam jajak pendapat
            <br />
            2.atau survei; Saat Anda mendaftar untuk buletin elektronik; Saat Anda meminta penawaran
            <br />
            3.atau informasi lainnya. Saat Anda mengisi formulir apa pun; Saat Anda mengikuti
            kontes,
            <br />
            4.atau mendaftar untuk promosi; Saat Anda mengirimkan Konten Pengguna;
          </div>
        </div>
      </div>
    </div>
  </main>

  <kaki />
  <cs />
</template>
