<script setup>
import kaki from "../components/footer.vue";
import navbar from "../components/atas.vue";
import Layanan from "../components/layanankami/layanan.vue";
import Keuntungan from "../components/layanankami/keuntungan.vue";
import cs from "../components/home/buttoncs.vue";
import { ref, onMounted } from "vue";

const showHeroImage = ref(false);

onMounted(() => {
  // Automatically scroll to the top
  window.scrollTo(0, 0);

  // Delay the display of the hero image
  setTimeout(() => {
    showHeroImage.value = true;
  }, 100);
});
</script>

<template>
  <navbar class="z-50" />

  <main class="pt-0 md:pt-10 bg-[#14B6B8] relative z-40">
    <!--HERO-->
    <div class="bg-[#14B6B8] bg-cover">
      <section class="flex items-center md:h-screen h-fit w-auto">
        <div
          class="container mx-auto flex mt-16 items-center flex-col md:flex-row relative md:z-[99] z-99 p-5 md:p-0"
        >
          <!-- Bagian Teks di Sisi Kiri -->
          <div class="md:w-1/2 w-full mb-4 md:mb-0 p-4">
            <h1
              class="text-2xl font-bold sm:text-2xl md:text-6xl lg:text-5xl md:mb-4 pt-8 text-white hue-rotate-0 sans3 md:z-10 z-10"
            >
              Kami menyediakan berbagai tukang untuk masalahmu.
            </h1>
          </div>
        </div>
      </section>
      <!-- Bagian Gambar di Sisi Kanan Pojok Kanan Atas -->
      <transition name="fade-left">
        <div
          v-if="showHeroImage"
          class="absolute top-11 pt-5 left-0 md:w-full hidden md:flex justify-end z-1"
        >
          <img
            src="/Hero/Sip.png"
            alt="Hero Image"
            class="md:w-[600px] lg:w-[850px] xl:w-[750px] 2xl:w-[1200px]"
          />
        </div>
      </transition>

      <!--END HERO-->
    </div>

    <!-- APA AJA NIH -->

    <section
      class="w-full bg-white mt-15 md:rounded-t-[80px] lg:rounded-t-[15%]"
    >
      <h1
        class="sans3 font-semibold text-black text-center md:pt-32 pt-10 md:mb-10 mb-3 text-2xl md:text-5xl 2xl:text-7xl md:font-semibold"
      >
        Apa aja nih layanan paling populer?
      </h1>
      <p
        class="sans3 px-4 text-black text-center text-m xl:text-2xl 2xl:text-4xl font-semibold md:mb-8"
      >
        Yuk, dicek koleksi tukang populer, favoritnya klien, dan penawaran
        terbaik kami di lokasimu!
      </p>
      <div class="flex items-center justify-center pt-10 pb-10">
        <div
          class="grid gap-x-10 gap-y-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 px-10 xl:px-16 2xl:px-4"
        >
          <!--Card-->

          <Layanan />

          <!--End Card-->
        </div>
      </div>
    </section>
    <!--END APA AJA NIH-->
    <!-- KEUNTUNGAN -->
    <section class="w-full bg-cover bg-white">
      <div
        class="container mx-auto w-full h-full flex flex-col md:flex-row items-start px-4 py-8"
      >
        <!-- Sisi Kiri: Teks -->
        <div
          class="flex flex-col items-center w-full mt-5 md:mt-10 mb-5 md:mb-10"
        >
          <h1
            class="text-4xl md:text-7xl lg:text-5xl 2xl:text-7xl mb-4 font-semibold text-black text-center sans3"
          >
            <span class="text-[#14B6B8]">Keuntungan</span> apa yang kamu
            dapatkan?
          </h1>
        </div>
      </div>

      <!-- CARD TEXT KEUNTUNGAN -->
      <div class="px-4 py-8 md:p-28">
        <Keuntungan />
      </div>
    </section>

    <!--END KEUNTUNGAN -->
    <kaki />
    <cs />
  </main>
</template>
