<script setup>
import kaki from "../components/footer.vue";
import navbar from "../components/atas.vue";
import card from "../components/tentangkami/card.vue";
import marquee from "../components/tentangkami/marquee.vue";
import lokasi from "../components/tentangkami/lokasi.vue";
import cs from "../components/home/buttoncs.vue";
import { ref, onMounted } from "vue";

const showHeroImage = ref(false);

onMounted(() => {
  // Automatically scroll to the top
  window.scrollTo(0, 0);

  // Delay the display of the hero image
  setTimeout(() => {
    showHeroImage.value = true;
  }, 100);
});
</script>

<template>
  <navbar class="z-50" />

  <main class="pt-0 md:pt-10 bg-white relative z-40">
    <!--HERO-->
    <section class="bg-hero_tentangkami bg-cover">
      <div class="flex items-center md:h-screen h-fit w-auto">
        <div
          class="container mx-auto flex mt-16 items-center flex-col md:flex-row relative md:z-[99] z-99 p-5 md:p-0"
        >
          <!-- Bagian Teks di Sisi Kiri -->
          <div class="w-full mb-4 md:mb-0 p-4 pt-10">
            <h1
              class="text-lg md:text-7xl font-semibold mb-4 text-white md:z-10 z-10 text-center sans3"
            >
              Ketahui lebih dalam tentang kami
            </h1>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT TUKANG SEGALA ! PC-->
    <section class="w-full bg-white p-4 mt-20 hidden md:flex">
      <div
        class="container mx-auto px-4 py-8 md:p-0 border-4 border-[#14B6B8] rounded-3xl"
      >
        <div
          class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-8 p-16"
        >
          <!-- Sisi Kanan: Gambar -->
          <div class="md:w-1/2 md:flex justify-center">
            <img src="/kami/hp.png" alt="Logo" />
          </div>

          <!-- Sisi Kiri: Teks -->
          <div class="md:w-full p-10">
            <!-- <div class="absolute  p-2 lg:-mt-[5.5rem] bg-white rounded-2xl  md:-mt-[6.5rem] -mt-[7rem] -ml-[-0.3rem] shadow-xl ">

            </div> -->
            <h2
              class="mb-4 sans3 text-2xl text-center md:text-7xl xl:text-5xl font-semibold text-[#14B6B8]"
            >
              TukanginAja.id
            </h2>
            <hr class="bg-[#14B6B8] h-1 mt-4 mb-4" />

            <p
              class="sans3 text-lg md:pt-10 lg:pt-0 md:text-3xl xl:text-2xl text-black font-normal text-justify"
            >
              <span class="text-[#14B6B8]">TukanginAja.id</span>
              merupakan one stop apps untuk kebutuhan segala jenis pertukangan.
              Kami memfasilitasi interaksi tukang dengan konsumen yang
              membutuhkan layanan jasa seperti Tukang AC, Tukang Listrik, Tukang
              Pipa, dan jenis tukang lainnya. Dapatkan kemudahan dalam mencari
              segala jenis tukang dalam satu platform, hanya di
              <span class="text-[#14B6B8]">TukanginAja.id</span> Mau Gampang,
              TukanginAja!
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT TUKANG SEGALA ! MOBILE-->
    <section class="w-full bg-white p-4 mt-20 block md:hidden">
      <div
        class="container mx-auto px-4 py-8 md:p-0 border-4 border-[#14B6B8] rounded-3xl bg-layanan bg-cover"
      >
        <div
          class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-8"
        >
          <!-- Sisi Kiri: Teks -->
          <div class="md:w-full">
            <!-- <div class="absolute  p-2 lg:-mt-[5.5rem] bg-white rounded-2xl  md:-mt-[6.5rem] -mt-[7rem] -ml-[-0.3rem] shadow-xl ">

            </div> -->
            <h2
              class="sans3 text-2xl text-center md:text-7xl xl:text-5xl font-semibold text-[#14B6B8 ]"
            >
              TukanginAja.id
            </h2>
            <hr class="bg-[#14B6B8] mt-4 mb-4" />

            <p
              class="sans3 text-lg md:text-3xl xl:text-2xl text-black font-normal text-justify"
            >
              <span class="text-[#14B6B8]">TukanginAja.id</span>
              merupakan one stop apps untuk kebutuhan segala jenis pertukangan.
              Kami memfasilitasi interaksi tukang dengan konsumen yang
              membutuhkan layanan jasa seperti Tukang AC, Tukang Listrik, Tukang
              Pipa, dan jenis tukang lainnya. Dapatkan kemudahan dalam mencari
              segala jenis tukang dalam satu platform, hanya di
              <span class="text-[#14B6B8]">TukanginAja.id</span> Karena setiap
              masalah, selalu ada tukangnya.
            </p>
          </div>
          <!-- Sisi Kanan: Gambar -->
          <div class="md:w-1/2 md:flex justify-center">
            <img src="/kami/hp.png" alt="Logo" class="p-4" />
          </div>
        </div>
      </div>
    </section>

    <!-- TEMUI FOUNDER KAMI SEKARANG !-->

    <!-- <section class="w-full bg-white">
      <h1
        class="sans3 text-5xl md:text-7xl font-semibold text-black text-center md:pt-20 pt-10 mb-5">
        Temui Founder <span class="text-[#14B6B8]">TukanginAja.id</span>
      </h1>

      <div class="flex items-center justify-center pt-10 pb-10">
        <div class="grid gap-x-52 gap-y-4 grid-cols-1 md:grid-cols-3">

          <div class="text-center">
            <img
              src="/icon/Founder.png"
              alt="Founder 1"
              class="w-full h-auto rounded-md mb-4 mt-10 md:mt-0" />
            <h2 class="text-xl font-semibold sans3">Nama Lengkap 1</h2>
            <p class="sans3">Jabatan 1</p>
          </div>


          <div class="text-center">
            <img
              src="/icon/Founder.png"
              alt="Founder 2"
              class="w-full h-auto rounded-md mb-4 mt-10 md:mt-0" />
            <h2 class="text-xl font-semibold sans3">Nama Lengkap 2</h2>
            <p class="sans3">Jabatan 2</p>
          </div>

          <div class="text-center">
            <img
              src="/icon/Founder.png"
              alt="Founder 3"
              class="w-full h-auto rounded-md mb-4 mt-10 md:mt-0" />
            <h2 class="text-xl font-semibold sans3">Nama Lengkap 3</h2>
            <p class="sans3">Jabatan 3</p>
          </div>

        </div>
      </div>
    </section> -->

    <!-- VISI MISI -->
    <section
      class="flex flex-col bg-white md:flex-row p-20 space-y-10 md:space-y-0 md:space-x-10 items-center"
    >
      <!-- Gambar -->
      <div class="w-full md:w-1/2 hidden">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="50" cy="50" r="50" fill="#60BD63" fill-opacity="0.17" />
          <path
            d="M60.1275 45.8812C60.151 45.8041 60.159 45.7234 60.1516 45.6439L60.1283 45.3926L59.9123 45.2622C59.5349 45.0343 59.0975 44.9345 58.6607 44.9804L58.6565 44.9809C58.4567 45.0036 57.9226 45.1102 57.2128 45.578L57.2113 45.579C56.9562 45.7484 56.5085 46.1426 56.0535 46.5595C55.5852 46.9886 55.0705 47.4781 54.6647 47.8664L54.6642 47.8669C54.5034 48.0211 54.3006 48.0977 54.0985 48.0916C53.8963 48.0855 53.6966 47.9966 53.5429 47.8316L53.5425 47.8312L50.675 44.7588L50.6745 44.7583C50.5281 44.6019 50.4348 44.388 50.4197 44.1546C50.4047 43.9212 50.4697 43.6934 50.5967 43.5139L50.598 43.5121C51.1192 42.7691 51.5507 42.0674 51.8525 41.5019C52.003 41.2199 52.125 40.9646 52.2099 40.7505C52.2523 40.6437 52.2882 40.5401 52.3135 40.4442C52.3368 40.3557 52.36 40.2415 52.3549 40.1245L52.3548 40.1236C52.2731 38.3359 51.7697 37.0551 50.66 36.0989L50.6601 36.0989L50.6566 36.096C50.3154 35.8072 49.7952 35.5154 49.2329 35.2847C48.6667 35.0525 48.0169 34.8652 47.4038 34.8109C46.8374 34.7599 46.2671 34.7981 45.7114 34.924L45.704 34.9257L45.6966 34.9276C45.4334 34.9957 45.1744 35.0808 44.921 35.1823L44.921 35.1823L44.9181 35.1835C44.7557 35.2497 44.5797 35.2577 44.4139 35.2073C44.2475 35.1566 44.0941 35.0478 43.9808 34.8894C43.8672 34.7305 43.8018 34.5323 43.7992 34.3243C43.7966 34.1163 43.8569 33.9162 43.9667 33.7537C44.3018 33.2597 44.6773 32.7993 45.0885 32.378C45.7799 31.6998 47.6568 30.5 50.1303 30.5L50.1307 30.5C51.5777 30.4989 53.0117 30.8012 54.3524 31.3907L54.3535 31.3912C57.9747 32.9733 60.337 35.1316 61.4163 36.2703C61.4167 36.2707 61.4171 36.2711 61.4175 36.2716L61.4217 36.2761C62.1506 37.0568 62.8253 37.8942 63.44 38.7816C63.8616 39.4174 63.8265 40.1277 63.7884 40.7174C63.7879 40.724 63.7876 40.7267 63.7872 40.7307C63.7867 40.7358 63.786 40.743 63.7843 40.7626C63.7822 40.7866 63.7797 40.8217 63.7797 40.8616V41.8803L64.5855 41.2571C64.8107 41.083 65.0768 40.9922 65.346 40.992L65.3488 40.992C65.5139 40.9909 65.6785 41.0248 65.8334 41.0928C65.9884 41.1608 66.1317 41.2621 66.2539 41.3927L66.2551 41.3939L69.1092 44.4206L69.111 44.4225L69.1301 44.4431C69.3617 44.7073 69.4966 45.0614 69.4999 45.4361C69.5032 45.8131 69.3729 46.1721 69.1432 46.4419L69.141 46.4445C69.132 46.4552 69.1222 46.4663 69.1124 46.4768C69.1122 46.4771 69.1119 46.4773 69.1117 46.4776L64.4901 51.3685C64.49 51.3686 64.4899 51.3687 64.4899 51.3688C64.242 51.6289 63.9162 51.7675 63.5846 51.7669L63.5802 51.767C63.4151 51.7682 63.2506 51.7344 63.0957 51.6665C62.9408 51.5986 62.7975 51.4974 62.6753 51.367L62.6742 51.3659L59.8192 48.3382C59.6962 48.2078 59.5968 48.0507 59.5283 47.8751L59.0625 48.0569L59.5283 47.8751C59.4597 47.6996 59.4239 47.5102 59.4237 47.318C59.4234 47.1259 59.4586 46.9363 59.5266 46.7605C59.5936 46.5872 59.6907 46.4316 59.811 46.3018L59.8298 46.283L59.8298 46.283L59.833 46.2798L59.9847 46.1253L59.9988 46.111L60.0117 46.0956C60.0651 46.0316 60.104 45.9584 60.1275 45.8812ZM60.1275 45.8812L59.6492 45.7355M60.1275 45.8812C60.1275 45.8812 60.1275 45.8811 60.1275 45.8811L59.6492 45.7355M59.6492 45.7355C59.6447 45.7501 59.6375 45.7636 59.6279 45.775L45.8219 35.4116C46.327 35.2972 46.845 35.2626 47.3594 35.3089C48.4586 35.4063 49.7586 35.9911 50.3336 36.4777C51.3087 37.3179 51.7778 38.45 51.8553 40.1464C51.8703 40.4875 51.212 41.7661 50.1886 43.225C49.9937 43.5003 49.8985 43.842 49.9208 44.1868C49.943 44.5316 50.0811 44.856 50.3095 45.1L53.177 48.1723C53.418 48.4311 53.7424 48.5811 54.0834 48.5914C54.4244 48.6017 54.7562 48.4715 55.0104 48.2277C55.8212 47.4518 57.0562 46.2821 57.4879 45.9955C58.1288 45.5732 58.5871 45.492 58.7129 45.4777C58.8741 45.4608 59.0357 45.4702 59.1924 45.5049L59.2712 45.4247L59.4263 45.577C59.5044 45.6081 59.5805 45.6459 59.6538 45.6902C59.6552 45.7055 59.6536 45.7209 59.6492 45.7355ZM46.4276 46.8332L46.4339 46.8271L46.4398 46.8207C46.8499 46.3859 47.3964 46.1497 47.9576 46.1513C48.5188 46.1529 49.0642 46.3922 49.4722 46.8295L51.648 49.1615C51.8513 49.3796 52.0142 49.6405 52.1256 49.9299C52.2371 50.2194 52.2944 50.5306 52.2937 50.8456C52.293 51.1605 52.2342 51.4714 52.1215 51.7602L52.5873 51.942L52.1215 51.7602C52.0088 52.049 51.8448 52.309 51.6404 52.526L51.6339 52.533L51.6275 52.5403L37.5714 68.6714C37.571 68.6719 37.5706 68.6724 37.5701 68.6729C37.1151 69.1868 36.5759 69.4744 36.0046 69.5L35.9185 69.5C35.9182 69.5 35.9179 69.5 35.9175 69.5C35.352 69.4977 34.8026 69.2568 34.3909 68.8172L34.3875 68.8135L31.138 65.2936C30.9262 65.0633 30.7591 64.7867 30.649 64.4801C30.539 64.1736 30.4887 63.8451 30.5021 63.5154C30.5294 62.8676 30.824 62.2726 31.3019 61.7893C31.3025 61.7887 31.3031 61.7881 31.3037 61.7875L46.4276 46.8332Z"
            stroke="#093D77"
          />
        </svg>
      </div>

      <!-- Teks -->
      <div class="w-full md:w-full text-center sans3">
        <!-- Visi -->
        <h2 class="text-4xl font-bold mb-3 text-[#14B6B8]">VISI KAMI</h2>
        <p class="mb-6 text-xl">
          Menjadi salah satu one stop apps untuk segala kebutuhan pertukangan.
        </p>

        <!-- Misi -->
        <h2 class="text-4xl font-bold mb-3 text-[#14B6B8]">MISI KAMI</h2>
        <p class="text-xl">
          Memberikan layanan pertukangan yang ekonomis, berkualitas dan
          bergaransi.
        </p>
      </div>
    </section>

    <!-- MAKNA BAGI KAMI -->
    <card />
    <!-- END MAKNA-->

    <!--MARQUEE-->
    <marquee />
    <!--END MARQUEE-->

    <!-- LOCATION -->
    <lokasi />
    <!-- END LOCATION-->

    <!-- Yuk Download -->
    <section
      class="flex items-center justify-center md:flex-row bg-white md:h-screen lg:p-4 xl:p-28 h-fit w-auto"
    >
      <div class="container mx-auto flex items-center flex-col md:flex-row">
        <div class="w-full mb-4 md:mb-0 p-4">
          <h1
            class="text-3xl font-extrabold md:text-lg xl:text-6xl mb-4 z-10 relative text-black sans3"
          >
            Yuk Download Aplikasi
            <span class="text-[#14B6B8]">TukanginAja.id</span>
          </h1>
          <p class="mb-6 fonthero text-black">
            Kamu butuh tukang? cari di
            <span class="text-[#14B6B8]">TukanginAja.id</span> aja. Tukang
            disini bersertifikasi semua loh dan pastinya aman terpercaya!
          </p>
          <hr class="md:w-full w-full border-t-2 border-gray-900 mb-4" />
          <div class="flex items-center mt-10">
            <h1 class="fonthero text-black sans3">
              Download Aplikasi
              <span class="text-[#14B6B8]">TukanginAja.id</span>
            </h1>
          </div>
          <div class="flex space-x-4 md:space-x-8 mt-5">
            <a href="">
              <img
                src="/Component/GooglePlay.png"
                alt="Google Play"
                class="w-auto h-16 md:h-20"
              />
            </a>
            <a href="">
              <img
                src="/Component/AppStore.png"
                alt="App Store"
                class="w-auto h-16 md:h-20"
              />
            </a>
          </div>
        </div>
        <transition name="fade-left">
          <div
            v-if="showHeroImage"
            class="md:w-1/2 w-full md:flex justify-end relative mb-8 md:mb-0 hidden"
          >
            <img src="/other/Layanan.png" alt="" />
          </div>
        </transition>
      </div>
    </section>

    <!-- End Yuk Download -->
    <kaki />
    <cs />
  </main>
</template>
