<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Pipa dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.75 26.25H15C16.3261 26.25 17.5979 25.7232 18.5355 24.7855C19.4732 23.8478 20 22.5761 20 21.25V13.75H26.25V8.75H20C18.6739 8.75 17.4021 9.27678 16.4645 10.2145C15.5268 11.1521 15 12.4239 15 13.75V21.25H8.75V5H3.75V21.25C3.75 22.5761 4.27678 23.8478 5.21447 24.7855C6.15215 25.7232 7.42392 26.25 8.75 26.25Z"
                fill="white"
              />
              <path
                d="M25 13.75V8.75C25 8.41848 25.1317 8.10054 25.3661 7.86612C25.6005 7.6317 25.9185 7.5 26.25 7.5C26.5815 7.5 26.8995 7.6317 27.1339 7.86612C27.3683 8.10054 27.5 8.41848 27.5 8.75V13.75C27.5 14.0815 27.3683 14.3995 27.1339 14.6339C26.8995 14.8683 26.5815 15 26.25 15C25.9185 15 25.6005 14.8683 25.3661 14.6339C25.1317 14.3995 25 14.0815 25 13.75ZM2.5 5C2.5 4.66848 2.6317 4.35054 2.86612 4.11612C3.10054 3.8817 3.41848 3.75 3.75 3.75H8.75C9.08152 3.75 9.39946 3.8817 9.63388 4.11612C9.8683 4.35054 10 4.66848 10 5C10 5.33152 9.8683 5.64946 9.63388 5.88388C9.39946 6.1183 9.08152 6.25 8.75 6.25H3.75C3.41848 6.25 3.10054 6.1183 2.86612 5.88388C2.6317 5.64946 2.5 5.33152 2.5 5Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Instalasi Pipa
              </h5>
              <p class="text-white">
                Pemasangan pipa bagi rumah Anda yang belum memiliki aliran
                listrik. Tukang kami dapat memasang pipa baru untuk saluran air
                bersih, saluran pembuangan, sistem pemanas, dan sistem pipa
                lainnya sesuai dengan kebutuhan.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6045_7610)">
                <path
                  d="M18 8.57517C18.1 8.57517 18.2 8.52519 18.3 8.47515L20.7 6.57515H29.5C29.8 6.57515 30 6.37518 30 6.07518V4.07517C30 3.77517 29.8 3.5752 29.5 3.5752H19.5C19.3999 3.5752 19.3 3.62517 19.2 3.67521L16.85 5.57521H16.5V5.07523C16.5 4.22523 15.85 3.57525 15 3.57525C14.15 3.57525 13.5001 4.22523 13.5001 5.07523V5.57521H13.0001C12.7001 5.57521 12.5001 5.77518 12.5001 6.07518V8.07519V9.57517H11.5001C10.8501 9.57517 10.3001 9.97519 10.1001 10.5752H1.49998C0.649971 10.5752 0 11.2251 0 12.0752V17.0751C0 17.9251 0.649971 18.5751 1.49998 18.5751H2.49998V16.0751C2.49998 15.7751 2.69996 15.5751 2.99996 15.5751H4.49994V14.0752C4.49994 13.7752 4.69991 13.5752 4.99991 13.5752H6.99992C7.29992 13.5752 7.4999 13.7752 7.4999 14.0752C7.4999 14.3752 7.29992 14.5751 6.99992 14.5751H5.49994V16.0751C5.49994 16.3751 5.29997 16.5751 4.99997 16.5751H3.49999V18.5751H10.1C10.2999 19.1751 10.8499 19.5751 11.5 19.5751H18.5C19.1499 19.5751 19.6999 19.1751 19.9 18.5751H28.5C29.35 18.5751 29.9999 17.9251 29.9999 17.0751V13.5751H28.5C28.2 13.5751 28 13.3752 28 13.0752C28 12.7752 28.2 12.5752 28.5 12.5752H29.9999V12.0752C29.9999 11.2252 29.35 10.5752 28.5 10.5752H19.9C19.7 9.97524 19.15 9.57523 18.5 9.57523H17.5V8.57523H18V8.57517ZM26.4999 12.5751C26.7999 12.5751 26.9999 12.7751 26.9999 13.0751C26.9999 13.3751 26.7999 13.5751 26.4999 13.5751C26.2 13.5751 26 13.3751 26 13.0751C26 12.8251 26.25 12.5751 26.4999 12.5751ZM20 12.5751H24.5C24.8 12.5751 25 12.7751 25 13.0751C25 13.3751 24.8 13.5751 24.5 13.5751H20V12.5751ZM14.5 5.07511C14.5 4.77512 14.7 4.57514 15 4.57514C15.3 4.57514 15.4999 4.77512 15.4999 5.07511V5.57509H14.5V5.07511ZM13.5 8.57517H16.5V9.57517H13.5V8.57517ZM18.5 10.5751C18.8 10.5751 18.9999 10.7751 18.9999 11.0751V13.0751V18.0751C18.9999 18.3751 18.8 18.575 18.5 18.575H11.5C11.2 18.575 11 18.3751 11 18.0751V11.0752C11 10.7752 11.2 10.5752 11.5 10.5752H13H17H18.5V10.5751Z"
                  fill="white"
                />
                <path
                  d="M4.84978 21.8254L3.39978 19.7754C3.1998 19.5254 2.74981 19.5254 2.59975 19.7754L1.14975 21.8254C0.199725 23.1254 0.199725 24.6754 1.19973 25.6754C1.6997 26.1754 2.34974 26.4254 2.99971 26.4254C3.69972 26.4254 4.34969 26.1754 4.79968 25.6754C5.49981 24.9754 6.04982 23.7754 4.84978 21.8254Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6045_7610">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Perbaikan Pipa Bocor
              </h5>
              <p class="text-white">
                Tukang kami dapat mengidentifikasi dan memperbaiki kebocoran
                pada pipa air, pipa saluran pembuangan, atau pipa gas untuk
                mencegah kerusakan lebih lanjut dan memastikan fungsi sistem
                yang optimal.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.2756 10.3125C15.0544 10.3125 14.8969 10.1775 14.8622 10.0013C14.5472 8.40281 11.7619 8.47031 10.6594 8.40844C10.4119 8.39437 10.3125 8.22937 10.3125 8.02781V6.85406C10.3125 6.64406 10.3434 6.5625 10.6041 6.5625H19.1925C19.4091 6.5625 19.5975 6.63937 19.65 6.81L20.5734 8.85937C20.6447 9.09 20.4375 9.32531 20.1441 9.3375C19.0359 9.38438 18.2241 9.96563 17.9316 10.2084C17.8472 10.2769 17.7459 10.3125 17.6363 10.3125H15.2756ZM10.3369 20.625C10.3838 22.7822 10.6041 25.0097 10.695 25.8525C10.7175 26.055 10.92 26.25 11.1628 26.25H18.9825C19.23 26.25 19.4353 26.0803 19.4513 25.8731C19.5141 25.0491 19.6566 22.9716 19.6697 20.625H10.3369Z"
                fill="white"
              />
              <path
                d="M15.2756 10.3125C15.0544 10.3125 14.8969 10.1775 14.8622 10.0013C14.5472 8.40281 11.7619 8.47031 10.6594 8.40844C10.4119 8.39437 10.3125 8.22937 10.3125 8.02781V6.85406C10.3125 6.64406 10.3434 6.5625 10.6041 6.5625H19.1925C19.4091 6.5625 19.5975 6.63937 19.65 6.81L20.5734 8.85937C20.6447 9.09 20.4375 9.32531 20.1441 9.3375C19.0359 9.38438 18.2241 9.96563 17.9316 10.2084C17.8472 10.2769 17.7459 10.3125 17.6363 10.3125H15.2756ZM10.3369 20.625C10.3838 22.7822 10.6041 25.0097 10.695 25.8525C10.7175 26.055 10.92 26.25 11.1628 26.25H18.9825C19.23 26.25 19.4353 26.0803 19.4513 25.8731C19.5141 25.0491 19.6566 22.9716 19.6697 20.625H10.3369Z"
                fill="white"
              />
              <path
                d="M19.668 19.6875C19.6314 16.2731 19.2733 12.5663 17.9796 11.3653C17.8942 11.2856 17.7771 11.25 17.6599 11.25H15.4324C15.2196 11.25 15.0283 11.3428 14.9796 11.5163C14.0852 14.6953 11.4283 14.5837 10.7355 16.2769C10.4411 16.9969 10.3361 18.2794 10.3286 19.6875H19.668Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan Saluran
              </h5>
              <p class="text-white">
                Saluran di pipa anda tersumbat? Tukang kami membersihkan saluran
                pembuangan yang tersumbat akibat penumpukan kerak, endapan, atau
                benda asing lainnya dengan menggunakan alat khusus saluran.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.3 0C10.4808 0 9 1.4802 9 3.3V3.6H8.4V4.8H10.8V3.6H10.2V3.3C10.2 2.142 11.142 1.2 12.3 1.2C13.458 1.2 14.4 2.142 14.4 3.3V10.2H13.2V8.4H10.8L11.4 10.2H3C4.1184 14.451 7.84449 17.4 12.0961 17.4H17.9039C22.1555 17.4 25.8816 14.451 27 10.2H18.6L19.2 8.4H16.8V10.2H15.6V3.3C15.6 1.4802 14.1192 0 12.3 0ZM11.4 18.6L12.6 29.4H17.4L18.6 18.6H11.4Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Perbaikan Toilet
              </h5>
              <p class="text-white">
                Mengalami kendala di toilet Anda? Jangan khawatir. Tukang kami
                dapat membantu Anda memasang atau memperbaiki instalasi toilet,
                wastafel, shower, dan perangkat sanitasi lainnya, serta saluran
                pembuangan yang terkait..
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.2524 22.1429V27.076H10.7476V22.1429H12.3761C12.9257 22.1429 13.3724 21.6961 13.3724 21.1456V18.2061H16.6286V21.1456C16.6286 21.6961 17.0743 22.1429 17.6249 22.1429H19.2524Z"
                fill="white"
              />
              <path
                d="M19.2524 14.2686H10.7476V16.2117H19.2524V14.2686Z"
                fill="white"
              />
              <path
                d="M4.07693 12.3042C4.12836 12.2981 4.17878 12.2931 4.22819 12.2891C3.71088 12.996 3.72802 13.5627 3.80365 14.2928L3.81676 14.4138C3.85004 14.7536 3.71995 14.8938 3.61911 14.9694C3.38113 15.1479 2.9576 15.1933 2.65306 15.0712C2.16802 14.8776 1.93105 14.325 2.12466 13.84C2.49071 12.9264 3.12903 12.4242 4.07693 12.3042Z"
                fill="white"
              />
              <path
                d="M5.66338 8.18622C5.10371 8.11261 4.69934 8.28404 4.22237 8.53513L4.13564 8.58051C3.92993 8.6874 3.83615 8.62992 3.79077 8.60269C3.62741 8.50387 3.48926 8.23765 3.48926 8.02286C3.48926 7.67496 3.77262 7.3916 4.12052 7.3916C4.90707 7.3916 5.38001 7.76169 5.66338 8.18622Z"
                fill="white"
              />
              <path
                d="M8.52831 2.56721C9.26042 3.2257 9.51151 3.99914 9.29672 4.9299C9.28462 4.98032 9.27252 5.02872 9.2584 5.07713C8.77336 4.34805 8.23487 4.16856 7.52394 3.98704L7.40596 3.95679C7.07621 3.87209 6.98949 3.70066 6.95319 3.58066C6.86747 3.29528 6.97235 2.88183 7.19117 2.6378C7.37773 2.43007 7.63588 2.3252 7.89605 2.3252C8.12092 2.3252 8.34781 2.40486 8.52831 2.56721Z"
                fill="white"
              />
              <path
                d="M25.679 13.6867C25.9846 13.7996 26.1419 14.1395 26.0299 14.446C25.7778 15.1297 25.3109 15.4363 24.8501 15.5593C25.084 15.0874 25.0619 14.6689 24.9953 14.1606L24.9832 14.0659C24.956 13.8541 25.0326 13.7936 25.0699 13.7633C25.1607 13.6907 25.3109 13.6504 25.4572 13.6504C25.5358 13.6504 25.6125 13.6625 25.679 13.6867Z"
                fill="white"
              />
              <path
                d="M24.7 7.81346C24.8815 8.08674 24.9258 8.51128 24.7998 8.78052C24.7463 8.89447 24.6364 9.05077 24.2966 9.08808L24.1756 9.10018C23.4435 9.17783 22.8828 9.27867 22.2949 9.93716C22.2001 9.18388 22.3524 8.24001 23.387 7.55128C23.5968 7.41111 23.8489 7.36069 24.0979 7.4101C24.346 7.45951 24.5598 7.60371 24.7 7.81346Z"
                fill="white"
              />
              <path
                d="M28.9787 27.0757C29.5293 27.0757 29.975 27.5214 29.975 28.072C29.975 28.6226 29.5293 29.0693 28.9787 29.0693H1.0227C0.472113 29.0693 0.0253906 28.6226 0.0253906 28.072C0.0253906 27.5214 0.472113 27.0757 1.0227 27.0757H8.75514V21.1453C8.75514 20.5947 9.20085 20.149 9.75144 20.149H11.379V18.2058H9.75144C9.20085 18.2058 8.75514 17.7591 8.75514 17.2085V13.2717C8.75514 12.7211 9.20085 12.2754 9.75144 12.2754H20.2499C20.7995 12.2754 21.2462 12.7211 21.2462 13.2717V17.2085C21.2462 17.7591 20.7995 18.2058 20.2499 18.2058H18.6214V20.149H20.2499C20.7995 20.149 21.2462 20.5947 21.2462 21.1453V27.0757H28.9787ZM19.2526 27.0757V22.1426H17.6251C17.0745 22.1426 16.6288 21.6959 16.6288 21.1453V18.2058H13.3726V21.1453C13.3726 21.6959 12.9259 22.1426 12.3763 22.1426H10.7477V27.0757H19.2526ZM19.2526 16.2122V14.269H10.7477V16.2122H19.2526Z"
                fill="white"
              />
              <path
                d="M26.1601 12.3769C27.1887 12.7551 27.7171 13.8996 27.3389 14.9272C26.7319 16.579 25.3554 17.0267 24.2411 17.0267C23.8378 17.0267 23.4697 16.9682 23.1843 16.8875C22.9383 16.8169 22.7497 16.6173 22.6942 16.3662C22.6388 16.1161 22.7255 15.8549 22.9201 15.6875C23.7006 15.0149 23.6835 14.8858 23.6119 14.3423L23.5988 14.2435C23.5171 13.6042 23.7309 13.0465 24.1998 12.6724C24.7221 12.2569 25.5097 12.1379 26.1601 12.3769ZM26.03 14.4462C26.142 14.1396 25.9846 13.7998 25.6791 13.6869C25.6125 13.6627 25.5359 13.6506 25.4572 13.6506C25.311 13.6506 25.1608 13.6909 25.07 13.7635C25.0327 13.7937 24.9561 13.8543 24.9833 14.066L24.9954 14.1608C25.062 14.669 25.0841 15.0875 24.8502 15.5595C25.311 15.4364 25.7779 15.1299 26.03 14.4462Z"
                fill="white"
              />
              <path
                d="M25.8609 7.03934C26.3156 7.72102 26.3973 8.65782 26.0635 9.37077C25.7691 10.001 25.1953 10.3933 24.4481 10.474L24.322 10.4881C23.601 10.5637 23.358 10.5889 22.7076 11.8504C22.5906 12.0783 22.3577 12.2235 22.1005 12.2286C22.0965 12.2286 22.0925 12.2286 22.0874 12.2286C21.8363 12.2286 21.6034 12.0924 21.4793 11.8726C20.8108 10.6837 20.1866 8.0074 22.6128 6.38892C23.1341 6.04203 23.7583 5.919 24.3714 6.04102C24.9846 6.16404 25.514 6.519 25.8609 7.03934ZM24.8 8.77984C24.9261 8.5106 24.8817 8.08606 24.7002 7.81278C24.56 7.60303 24.3462 7.45883 24.0982 7.40942C23.8491 7.36001 23.597 7.41043 23.3872 7.5506C22.3526 8.23934 22.2004 9.1832 22.2951 9.93648C22.883 9.27799 23.4437 9.17715 24.1758 9.0995L24.2968 9.0874C24.6367 9.05009 24.7466 8.89379 24.8 8.77984Z"
                fill="white"
              />
              <path
                d="M24.8694 22.1426C25.42 22.1426 25.8657 22.5883 25.8657 23.1389C25.8657 23.6895 25.42 24.1352 24.8694 24.1352C24.3188 24.1352 23.8721 23.6895 23.8721 23.1389C23.8721 22.5883 24.3178 22.1426 24.8684 22.1426H24.8694Z"
                fill="white"
              />
              <path
                d="M11.7136 8.98633C12.2642 8.98633 12.7099 9.43305 12.7099 9.98364C12.7099 10.5332 12.2642 10.9799 11.7136 10.9799C11.163 10.9799 10.7163 10.5332 10.7163 9.98364C10.7163 9.43305 11.162 8.98633 11.7126 8.98633H11.7136Z"
                fill="white"
              />
              <path
                d="M9.46205 1.5308C11.6291 3.48105 10.6258 6.03937 9.79281 7.12038C9.6597 7.29282 9.45399 7.39164 9.2402 7.39164C9.20289 7.39164 9.16457 7.38862 9.12726 7.38257C8.87415 7.34021 8.6634 7.16374 8.58071 6.92072C8.11886 5.57853 7.88289 5.51803 7.18004 5.33954L7.05701 5.30828C6.32894 5.11971 5.81768 4.64879 5.61701 3.98324C5.39012 3.22996 5.60592 2.31433 6.15348 1.70526C7.01768 0.745256 8.50104 0.666601 9.46205 1.5308ZM9.29667 4.93013C9.51146 3.99937 9.26037 3.22593 8.52827 2.56744C8.34777 2.40509 8.12088 2.32542 7.896 2.32542C7.63583 2.32542 7.37768 2.4303 7.19113 2.63803C6.9723 2.88206 6.86743 3.29551 6.95315 3.58089C6.98945 3.70089 7.07617 3.87232 7.40592 3.95702L7.5239 3.98727C8.23483 4.16879 8.77331 4.34828 9.25836 5.07736C9.27247 5.02895 9.28457 4.98055 9.29667 4.93013Z"
                fill="white"
              />
              <path
                d="M7.47358 9.29861C7.49375 9.55475 7.37072 9.8008 7.15493 9.93895C7.03997 10.0126 6.90888 10.0499 6.77778 10.0499C6.66182 10.0499 6.54484 10.0206 6.43896 9.96114C5.50014 9.43979 5.36703 9.50937 4.87089 9.77055L4.77913 9.81794C4.19728 10.1205 3.58921 10.1124 3.06686 9.79576C2.48501 9.44282 2.09375 8.72988 2.09375 8.02298C2.09375 6.90567 3.00333 5.99609 4.12064 5.99609C6.57509 5.99609 7.38686 8.1571 7.47358 9.29861ZM4.22249 8.53525C4.69946 8.28416 5.10383 8.11273 5.6635 8.18635C5.38014 7.76181 4.9072 7.39172 4.12064 7.39172C3.77274 7.39172 3.48938 7.67509 3.48938 8.02298C3.48938 8.23777 3.62753 8.50399 3.79089 8.60282C3.83627 8.63004 3.93005 8.68752 4.13577 8.58063L4.22249 8.53525Z"
                fill="white"
              />
              <path
                d="M6.43698 11.6172C6.48538 11.8693 6.3916 12.1275 6.19295 12.2898C5.09278 13.1863 5.11799 13.4293 5.19261 14.1503L5.20471 14.2764C5.27933 15.0246 5.01412 15.6669 4.45849 16.0854C4.06421 16.3809 3.55093 16.5362 3.03563 16.5362C2.72807 16.5362 2.4195 16.4807 2.13513 16.3678C0.936138 15.8878 0.350256 14.5224 0.829248 13.3234C1.91227 10.6159 4.66017 10.6743 5.96202 11.0838C6.20605 11.1604 6.38958 11.3651 6.43698 11.6172ZM4.22858 12.2898C4.17916 12.2938 4.12874 12.2989 4.07731 12.3049C3.12942 12.4249 2.4911 12.9271 2.12505 13.8407C1.93143 14.3258 2.16841 14.8784 2.65345 15.072C2.95799 15.194 3.38152 15.1486 3.6195 14.9701C3.72034 14.8945 3.85042 14.7543 3.81715 14.4145L3.80404 14.2935C3.72841 13.5634 3.71126 12.9967 4.22858 12.2898Z"
                fill="white"
              />
              <path
                d="M3.49145 20.498C4.04204 20.498 4.48775 20.9438 4.48775 21.4943C4.48775 22.0449 4.04204 22.4907 3.49145 22.4907C2.94086 22.4907 2.49414 22.0449 2.49414 21.4943C2.49414 20.9438 2.93986 20.498 3.49044 20.498H3.49145Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Sistem Irigasi
              </h5>
              <p class="text-white">
                Mencari cara efektif untuk memastikan tanaman Anda mendapatkan
                pasokan air yang tepat? Kami dapat membantu untuk memasang atau
                memperbaiki sistem irigasi untuk kebutuhan pertanian dan taman
                dengan memastikan distribusi air yang merata.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
