<script setup>
import { ref, onMounted, onUnmounted } from "vue";

const isTop = ref(true);

const handleScroll = () => {
  isTop.value = window.scrollY < 10;
};

onMounted(() => {
  window.addEventListener("scroll", handleScroll);

  onUnmounted(() => {
    window.removeEventListener("scroll", handleScroll);
  });
});
</script>

<template>
  <div class="hover:opacity-100 opacity-50 duration-300">
    <!-- BUTTON Butuh Bantuan -->
    <a
      target="_blank"
      href="https://wa.me/+628113288966?text=Halo%20kak,%20saya%20ingin%20bertanya-tanya%20mengenai%20TukanginAja"
    >
      <button class="fixed bottom-20 right-16 md:right-24 z-10 md:block">
        <img
          src="/icon/Butuhbantuan.png"
          alt="Description"
          class="w-auto h-16 md:h-28 transition-opacity duration-300"
          :class="isTop ? 'opacity-0' : 'opacity-100'"
        />
      </button>
    </a>

    <!-- BUTTON CS-->
    <a
      target="_blank"
      href="https://wa.me/+628113288966?text=Halo%20kak,%20saya%20ingin%20bertanya-tanya%20mengenai%20TukanginAja"
    >
      <button class="fixed bottom-20 right-2.5 z-10 md:block">
        <img
          src="/icon/Cs.png"
          alt="Description"
          class="w-auto h-16 md:h-28 transition-opacity duration-300"
          :class="isTop ? 'opacity-0' : 'opacity-100'"
        />
      </button>
    </a>
  </div>
</template>
