<script setup>
import { onMounted } from "vue";

onMounted(() => {
  const callback = function (entries) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fadeIn");
      } else {
        entry.target.classList.remove("animate-fadeIn");
      }
    });
  };

  const observer = new IntersectionObserver(callback);

  const targets = document.querySelectorAll(".scroll");
  targets.forEach((target) => {
    target.classList.add("opacity-0");
    observer.observe(target);
  });
});
</script>
<template>
  <!--1-->
  <div>
    <div
      class="mt-4 rounded-3xl overflow-hidden shadow-lg bg-[#14B6B8] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll"
    >
      <!-- Gambar Utama -->
      <img class="w-full" src="/Card/Tukang_AC.png" alt="Main Image" />

      <!-- Judul Tukang Cat -->

      <!-- 3 Gambar Kecil Sejajar -->
      <div class="grid place-items-center grid-cols-3 gap-1 p-2">
        <div class="flex items-center justify-center mx-auto space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.0401 3.24021C6.22704 1.05327 9.77276 1.05327 11.9597 3.24021C14.1466 5.42714 14.1466 8.97287 11.9597 11.1598L7.9999 15.1196L4.0401 11.1598C1.85317 8.97287 1.85317 5.42714 4.0401 3.24021ZM7.9999 8.80001C8.88356 8.80001 9.5999 8.08366 9.5999 7.20001C9.5999 6.31635 8.88356 5.60001 7.9999 5.60001C7.11625 5.60001 6.3999 6.31635 6.3999 7.20001C6.3999 8.08366 7.11625 8.80001 7.9999 8.80001Z"
              fill="#D9FFDA"
            />
          </svg>
          <p class="card text-white">Surabaya</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M2.15869 13C3.0423 11.5262 4.97888 10.5175 8.00021 10.5175C11.0215 10.5175 12.9581 11.5262 13.8417 13M10.4002 5.4C10.4002 6.72548 9.32569 7.8 8.00021 7.8C6.67472 7.8 5.60021 6.72548 5.60021 5.4C5.60021 4.07452 6.67472 3 8.00021 3C9.32569 3 10.4002 4.07452 10.4002 5.4Z"
              stroke="#DFEDFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <p class="card text-white">200k+</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M7.66339 1.80928C7.8011 1.53025 8.19899 1.53025 8.3367 1.80928L10.1194 5.42136C10.1741 5.53217 10.2798 5.60896 10.402 5.62673L14.3882 6.20596C14.6961 6.2507 14.8191 6.62912 14.5963 6.84631L11.7119 9.65793C11.6234 9.74417 11.583 9.86844 11.6039 9.99022L12.2848 13.9603C12.3374 14.267 12.0155 14.5008 11.7401 14.356L8.17475 12.4816C8.06538 12.4241 7.93472 12.4241 7.82535 12.4816L4.26001 14.356C3.98459 14.5008 3.66269 14.267 3.71529 13.9603L4.39621 9.99022C4.4171 9.86844 4.37672 9.74417 4.28824 9.65793L1.40382 6.84631C1.181 6.62912 1.30396 6.2507 1.61189 6.20596L5.59806 5.62673C5.72033 5.60896 5.82604 5.53217 5.88073 5.42136L7.66339 1.80928Z"
              fill="#F7BE2C"
            />
          </svg>
          <p class="card text-white">4.9</p>
        </div>
      </div>
      <h1
        class="ml-5 mb-5 mt-5 text-start text-3xl font-semibold t- py-2 text-white"
      >
        Tukang AC
      </h1>
    </div>
  </div>

  <!--2-->
  <div>
    <div
      class="mt-4 rounded-3xl overflow-hidden shadow-lg bg-[#14B6B8] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll"
    >
      <!-- Gambar Utama -->
      <img class="w-full" src="/Card/Tukang_Taman.png" alt="Main Image" />

      <!-- Judul Tukang Cat -->

      <!-- 3 Gambar Kecil Sejajar -->
      <div class="grid place-items-center grid-cols-3 gap-1 p-2">
        <div class="flex items-center justify-center mx-auto space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.0401 3.24021C6.22704 1.05327 9.77276 1.05327 11.9597 3.24021C14.1466 5.42714 14.1466 8.97287 11.9597 11.1598L7.9999 15.1196L4.0401 11.1598C1.85317 8.97287 1.85317 5.42714 4.0401 3.24021ZM7.9999 8.80001C8.88356 8.80001 9.5999 8.08366 9.5999 7.20001C9.5999 6.31635 8.88356 5.60001 7.9999 5.60001C7.11625 5.60001 6.3999 6.31635 6.3999 7.20001C6.3999 8.08366 7.11625 8.80001 7.9999 8.80001Z"
              fill="#D9FFDA"
            />
          </svg>
          <p class="card text-white">Surabaya</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M2.15869 13C3.0423 11.5262 4.97888 10.5175 8.00021 10.5175C11.0215 10.5175 12.9581 11.5262 13.8417 13M10.4002 5.4C10.4002 6.72548 9.32569 7.8 8.00021 7.8C6.67472 7.8 5.60021 6.72548 5.60021 5.4C5.60021 4.07452 6.67472 3 8.00021 3C9.32569 3 10.4002 4.07452 10.4002 5.4Z"
              stroke="#DFEDFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <p class="card text-white">200k+</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M7.66339 1.80928C7.8011 1.53025 8.19899 1.53025 8.3367 1.80928L10.1194 5.42136C10.1741 5.53217 10.2798 5.60896 10.402 5.62673L14.3882 6.20596C14.6961 6.2507 14.8191 6.62912 14.5963 6.84631L11.7119 9.65793C11.6234 9.74417 11.583 9.86844 11.6039 9.99022L12.2848 13.9603C12.3374 14.267 12.0155 14.5008 11.7401 14.356L8.17475 12.4816C8.06538 12.4241 7.93472 12.4241 7.82535 12.4816L4.26001 14.356C3.98459 14.5008 3.66269 14.267 3.71529 13.9603L4.39621 9.99022C4.4171 9.86844 4.37672 9.74417 4.28824 9.65793L1.40382 6.84631C1.181 6.62912 1.30396 6.2507 1.61189 6.20596L5.59806 5.62673C5.72033 5.60896 5.82604 5.53217 5.88073 5.42136L7.66339 1.80928Z"
              fill="#F7BE2C"
            />
          </svg>
          <p class="card text-white">4.9</p>
        </div>
      </div>
      <h1
        class="ml-5 mb-5 mt-5 text-start text-3xl font-semibold py-2 text-white"
      >
        Tukang Taman
      </h1>
    </div>
  </div>

  <!--3-->
  <div>
    <div
      class="mt-4 rounded-3xl overflow-hidden shadow-lg bg-[#14B6B8] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll"
    >
      <!-- Gambar Utama -->
      <img class="w-full" src="/Card/Tukang_CCTV.png" alt="Main Image" />

      <!-- Judul Tukang Cat -->

      <!-- 3 Gambar Kecil Sejajar -->
      <div class="grid place-items-center grid-cols-3 gap-1 p-2">
        <div class="flex items-center justify-center mx-auto space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.0401 3.24021C6.22704 1.05327 9.77276 1.05327 11.9597 3.24021C14.1466 5.42714 14.1466 8.97287 11.9597 11.1598L7.9999 15.1196L4.0401 11.1598C1.85317 8.97287 1.85317 5.42714 4.0401 3.24021ZM7.9999 8.80001C8.88356 8.80001 9.5999 8.08366 9.5999 7.20001C9.5999 6.31635 8.88356 5.60001 7.9999 5.60001C7.11625 5.60001 6.3999 6.31635 6.3999 7.20001C6.3999 8.08366 7.11625 8.80001 7.9999 8.80001Z"
              fill="#D9FFDA"
            />
          </svg>
          <p class="card text-white">Surabaya</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M2.15869 13C3.0423 11.5262 4.97888 10.5175 8.00021 10.5175C11.0215 10.5175 12.9581 11.5262 13.8417 13M10.4002 5.4C10.4002 6.72548 9.32569 7.8 8.00021 7.8C6.67472 7.8 5.60021 6.72548 5.60021 5.4C5.60021 4.07452 6.67472 3 8.00021 3C9.32569 3 10.4002 4.07452 10.4002 5.4Z"
              stroke="#DFEDFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <p class="card text-white">200k+</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M7.66339 1.80928C7.8011 1.53025 8.19899 1.53025 8.3367 1.80928L10.1194 5.42136C10.1741 5.53217 10.2798 5.60896 10.402 5.62673L14.3882 6.20596C14.6961 6.2507 14.8191 6.62912 14.5963 6.84631L11.7119 9.65793C11.6234 9.74417 11.583 9.86844 11.6039 9.99022L12.2848 13.9603C12.3374 14.267 12.0155 14.5008 11.7401 14.356L8.17475 12.4816C8.06538 12.4241 7.93472 12.4241 7.82535 12.4816L4.26001 14.356C3.98459 14.5008 3.66269 14.267 3.71529 13.9603L4.39621 9.99022C4.4171 9.86844 4.37672 9.74417 4.28824 9.65793L1.40382 6.84631C1.181 6.62912 1.30396 6.2507 1.61189 6.20596L5.59806 5.62673C5.72033 5.60896 5.82604 5.53217 5.88073 5.42136L7.66339 1.80928Z"
              fill="#F7BE2C"
            />
          </svg>
          <p class="card text-white">4.9</p>
        </div>
      </div>
      <h1
        class="ml-5 mb-5 mt-5 text-start text-3xl font-semibold py-2 text-white"
      >
        Tukang CCTV
      </h1>
    </div>
  </div>

  <!--4-->
  <div>
    <div
      class="mt-4 rounded-3xl overflow-hidden shadow-lg bg-[#14B6B8] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll"
    >
      <!-- Gambar Utama -->
      <img class="w-full" src="/Card/Tukang_Listrik.png" alt="Main Image" />

      <!-- Judul Tukang Cat -->

      <!-- 3 Gambar Kecil Sejajar -->
      <div class="grid place-items-center grid-cols-3 gap-1 p-2">
        <div class="flex items-center justify-center mx-auto space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.0401 3.24021C6.22704 1.05327 9.77276 1.05327 11.9597 3.24021C14.1466 5.42714 14.1466 8.97287 11.9597 11.1598L7.9999 15.1196L4.0401 11.1598C1.85317 8.97287 1.85317 5.42714 4.0401 3.24021ZM7.9999 8.80001C8.88356 8.80001 9.5999 8.08366 9.5999 7.20001C9.5999 6.31635 8.88356 5.60001 7.9999 5.60001C7.11625 5.60001 6.3999 6.31635 6.3999 7.20001C6.3999 8.08366 7.11625 8.80001 7.9999 8.80001Z"
              fill="#D9FFDA"
            />
          </svg>
          <p class="card text-white">Surabaya</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M2.15869 13C3.0423 11.5262 4.97888 10.5175 8.00021 10.5175C11.0215 10.5175 12.9581 11.5262 13.8417 13M10.4002 5.4C10.4002 6.72548 9.32569 7.8 8.00021 7.8C6.67472 7.8 5.60021 6.72548 5.60021 5.4C5.60021 4.07452 6.67472 3 8.00021 3C9.32569 3 10.4002 4.07452 10.4002 5.4Z"
              stroke="#DFEDFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <p class="card text-white">200k+</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M7.66339 1.80928C7.8011 1.53025 8.19899 1.53025 8.3367 1.80928L10.1194 5.42136C10.1741 5.53217 10.2798 5.60896 10.402 5.62673L14.3882 6.20596C14.6961 6.2507 14.8191 6.62912 14.5963 6.84631L11.7119 9.65793C11.6234 9.74417 11.583 9.86844 11.6039 9.99022L12.2848 13.9603C12.3374 14.267 12.0155 14.5008 11.7401 14.356L8.17475 12.4816C8.06538 12.4241 7.93472 12.4241 7.82535 12.4816L4.26001 14.356C3.98459 14.5008 3.66269 14.267 3.71529 13.9603L4.39621 9.99022C4.4171 9.86844 4.37672 9.74417 4.28824 9.65793L1.40382 6.84631C1.181 6.62912 1.30396 6.2507 1.61189 6.20596L5.59806 5.62673C5.72033 5.60896 5.82604 5.53217 5.88073 5.42136L7.66339 1.80928Z"
              fill="#F7BE2C"
            />
          </svg>
          <p class="card text-white">4.9</p>
        </div>
      </div>
      <h1
        class="ml-5 mb-5 mt-5 text-start text-3xl font-semibold py-2 text-white"
      >
        Tukang Listrik
      </h1>
    </div>
  </div>

  <!--5-->
  <div>
    <div
      class="mt-4 rounded-3xl overflow-hidden shadow-lg bg-[#14B6B8] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll"
    >
      <!-- Gambar Utama -->
      <img class="w-full" src="/Card/Tukang_Pipa.png" alt="Main Image" />

      <!-- Judul Tukang Cat -->

      <!-- 3 Gambar Kecil Sejajar -->
      <div class="grid place-items-center grid-cols-3 gap-1 p-2">
        <div class="flex items-center justify-center mx-auto space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.0401 3.24021C6.22704 1.05327 9.77276 1.05327 11.9597 3.24021C14.1466 5.42714 14.1466 8.97287 11.9597 11.1598L7.9999 15.1196L4.0401 11.1598C1.85317 8.97287 1.85317 5.42714 4.0401 3.24021ZM7.9999 8.80001C8.88356 8.80001 9.5999 8.08366 9.5999 7.20001C9.5999 6.31635 8.88356 5.60001 7.9999 5.60001C7.11625 5.60001 6.3999 6.31635 6.3999 7.20001C6.3999 8.08366 7.11625 8.80001 7.9999 8.80001Z"
              fill="#D9FFDA"
            />
          </svg>
          <p class="card text-white">Surabaya</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M2.15869 13C3.0423 11.5262 4.97888 10.5175 8.00021 10.5175C11.0215 10.5175 12.9581 11.5262 13.8417 13M10.4002 5.4C10.4002 6.72548 9.32569 7.8 8.00021 7.8C6.67472 7.8 5.60021 6.72548 5.60021 5.4C5.60021 4.07452 6.67472 3 8.00021 3C9.32569 3 10.4002 4.07452 10.4002 5.4Z"
              stroke="#DFEDFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <p class="card text-white">200k+</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M7.66339 1.80928C7.8011 1.53025 8.19899 1.53025 8.3367 1.80928L10.1194 5.42136C10.1741 5.53217 10.2798 5.60896 10.402 5.62673L14.3882 6.20596C14.6961 6.2507 14.8191 6.62912 14.5963 6.84631L11.7119 9.65793C11.6234 9.74417 11.583 9.86844 11.6039 9.99022L12.2848 13.9603C12.3374 14.267 12.0155 14.5008 11.7401 14.356L8.17475 12.4816C8.06538 12.4241 7.93472 12.4241 7.82535 12.4816L4.26001 14.356C3.98459 14.5008 3.66269 14.267 3.71529 13.9603L4.39621 9.99022C4.4171 9.86844 4.37672 9.74417 4.28824 9.65793L1.40382 6.84631C1.181 6.62912 1.30396 6.2507 1.61189 6.20596L5.59806 5.62673C5.72033 5.60896 5.82604 5.53217 5.88073 5.42136L7.66339 1.80928Z"
              fill="#F7BE2C"
            />
          </svg>
          <p class="card text-white">4.9</p>
        </div>
      </div>
      <h1
        class="ml-5 mb-5 mt-5 text-start text-3xl font-semibold py-2 text-white"
      >
        Tukang Pipa
      </h1>
    </div>
  </div>

  <!--6-->
  <div>
    <div
      class="mt-4 rounded-3xl overflow-hidden shadow-lg bg-[#14B6B8] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 scroll"
    >
      <!-- Gambar Utama -->
      <img class="w-full" src="/Card/Home_Cleanning.png" alt="Main Image" />

      <!-- Judul Tukang Cat -->

      <!-- 3 Gambar Kecil Sejajar -->
      <div class="grid place-items-center grid-cols-3 gap-1 p-2">
        <div class="flex items-center justify-center mx-auto space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.0401 3.24021C6.22704 1.05327 9.77276 1.05327 11.9597 3.24021C14.1466 5.42714 14.1466 8.97287 11.9597 11.1598L7.9999 15.1196L4.0401 11.1598C1.85317 8.97287 1.85317 5.42714 4.0401 3.24021ZM7.9999 8.80001C8.88356 8.80001 9.5999 8.08366 9.5999 7.20001C9.5999 6.31635 8.88356 5.60001 7.9999 5.60001C7.11625 5.60001 6.3999 6.31635 6.3999 7.20001C6.3999 8.08366 7.11625 8.80001 7.9999 8.80001Z"
              fill="#D9FFDA"
            />
          </svg>
          <p class="card text-white">Surabaya</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M2.15869 13C3.0423 11.5262 4.97888 10.5175 8.00021 10.5175C11.0215 10.5175 12.9581 11.5262 13.8417 13M10.4002 5.4C10.4002 6.72548 9.32569 7.8 8.00021 7.8C6.67472 7.8 5.60021 6.72548 5.60021 5.4C5.60021 4.07452 6.67472 3 8.00021 3C9.32569 3 10.4002 4.07452 10.4002 5.4Z"
              stroke="#DFEDFF"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          <p class="card text-white">200k+</p>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M7.66339 1.80928C7.8011 1.53025 8.19899 1.53025 8.3367 1.80928L10.1194 5.42136C10.1741 5.53217 10.2798 5.60896 10.402 5.62673L14.3882 6.20596C14.6961 6.2507 14.8191 6.62912 14.5963 6.84631L11.7119 9.65793C11.6234 9.74417 11.583 9.86844 11.6039 9.99022L12.2848 13.9603C12.3374 14.267 12.0155 14.5008 11.7401 14.356L8.17475 12.4816C8.06538 12.4241 7.93472 12.4241 7.82535 12.4816L4.26001 14.356C3.98459 14.5008 3.66269 14.267 3.71529 13.9603L4.39621 9.99022C4.4171 9.86844 4.37672 9.74417 4.28824 9.65793L1.40382 6.84631C1.181 6.62912 1.30396 6.2507 1.61189 6.20596L5.59806 5.62673C5.72033 5.60896 5.82604 5.53217 5.88073 5.42136L7.66339 1.80928Z"
              fill="#F7BE2C"
            />
          </svg>
          <p class="card text-white">4.9</p>
        </div>
      </div>
      <h1
        class="ml-5 mb-5 mt-5 text-start text-3xl font-semibold py-2 text-white"
      >
        Home Cleanning
      </h1>
    </div>
  </div>
</template>
