<template>
  <footer class="relative bg-[#093D77]">
    <!-- BAGIAN UTAMA -->
    <div
      class="container flex items-center justify-center mx-auto lg:p-4 xl:p-0"
    >
      <div
        class="flex items-center md:h-[300px] xl:w-[1000px] xl:h-[200px] 2xl:w-auto z-0"
      >
        <div class="md:p-0 p-4 mb-10 mt-[-300px]">
          <div
            class="bg-gray-50 mx-auto flex flex-col md:flex-row items-center w-full 2xl:h-[650px] md:h-[500px] xl:h-[500px] rounded-3xl shadow-2xl !px-4"
          >
            <div class="w-full p-4 md:w-1/2">
              <h1
                class="mb-2 font-bold sm:text-xl md:text-xl xl:text-3xl sans3 lg:text-3xl"
              >
                Gak perlu repot lagi untuk
                <span class="text-[#14B6B8]">cari tukang</span>, sekarang kamu
                tinggal buka Handphone aja
              </h1>
              <p class="footertext-p1 !text-lg md:text-xl">
                Nikmati banyak pilihan tukang, promo, dan fitur eksklusif di
                <span class="text-[#14B6B8]">TukanginAja.id</span>
              </p>
              <p class="footertext-p1 mt-3 !text-xl md:text-2xl">
                Download aplikasi
                <span class="text-[#14B6B8]">TukanginAja.id</span> sekarang
                juga.
              </p>
              <div class="flex mt-4 space-x-4 p-4 lg:w-[150%] xl:w-full">
                <a href="#">
                  <img
                    src="/Component/GooglePlay.png"
                    alt="Gambar Google Play"
                    class="w-auto h-10 md:h-16 lg:w-30 lg:h-30 xl:h-20"
                  />
                </a>
                <a href="">
                  <img
                    src="/Component/AppStore.png"
                    alt="Gambar App Store"
                    class="w-auto h-10 md:h-16 lg:w-30 lg:h-30 xl:h-20"
                /></a>
              </div>
            </div>

            <!-- Ini adalah bagian gambar (ditambahkan kelas hidden pada mode kecil) -->
            <div
              class="md:w-full lg:h-[450px] xl:w-1/2 xl:h-[500px] 2xl:h-auto] flex justify-center items-center"
            >
              <img
                src="/Hero/HP.png"
                alt="Deskripsi Gambar"
                class="hidden object-cover max-w-full max-h-full mb-10 rounded-3xl md:block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- END BAGIAN UTAMA -->

    <!-- Bagian Kaki -->
    <div class="w-11/12 mx-auto py-28 flex flex-col md:flex-row relative">
      <div class="w-full md:w-2/6">
        <div class="flex flex-col md:flex-row">
          <a href="">
            <img src="/icon/tukanglingkaran.png" class="h-8 absolute" />
          </a>
          <a href="">
            <span
              class="ml-10 self-center text-2xl font-semibold text-white whitespace-nowrap fonthero"
            >
              TukanginAja.id</span
            >
          </a>
        </div>
        <div class="md:ml-10 my-6">
          <router-link
            to="/TentangKami"
            class="text-2xl text-white footertext-p1 hover:underline"
          >
            Tentang Kami
          </router-link>
        </div>
        <hr class="w-full border-1 border-white mb-5 block md:hidden" />
      </div>
      <div class="flex-1">
        <h2 class="mb-6 text-xl font-semibold text-white">Kategori</h2>
        <ul class="text-white">
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Tukang Ac</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Tukang Pijat</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Kelistrikan</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Lainya</router-link
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <h2 class="mb-6 text-xl font-semibold text-white">Menjadi Mitra</h2>
        <ul class="text-white">
          <li class="mb-4">
            <router-link to="/Mitra" class="hover:underline"
              >Cara Kerja</router-link
            >
          </li>
          <li class="mb-4">
            <a
              href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/viewform?edit_requested=true"
              target="_blank"
              class="hover:underline"
              >Daftar Mitra</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <h2 class="mb-6 text-xl font-semibold text-white">Hubungi Kami</h2>
        <ul class="text-white">
          <li class="mb-4">
            <router-link to="/Kontak" class="hover:underline"
              >Bantuan</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/kebijakan" class="hover:underline"
              >Kebijakan Privasi</router-link
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Bagian footer bawah dengan full width -->
    <div class="m-0 bg-white shadow">
      <div
        class="flex flex-col items-center justify-center px-4 py-6 md:px-8 md:flex-row md:justify-between"
      >
        <span
          class="mb-4 text-sm text-gray-400 md:text-xl sm:text-center md:mb-0"
        >
          <a href="#" class="font-bold text-gray-500 hover:underline"
            >Copyright © 2023 PT JOYO SEJAHTERA SENTOSA EKAPRIMA. All rights
            reserved.</a
          >
          All Rights Reserved.
        </span>
        <ul
          class="flex flex-wrap items-center mt-4 space-x-6 text-sm font-medium text-gray-500 md:flex-row md:mt-0 dark:text-gray-400 md:space-x-6"
        >
          <li>
            <a
              href="https://wa.me/+628113288966?text=Halo%20kak,%20saya%20ingin%20bertanya-tanya%20mengenai%20TukanginAja"
              class="mb-2 md:mb-0"
              ><img src="/icon/WhatsApp.png" target="_blank" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/tukanginajaid?igsh=d2o1OWZ6ZHIyMGIz"
              target="_blank"
              class="mb-2 md:mb-0"
              ><img src="/icon/Instagram.png" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@tukanginaja"
              target="_blank"
              class="mb-2 md:mb-0"
              ><img src="/icon/TikTok.png" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=61553346410387"
              target="_blank"
              class=""
              ><img src="/icon/Facebook.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
