<template>
  <div class="flex justify-center">
    <div
      class="container grid grid-cols-1 xl:grid-cols-2 w-full place-content-center p-4"
    >
      <div class="w-full">
        <h1 class="text-center font-semibold text-2xl xl:text-4xl sans3">
          Ini yang harus disiapkan oleh
          <span class="text-[#14B6B8]">Tukang</span>
        </h1>
        <div
          class="h-full grid grid-cols-3 lg:grid-cols-3 place-content-center gap-5"
        >
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/atap/meteran.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 xl:text-xl font-semibold">Meteran</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/atap/sarungtangan.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Sarung Tangan</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/atap/tang.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Tang</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/atap/sekrup.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Sekrup</h1>
          </div>
          <div
            class="flex justify-center items-center flex-col text-center space-y-3"
          >
            <img
              src="/layanankami/atap/lampusenter.svg"
              alt=""
              class="md:h-[120px] h-[85px] md:w-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Lampu Senter</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/atap/palu.svg"
              alt=""
              class="h-[85px] md:h-[120px]"
            />
            <h1 class="sans3 text-xl font-semibold">Palu</h1>
          </div>
        </div>
      </div>

      <div class="hidden xl:flex justify-center">
        <img src="/layanankami/tukangsiap.svg" alt="" />
      </div>
    </div>
  </div>
</template>
