<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Atap Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6127_10005)">
                <path
                  d="M29.8937 0.386392C29.7985 0.26452 29.6526 0.193359 29.4986 0.193359H21.4757H13.2442C13.2071 0.193359 13.1735 0.208931 13.1379 0.216923C13.0912 0.202409 13.0421 0.193359 12.992 0.193359H12.9514H4.92838H4.80204C4.56388 0.193359 4.35827 0.36083 4.31062 0.593997L3.71994 3.47826C3.71941 3.47873 3.71894 3.47926 3.71894 3.48026L2.51045 9.37459L1.30148 15.2695C1.30096 15.271 1.30096 15.273 1.30048 15.2745L0.0925192 21.1639C-0.407426 23.6013 1.16909 25.9917 3.60659 26.4916C3.91145 26.5543 4.21483 26.5839 4.5147 26.5839C5.89765 26.5839 7.1853 25.9405 8.02977 24.892C8.47154 26.4686 9.75472 27.7522 11.4661 28.1032C11.771 28.1659 12.0748 28.1955 12.3742 28.1955C13.7576 28.1955 15.0449 27.5521 15.8893 26.5041C16.331 28.0801 17.6142 29.3638 19.3256 29.7148C19.6305 29.7775 19.9343 29.8071 20.2337 29.8071C22.3312 29.8071 24.2161 28.3338 24.6534 26.2007L25.8618 20.3084C25.8618 20.3074 25.8623 20.3064 25.8623 20.3059L27.0703 14.4155C27.0703 14.414 27.0708 14.4125 27.0708 14.4115L28.2788 8.52166C28.2788 8.52114 28.2792 8.52014 28.2792 8.51967L29.4777 2.85397C29.4807 2.8384 29.4842 2.82236 29.4872 2.80732L29.9852 0.816646C30.0227 0.666744 29.9885 0.507735 29.8937 0.386392ZM20.7968 1.19625C20.1238 2.79133 18.2028 3.89194 16.503 3.54243C15.2624 3.28822 14.2651 2.37712 13.877 1.19625H20.7968ZM4.70173 3.68234L5.11089 1.68362C5.87556 2.43277 7.09357 3.20196 8.43839 3.20196C9.56409 3.20196 11.0539 2.77876 12.1655 2.0953L11.5783 5.09186C11.4855 5.54315 11.3076 5.95483 11.0674 6.31786C11.0554 6.3359 11.0448 6.356 11.0323 6.37404C11.0048 6.41417 10.9731 6.45078 10.9441 6.48939C10.1528 7.5394 8.80242 8.10551 7.43504 7.82522C7.24753 7.78708 7.06748 7.73044 6.89349 7.66374C6.87145 7.65569 6.84936 7.64817 6.82832 7.63965C6.65733 7.57043 6.49338 7.48822 6.33743 7.39444C6.32338 7.38592 6.30987 7.3774 6.29582 7.36888C5.80892 7.06602 5.40529 6.64834 5.11647 6.15844C5.10643 6.1414 5.09544 6.12436 5.08539 6.10679C4.99966 5.95436 4.92544 5.79541 4.86274 5.63141C4.85222 5.60385 4.8427 5.57623 4.83265 5.54867C4.77401 5.3832 4.72583 5.2132 4.69227 5.03874C4.68875 5.02017 4.68728 5.00113 4.68422 4.98309C4.65214 4.79905 4.6321 4.61154 4.6311 4.4205C4.6311 4.41898 4.63057 4.41751 4.63057 4.41551C4.63151 4.15367 4.65561 3.90699 4.70173 3.68234ZM7.65516 19.106C6.87239 19.6229 5.93426 19.8015 5.01764 19.6144C4.89982 19.5903 4.785 19.5608 4.67318 19.5257C4.65261 19.5192 4.63304 19.5102 4.613 19.5037C4.52075 19.473 4.42949 19.441 4.34123 19.4033C4.33424 19.4004 4.32819 19.3964 4.32119 19.3938C2.95028 18.7971 2.09083 17.3731 2.22822 15.8612C2.22921 15.8487 2.22874 15.8362 2.23021 15.8242C2.24226 15.7068 2.25977 15.589 2.28386 15.4712L2.92372 12.3528C2.92672 12.3588 2.93124 12.3643 2.93424 12.3708C3.00646 12.5082 3.08467 12.6421 3.1704 12.7714C3.18392 12.792 3.19996 12.811 3.214 12.8316C3.28769 12.9394 3.36496 13.0442 3.4477 13.1455C3.48178 13.1866 3.51939 13.2253 3.555 13.2659C3.62216 13.3426 3.69091 13.4183 3.7636 13.49C3.80673 13.5326 3.85186 13.5727 3.89646 13.6138C3.96768 13.679 4.03984 13.7422 4.11559 13.8029C4.16471 13.842 4.21489 13.8801 4.26549 13.9172C4.3427 13.9739 4.42191 14.0281 4.50265 14.0802C4.55583 14.1143 4.60948 14.1479 4.66413 14.18C4.74986 14.2296 4.83765 14.2752 4.92685 14.3193C4.9815 14.3469 5.03515 14.375 5.09132 14.4001C5.19063 14.4442 5.29394 14.4828 5.39771 14.5204C5.44683 14.5385 5.49496 14.559 5.54514 14.5751C5.7011 14.6252 5.86005 14.6689 6.02399 14.7024C6.18894 14.736 6.35241 14.7591 6.51589 14.7741C6.56701 14.7786 6.61819 14.7786 6.66931 14.7816C6.75657 14.7871 6.84483 14.7951 6.93204 14.7951C6.95713 14.7951 6.98169 14.7921 7.00725 14.7916C7.05391 14.7911 7.10004 14.7876 7.14664 14.7856C7.25746 14.7801 7.36729 14.7711 7.47605 14.7575C7.52418 14.752 7.57184 14.746 7.61949 14.739C7.74436 14.7194 7.8677 14.6948 7.99004 14.6647C8.0146 14.6587 8.04017 14.6547 8.06473 14.6487C8.20963 14.6106 8.35102 14.565 8.49046 14.5133C8.53006 14.4983 8.56867 14.4812 8.6078 14.4657C8.70911 14.4245 8.80889 14.3809 8.90667 14.3328C8.95127 14.3112 8.9954 14.2892 9.03906 14.2656C9.13737 14.2135 9.23262 14.1578 9.3264 14.0986C9.36001 14.0776 9.39462 14.0585 9.42771 14.0365C9.55005 13.9552 9.6684 13.8685 9.78275 13.7752C9.78827 13.7707 9.79479 13.7672 9.80032 13.7622L9.16099 16.8811C9.13995 16.9848 9.11286 17.0861 9.08278 17.1864C9.07978 17.1975 9.07778 17.2085 9.07425 17.2195C8.83504 17.9932 8.34015 18.6541 7.65516 19.106ZM15.8115 24.3875C15.623 25.3061 15.0884 26.0959 14.3056 26.6124C13.5224 27.1288 12.5847 27.3083 11.6676 27.1208C10.749 26.9323 9.95921 26.3972 9.44275 25.615C8.92629 24.8318 8.74578 23.8951 8.93429 22.9769L9.57308 19.862C9.57561 19.866 9.57808 19.8696 9.58014 19.8736C9.65136 20.0095 9.72904 20.1428 9.81483 20.2722C10.4783 21.2786 11.4947 21.9661 12.675 22.2082C12.826 22.2393 12.9769 22.2619 13.1278 22.2774C13.1484 22.2794 13.1684 22.279 13.189 22.281C13.554 22.3136 13.918 22.2995 14.2751 22.2439C14.3062 22.2394 14.3378 22.2364 14.3689 22.2308C14.4641 22.2138 14.5579 22.1917 14.6517 22.1687C14.6883 22.1596 14.7254 22.1516 14.762 22.1416C14.8517 22.117 14.9405 22.0884 15.0292 22.0583C15.0688 22.0448 15.1084 22.0312 15.1476 22.0167C15.2318 21.9851 15.3146 21.9516 15.3973 21.9154C15.4404 21.8958 15.483 21.8758 15.5262 21.8552C15.6034 21.8182 15.6801 21.78 15.7558 21.7384C15.8029 21.7123 15.8481 21.6838 15.8942 21.6567C15.9514 21.6221 16.0106 21.5915 16.0667 21.5544C16.0797 21.5459 16.0908 21.5358 16.1038 21.5268C16.189 21.4696 16.2708 21.4075 16.352 21.3443C16.384 21.3197 16.4191 21.2977 16.4502 21.2721L15.8115 24.3875ZM16.7231 14.8232C15.9403 15.3402 15.0027 15.5192 14.0856 15.3317C13.167 15.1431 12.3767 14.6086 11.8602 13.8259C11.796 13.7281 11.7369 13.6278 11.6827 13.5255C11.5779 13.3264 11.4931 13.1193 11.429 12.9067C11.4274 12.9012 11.425 12.8962 11.4234 12.8907C11.261 12.3451 11.2344 11.7644 11.3512 11.1913L11.3517 11.1878L11.9911 8.0729C12.0638 8.21328 12.144 8.3502 12.2322 8.48359C12.8957 9.48994 13.9121 10.1775 15.0924 10.4191C16.2723 10.6614 17.4772 10.4302 18.4841 9.76524C18.6179 9.67751 18.7453 9.5832 18.8677 9.48295L18.2289 12.5984C18.0404 13.5169 17.5058 14.3067 16.7231 14.8232ZM24.8799 20.1043C24.6914 21.0229 24.1569 21.8132 23.3741 22.3292C22.5903 22.8461 21.6532 23.0251 20.7361 22.8381C19.8174 22.6496 19.0277 22.1145 18.5112 21.3323C17.9948 20.549 17.8142 19.6124 18.0028 18.6942L18.6421 15.5753C18.6451 15.5813 18.6491 15.5864 18.6521 15.5924C18.7248 15.7307 18.8036 15.8657 18.8898 15.996C18.9003 16.012 18.9134 16.0271 18.9244 16.0431C19.0006 16.1554 19.0814 16.2648 19.1676 16.3695C19.2003 16.4091 19.2359 16.4463 19.27 16.4849C19.3392 16.5631 19.4089 16.6403 19.4831 16.7141C19.5252 16.7557 19.5698 16.7948 19.6135 16.8349C19.6857 16.9011 19.7589 16.9653 19.8351 17.0265C19.8838 17.0651 19.9334 17.1027 19.9836 17.1398C20.0613 17.197 20.141 17.2511 20.2227 17.3038C20.2754 17.3374 20.328 17.371 20.3822 17.4026C20.4685 17.4527 20.5567 17.4984 20.6464 17.5429C20.7011 17.57 20.7543 17.5976 20.8099 17.6227C20.9097 17.6673 21.0125 17.706 21.1163 17.7436C21.166 17.7616 21.2136 17.7817 21.2642 17.7982C21.4202 17.8483 21.5791 17.892 21.7431 17.9255C21.907 17.9592 22.07 17.9817 22.2325 17.9968C22.2881 18.0023 22.3428 18.0023 22.3985 18.0053C22.4828 18.0098 22.5675 18.0178 22.6517 18.0178C22.6753 18.0178 22.6988 18.0153 22.7224 18.0148C22.7725 18.0143 22.8217 18.0108 22.8708 18.0083C22.9786 18.0033 23.0849 17.9942 23.1907 17.9812C23.2408 17.9752 23.291 17.9691 23.3406 17.9616C23.4635 17.9426 23.5843 17.918 23.7042 17.8894C23.7307 17.8829 23.7578 17.8784 23.7839 17.8714C23.9288 17.8338 24.0707 17.7881 24.2101 17.7365C24.2482 17.722 24.2859 17.7054 24.3239 17.6899C24.4272 17.6483 24.529 17.6036 24.6283 17.555C24.6709 17.5344 24.7131 17.5129 24.7547 17.4908C24.857 17.4367 24.9562 17.3785 25.054 17.3168C25.0835 17.2983 25.1142 17.2812 25.1433 17.2622C25.2681 17.1794 25.3889 17.0907 25.5048 16.9959C25.5093 16.9924 25.5149 16.9894 25.5193 16.9854L24.8799 20.1043ZM27.2973 8.31506C27.1088 9.23368 26.5743 10.024 25.7915 10.5399C25.0087 11.0574 24.0711 11.2359 23.154 11.0488C23.0362 11.0247 22.9214 10.9947 22.8095 10.9601C22.7885 10.9531 22.7689 10.9445 22.7484 10.9375C22.6566 10.9069 22.5653 10.8748 22.4776 10.8378C22.4695 10.8342 22.4615 10.8292 22.4535 10.8257C21.928 10.5965 21.4772 10.2466 21.1292 9.81683C21.0585 9.72957 20.9913 9.63832 20.9287 9.54306C20.7998 9.3475 20.692 9.14242 20.6053 8.93029C20.6043 8.92777 20.6037 8.9253 20.6023 8.92224C20.346 8.28944 20.2804 7.59593 20.4192 6.912L21.2466 3.64315C21.5815 4.47351 22.1476 5.18958 22.9349 5.65791C22.9404 5.66144 22.946 5.66443 22.9515 5.66796C23.0603 5.73213 23.1721 5.7923 23.29 5.84595C23.3376 5.86851 23.3872 5.88755 23.4364 5.90812C23.5221 5.9432 23.6069 5.97981 23.6967 6.00942C23.8476 6.06008 24.002 6.10368 24.1605 6.13629C24.3179 6.16837 24.4748 6.19194 24.6318 6.20851C24.6904 6.21503 24.7486 6.21603 24.8073 6.22055C24.9056 6.22761 25.0039 6.2346 25.1016 6.2356C25.1197 6.2356 25.1373 6.23812 25.1553 6.23812C25.1874 6.23812 25.2185 6.2326 25.2505 6.2316C25.3985 6.22907 25.5449 6.21909 25.6908 6.20251C25.7404 6.19699 25.7901 6.19247 25.8397 6.18547C26.0207 6.15891 26.1992 6.1243 26.3747 6.07718C26.4048 6.06913 26.4334 6.05761 26.4635 6.04909C26.6139 6.00549 26.7608 5.95331 26.9057 5.89413C26.9524 5.87556 26.9979 5.85652 27.0436 5.83596C27.2121 5.76074 27.3776 5.67854 27.5365 5.58275C27.6699 5.50154 27.7968 5.41328 27.9186 5.3205C27.9231 5.31697 27.9281 5.31398 27.9326 5.31098L27.2973 8.31506ZM28.5068 2.59572C28.5068 2.59625 28.5068 2.59625 28.5062 2.59672L28.5052 2.60224C28.4912 2.66993 28.4716 2.7351 28.4536 2.80132C28.4401 2.85145 28.428 2.9031 28.4125 2.95228C28.3934 3.01093 28.3699 3.06663 28.3483 3.12328C28.3297 3.17141 28.3127 3.22053 28.2921 3.26772C28.268 3.32189 28.2395 3.37355 28.2129 3.4262C28.1893 3.47233 28.1678 3.51945 28.1422 3.56358C28.1137 3.61324 28.0816 3.66036 28.0504 3.70802C28.0219 3.75215 27.9948 3.79728 27.9647 3.83988C27.9326 3.88448 27.897 3.92561 27.8634 3.96775C27.8293 4.01035 27.7967 4.05448 27.7606 4.09508C27.7265 4.13322 27.6894 4.16877 27.6533 4.20538C27.6132 4.24651 27.5751 4.28864 27.533 4.32725C27.4979 4.35986 27.4598 4.38895 27.4231 4.41951C27.3765 4.45911 27.3314 4.49972 27.2828 4.53632C27.2482 4.56189 27.2115 4.58498 27.1759 4.60954C27.1223 4.64662 27.0686 4.68576 27.0125 4.71984C26.9799 4.73987 26.9453 4.75645 26.9122 4.77548C26.85 4.81057 26.7883 4.8467 26.7241 4.87779C26.6946 4.8923 26.6629 4.90335 26.6329 4.91692C26.5626 4.94901 26.4925 4.98109 26.4197 5.00818C26.3936 5.0177 26.3661 5.02475 26.34 5.03374C26.2608 5.0613 26.182 5.08792 26.1008 5.10996C26.0803 5.11548 26.0587 5.11848 26.0381 5.124C25.9499 5.14557 25.8606 5.1666 25.7699 5.18217C25.7543 5.18517 25.7383 5.1857 25.7228 5.18817C25.626 5.20321 25.5282 5.21673 25.429 5.22378C25.4154 5.22478 25.4014 5.22431 25.3878 5.22531C25.286 5.23183 25.1832 5.23582 25.0789 5.23383C25.0734 5.23383 25.0679 5.23283 25.0623 5.23283C24.8322 5.22783 24.5985 5.20221 24.3623 5.15409C23.4928 4.9761 22.7717 4.41798 22.331 3.58309C22.2467 3.42361 22.1775 3.25467 22.1164 3.08168C22.1069 3.05512 22.0963 3.0285 22.0878 3.00147C22.0326 2.83447 21.9895 2.662 21.956 2.48601C21.95 2.45392 21.9444 2.42084 21.9389 2.38823C21.9094 2.20924 21.8893 2.02773 21.8823 1.84368C21.8813 1.82265 21.8823 1.80108 21.8818 1.77952C21.8778 1.597 21.8843 1.41349 21.9028 1.22992C21.9038 1.21887 21.9038 1.20788 21.9054 1.19631H28.8568L28.5068 2.59572Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6127_10005">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Pemasangan Atap Baru
              </h5>
              <p class="text-white">
                Ingin atap baru yang kokoh dan estetis? Percayakan pemasangan
                atap baru kepada ahli kami untuk hasil maksimal! Kami
                menyediakan layanan untuk pemasang atap baru untuk bangunan baru
                / renovasi rumah.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6127_10009)">
                <path
                  d="M5.92241 11.9733C6.03605 12.0738 6.19315 12.1101 6.34406 12.0795C6.49332 12.0498 6.62318 11.9465 6.69089 11.8092C6.71622 11.7577 6.99298 11.2739 7.91546 11.3585C9.10085 11.4663 9.87343 12.0003 9.88108 12.0051C9.96647 12.0653 10.0655 12.0953 10.1642 12.0953C10.2834 12.0953 10.4018 12.0518 10.4956 11.9665L13.4346 9.27245C13.5956 9.12437 13.6394 8.8878 13.5418 8.69188L12.3096 6.22834C13.5912 4.05896 16.1654 3.88554 16.9437 3.88554C17.046 3.88554 17.1063 3.88891 17.1484 3.89037L17.7607 3.88554C17.9621 3.88408 18.142 3.75905 18.2141 3.57097C18.287 3.38279 18.2362 3.17037 18.0875 3.03404C16.8006 1.85613 15.1996 1.25879 13.3272 1.25879C9.59412 1.25879 5.72895 3.72953 4.94516 5.39571C4.01775 7.36643 2.84941 8.55273 2.8372 8.56494C2.74224 8.66053 2.6903 8.79166 2.69458 8.92653C2.69923 9.06167 2.75901 9.18898 2.86089 9.27865L5.92241 11.9733Z"
                  fill="white"
                />
                <path
                  d="M3.4784 15.1595C3.56762 15.2351 3.68025 15.2762 3.7958 15.2762C3.8102 15.2762 3.82469 15.2757 3.8389 15.2743C3.97013 15.2629 4.09078 15.1993 4.17398 15.0977L5.88845 13.0159C6.05658 12.8121 6.03289 12.5124 5.83505 12.3376L2.65106 9.52094C2.554 9.43455 2.42816 9.39345 2.29639 9.39892C2.16598 9.4073 2.04524 9.46635 1.95931 9.56395L0.122449 11.646C0.0353314 11.744 -0.00840985 11.8738 0.00134079 12.0046C0.0107269 12.1359 0.0724203 12.2573 0.172387 12.3425L3.4784 15.1595Z"
                  fill="white"
                />
                <path
                  d="M29.8872 24.0993C29.8612 24.0389 29.8241 23.9855 29.7767 23.9395L21.4052 15.9087L17.9965 12.5821L25.0194 6.0902L25.3704 6.4414C25.4624 6.53344 25.5872 6.58493 25.7168 6.58493C25.7234 6.58493 25.7307 6.58493 25.7374 6.58447C25.8742 6.57873 26.0024 6.51585 26.091 6.41106L28.6809 3.34526C28.766 3.24429 28.8071 3.11343 28.7942 2.98266C28.7817 2.85089 28.7166 2.73033 28.6143 2.64749L27.6552 1.874C27.4763 1.73048 27.2213 1.72902 27.0415 1.87254L24.0024 4.30355C23.8937 4.39094 23.8272 4.52025 23.8197 4.65931C23.8116 4.79847 23.8636 4.93461 23.9622 5.03312L24.3262 5.39708L17.2942 11.8974L14.7007 9.36632C14.5185 9.18844 14.2283 9.18051 14.037 9.34764L10.6693 12.2868C10.5688 12.3743 10.5085 12.4989 10.5016 12.631C10.4949 12.7639 10.5422 12.8935 10.6333 12.9906L13.1742 15.7062L12.853 16.0034L11.6155 14.751C11.4359 14.5682 11.1428 14.557 10.9484 14.7237L0.246158 23.9213C0.189932 23.9706 0.144733 24.0314 0.115572 24.0993C-0.242195 24.9284 0.270762 26.2379 1.39163 27.3584C2.24386 28.2113 3.26458 28.7415 4.05538 28.7415C4.32703 28.7415 4.5687 28.6812 4.77337 28.5629C4.81028 28.542 4.84445 28.5155 4.87434 28.4854L14.7503 18.6173C14.9407 18.4263 14.9417 18.1178 14.7522 17.9265L13.5408 16.7009L13.8426 16.422L25.1164 28.4745C25.1495 28.5088 25.1877 28.5395 25.2288 28.5635C25.4335 28.6821 25.6751 28.7415 25.9469 28.7415C26.7372 28.7415 27.7579 28.2114 28.6108 27.3589C29.7317 26.2379 30.245 24.9284 29.8872 24.0993ZM1.71413 24.9541C1.64551 24.9541 1.57753 24.925 1.52905 24.8694C1.44029 24.7671 1.4515 24.6131 1.55411 24.5241L10.5431 16.7372C10.6449 16.6488 10.7999 16.6597 10.8885 16.7621C10.9772 16.8644 10.966 17.0188 10.8636 17.1074L1.87442 24.8942C1.82786 24.9345 1.77118 24.9541 1.71413 24.9541ZM3.00012 26.24C2.93652 26.24 2.87282 26.2152 2.82479 26.1658C2.73084 26.0692 2.73266 25.9137 2.82981 25.8195L11.3105 17.563C11.4069 17.469 11.5616 17.4709 11.6566 17.5677C11.7508 17.6643 11.7486 17.8202 11.6519 17.914L3.17108 26.1705C3.12351 26.2171 3.06182 26.24 3.00012 26.24ZM12.848 18.7067L4.45935 27.1474C4.41132 27.1962 4.34863 27.2196 4.28593 27.2196C4.22324 27.2196 4.16109 27.1956 4.11297 27.1483C4.01756 27.0532 4.01701 26.8977 4.11206 26.802L12.5007 18.3612C12.5964 18.2651 12.7516 18.2651 12.8471 18.3602C12.9424 18.4555 12.9436 18.6105 12.848 18.7067Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6127_10009">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Perbaikan Atap
              </h5>
              <p class="text-white">
                Atap bocor atau rusak? Tenang saja kami bisa memperbaikinya!
                Kami dapat memperbaiki kerusakan atap akibat lubocor, retak,
                atau angin kencang. Kami juga dapat mengganti bahan atap yang
                rusak atau usang seperti genteng, seng, atau asbes.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M28.4465 18.2383L25.7546 16.1677V8.9847H20.7436V12.3131L15.4179 8.2163C15.0127 7.90446 14.4483 7.90446 14.043 8.2163L1.01434 18.2383C0.520746 18.618 0.428403 19.3258 0.808149 19.8194C1.18778 20.313 1.89565 20.4053 2.38924 20.0256L14.7304 10.5325L27.0716 20.0257C27.2765 20.1834 27.5183 20.2596 27.7583 20.2596C28.0963 20.2596 28.4307 20.1081 28.6528 19.8195C29.0323 19.3259 28.9401 18.618 28.4465 18.2383Z"
                fill="white"
              />
              <path
                d="M28.4465 18.2383L15.4178 8.2163C15.0126 7.90446 14.4482 7.90446 14.043 8.2163L1.01434 18.2383C0.520746 18.6179 0.428403 19.3258 0.808149 19.8194C1.18778 20.3129 1.89565 20.4053 2.38924 20.0256L14.7304 10.5324L27.0716 20.0256C27.2765 20.1833 27.5183 20.2595 27.7583 20.2595C28.0963 20.2595 28.4307 20.1081 28.6528 19.8194C29.0323 19.3259 28.9401 18.618 28.4465 18.2383Z"
                fill="white"
              />
              <path
                d="M20.7432 8.98438V12.3128L25.7542 16.1674V8.98438H20.7432Z"
                fill="white"
              />
              <path
                d="M20.7305 11V12.6624L25.7415 16.5171V14.7782L20.7305 11Z"
                fill="white"
              />
              <path
                d="M21.7461 3.47342C21.7461 2.64314 23.2494 0.466797 23.2494 0.466797C23.2494 0.466797 24.7527 2.64314 24.7527 3.47342C24.7527 4.30369 24.0796 4.9767 23.2494 4.9767C22.4191 4.9767 21.7461 4.30369 21.7461 3.47342Z"
                fill="white"
              />
              <path
                d="M24.001 4.53824C23.1707 4.53824 22.4977 3.86518 22.4977 3.03496C22.4977 2.53105 23.0513 1.53174 23.4867 0.823574C23.3444 0.604492 23.2494 0.466797 23.2494 0.466797C23.2494 0.466797 21.7461 2.64314 21.7461 3.47342C21.7461 4.30369 22.4192 4.9767 23.2494 4.9767C23.684 4.9767 24.0754 4.79207 24.3498 4.49717C24.2377 4.52377 24.1211 4.53824 24.001 4.53824Z"
                fill="white"
              />
              <path
                d="M26.0602 4.66378C26.796 4.27917 29.4211 4.60319 29.4211 4.60319C29.4211 4.60319 28.1888 6.94366 27.453 7.32833C26.7172 7.713 25.809 7.42823 25.4243 6.69247C25.0396 5.95671 25.3244 5.04845 26.0602 4.66378Z"
                fill="white"
              />
              <path
                d="M26.3648 6.25367C26.0585 5.66773 26.177 4.97275 26.6094 4.51953C26.3837 4.54889 26.1922 4.59488 26.0611 4.66344C25.3253 5.04805 25.0406 5.95637 25.4253 6.69207C25.8099 7.42789 26.7182 7.71254 27.4539 7.32793C27.5583 7.27338 27.6729 7.17846 27.7923 7.05746C27.2178 7.09361 26.6486 6.79672 26.3648 6.25367Z"
                fill="white"
              />
              <path
                d="M26.7607 7.96846C27.0683 7.96846 27.3804 7.89639 27.6714 7.74422C28.4953 7.31361 29.6203 5.23412 29.8376 4.82168C29.9882 4.53551 29.7996 4.17609 29.4794 4.13654C29.0167 4.07941 26.6672 3.81639 25.8433 4.24699C25.3762 4.49115 25.0322 4.90254 24.8745 5.40545C24.721 5.89547 24.7628 6.41502 24.9909 6.87352L23.7191 7.96365V5.3891C24.5809 5.17775 25.2223 4.39904 25.2223 3.47297C25.2223 2.54332 23.9007 0.582949 23.6358 0.199336C23.4522 -0.0664453 23.0463 -0.0664453 22.8627 0.199336C22.5978 0.582949 21.2762 2.54332 21.2762 3.47297C21.2762 4.39904 21.9177 5.1777 22.7795 5.3891V8.51531H20.7437C20.4842 8.51531 20.2739 8.72566 20.2739 8.98512V11.3595L15.7044 7.84447C15.131 7.40332 14.3301 7.40326 13.7567 7.84441L5.51094 14.1872C5.30528 14.3455 5.26684 14.6404 5.42498 14.8461C5.58319 15.0518 5.87809 15.0902 6.08381 14.932L14.3297 8.58908C14.5658 8.40744 14.8956 8.40744 15.1317 8.58908L20.4574 12.6858C20.7607 12.9189 21.2137 12.6952 21.2137 12.3135V9.45486H25.2851V16.1681C25.2851 16.314 25.3528 16.4515 25.4684 16.5405L28.1604 18.6112C28.4478 18.8323 28.5017 19.2461 28.2807 19.5335C28.0621 19.8176 27.6429 19.8727 27.3584 19.6538L15.0171 10.1604C14.8482 10.0306 14.6131 10.0306 14.4443 10.1604L2.10301 19.6537C1.81866 19.8723 1.39924 19.8175 1.18069 19.5333C0.961957 19.2491 1.01703 18.8296 1.30104 18.6111L4.36596 16.2534C4.57162 16.0952 4.61006 15.8003 4.45192 15.5946C4.29371 15.3889 3.99875 15.3504 3.79309 15.5086L0.728168 17.8663C0.0383435 18.3969 -0.0951917 19.4156 0.435961 20.1062C0.972914 20.8042 1.97768 20.9353 2.67582 20.3984L14.7306 11.1255L26.7853 20.3984C27.4766 20.93 28.4943 20.7964 29.0253 20.1062C29.5623 19.408 29.4311 18.4032 28.7331 17.8663L26.2246 15.9367V8.98506C26.2246 8.72561 26.0143 8.51525 25.7548 8.51525H24.5192L25.598 7.59059C25.9359 7.83533 26.344 7.96846 26.7607 7.96846ZM25.7712 5.68652C25.8538 5.42309 26.034 5.20758 26.2787 5.07967C26.4582 4.9858 26.9019 4.94572 27.447 4.94572C27.8227 4.94572 28.2468 4.96477 28.6652 4.99834C28.1477 5.88715 27.5399 6.7527 27.2362 6.91143C26.9506 7.06078 26.6265 7.06272 26.351 6.94512L27.0628 6.33504C27.2598 6.16617 27.2826 5.86963 27.1137 5.67264C26.9449 5.47576 26.6483 5.45279 26.4513 5.62172L25.7498 6.22295C25.7098 6.04711 25.7158 5.86324 25.7712 5.68652ZM22.2158 3.47297C22.2158 3.13072 22.7014 2.19105 23.2494 1.32023C23.7975 2.19064 24.2829 3.1302 24.2829 3.47297C24.2829 3.87357 24.0533 4.22092 23.7192 4.39236V3.47297C23.7192 3.21352 23.5089 3.00316 23.2494 3.00316C22.9899 3.00316 22.7796 3.21352 22.7796 3.47297V4.39236C22.4455 4.22092 22.2158 3.87357 22.2158 3.47297Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemeliharaan Atap
              </h5>
              <p class="text-white">
                Atap Anda butuh perawatan rutin. Tukang kami dapat membersihkan
                dan membersihkan kotoran atau lumut dari permukaan atap, juga
                memeriksa dan memperbaiki lapisan perlindungan atap.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.125 22.5C13.125 24.0534 11.8659 25.3125 10.3125 25.3125C10.2281 25.3125 10.1428 25.3088 10.0566 25.3013C8.40844 25.1559 7.305 23.5172 7.54594 21.8813C7.7925 20.2069 8.98125 18.93 9.71813 18.2831C9.89062 18.1313 10.1062 18.0562 10.3228 18.0562C10.5394 18.0562 10.7569 18.1322 10.9322 18.2812C11.76 18.9862 13.125 20.4591 13.125 22.5ZM19.3697 21.0938C19.0191 20.7947 18.5016 20.7919 18.1556 21.0956C17.4187 21.7425 16.23 23.0194 15.9834 24.6938C15.7425 26.3306 16.8469 27.9684 18.4941 28.1138C20.1628 28.2609 21.5625 26.9503 21.5625 25.3125C21.5625 23.2716 20.1975 21.7987 19.3697 21.0938ZM22.5 9.375C22.5 5.23312 19.1419 1.875 15 1.875C11.4928 1.875 8.55656 4.28625 7.73625 7.53844C4.44187 7.88906 1.875 10.6753 1.875 14.0625C1.875 17.1853 4.05937 19.7878 6.98156 20.4497C7.52719 19.1166 8.48344 18.1181 9.09844 17.5781C9.43594 17.2819 9.87094 17.1188 10.3209 17.1188C10.7662 17.1188 11.1984 17.2781 11.5387 17.5678C12.2137 18.1425 13.2084 19.1897 13.7231 20.625L22.5966 20.6203C25.6584 20.5678 28.125 18.0741 28.125 15C28.125 11.8931 25.6069 9.375 22.5 9.375Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Sistem Pengaliran Air Hujan
              </h5>
              <p class="text-white">
                Talang air atau pipa saluran rumah Anda bermasalah? Tukang kami
                hadir untuk melakukan instalasi / memperbaiki sistem pelengkap
                atap seperti talang air, pipa saluran air, dan pelindung saat
                hujan.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.5 8.75C27.5 10.0761 26.9732 11.3479 26.0355 12.2855C25.0978 13.2232 23.8261 13.75 22.5 13.75H6.25C5.91848 13.75 5.60054 13.6183 5.36612 13.3839C5.1317 13.1495 5 12.8315 5 12.5C5 12.1685 5.1317 11.8505 5.36612 11.6161C5.60054 11.3817 5.91848 11.25 6.25 11.25H22.5C22.9945 11.25 23.4778 11.1034 23.8889 10.8287C24.3 10.554 24.6205 10.1635 24.8097 9.70671C24.9989 9.24989 25.0484 8.74723 24.952 8.26227C24.8555 7.77732 24.6174 7.33186 24.2678 6.98223C23.9181 6.6326 23.4727 6.3945 22.9877 6.29804C22.5028 6.20157 22.0001 6.25108 21.5433 6.4403C21.0865 6.62952 20.696 6.94995 20.4213 7.36107C20.1466 7.7722 20 8.25555 20 8.75C20 9.08152 19.8683 9.39946 19.6339 9.63388C19.3995 9.8683 19.0815 10 18.75 10C18.4185 10 18.1005 9.8683 17.8661 9.63388C17.6317 9.39946 17.5 9.08152 17.5 8.75C17.5 7.42392 18.0268 6.15215 18.9645 5.21447C19.9021 4.27678 21.1739 3.75 22.5 3.75C23.8261 3.75 25.0978 4.27678 26.0355 5.21447C26.9732 6.15215 27.5 7.42392 27.5 8.75ZM22.5 16.25H8.75C8.41848 16.25 8.10054 16.3817 7.86612 16.6161C7.6317 16.8505 7.5 17.1685 7.5 17.5C7.5 17.8315 7.6317 18.1495 7.86612 18.3839C8.10054 18.6183 8.41848 18.75 8.75 18.75H22.5C22.9945 18.75 23.4778 18.8966 23.8889 19.1713C24.3 19.446 24.6205 19.8365 24.8097 20.2933C24.9989 20.7501 25.0484 21.2528 24.952 21.7377C24.8555 22.2227 24.6174 22.6681 24.2678 23.0178C23.9181 23.3674 23.4727 23.6055 22.9877 23.702C22.5028 23.7984 22.0001 23.7489 21.5433 23.5597C21.0865 23.3705 20.696 23.05 20.4213 22.6389C20.1466 22.2278 20 21.7445 20 21.25C20 20.9185 19.8683 20.6005 19.6339 20.3661C19.3995 20.1317 19.0815 20 18.75 20C18.4185 20 18.1005 20.1317 17.8661 20.3661C17.6317 20.6005 17.5 20.9185 17.5 21.25C17.5 22.2389 17.7932 23.2056 18.3427 24.0279C18.8921 24.8501 19.673 25.491 20.5866 25.8694C21.5002 26.2478 22.5055 26.3469 23.4754 26.1539C24.4454 25.961 25.3363 25.4848 26.0355 24.7855C26.7348 24.0863 27.211 23.1954 27.4039 22.2255C27.5969 21.2555 27.4978 20.2502 27.1194 19.3366C26.741 18.423 26.1001 17.6421 25.2778 17.0927C24.4556 16.5432 23.4889 16.25 22.5 16.25ZM10 23.75C10.3315 23.75 10.6495 23.6183 10.8839 23.3839C11.1183 23.1495 11.25 22.8315 11.25 22.5C11.25 22.1685 11.1183 21.8505 10.8839 21.6161C10.6495 21.3817 10.3315 21.25 10 21.25H3.75C3.41848 21.25 3.10054 21.3817 2.86612 21.6161C2.6317 21.8505 2.5 22.1685 2.5 22.5C2.5 22.8315 2.6317 23.1495 2.86612 23.3839C3.10054 23.6183 3.41848 23.75 3.75 23.75H10ZM2.5 7.5C2.5 7.83152 2.6317 8.14946 2.86612 8.38388C3.10054 8.6183 3.41848 8.75 3.75 8.75H13.75C14.0815 8.75 14.3995 8.6183 14.6339 8.38388C14.8683 8.14946 15 7.83152 15 7.5C15 7.16848 14.8683 6.85054 14.6339 6.61612C14.3995 6.3817 14.0815 6.25 13.75 6.25H3.75C3.41848 6.25 3.10054 6.3817 2.86612 6.61612C2.6317 6.85054 2.5 7.16848 2.5 7.5Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Ventilasi Atap
              </h5>
              <p class="text-white">
                Ventilasi atap kurang optimal? Kami menyediakan solusi ventilasi
                terbaik! Tukang kami dapat menginstal / memperbaiki ventilasi
                atap untuk memastikan sirkulasi udara yang baik di dalam
                ruangan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
