<script setup>
import { ref, onMounted, onUnmounted } from "vue";

const isOpen = ref(false);
const isTop = ref(true); // Assume the user is at the top initially

onMounted(() => {
  // Check initial scroll position
  isTop.value = window.scrollY <= 10;

  const handleScroll = () => {
    isTop.value = window.scrollY <= 10;
  };

  window.addEventListener("scroll", handleScroll);

  onUnmounted(() => {
    window.removeEventListener("scroll", handleScroll);
  });
});
</script>

<template>
  <div
    class="bg-white fixed top-0 w-full p-4 z-50 shadow-2xl md:shadow-lg transition-colors duration-300"
  >
    <div
      class="container mx-auto flex items-center justify-between font-Poppins"
    >
      <div class="flex items-center z-50">
        <img
          src="/icon/tukanginaja.png"
          alt=""
          class="h-10 2xl:ml-2 xl:ml-[20vh]"
        />
        <div class="sans3 font-semibold ml-2 text-2xl text-[#093D77]">
          Tukangin<span class="text-[#14B6B8]">Aja</span>
        </div>
      </div>
      <div
        class="hidden lg:flex space-x-4 items-center xl:mr-[10vh] 2xl:mr-0"
        :class="['duration-300', isTop ? 'text-black' : 'text-white']"
      >
        <router-link
          to="/"
          class="fontbar duration-300"
          active-class="active-link"
          :class="[
            $route.path === '/'
              ? isTop
                ? 'text-[#093D77]'
                : 'text-[#093D77]'
              : 'text-black',
          ]"
        >
          Beranda
        </router-link>

        <router-link
          to="/LayananKami"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/LayananKami'
              ? isTop
                ? 'text-[#093D77]'
                : 'text-[#093D77]'
              : 'text-black',
          ]"
        >
          Layanan Kami
        </router-link>
        <router-link
          to="/TentangKami"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/TentangKami'
              ? isTop
                ? 'text-[#093D77]'
                : 'text-[#093D77]'
              : 'text-black',
          ]"
        >
          Tentang Kami
        </router-link>
        <!-- 
        <router-link
          to="/Blog"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/Blog' ? (isTop ? 'text-[#093D77]' : 'text-[#093D77]') : 'text-black',
          ]">
          Blog
        </router-link> -->

        <router-link
          to="/Mitra"
          class="fontbar"
          active-class="active-link"
          :class="[
            $route.path === '/Mitra'
              ? isTop
                ? 'text-[#093D77]'
                : 'text-[#093D77]'
              : 'text-black',
          ]"
        >
          Mitra
        </router-link>

        <router-link
          to="/Kontak"
          class="fontbar duration-300 bg-[#093D77] hover:bg-[#14B6B8] rounded-xl text-center h-10 p-4 flex items-center justify-center"
          active-class="text-white bg-[#093D77]"
          :class="[isTop ? 'text-white' : 'text-white']"
        >
          Kontak Kami
        </router-link>
        <a
          href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/edit"
          class="fontbar duration-300 bg-[#093D77] hover:bg-[#14B6B8] rounded-xl text-center h-10 p-4 flex items-center justify-center"
          active-class="text-white bg-[#093D77]"
          :class="[isTop ? 'text-white' : 'text-white']"
        >
          Daftar
        </a>
      </div>
      <button
        @click="isOpen = !isOpen"
        class="lg:hidden transition-transform duration-300"
      >
        <i
          v-if="!isOpen"
          class="fas fa-bars text-black transform"
          :class="['duration-300', isTop ? 'text-black' : 'text-black']"
        ></i>
        <i
          v-if="isOpen"
          class="fas fa-times text-black transform rotate-180"
          :class="['duration-300', isTop ? 'text-black' : 'text-black']"
        ></i>
      </button>
    </div>
    <div v-if="isOpen" class="lg:hidden mt-8 space-y-2 z-[9999]">
      <router-link
        to="/"
        class="block fontbar duration-300"
        active-class="text-[#093D77]"
        :class="[isTop ? 'text-black' : 'text-black']"
      >
        Beranda
      </router-link>

      <router-link
        to="/LayananKami"
        class="block fontbar duration-300"
        active-class="text-[#093D77]"
        :class="[isTop ? 'text-black' : 'text-black']"
      >
        Layanan Kami
      </router-link>

      <router-link
        to="/TentangKami"
        class="block fontbar duration-300"
        active-class="text-[#093D77]"
        :class="[isTop ? 'text-black' : 'text-black']"
      >
        Tentang Kami
      </router-link>

      <!-- <router-link
        to="/Blog"
        class="block fontbar duration-300"
        active-class="text-[#093D77]"
        :class="[isTop ? 'text-black' : 'text-black']">
        Blog
      </router-link> -->

      <router-link
        to="/Mitra"
        class="block fontbar duration-300"
        active-class="text-[#093D77]"
        :class="[isTop ? 'text-black' : 'text-black']"
      >
        Mitra
      </router-link>

      <router-link
        to="/Kontak"
        class="fontbar duration-300 bg-[#093D77] hover:bg-[#093D77] rounded-xl text-center h-6 p-4 flex items-center justify-center"
        active-class="text-black bg-[#093D77]"
        :class="[isTop ? 'text-white' : 'text-white']"
      >
        Kontak Kami
      </router-link>

      <a
        href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/edit"
        class="fontbar duration-300 bg-[#093D77] hover:bg-[#093D77] rounded-xl text-center h-6 p-4 flex items-center justify-center"
        active-class="text-black bg-[#093D77]"
        :class="[isTop ? 'text-white' : 'text-white']"
      >
        Daftar
      </a>
    </div>
  </div>
</template>
