import { RouterLink } from 'vue-router';
<template>
  <footer class="relative bg-[#093D77]">
    <div class="w-11/12 mx-auto py-28 flex flex-col md:flex-row relative">
      <div class="w-full md:w-2/6">
        <div class="flex flex-col md:flex-row">
          <a href="">
            <img src="/icon/tukanglingkaran.png" class="h-8 absolute" />
          </a>
          <a href="">
            <span
              class="ml-10 self-center text-2xl font-semibold text-white whitespace-nowrap fonthero"
            >
              TukanginAja.id</span
            >
          </a>
        </div>
        <div class="md:ml-10 my-6">
          <router-link
            to="/TentangKami"
            class="text-2xl text-white footertext-p1 hover:underline"
          >
            Tentang Kami
          </router-link>
        </div>
        <hr class="w-full border-1 border-white mb-5 block md:hidden" />
      </div>
      <div class="flex-1">
        <h2 class="mb-6 text-xl font-semibold text-white">Kategori</h2>
        <ul class="text-white">
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Tukang Ac</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Tukang Pijat</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Kelistrikan</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/LayananKami" class="hover:underline"
              >Lainya</router-link
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <h2 class="mb-6 text-xl font-semibold text-white">Menjadi Mitra</h2>
        <ul class="text-white">
          <li class="mb-4">
            <router-link to="/Mitra" class="hover:underline"
              >Cara Kerja</router-link
            >
          </li>
          <li class="mb-4">
            <a
              href="https://docs.google.com/forms/d/14tZw7lt-69rbVdkqyGuGSOoo2aU4TcM24D76wNFugQo/viewform?edit_requested=true"
              target="_blank"
              class="hover:underline"
              >Daftar Mitra</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <h2 class="mb-6 text-xl font-semibold text-white">Hubungi Kami</h2>
        <ul class="text-white">
          <li class="mb-4">
            <router-link to="/Kontak" class="hover:underline"
              >Bantuan</router-link
            >
          </li>
          <li class="mb-4">
            <router-link to="/kebijakan" class="hover:underline"
              >Kebijakan Privasi</router-link
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Bagian footer bawah dengan full width -->
    <div class="m-0 bg-white shadow">
      <div
        class="flex flex-col items-center justify-center px-4 py-6 md:px-8 md:flex-row md:justify-between"
      >
        <span
          class="mb-4 text-sm text-gray-400 md:text-xl sm:text-center md:mb-0"
        >
          <a href="#" class="font-bold text-gray-500 hover:underline"
            >Copyright © 2023 PT JOYO SEJAHTERA SENTOSA EKAPRIMA. All rights
            reserved.</a
          >
          All Rights Reserved.
        </span>
        <ul
          class="flex flex-wrap items-center mt-4 space-x-6 text-sm font-medium text-gray-500 md:flex-row md:mt-0 dark:text-gray-400 md:space-x-6"
        >
          <li>
            <a
              href="https://wa.me/+628113288966?text=Halo%20kak,%20saya%20ingin%20bertanya-tanya%20mengenai%20TukanginAja"
              class="mb-2 md:mb-0"
              ><img src="/icon/WhatsApp.png" target="_blank" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/tukanginajaid?igsh=d2o1OWZ6ZHIyMGIz"
              target="_blank"
              class="mb-2 md:mb-0"
              ><img src="/icon/Instagram.png" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@tukanginaja"
              target="_blank"
              class="mb-2 md:mb-0"
              ><img src="/icon/TikTok.png" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=61553346410387"
              target="_blank"
              class=""
              ><img src="/icon/Facebook.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
