<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Cuci Mobil Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.13184 16.8789C5.46522 16.878 4.85426 17.1514 4.41879 17.5882C3.98197 18.0242 3.70852 18.6351 3.70898 19.3018C3.70852 19.9674 3.98191 20.5788 4.41879 21.0143C4.85426 21.4516 5.46522 21.7246 6.13184 21.7241C6.79799 21.7246 7.40936 21.4516 7.84488 21.0143C8.2817 20.5788 8.55469 19.9674 8.55469 19.3018C8.55469 18.6351 8.28176 18.0242 7.84488 17.5882C7.40941 17.1514 6.79799 16.878 6.13184 16.8789ZM6.78732 19.9577C6.61588 20.1273 6.39147 20.2284 6.13184 20.2293C5.87133 20.2284 5.64773 20.1273 5.47635 19.9577C5.30578 19.7858 5.20424 19.5614 5.20424 19.3018C5.20471 19.0417 5.30572 18.8173 5.47635 18.6458C5.64773 18.4753 5.87133 18.3742 6.13184 18.3737C6.39141 18.3742 6.61588 18.4752 6.78732 18.6458C6.95783 18.8172 7.05897 19.0417 7.05938 19.3018C7.05897 19.5613 6.95789 19.7853 6.78732 19.9577Z"
                fill="white"
              />
              <path
                d="M22.3486 16.8789C21.682 16.878 21.0711 17.1514 20.6356 17.5882C20.1988 18.0242 19.9254 18.6351 19.9258 19.3018C19.9253 19.9674 20.1987 20.5788 20.6356 21.0143C21.0711 21.4516 21.682 21.7246 22.3486 21.7241C23.0148 21.7246 23.6262 21.4516 24.0617 21.0143C24.4985 20.5788 24.7715 19.9674 24.7715 19.3018C24.7715 18.6351 24.4986 18.0242 24.0617 17.5882C23.6262 17.1514 23.0148 16.878 22.3486 16.8789ZM23.0041 19.9577C22.8326 20.1273 22.6082 20.2284 22.3486 20.2293C22.0881 20.2284 21.8645 20.1273 21.6931 19.9577C21.5225 19.7858 21.421 19.5614 21.421 19.3018C21.4215 19.0417 21.5225 18.8173 21.6931 18.6458C21.8645 18.4753 22.0881 18.3742 22.3486 18.3737C22.6081 18.3742 22.8326 18.4752 23.0041 18.6458C23.1746 18.8172 23.2757 19.0417 23.2761 19.3018C23.2757 19.5613 23.1746 19.7853 23.0041 19.9577Z"
                fill="white"
              />
              <path
                d="M29.4063 18.3809H25.3145V20.1612H29.4063C29.7336 20.1612 29.9994 19.8953 29.9994 19.5676V18.9745C29.9994 18.6467 29.7336 18.3809 29.4063 18.3809Z"
                fill="white"
              />
              <path
                d="M0 18.9745V19.5676C0 19.8953 0.26584 20.1612 0.593086 20.1612H3.26355V18.3809H0.593086C0.26584 18.3809 0 18.6467 0 18.9745Z"
                fill="white"
              />
              <path
                d="M29.4197 17.8697C29.4197 17.4779 29.3285 17.0918 29.1534 16.7413L28.3955 15.226C28.0437 14.5224 27.3838 14.0237 26.6112 13.8762L22.2732 13.0503C21.8435 12.9679 21.4561 12.7363 21.1809 12.3957L19.1116 9.83615C18.3131 8.84891 17.1113 8.27539 15.8418 8.27539H5.9451C4.43953 8.27539 3.04846 9.08094 2.29857 10.3865L1.56164 11.6707C0.830039 12.9447 0.445312 14.3879 0.445312 15.8574V17.9663H3.43189C3.57703 17.6729 3.76629 17.4012 3.99961 17.1684C4.55889 16.6078 5.33549 16.2853 6.12949 16.2853C6.9283 16.2853 7.70496 16.6078 8.26512 17.1693C8.82615 17.7286 9.14813 18.507 9.14766 19.3022C9.14766 19.3513 9.14279 19.4002 9.14057 19.4496H19.3409C19.3382 19.4002 19.3334 19.3508 19.3334 19.3013C19.3329 18.5069 19.6549 17.729 20.2173 17.1684C20.7765 16.6078 21.5532 16.2853 22.3471 16.2853C23.146 16.2853 23.9226 16.6078 24.4828 17.1693C24.7156 17.4018 24.9045 17.6729 25.0492 17.9664H29.4197V17.8697ZM7.16965 13.8126H3.4118C2.74471 13.8126 2.67035 13.467 2.86805 12.9104L3.585 11.1252C4.06898 10.2823 4.97344 9.75863 5.94504 9.75863H7.16959V13.8126H7.16965ZM12.3346 15.4941H10.8553C10.6767 15.4941 10.5321 15.3391 10.5321 15.1486C10.5321 14.957 10.6768 14.8021 10.8553 14.8021H12.3346C12.5132 14.8021 12.6579 14.957 12.6579 15.1486C12.6579 15.3391 12.5132 15.4941 12.3346 15.4941ZM13.4982 13.8126H8.0598V9.75863H13.4982V13.8126ZM19.6927 13.8126H14.3883V9.75863H15.8418C16.6678 9.75863 17.4391 10.1269 17.9583 10.7686L20.0271 13.3281C20.1727 13.508 20.1727 13.8126 19.6927 13.8126ZM27.3398 15.8401H25.3907C25.1805 15.8401 25.0028 15.6846 24.9748 15.4771L24.88 14.7758C24.8657 14.6676 24.9022 14.5585 24.9797 14.4814C25.0571 14.4044 25.1663 14.3679 25.2745 14.383L26.2978 14.5251C26.2978 14.5251 26.9991 14.6729 27.4489 15.3471C27.7775 15.8401 27.3398 15.8401 27.3398 15.8401Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Eksterior Mobil
              </h5>
              <p class="text-white">
                Eksterior Mobil Kami dapat membantu Anda mencuci bodi mobil
                dengan menggunakan sabun dan air untuk menghilangkan kotoran,
                debu, dan noda. Juga membersihkan roda dan ban, sering
                menggunakan sikat khusus.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.3088 16.6451L17.5781 16.1191C17.8922 15.3991 17.8922 14.5995 17.5781 13.8795L22.3088 13.3535C22.5506 14.4373 22.5506 15.5623 22.3088 16.6451ZM13.86 17.5648L13.2694 22.2907C14.415 22.5607 15.5231 22.5757 16.7325 22.2907L16.1419 17.5648C15.4219 17.8873 14.6147 17.9023 13.86 17.5648ZM12.4238 13.8804L7.69312 13.3545C7.45125 14.4373 7.45125 15.5613 7.69312 16.6451L12.4238 16.1191C12.1097 15.3991 12.1097 14.6004 12.4238 13.8804Z"
                fill="white"
              />
              <path
                d="M16.875 15C16.875 16.0359 16.0359 16.875 15 16.875C13.9641 16.875 13.125 16.0359 13.125 15C13.125 13.9641 13.9641 13.125 15 13.125C16.0359 13.125 16.875 13.9641 16.875 15ZM15 6.5625C10.3472 6.5625 6.5625 10.3472 6.5625 15C6.5625 19.6528 10.3472 23.4375 15 23.4375C19.6528 23.4375 23.4375 19.6528 23.4375 15C23.4375 10.3472 19.6528 6.5625 15 6.5625ZM15 4.6875C20.6953 4.6875 25.3125 9.30469 25.3125 15C25.3125 20.6953 20.6953 25.3125 15 25.3125C9.30469 25.3125 4.6875 20.6953 4.6875 15C4.6875 9.30469 9.30469 4.6875 15 4.6875Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Interior Mobil
              </h5>
              <p class="text-white">
                Temukan bagaimana para tim profesional kami menjaga kabin Anda
                tetap segar dan bersih! Tukang kami membersihkan dasbor, konsol
                tengah, menggunakan pembersih yang sesuai, juga membersihkan
                sofa dari debu.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M24.5949 21.731C23.7137 20.7794 21.8199 18.8013 20.6434 17.5825L22.3449 16.209C22.8184 15.8247 22.9121 15.1356 22.5512 14.6387L18.0606 8.48404C17.948 8.32935 17.7793 8.23091 17.5918 8.20279C17.4418 8.18404 17.2918 8.21685 17.1606 8.29185C15.1496 5.96685 11.3012 4.59341 8.50275 4.2981C6.61369 4.09654 5.16994 4.40122 4.53244 5.13716C4.26994 5.44185 4.1715 5.79341 4.26057 6.13091C4.48088 6.9981 5.12307 7.11529 6.40271 7.34497L6.59489 7.37779C7.20896 7.49029 7.62614 7.72935 7.74333 8.03872C7.79958 8.19341 7.77614 8.35279 7.67771 8.47935C7.46208 8.74654 7.05427 8.76529 6.62771 8.77935C6.00896 8.80279 5.24021 8.8356 5.05739 9.78716C4.84646 10.8887 5.72771 11.1231 6.36989 11.2965C6.59021 11.3575 6.80114 11.4137 6.96989 11.4934C7.25114 11.6247 7.24646 11.7841 7.20427 12.1262C7.17614 12.3559 7.14802 12.6184 7.28864 12.8575C7.53239 13.2653 9.01833 14.034 9.75427 14.3903C9.72614 14.4559 9.70739 14.5262 9.69802 14.5965C9.68396 14.784 9.74958 14.9762 9.87614 15.1122L14.9668 20.784C15.1918 21.0372 15.5058 21.1637 15.8199 21.1637C16.073 21.1637 16.3261 21.0793 16.5418 20.9106L18.4027 19.4012C19.3215 20.7606 20.8918 23.0668 21.6418 24.1215C22.373 25.1574 23.0293 25.6824 23.709 25.7762C23.7793 25.7855 23.8496 25.7902 23.9199 25.7902C24.309 25.7902 24.698 25.6403 25.0683 25.3356C25.509 24.984 25.748 24.5668 25.7808 24.0981C25.8324 23.4184 25.4528 22.6638 24.5949 21.731ZM16.2452 20.5446C16.0914 20.6693 15.9289 20.6957 15.8195 20.6957C15.6272 20.6957 15.4433 20.6137 15.3146 20.4709L10.2231 14.8028C10.1809 14.756 10.1622 14.695 10.1669 14.6341C10.1715 14.5731 10.1997 14.5169 10.2465 14.4794L17.3622 8.71846C17.4044 8.68565 17.4512 8.6669 17.5028 8.6669C17.5122 8.6669 17.5215 8.6669 17.5309 8.67158C17.5919 8.67627 17.6434 8.70908 17.6809 8.76065L22.1714 14.9168C22.3843 15.2087 22.3312 15.6154 22.0501 15.8427L16.2452 20.5446ZM24.4965 23.6481C24.4731 23.8825 24.3606 24.0888 24.1778 24.2387C24.0184 24.37 23.8215 24.4309 23.6294 24.4309C23.3715 24.4309 23.1231 24.3231 22.9497 24.1075C22.645 23.7325 22.7012 23.184 23.0762 22.8793C23.259 22.734 23.4887 22.6637 23.7184 22.6872C23.9528 22.7153 24.159 22.8278 24.309 23.0059C24.4544 23.1887 24.52 23.4184 24.4965 23.6481ZM21.7924 15.1926C21.8583 15.2828 21.8419 15.4083 21.7553 15.4783L15.95 20.1804C15.8653 20.2489 15.7353 20.2372 15.6634 20.1575L14.2545 18.5889C16.4769 17.0513 18.587 15.337 20.5533 13.4869L21.7924 15.1926ZM23.9434 23.3012C24.009 23.3856 24.0419 23.4934 24.0325 23.6012C24.0184 23.709 23.9669 23.8075 23.8825 23.8731C23.709 24.0137 23.4559 23.9856 23.3106 23.8122C23.17 23.6387 23.1981 23.3856 23.3715 23.245C23.4465 23.184 23.5356 23.1512 23.6247 23.1512C23.6434 23.1512 23.6574 23.1559 23.6715 23.1559C23.7794 23.1652 23.8731 23.2168 23.9434 23.3012Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Poles dan Waxing
              </h5>
              <p class="text-white">
                Ingin melindungi dan memperindah tampilan cat mobil Anda?
                Percayakan pada tim kami untuk memberikan lapisan pelindung dan
                kilap pada cat mobil dengan mengaplikasikan polish dan wax pada
                mobil Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_995)">
                <path
                  d="M29.1836 5.86775L27.8832 4.56727L27.8831 4.56721L25.4368 2.12092L25.4366 2.12074L24.1298 0.813867C23.6049 0.289043 22.9071 0 22.1648 0C21.4226 0 20.7248 0.289043 20.1999 0.813809C20.0164 0.997266 19.9133 1.24605 19.9133 1.50545C19.9133 1.76496 20.0164 2.01375 20.1999 2.19721L22.0884 4.08574L21.6156 4.55859L20.6691 3.61219C20.4856 3.42873 20.2368 3.32561 19.9774 3.32561C19.7181 3.32561 19.4691 3.42873 19.2858 3.61219L18.0126 4.88537C17.6306 5.2674 17.6306 5.88674 18.0126 6.26877L18.9591 7.21523L18.5309 7.64344L17.5844 6.69697C17.2024 6.31494 16.5831 6.31494 16.201 6.69697L14.9277 7.97021C14.7443 8.15367 14.6411 8.40246 14.6411 8.66185C14.6411 8.92137 14.7443 9.1701 14.9277 9.3535L15.8742 10.3L15.4269 10.7472L13.4768 8.79709C13.2663 8.58656 12.925 8.58656 12.7145 8.79709L9.01813 12.4934C8.8076 12.7039 8.8076 13.0453 9.01813 13.2557L10.0364 14.274C10.2469 14.4845 10.5881 14.4845 10.7987 14.274L11.8409 13.2318L12.3915 13.7824L9.82784 16.3461C8.0204 15.5983 5.92608 15.6311 4.12262 16.4786L3.6118 15.9677C3.33167 15.6876 2.8775 15.6876 2.59731 15.9677L0.214009 18.3512C-0.0661279 18.6313 -0.0661279 19.0855 0.214009 19.3657L0.724888 19.8765C-0.477983 22.4366 -0.0780808 25.6684 2.12874 27.8752C4.3127 30.0592 7.5387 30.4954 10.1274 29.279L10.6382 29.7898C10.9183 30.07 11.3725 30.07 11.6527 29.7898L14.0359 27.4066C14.3161 27.1264 14.3161 26.6723 14.0359 26.3921L13.5251 25.8813C14.3717 24.0796 14.4061 21.9853 13.6575 20.1761L16.2212 17.6123L16.7719 18.163L15.7297 19.2052C15.5192 19.4157 15.5192 19.757 15.7297 19.9675L16.7479 20.9857C16.9585 21.1962 17.2998 21.1962 17.5102 20.9857L21.2066 17.2894C21.4171 17.0788 21.4171 16.7375 21.2066 16.527L19.2565 14.5769L19.7037 14.1296L20.6502 15.0761C20.8412 15.2671 21.0915 15.3627 21.3418 15.3627C21.5921 15.3627 21.8425 15.2672 22.0334 15.0761L23.3066 13.8029C23.4901 13.6195 23.5932 13.3707 23.5932 13.1113C23.5932 12.8518 23.4902 12.603 23.3066 12.4196L22.3602 11.4732L22.7884 11.045L23.7348 11.9914C23.9183 12.1749 24.1671 12.278 24.4265 12.278C24.6859 12.278 24.9348 12.1749 25.1181 11.9914L26.3913 10.7183C26.7733 10.3362 26.7733 9.7169 26.3913 9.33486L25.4448 8.3884L25.9177 7.91549L27.7998 9.79758C27.9833 9.98104 28.2321 10.0842 28.4915 10.0842C28.7509 10.0842 28.9998 9.98104 29.1831 9.79758C30.267 8.71406 30.267 6.95115 29.1836 5.86775ZM9.90782 25.6618C8.36973 27.1999 5.88043 27.1999 4.34217 25.6618C2.80415 24.1238 2.80397 21.6343 4.34217 20.0961C5.88014 18.5581 8.36956 18.5579 9.90782 20.0961C11.4458 21.6341 11.446 24.1236 9.90782 25.6618Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_995">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan Mesin
              </h5>
              <p class="text-white">
                Apakah Anda ingin meningkatkan kinerja mesin dengan pembersihan
                yang mendalam? Tim kami handal membersihkan mesin mobil dari
                debu, kotoran, dan minyak sisa untuk menjaga kinerja mesin.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.46484 3.91113V24.9492L6.03516 23.4258V5.43398L1.46484 3.91113ZM28.5352 3.91113L23.9648 5.43398V23.4258L28.5352 24.9492V15.6738C28.4766 15.8613 28.3945 16.0371 28.2891 16.1895C28.0488 16.5469 27.6621 16.834 27.1875 16.834C26.7129 16.834 26.3262 16.5469 26.0859 16.1895C25.8457 15.832 25.7227 15.3809 25.7227 14.9004C25.7227 14.4199 25.8457 13.9688 26.0859 13.6113C26.3262 13.2539 26.7129 12.9668 27.1875 12.9668C27.6621 12.9668 28.0488 13.2539 28.2891 13.6113C28.3945 13.7637 28.4766 13.9395 28.5352 14.127V3.91113ZM7.08984 5.58105V23.2793H14.4727V5.58105H7.08984ZM15.5273 5.58105V23.2793H22.9102V5.58105H15.5273ZM7.91016 6.4043H13.6523V22.459H7.91016V6.93164V6.4043ZM16.3477 6.4043H22.0898V22.459H16.3477V6.93164V6.4043ZM8.96484 7.45898V13.9043H12.5977V7.45898H8.96484ZM17.4023 7.45898V13.9043H21.0352V7.45898H17.4023ZM27.1875 14.0215C27.1406 14.0215 27.0645 14.0449 26.9648 14.1973C26.8652 14.3496 26.7773 14.6074 26.7773 14.9004C26.7773 15.1934 26.8652 15.4512 26.9648 15.6035C27.0645 15.7559 27.1406 15.7793 27.1875 15.7793C27.2344 15.7793 27.3105 15.7559 27.4102 15.6035C27.5098 15.4512 27.5977 15.1934 27.5977 14.9004C27.5977 14.6074 27.5098 14.3496 27.4102 14.1973C27.3105 14.0449 27.2344 14.0215 27.1875 14.0215ZM8.96484 14.959V21.4043H12.5977V14.959H8.96484ZM17.4023 14.959V21.4043H21.0352V14.959H17.4023ZM6.62109 24.334V26.0918H23.3789V24.334H6.62109Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemeliharaan dan Perbaikan
              </h5>
              <p class="text-white">
                Layanan pemeliharaan dan perbaikan gorden untuk menjaga tampilan
                dan fungsionalitasnya! Kami memberikan layanan pemeliharaan dan
                perbaikan untuk gorden yang sudah terpasang maupun pergantian
                bagian yang dirasa perlu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
