<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Kebun Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6049_8057)">
                <path
                  d="M26.25 3.75V6.25C26.25 11.0825 22.3325 15 17.5 15H16.25V16.25H22.5V25C22.5 26.3812 21.3813 27.5 20 27.5H10C8.61875 27.5 7.5 26.3812 7.5 25V16.25H13.75V12.5C13.75 7.6675 17.6675 3.75 22.5 3.75H26.25ZM6.875 2.5C10.0363 2.5 12.8312 4.06375 14.53 6.46125C13.255 8.1375 12.5 10.2312 12.5 12.5V13.75H11.875C6.6975 13.75 2.5 9.5525 2.5 4.375V2.5H6.875Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6049_8057">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Tukang Kebun
              </h5>
              <p class="text-white">
                Tukang kami dapat Memilih, menanam, dan merawat berbagai jenis
                tanaman hias, tanaman buah, atau tanaman sayuran untuk
                menciptakan kebun yang indah dan produktif.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6049_8061)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16.4773 13.3381C16.027 13.0384 15.889 12.433 16.172 11.966C18.0276 8.65772 20.2058 5.52427 22.4183 2.40922C22.7562 1.93823 24.2983 0.222248 24.733 0.576304C24.9419 0.746389 24.6566 1.51321 24.366 1.99253L19.4821 10.3333L16.7958 11.9062C16.3165 12.1968 16.1633 12.8221 16.454 13.3014C16.4615 13.3139 16.4692 13.326 16.4773 13.3381Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20.0564 8.99248L19.4818 10.3332L16.9544 11.8131C16.7715 11.3598 16.9387 10.8271 17.3701 10.5654L20.0564 8.99248Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M24.3658 1.99213C24.6565 1.51267 24.9417 0.745869 24.7329 0.575748C24.2981 0.221817 22.756 1.93771 22.4181 2.40873C20.2056 5.52381 18.0274 8.65734 16.1719 11.9656C15.8812 12.445 16.0343 13.0702 16.5137 13.361C16.993 13.6517 17.6183 13.4984 17.909 13.0191L24.3658 1.99213Z"
                  stroke="white"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.6559 12.5865C15.6559 12.5865 16.0721 12.3822 16.3887 12.1605C17.0393 11.705 17.7661 11.6187 18.0107 11.9681C18.2552 12.3173 17.9256 12.9707 17.275 13.4263C16.7265 13.8104 15.8199 13.8967 15.8199 13.8967L14.2067 14.0988L14.4729 14.479L13.7923 14.9556C13.323 14.4781 13.0624 14.5297 12.4652 14.8927L11.8438 14.0052L13.3853 12.9258L13.4888 12.8578L15.6559 12.5865Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.2687 12.6351L15.6557 12.5867C15.6557 12.5867 16.072 12.3824 16.3887 12.1606C17.0393 11.7052 15.8198 13.8969 15.8198 13.8969L14.7084 14.0361C14.7615 13.728 14.8853 13.1967 15.1438 12.8275C15.1933 12.7569 15.2351 12.6922 15.2687 12.6351Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.6559 12.5865C15.6559 12.5865 16.0721 12.3822 16.3887 12.1605C17.0393 11.705 17.7661 11.6187 18.0107 11.9681C18.2552 12.3173 17.9256 12.9707 17.275 13.4263C16.7265 13.8104 15.8199 13.8967 15.8199 13.8967L14.2067 14.0988L14.4729 14.479L13.7923 14.9556C13.323 14.4781 13.0624 14.5297 12.4652 14.8927L11.8438 14.0052L13.3853 12.9258L13.4888 12.8578L15.6559 12.5865Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.0536 17.2495C7.50426 19.405 4.79881 21.6135 2.95467 22.9048C2.30237 23.3615 1.38002 23.1714 0.896227 22.4805C0.412436 21.7895 0.549226 20.8578 1.20152 20.401C3.04566 19.1097 6.04625 17.3228 8.94368 15.6644L10.0536 17.2495Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.60004 16.602L10.0537 17.2499C7.50433 19.4054 4.79887 21.6139 2.95473 22.9052C2.3025 23.3619 1.38012 23.1718 0.896298 22.4808C0.511946 21.9318 0.519347 21.2307 0.865883 20.7367C0.911804 20.9221 0.99255 21.1035 1.10966 21.2707C1.59348 21.9617 2.51587 22.1518 3.1681 21.6951C4.85221 20.5159 7.25455 18.5718 9.60004 16.602Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.0536 17.2495C7.50426 19.405 4.79881 21.6135 2.95467 22.9048C2.30237 23.3615 1.38002 23.1714 0.896227 22.4805C0.412435 21.7895 0.549226 20.8578 1.20152 20.401C3.04566 19.1097 6.04625 17.3228 8.94368 15.6644L10.0536 17.2495Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8.64556 15.2385C9.65992 14.7071 10.6729 14.1887 11.6333 13.7046L12.8152 15.3925C12.0318 16.1294 11.1982 16.904 10.3519 17.6754L8.64556 15.2385Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.2495 14.5852L12.8151 15.393C12.0318 16.13 11.1982 16.9045 10.3519 17.6759L9.17779 15.9991L9.77307 16.7176C10.3806 16.1639 11.421 15.3007 12.2495 14.5852Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8.64556 15.2385C9.65992 14.7071 10.6729 14.1887 11.6333 13.7046L12.8152 15.3925C12.0318 16.1294 11.1982 16.904 10.3519 17.6754L8.64556 15.2385Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M27.8228 5.44868C28.3023 5.15791 29.0691 4.87271 29.2392 5.08159C29.5931 5.51635 27.8772 7.05843 27.4062 7.39631C24.2911 9.60885 21.1576 11.787 17.8493 13.6426C17.37 13.9332 16.7447 13.7802 16.454 13.3008C16.1633 12.8214 16.3165 12.1962 16.7958 11.9055L27.8228 5.44868Z"
                  fill="white"
                  stroke="white"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M17.2284 14.159C17.2284 14.159 17.4327 13.7428 17.6544 13.4262C18.1099 12.7756 18.1962 12.0489 17.8469 11.8043C17.4976 11.5597 16.8442 11.8894 16.3887 12.5399C16.0046 13.0884 15.9182 13.995 15.9182 13.995L15.7162 15.6083L15.336 15.342L14.8594 16.0227C15.3368 16.4919 15.2853 16.7526 14.9222 17.3497L15.8098 17.9712L16.8892 16.4296L16.9572 16.3261L17.2284 14.159Z"
                  fill="white"
                  stroke="white"
                  stroke-width="2"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.1485 21.0097C12.4901 23.9071 10.7031 26.9077 9.41181 28.7518C8.95506 29.4041 8.0233 29.5409 7.33238 29.0571C6.64145 28.5733 6.45132 27.651 6.90806 26.9987C8.19935 25.1545 10.4078 22.4491 12.5633 19.8997L14.1485 21.0097Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13.5004 20.5562L14.1484 21.01C12.4899 23.9074 10.703 26.908 9.41169 28.7521C8.95499 29.4044 8.02322 29.5412 7.33225 29.0574C6.7833 28.6729 6.55048 28.0116 6.70716 27.4289C6.8137 27.5873 6.95163 27.7302 7.11888 27.8473C7.80985 28.3311 8.74162 28.1943 9.19832 27.5421C10.3776 25.858 11.9701 23.2095 13.5004 20.5562Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.1485 21.0097C12.4901 23.9071 10.7031 26.9077 9.41181 28.7518C8.95506 29.4041 8.0233 29.5409 7.33238 29.0571C6.64145 28.5733 6.45132 27.651 6.90806 26.9987C8.19935 25.1545 10.4078 22.4491 12.5633 19.8997L14.1485 21.0097Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.137 19.6015C12.9084 18.7552 13.683 17.9216 14.4199 17.1382L16.1078 18.3201C15.6237 19.2806 15.1053 20.2935 14.5739 21.3079L12.137 19.6015Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.3003 17.7546L16.1081 18.3203C15.624 19.2808 15.1056 20.2937 14.5742 21.308L12.8974 20.1339L13.7025 20.6054C14.084 19.8773 14.7665 18.7104 15.3003 17.7546Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.137 19.6015C12.9084 18.7552 13.683 17.9216 14.4199 17.1382L16.1078 18.3201C15.6237 19.2806 15.1053 20.2935 14.5739 21.3079L12.137 19.6015Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-miterlimit="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_6049_8061">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemangkas Tumbuhan
              </h5>
              <p class="text-white">
                Rumput rumah anda sudah sangat panjang dan mengganggu? Tukang
                kami dapat memangkas, memotong, dan merawatan untuk menjaga
                kesehatan dan estetika tumbuhan di taman atau kebun.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6049_8104)">
                <path
                  d="M28.8119 15.0004C28.8119 12.217 28.6464 9.62715 27.8411 7.45311C29.0622 4.90875 29.4981 2.48954 29.4981 1.40392C29.4981 -1.37669 23.0069 0.831566 14.9998 0.831566C6.99275 0.831566 0.501465 -1.37669 0.501465 1.40386C0.501465 2.44872 0.902257 4.72963 2.02209 7.16896C1.23414 9.39923 1.18724 12.0955 1.18724 15.0003C1.18724 17.7832 1.35316 20.3726 2.15849 22.5467C0.937427 25.091 0.501465 27.5107 0.501465 28.5968C0.501465 31.3765 6.99269 29.1682 14.9998 29.1682C23.0069 29.1682 29.4981 31.3765 29.4981 28.5968C29.4981 27.5511 28.9674 25.2687 27.7337 22.8285C28.6347 20.5986 28.8119 17.9038 28.8119 15.0004Z"
                  fill="white"
                />
                <path
                  d="M15 29.1682C23.0071 29.1682 29.4983 31.3765 29.4983 28.5968C29.4983 27.5511 28.9677 25.2687 27.7339 22.8284C28.6348 20.5986 28.8121 17.9038 28.8121 15.0004C28.8121 12.217 28.6466 9.62713 27.8413 7.4531C29.0624 4.90874 29.4983 2.48953 29.4983 1.40391C29.4983 -1.3767 23.0071 0.831552 15 0.831552"
                  fill="white"
                />
                <path
                  d="M14.9997 0.831599C7.66808 0.831599 1.61139 -1.01716 0.640625 0.804879C3.11702 1.59706 8.6126 2.14829 14.9997 2.14829C21.3869 2.14829 26.8829 1.59706 29.3589 0.805355C28.3881 -1.01716 22.3314 0.831599 14.9997 0.831599Z"
                  fill="white"
                />
                <path
                  d="M29.3591 0.805151C29.3591 0.804675 29.3581 0.804199 29.3581 0.804199C29.3295 0.749808 29.2953 0.699225 29.2573 0.65138C29.2545 0.648107 29.2526 0.644834 29.2526 0.644834C29.2123 0.594668 29.1692 0.551524 29.1237 0.510285C29.12 0.507488 29.1162 0.503739 29.1129 0.500882C29.0656 0.460119 29.014 0.422152 28.9592 0.387459C28.9554 0.385554 28.9526 0.38371 28.9493 0.381389C27.6875 -0.400021 24.3383 0.207504 20.0216 0.586694C19.9892 0.589491 19.956 0.592348 19.9236 0.595144C19.7488 0.610141 19.5721 0.624661 19.3944 0.639657C19.334 0.644358 19.2735 0.649059 19.213 0.653701C19.0579 0.665424 18.9013 0.677148 18.7433 0.688395C18.6702 0.693572 18.5971 0.69869 18.5235 0.703391C18.3754 0.71321 18.2259 0.723088 18.0759 0.732431C17.9934 0.737609 17.9128 0.74225 17.8307 0.746951C17.6859 0.755402 17.5396 0.762424 17.3929 0.769922C17.3057 0.774147 17.219 0.778848 17.1318 0.782121C16.9856 0.788667 16.8379 0.793844 16.6908 0.799438C16.6026 0.802235 16.5159 0.805984 16.4278 0.808841C16.2684 0.814018 16.1081 0.817291 15.9483 0.820564C15.8714 0.821992 15.795 0.824313 15.7177 0.825741C15.4795 0.82949 15.241 0.831394 15 0.831394V2.14809C21.3871 2.14809 26.8827 1.59686 29.3591 0.805151Z"
                  fill="white"
                />
                <path
                  d="M3.92592 15.0003C3.92592 11.3014 2.99496 8.0403 1.57752 6.11328C1.71207 6.45968 1.85876 6.81215 2.02235 7.16938C1.23439 9.39966 1.1875 12.0959 1.1875 15.0007C1.1875 17.7837 1.35341 20.373 2.15874 22.5471C1.94267 22.9981 1.75141 23.4439 1.58264 23.8807C2.99687 21.9517 3.92592 18.6945 3.92592 15.0003Z"
                  fill="white"
                />
                <path
                  d="M26.0742 14.9996C26.0742 18.0712 26.7173 20.8392 27.7467 22.7939C28.6355 20.5711 28.8117 17.8889 28.8117 15C28.8117 12.2166 28.6462 9.62677 27.8409 7.45273C28.057 7.00178 28.2478 6.55558 28.417 6.11914C27.0033 8.04806 26.0742 11.3054 26.0742 14.9996Z"
                  fill="white"
                />
                <path
                  d="M14.9999 26.1323C12.6628 26.1328 10.4653 25.2225 8.8129 23.5697C5.40091 20.1587 5.40091 14.6073 8.8129 11.1953C9.0876 10.9206 9.53243 10.9206 9.80712 11.1953C10.0818 11.47 10.0818 11.9148 9.80712 12.1895C6.94403 15.0531 6.94403 19.7124 9.80712 22.5755C12.6707 25.4381 17.3291 25.4381 20.1927 22.5755C21.5797 21.1885 22.3432 19.344 22.3432 17.3823C22.3432 15.4206 21.5796 13.5765 20.1927 12.1895C19.918 11.9148 19.918 11.47 20.1927 11.1953C20.4673 10.9206 20.9122 10.9206 21.1869 11.1953C22.8392 12.8476 23.7495 15.0451 23.7495 17.3827C23.7495 19.7194 22.8397 21.9173 21.1869 23.5697C19.5341 25.222 17.3371 26.1323 14.9999 26.1323Z"
                  fill="#2C66A6"
                />
                <path
                  d="M21.187 23.5697C22.8393 21.9173 23.7496 19.7194 23.7496 17.3827C23.7496 15.0451 22.8398 12.8476 21.187 11.1953C20.9123 10.9206 20.4675 10.9206 20.1928 11.1953C19.9181 11.47 19.9181 11.9148 20.1928 12.1895C21.5798 13.5765 22.3434 15.4211 22.3434 17.3823C22.3434 19.3445 21.5798 21.1885 20.1928 22.5755C18.7608 24.007 16.8807 24.7223 15 24.7223V26.1323C17.3372 26.1323 19.5347 25.2225 21.187 23.5697Z"
                  fill="#2C66A6"
                />
                <path
                  d="M15.1564 22.4597C15.1564 22.5464 15.0861 22.6163 14.9998 22.6163C14.9136 22.6163 14.8433 22.5464 14.8433 22.4597V9.10043C14.8433 9.0142 14.9136 8.94434 14.9998 8.94434C15.0861 8.94434 15.1564 9.0142 15.1564 9.10043V22.4597Z"
                  fill="#2C66A6"
                />
                <path
                  d="M14.9998 23.5132C15.3395 23.5132 15.6148 23.2379 15.6148 22.8982C15.6148 22.5586 15.3395 22.2832 14.9998 22.2832C14.6601 22.2832 14.3848 22.5586 14.3848 22.8982C14.3848 23.2379 14.6601 23.5132 14.9998 23.5132Z"
                  fill="#2C66A6"
                />
                <path
                  d="M15.0056 5.54199C14.356 5.86072 13.8643 7.29465 13.8643 7.979C13.8643 8.66335 14.3565 9.231 15.0056 9.3524V5.54199Z"
                  fill="#2C66A6"
                />
                <path
                  d="M14.9941 5.54199C15.6438 5.86072 16.135 7.29465 16.135 7.979C16.135 8.66335 15.6433 9.231 14.9941 9.3524V5.54199Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.8747 9.81471C17.1899 9.58126 15.8286 10.2478 15.3444 10.7316C14.8611 11.2153 14.8072 11.9648 15.1804 12.509L17.8747 9.81471Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.8672 9.80762C18.1006 10.492 17.4341 11.8537 16.9508 12.3375C16.4666 12.8212 15.7175 12.8746 15.1729 12.502L17.8672 9.80762Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.8747 12.9788C17.1899 12.7453 15.8286 13.4119 15.3444 13.8956C14.8611 14.3794 14.8072 15.1289 15.1804 15.6731L17.8747 12.9788Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.8672 12.9717C18.1006 13.656 17.4341 15.0178 16.9508 15.5015C16.4666 15.9853 15.7175 16.0387 15.1729 15.6661L17.8672 12.9717Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.8747 16.1428C17.1899 15.9094 15.8286 16.5759 15.3444 17.0597C14.8611 17.5434 14.8072 18.2929 15.1804 18.8372L17.8747 16.1428Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.8672 16.1357C18.1006 16.8201 17.4341 18.1818 16.9508 18.6656C16.4666 19.1493 15.7175 19.2028 15.1729 18.8301L17.8672 16.1357Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.3947 19.7856C16.8317 19.5938 15.7119 20.1418 15.3144 20.5393C14.916 20.9373 14.8724 21.5532 15.1789 22.0009L17.3947 19.7856Z"
                  fill="#2C66A6"
                />
                <path
                  d="M17.3886 19.7793C17.5808 20.3423 17.0333 21.4621 16.6354 21.8596C16.2374 22.2571 15.6219 22.3012 15.1733 21.9946L17.3886 19.7793Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.125 9.81471C12.8098 9.58126 14.1711 10.2478 14.6553 10.7316C15.1386 11.2153 15.1925 11.9648 14.8194 12.509L12.125 9.81471Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.1326 9.80762C11.8991 10.492 12.5657 11.8537 13.049 12.3375C13.5332 12.8212 14.2822 12.8746 14.8269 12.502L12.1326 9.80762Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.125 12.9788C12.8098 12.7453 14.1711 13.4119 14.6553 13.8956C15.1386 14.3794 15.1925 15.1289 14.8194 15.6731L12.125 12.9788Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.1326 12.9717C11.8991 13.656 12.5657 15.0178 13.049 15.5015C13.5332 15.9853 14.2822 16.0387 14.8269 15.6661L12.1326 12.9717Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.125 16.1428C12.8098 15.9094 14.1711 16.5759 14.6553 17.0597C15.1386 17.5434 15.1925 18.2929 14.8194 18.8372L12.125 16.1428Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.1326 16.1357C11.8991 16.8201 12.5657 18.1818 13.049 18.6656C13.5332 19.1493 14.2822 19.2028 14.8269 18.8301L12.1326 16.1357Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.605 19.7856C13.1679 19.5938 14.2878 20.1418 14.6853 20.5393C15.0837 20.9373 15.1273 21.5532 14.8207 22.0009L12.605 19.7856Z"
                  fill="#2C66A6"
                />
                <path
                  d="M12.6115 19.7793C12.4192 20.3423 12.9668 21.4621 13.3647 21.8596C13.7627 22.2571 14.3782 22.3012 14.8267 21.9946L12.6115 19.7793Z"
                  fill="#2C66A6"
                />
              </g>
              <defs>
                <clipPath id="clip0_6049_8104">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemupukan Tanah
              </h5>
              <p class="text-white">
                Tanah Anda kering dan kurang nutrisi? Tukang kami dapat
                memberikan nutrisi dengan melakukan pemupukan dan pemulsaan
                untuk meningkatkan kualitas tanah dan tanaman.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6049_8134)">
                <path
                  d="M13.3917 1.83301H10.1357V4.23324H13.3917V1.83301Z"
                  fill="white"
                />
                <path
                  d="M11.4197 9.02402C11.0071 9.02402 10.6228 8.76252 10.4858 8.34943C10.3148 7.83363 10.5943 7.27676 11.1101 7.10566C12.9698 6.48897 13.9698 3.9463 13.9793 3.92075C14.1704 3.41192 14.7377 3.15429 15.2464 3.34524C15.7553 3.5362 16.0129 4.1035 15.8219 4.61233C15.7693 4.75243 14.5021 8.05424 11.7295 8.97363C11.6268 9.00785 11.5223 9.02402 11.4197 9.02402Z"
                  fill="white"
                />
                <path
                  opacity="0.1"
                  d="M14.9158 6.32496C15.5053 5.43985 15.7974 4.67807 15.8221 4.61233C16.0131 4.1035 15.7554 3.5362 15.2466 3.34524C14.7378 3.15429 14.1705 3.41192 13.9795 3.92075C13.9724 3.93973 13.4179 5.3492 12.3701 6.32496H14.9158Z"
                  fill="white"
                />
                <path
                  d="M24.1232 4.40322L22.4519 1.91328C22.1958 1.53166 21.7663 1.30273 21.3067 1.30273H12.3154V4.76339H16.7844V9.07465H20.0442V7.9302C20.0442 7.16848 20.6616 6.55102 21.4233 6.55102H22.9779C24.0815 6.55108 24.7382 5.3195 24.1232 4.40322Z"
                  fill="white"
                />
                <g opacity="0.1">
                  <path
                    d="M24.1235 4.40316L22.4522 1.91328C22.1961 1.53172 21.7667 1.30273 21.3071 1.30273H20.0576C20.5172 1.30273 20.9467 1.53172 21.2028 1.91328L22.874 4.40316C23.489 5.31945 22.8324 6.55097 21.7289 6.55097H22.9783C24.0818 6.55103 24.7385 5.31945 24.1235 4.40316Z"
                    fill="white"
                  />
                </g>
                <path
                  d="M20.8857 8.15332H15.3701V11.9166H20.8857V8.15332Z"
                  fill="white"
                />
                <path
                  opacity="0.1"
                  d="M20.8857 8.15332H18.6992V11.9166H20.8857V8.15332Z"
                  fill="white"
                />
                <path
                  d="M25.0657 19.1831L24.244 18.4646L21.7452 10.6045H14.5097L12.0109 18.4646L11.1892 19.1831C10.4595 19.8212 10.1449 20.8119 10.3729 21.7541L12.368 30.0004H23.887L25.8821 21.7541C26.11 20.8119 25.7954 19.8211 25.0657 19.1831Z"
                  fill="white"
                />
                <path
                  opacity="0.1"
                  d="M21.9426 19.183L21.1209 18.4645L18.6221 10.6045H21.7456L24.2445 18.4645L25.0661 19.183C25.7959 19.821 26.1105 20.8119 25.8825 21.754L23.8874 30.0004H20.7638L22.759 21.754C22.9869 20.8118 22.6723 19.821 21.9426 19.183Z"
                  fill="white"
                />
                <path
                  d="M6.34146 3.50148H4.51246C4.25371 3.50148 4.04395 3.29172 4.04395 3.03297C4.04395 2.77422 4.25371 2.56445 4.51246 2.56445H6.34146C6.60021 2.56445 6.80998 2.77422 6.80998 3.03297C6.80998 3.29172 6.60021 3.50148 6.34146 3.50148Z"
                  fill="white"
                />
                <path
                  d="M7.59105 2.25194C7.47116 2.25194 7.35122 2.20624 7.25976 2.11472L5.94486 0.799818C5.76187 0.61683 5.76187 0.320229 5.94486 0.137241C6.12785 -0.045747 6.42451 -0.045747 6.60744 0.137241L7.92233 1.45214C8.10532 1.63513 8.10532 1.93173 7.92233 2.11472C7.83087 2.20624 7.71099 2.25194 7.59105 2.25194Z"
                  fill="white"
                />
                <path
                  d="M6.27615 6.06542C6.15626 6.06542 6.03632 6.01972 5.94486 5.92819C5.76187 5.74521 5.76187 5.44861 5.94486 5.26562L7.25976 3.95072C7.44275 3.76773 7.73941 3.76773 7.92233 3.95072C8.10532 4.13371 8.10532 4.43031 7.92233 4.61329L6.60744 5.92819C6.51597 6.01966 6.39609 6.06542 6.27615 6.06542Z"
                  fill="white"
                />
                <g opacity="0.1">
                  <path
                    d="M22.1332 18.9331H14.1218C13.8631 18.9331 13.6533 18.7234 13.6533 18.4646C13.6533 18.2059 13.8631 17.9961 14.1218 17.9961H22.1331C22.3919 17.9961 22.6016 18.2059 22.6016 18.4646C22.6016 18.7234 22.3919 18.9331 22.1332 18.9331Z"
                    fill="white"
                  />
                </g>
              </g>
              <defs>
                <clipPath id="clip0_6049_8134">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pengendalian Hama
              </h5>
              <p class="text-white">
                Mengalami kendala dengan hama yang menyerah tumbuhan Anda?
                Jangan khawatir. Tukang kami dapat mengendalikan, dan mencegah
                serangan hama atau penyakit tanaman yang dapat merusak kebun.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.2524 22.1429V27.076H10.7476V22.1429H12.3761C12.9257 22.1429 13.3724 21.6961 13.3724 21.1456V18.2061H16.6286V21.1456C16.6286 21.6961 17.0743 22.1429 17.6249 22.1429H19.2524Z"
                fill="white"
              />
              <path
                d="M19.2524 14.2686H10.7476V16.2117H19.2524V14.2686Z"
                fill="white"
              />
              <path
                d="M4.07693 12.3042C4.12836 12.2981 4.17878 12.2931 4.22819 12.2891C3.71088 12.996 3.72802 13.5627 3.80365 14.2928L3.81676 14.4138C3.85004 14.7536 3.71995 14.8938 3.61911 14.9694C3.38113 15.1479 2.9576 15.1933 2.65306 15.0712C2.16802 14.8776 1.93105 14.325 2.12466 13.84C2.49071 12.9264 3.12903 12.4242 4.07693 12.3042Z"
                fill="white"
              />
              <path
                d="M5.66338 8.18622C5.10371 8.11261 4.69934 8.28404 4.22237 8.53513L4.13564 8.58051C3.92993 8.6874 3.83615 8.62992 3.79077 8.60269C3.62741 8.50387 3.48926 8.23765 3.48926 8.02286C3.48926 7.67496 3.77262 7.3916 4.12052 7.3916C4.90707 7.3916 5.38001 7.76169 5.66338 8.18622Z"
                fill="white"
              />
              <path
                d="M8.52831 2.56721C9.26042 3.2257 9.51151 3.99914 9.29672 4.9299C9.28462 4.98032 9.27252 5.02872 9.2584 5.07713C8.77336 4.34805 8.23487 4.16856 7.52394 3.98704L7.40596 3.95679C7.07621 3.87209 6.98949 3.70066 6.95319 3.58066C6.86747 3.29528 6.97235 2.88183 7.19117 2.6378C7.37773 2.43007 7.63588 2.3252 7.89605 2.3252C8.12092 2.3252 8.34781 2.40486 8.52831 2.56721Z"
                fill="white"
              />
              <path
                d="M25.679 13.6867C25.9846 13.7996 26.1419 14.1395 26.0299 14.446C25.7778 15.1297 25.3109 15.4363 24.8501 15.5593C25.084 15.0874 25.0619 14.6689 24.9953 14.1606L24.9832 14.0659C24.956 13.8541 25.0326 13.7936 25.0699 13.7633C25.1607 13.6907 25.3109 13.6504 25.4572 13.6504C25.5358 13.6504 25.6125 13.6625 25.679 13.6867Z"
                fill="white"
              />
              <path
                d="M24.7 7.81346C24.8815 8.08674 24.9258 8.51128 24.7998 8.78052C24.7463 8.89447 24.6364 9.05077 24.2966 9.08808L24.1756 9.10018C23.4435 9.17783 22.8828 9.27867 22.2949 9.93716C22.2001 9.18388 22.3524 8.24001 23.387 7.55128C23.5968 7.41111 23.8489 7.36069 24.0979 7.4101C24.346 7.45951 24.5598 7.60371 24.7 7.81346Z"
                fill="white"
              />
              <path
                d="M28.9787 27.0757C29.5293 27.0757 29.975 27.5214 29.975 28.072C29.975 28.6226 29.5293 29.0693 28.9787 29.0693H1.0227C0.472113 29.0693 0.0253906 28.6226 0.0253906 28.072C0.0253906 27.5214 0.472113 27.0757 1.0227 27.0757H8.75514V21.1453C8.75514 20.5947 9.20085 20.149 9.75144 20.149H11.379V18.2058H9.75144C9.20085 18.2058 8.75514 17.7591 8.75514 17.2085V13.2717C8.75514 12.7211 9.20085 12.2754 9.75144 12.2754H20.2499C20.7995 12.2754 21.2462 12.7211 21.2462 13.2717V17.2085C21.2462 17.7591 20.7995 18.2058 20.2499 18.2058H18.6214V20.149H20.2499C20.7995 20.149 21.2462 20.5947 21.2462 21.1453V27.0757H28.9787ZM19.2526 27.0757V22.1426H17.6251C17.0745 22.1426 16.6288 21.6959 16.6288 21.1453V18.2058H13.3726V21.1453C13.3726 21.6959 12.9259 22.1426 12.3763 22.1426H10.7477V27.0757H19.2526ZM19.2526 16.2122V14.269H10.7477V16.2122H19.2526Z"
                fill="white"
              />
              <path
                d="M26.1601 12.3769C27.1887 12.7551 27.7171 13.8996 27.3389 14.9272C26.7319 16.579 25.3554 17.0267 24.2411 17.0267C23.8378 17.0267 23.4697 16.9682 23.1843 16.8875C22.9383 16.8169 22.7497 16.6173 22.6942 16.3662C22.6388 16.1161 22.7255 15.8549 22.9201 15.6875C23.7006 15.0149 23.6835 14.8858 23.6119 14.3423L23.5988 14.2435C23.5171 13.6042 23.7309 13.0465 24.1998 12.6724C24.7221 12.2569 25.5097 12.1379 26.1601 12.3769ZM26.03 14.4462C26.142 14.1396 25.9846 13.7998 25.6791 13.6869C25.6125 13.6627 25.5359 13.6506 25.4572 13.6506C25.311 13.6506 25.1608 13.6909 25.07 13.7635C25.0327 13.7937 24.9561 13.8543 24.9833 14.066L24.9954 14.1608C25.062 14.669 25.0841 15.0875 24.8502 15.5595C25.311 15.4364 25.7779 15.1299 26.03 14.4462Z"
                fill="white"
              />
              <path
                d="M25.8609 7.03934C26.3156 7.72102 26.3973 8.65782 26.0635 9.37077C25.7691 10.001 25.1953 10.3933 24.4481 10.474L24.322 10.4881C23.601 10.5637 23.358 10.5889 22.7076 11.8504C22.5906 12.0783 22.3577 12.2235 22.1005 12.2286C22.0965 12.2286 22.0925 12.2286 22.0874 12.2286C21.8363 12.2286 21.6034 12.0924 21.4793 11.8726C20.8108 10.6837 20.1866 8.0074 22.6128 6.38892C23.1341 6.04203 23.7583 5.919 24.3714 6.04102C24.9846 6.16404 25.514 6.519 25.8609 7.03934ZM24.8 8.77984C24.9261 8.5106 24.8817 8.08606 24.7002 7.81278C24.56 7.60303 24.3462 7.45883 24.0982 7.40942C23.8491 7.36001 23.597 7.41043 23.3872 7.5506C22.3526 8.23934 22.2004 9.1832 22.2951 9.93648C22.883 9.27799 23.4437 9.17715 24.1758 9.0995L24.2968 9.0874C24.6367 9.05009 24.7466 8.89379 24.8 8.77984Z"
                fill="white"
              />
              <path
                d="M24.8694 22.1426C25.42 22.1426 25.8657 22.5883 25.8657 23.1389C25.8657 23.6895 25.42 24.1352 24.8694 24.1352C24.3188 24.1352 23.8721 23.6895 23.8721 23.1389C23.8721 22.5883 24.3178 22.1426 24.8684 22.1426H24.8694Z"
                fill="white"
              />
              <path
                d="M11.7136 8.98633C12.2642 8.98633 12.7099 9.43305 12.7099 9.98364C12.7099 10.5332 12.2642 10.9799 11.7136 10.9799C11.163 10.9799 10.7163 10.5332 10.7163 9.98364C10.7163 9.43305 11.162 8.98633 11.7126 8.98633H11.7136Z"
                fill="white"
              />
              <path
                d="M9.46205 1.5308C11.6291 3.48105 10.6258 6.03937 9.79281 7.12038C9.6597 7.29282 9.45399 7.39164 9.2402 7.39164C9.20289 7.39164 9.16457 7.38862 9.12726 7.38257C8.87415 7.34021 8.6634 7.16374 8.58071 6.92072C8.11886 5.57853 7.88289 5.51803 7.18004 5.33954L7.05701 5.30828C6.32894 5.11971 5.81768 4.64879 5.61701 3.98324C5.39012 3.22996 5.60592 2.31433 6.15348 1.70526C7.01768 0.745256 8.50104 0.666601 9.46205 1.5308ZM9.29667 4.93013C9.51146 3.99937 9.26037 3.22593 8.52827 2.56744C8.34777 2.40509 8.12088 2.32542 7.896 2.32542C7.63583 2.32542 7.37768 2.4303 7.19113 2.63803C6.9723 2.88206 6.86743 3.29551 6.95315 3.58089C6.98945 3.70089 7.07617 3.87232 7.40592 3.95702L7.5239 3.98727C8.23483 4.16879 8.77331 4.34828 9.25836 5.07736C9.27247 5.02895 9.28457 4.98055 9.29667 4.93013Z"
                fill="white"
              />
              <path
                d="M7.47358 9.29861C7.49375 9.55475 7.37072 9.8008 7.15493 9.93895C7.03997 10.0126 6.90888 10.0499 6.77778 10.0499C6.66182 10.0499 6.54484 10.0206 6.43896 9.96114C5.50014 9.43979 5.36703 9.50937 4.87089 9.77055L4.77913 9.81794C4.19728 10.1205 3.58921 10.1124 3.06686 9.79576C2.48501 9.44282 2.09375 8.72988 2.09375 8.02298C2.09375 6.90567 3.00333 5.99609 4.12064 5.99609C6.57509 5.99609 7.38686 8.1571 7.47358 9.29861ZM4.22249 8.53525C4.69946 8.28416 5.10383 8.11273 5.6635 8.18635C5.38014 7.76181 4.9072 7.39172 4.12064 7.39172C3.77274 7.39172 3.48938 7.67509 3.48938 8.02298C3.48938 8.23777 3.62753 8.50399 3.79089 8.60282C3.83627 8.63004 3.93005 8.68752 4.13577 8.58063L4.22249 8.53525Z"
                fill="white"
              />
              <path
                d="M6.43698 11.6172C6.48538 11.8693 6.3916 12.1275 6.19295 12.2898C5.09278 13.1863 5.11799 13.4293 5.19261 14.1503L5.20471 14.2764C5.27933 15.0246 5.01412 15.6669 4.45849 16.0854C4.06421 16.3809 3.55093 16.5362 3.03563 16.5362C2.72807 16.5362 2.4195 16.4807 2.13513 16.3678C0.936138 15.8878 0.350256 14.5224 0.829248 13.3234C1.91227 10.6159 4.66017 10.6743 5.96202 11.0838C6.20605 11.1604 6.38958 11.3651 6.43698 11.6172ZM4.22858 12.2898C4.17916 12.2938 4.12874 12.2989 4.07731 12.3049C3.12942 12.4249 2.4911 12.9271 2.12505 13.8407C1.93143 14.3258 2.16841 14.8784 2.65345 15.072C2.95799 15.194 3.38152 15.1486 3.6195 14.9701C3.72034 14.8945 3.85042 14.7543 3.81715 14.4145L3.80404 14.2935C3.72841 13.5634 3.71126 12.9967 4.22858 12.2898Z"
                fill="white"
              />
              <path
                d="M3.49145 20.498C4.04204 20.498 4.48775 20.9438 4.48775 21.4943C4.48775 22.0449 4.04204 22.4907 3.49145 22.4907C2.94086 22.4907 2.49414 22.0449 2.49414 21.4943C2.49414 20.9438 2.93986 20.498 3.49044 20.498H3.49145Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Sistem Irigasi
              </h5>
              <p class="text-white">
                Mencari cara efektif untuk memastikan tanaman Anda mendapatkan
                pasokan air yang tepat? Kami dapat membantu untuk memasang atau
                memperbaiki sistem irigasi untuk kebutuhan pertanian dan taman
                dengan memastikan distribusi air yang merata.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
