<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Home Cleaning dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6094_1056)">
                <path
                  d="M27.3409 0L17.098 10.2429C16.362 9.8199 15.4067 9.92205 14.7777 10.551C14.2516 11.0771 14.0943 11.8317 14.3044 12.4951C12.8591 11.7563 11.1972 11.6319 9.52433 12.3453C6.38643 13.9024 4.22145 17.1422 0 17.5186C0.322225 18.182 0.739475 18.9217 1.25122 19.7367C3.02635 20.0162 4.77435 19.4518 6.1402 18.0583C5.60967 19.7094 4.31335 20.9417 2.5602 21.5837C3.01507 22.1903 3.53538 22.827 4.12293 23.4904C6.1442 22.8147 6.86698 21.8899 4.9758 24.3977C5.7734 25.2262 6.62768 26.1047 7.6774 26.844C8.14375 25.122 9.40058 23.7997 11.2012 23.1193C9.82153 24.4125 9.269 26.2855 9.60955 28.2926C10.652 28.9939 11.6095 29.5641 12.4814 30C13.224 26.8142 15.3911 23.5097 17.6548 20.4758C18.3851 18.9383 18.2668 17.277 17.4896 15.6906C18.1568 15.908 18.9188 15.7526 19.449 15.2224C20.078 14.5934 20.1801 13.6382 19.7571 12.9022L30 2.65925L27.341 0.0002L27.3409 0Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6094_1056">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Pembersihan Umum
              </h5>
              <p class="text-white">
                Apakah Anda butuh pembersihan secara menyeluruh? Tukang kami
                dapat melakukan pembersihan umum mencakup penyapuan, pengelapan,
                dan penyedotan debu dari seluruh area rumah.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6094_1059)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.50977 24.2724C3.74512 24.2724 4.74609 25.205 4.74609 26.3549C4.74609 27.5048 3.74512 28.4374 2.50977 28.4374C1.27441 28.4374 0.270996 27.5048 0.270996 26.3549C0.270996 25.205 1.27441 24.2724 2.50977 24.2724ZM22.7271 24.0819L22.7295 24.0893L23.0664 23.9818C24.0405 26.6064 24.5923 27.7172 27.439 28.0102H29.9976V29.8412H21.8237V28.0102H22.1021L21.1523 24.5971L21.416 24.5116L17.9248 15.5224L17.9199 15.5077L15.3394 8.40079C14.9756 7.60001 14.7412 6.77725 14.5093 5.96915C14.0137 4.23087 13.5376 2.56339 11.8872 1.95304C11.582 1.84073 11.2378 1.7504 10.8594 1.68448C10.4614 1.61368 10.0366 1.56974 9.58252 1.54776C8.30811 1.48673 7.05322 1.81876 6.01807 2.56583C5.07568 3.24454 4.31152 4.27726 3.87939 5.67618C3.45215 7.06046 3.24219 8.21036 3.43506 9.21378C3.62061 10.1781 4.19678 11.0595 5.34424 11.9604C5.38086 11.9897 5.43213 12.0336 5.48584 12.0775C5.55664 12.1361 5.62988 12.1996 5.68604 12.2314C6.40137 12.6464 7.146 13.0053 7.87109 13.3568C7.99561 13.4179 8.12012 13.4765 8.24463 13.5375C8.41309 13.6181 8.58887 13.7011 8.75732 13.7816C10.6104 14.6606 11.7505 15.2001 12.0728 17.6806C12.1362 18.1591 12.1313 18.623 12.0703 19.0697C16.5723 20.6933 19.6313 23.6449 20.8667 28.5131H5.51514C6.31836 27.434 6.57471 26.0815 6.07422 24.8827C5.26367 22.9418 2.77588 22.1313 0.517578 23.0761C0.336914 23.1444 0.166016 23.2275 0 23.3202V17.4096C0.45166 17.412 0.900879 17.4193 1.34277 17.4316V15.7909C1.34277 15.6322 1.47217 15.5028 1.63086 15.5028H4.09668C4.25537 15.5028 4.38477 15.6322 4.38477 15.7909V17.5634C6.70654 17.7441 8.82812 18.0883 10.73 18.6352C10.7471 18.3837 10.7397 18.1249 10.7056 17.8588C10.481 16.1254 9.59961 15.7079 8.16895 15.0292C8.00537 14.9511 7.83691 14.8705 7.64648 14.7802C7.52197 14.7191 7.39746 14.6606 7.27295 14.5995C6.52344 14.2382 5.75439 13.8671 4.99512 13.4252C4.8291 13.33 4.70947 13.2275 4.59473 13.1298C4.56543 13.1054 4.53613 13.081 4.49219 13.0468C3.05908 11.9213 2.32666 10.7738 2.08008 9.47257C1.83838 8.21036 2.07275 6.85782 2.56348 5.26847C3.09082 3.56192 4.04053 2.29239 5.21729 1.44278C6.51123 0.507724 8.07617 0.0902431 9.65088 0.165927C10.1782 0.190341 10.6616 0.24161 11.1011 0.319735C11.5601 0.400302 11.98 0.512606 12.3657 0.654208C14.6777 1.51114 15.249 3.50577 15.8423 5.58829C16.062 6.35977 16.2866 7.14347 16.5991 7.83194C16.6113 7.85636 16.6235 7.88077 16.6333 7.90763L19.2188 15.0365L22.7271 24.0819Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6094_1059">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan Khusus
              </h5>
              <p class="text-white">
                Ingin memfokuskan hanya untuk item yang spesifik? Pembersihan
                khusus dapat dilakukan untuk pembersihan karpet, pembersihan
                sofa, tirai atau forniture yang lainnya
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6094_1062)">
                <path
                  d="M0.6875 1.875L28.125 4.2625V7.8375H0.6875"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <path
                  d="M25.7373 7.83789V28.1254"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <path
                  d="M29.3125 28.125H0.6875"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <path
                  d="M5.4502 16.2002L6.6502 23.3502V28.1252"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <path
                  d="M6.65039 28.1246V23.3496H11.4254V28.1246"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <path
                  d="M11.4248 19.7754H20.9623"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
                <path
                  d="M16.1875 28.1254V19.7754"
                  stroke="white"
                  stroke-width="3"
                  stroke-miterlimit="10"
                />
              </g>
              <defs>
                <clipPath id="clip0_6094_1062">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan Luar Ruangan
              </h5>
              <p class="text-white">
                Butuh layanan untuk membersihkan bagian teras / luar ruangan?
                Kami menawarkan pembersihan area luar rumah, seperti teras,
                balkon, atau halaman, termasuk penyapuan daun dan pembersihan
                debu.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6094_1070)">
                <path
                  d="M11.8516 29.9999H19.9279L29.9999 19.9279V11.8516L11.8516 29.9999Z"
                  fill="white"
                />
                <path
                  d="M4.40678 5.66504L0 10.0718V18.1482L8.445 9.70326L4.40678 5.66504Z"
                  fill="white"
                />
                <path
                  d="M15.0004 16.2588L1.25879 30.0004H9.33518L19.0386 20.297L15.0004 16.2588Z"
                  fill="white"
                />
                <path
                  d="M25.5928 26.8516L22.4443 29.9999H28.7411L25.5928 26.8516Z"
                  fill="white"
                />
                <path
                  d="M26.8516 25.5928L29.9999 28.7411V22.4443L26.8516 25.5928Z"
                  fill="white"
                />
                <path
                  d="M10.0718 0L5.66504 4.40678L9.70326 8.445L18.1482 0H10.0718Z"
                  fill="white"
                />
                <path
                  d="M0 22.4443V28.7411L3.14836 25.5928L0 22.4443Z"
                  fill="white"
                />
                <path
                  d="M16.2588 15.0004L20.297 19.0386L30.0004 9.33518V1.25879L16.2588 15.0004Z"
                  fill="white"
                />
                <path d="M0 0V7.5552L7.5552 0H0Z" fill="white" />
                <path
                  d="M22.4443 0L25.5928 3.14836L28.7411 0H22.4443Z"
                  fill="white"
                />
                <path
                  d="M20.2959 0.36815L0.368164 20.2959L4.4063 24.334L24.334 4.40628L20.2959 0.36815Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6094_1070">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan Lantai
              </h5>
              <p class="text-white">
                Anda memiliki noda membandel di lantai Anda? Pembersihan lantai
                meliputi penyapuan, pel, atau cuci lantai sesuai dengan jenis
                material lantai Anda, seperti keramik, kayu, atau marmer.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6094_1104)">
                <path
                  d="M4.03154 13.6914H0V15.5664H4.03154V13.6914Z"
                  fill="white"
                />
                <path
                  d="M26.7773 0.383789H22.1741H7.8259H2.98828H0V12.9224H4.03154C5.29313 10.4977 6.82711 4.52197 7.49174 1.79004H22.5083C23.1729 4.52197 24.7069 10.4977 25.9685 12.9224H30V0.383789H26.7773Z"
                  fill="white"
                />
                <path
                  d="M22.4094 25.228H7.59064L3.79436 16.3428H0V29.1094C0 29.1094 1.42277 30.2492 4.03154 29.1094C6.64031 27.9695 6.64031 30.0212 9.24908 29.1094L8.1917 26.6342H21.8083L20.7509 29.1094C23.3597 30.0212 23.3597 27.9695 25.9685 29.1094C28.5772 30.2492 30 29.1094 30 29.1094V16.3428H26.2056L22.4094 25.228Z"
                  fill="white"
                />
                <path
                  d="M30.0003 13.6914H25.9688V15.5664H30.0003V13.6914Z"
                  fill="white"
                />
                <path
                  d="M10.6287 17.7781L11.043 18.1924L20.7378 8.4975L20.3236 8.08323L10.6287 17.7781Z"
                  fill="white"
                />
                <path
                  d="M21.1926 14.801L20.7783 14.3867L14.0664 21.0986L14.4807 21.5129L21.1926 14.801Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6094_1104">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan Jendela
              </h5>
              <p class="text-white">
                Kembalikan kilauan jendela Anda dengan layanan kami, pastikan
                cahaya matahari masuk dengan bersinar dan tampilan jendela yang
                bersih! Pembersihan mencakup pembersihan kaca dari debu,
                kotoran, dan sidik jari.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
