<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Gorden Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 27.5C21.9035 27.5 27.5 21.9035 27.5 15C27.5 8.09644 21.9035 2.5 15 2.5C8.09644 2.5 2.5 8.09644 2.5 15C2.5 16.9996 2.96952 18.8895 3.80432 20.5656C4.02617 21.011 4.10001 21.5201 3.9714 22.0007L3.22689 24.7834C2.90369 25.9912 4.00876 27.0962 5.21669 26.7731L7.99924 26.0286C8.47991 25.9 8.98901 25.9739 9.43441 26.1956C11.1104 27.0305 13.0004 27.5 15 27.5Z"
                fill="white"
              />
              <path
                d="M9.78125 16.0625C9.21171 16.0625 8.75 16.5242 8.75 17.0937C8.75 17.6632 9.21171 18.125 9.78125 18.125H17.3438C17.9132 18.125 18.375 17.6632 18.375 17.0937C18.375 16.5242 17.9132 16.0625 17.3438 16.0625H9.78125Z"
                fill="#2C66A6"
              />
              <path
                d="M9.78125 11.25C9.21171 11.25 8.75 11.7117 8.75 12.2812C8.75 12.8507 9.21171 13.3125 9.78125 13.3125H20.7812C21.3507 13.3125 21.8125 12.8507 21.8125 12.2812C21.8125 11.7117 21.3507 11.25 20.7812 11.25H9.78125Z"
                fill="#2C66A6"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Konsultasi Desain
              </h5>
              <p class="text-white">
                Temukan solusi gorden yang sempurna dengan konsultasi desain
                kami yang profesional bersama kami. Tim kami dapat memberikan
                saran tentang pilihan gorden yang sesuai dengan gaya dan
                kebutuhan ruangan Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_680)">
                <path
                  d="M14.5293 15.1516H18.3415V12.4463C17.5328 13.5437 16.2515 14.4634 14.6276 15.1136C14.5959 15.1263 14.561 15.139 14.5293 15.1516Z"
                  fill="white"
                />
                <path
                  d="M9.17295 25.7516H10.8634V23.8011C10.8634 23.319 11.2535 22.9289 11.7356 22.9289C12.2177 22.9289 12.6078 23.319 12.6078 23.8011V25.7516H14.2475H14.479V21.7554C14.479 21.2733 14.8691 20.8832 15.3512 20.8832C15.8333 20.8832 16.2234 21.2733 16.2234 21.7554V25.7516H17.2859H18.0946V23.8011C18.0946 23.319 18.4847 22.9289 18.9668 22.9289C19.4489 22.9289 19.839 23.319 19.839 23.8011V25.7516H21.7102V21.7554C21.7102 21.2733 22.1003 20.8832 22.5824 20.8832C23.0645 20.8832 23.4546 21.2733 23.4546 21.7554V25.7516H25.3258V23.8011C25.3258 23.319 25.7159 22.9289 26.198 22.9289C26.6801 22.9289 27.0702 23.319 27.0702 23.8011V25.7516H28.7321C29.433 25.7516 30.0007 25.1839 30.0007 24.4829V17.4484C30.0007 16.7474 29.433 16.1797 28.7321 16.1797H9.80727H9.17295H8.53864C6.17581 16.0878 3.96521 15.4915 2.25573 14.4766C1.3106 13.9152 0.562105 13.2492 0.0324505 12.5039C0.0229357 12.4912 0.013421 12.4785 0.00390625 12.4658V18.0415V20.2996C0.00390625 23.3095 4.10793 25.7516 9.17295 25.7516Z"
                  fill="white"
                />
                <path
                  d="M8.77897 15.1456C8.90904 15.1488 9.03904 15.1519 9.17225 15.1519C12.9496 15.1519 16.1941 13.7945 17.596 11.8535C18.0749 11.1938 18.3381 10.4643 18.3381 9.7C18.3381 6.68699 14.2341 4.24805 9.16905 4.24805C4.10403 4.24805 0 6.69017 0 9.7C0 10.4643 0.266413 11.1938 0.74215 11.8535C2.10279 13.7247 5.16971 15.0536 8.77897 15.1456ZM9.17225 7.26739C11.4272 7.26739 13.2572 8.35525 13.2572 9.69683C13.2572 9.91567 13.2097 10.1282 13.1177 10.328C13.067 10.4421 13.0035 10.55 12.9274 10.6546C12.3026 11.5205 10.8564 12.1263 9.17225 12.1263C9.03904 12.1263 8.90901 12.1231 8.77897 12.1136C7.26613 12.028 5.99432 11.4507 5.42027 10.6547C5.20777 10.3597 5.09042 10.0362 5.09042 9.69369C5.08725 8.35525 6.91408 7.26739 9.17225 7.26739Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_680">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pengukuran Jendela
              </h5>
              <p class="text-white">
                Pastikan gorden Anda pas sempurna dengan pengukuran akurat oleh
                ahli kami! Bersama kami Anda dapat mengetahui ukuran tepat untuk
                memastikan gorden pas dengan ukuran jendela dan kebutuhan kain
                dan bahan lainnya berdasarkan ukurannya.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_698)">
                <path
                  d="M10.6172 20.1445L13.6875 17.3672L14.1211 17.8359L11.0508 20.625L10.6172 20.1445ZM14.7656 25.125L14.332 24.6562L17.4023 21.8789L17.8359 22.3477L14.7656 25.125ZM11.1211 23.3672L19.3242 16.3359L19.7344 16.8164L11.5313 23.8477L11.1211 23.3672ZM0.667969 0.117188V29.8828H7.39453L7.3125 28.8984H22.8867L22.8047 29.8828H29.4727V0.117188H0.667969ZM18.0469 1.58203C17.9883 2.19141 17.9766 3.02344 17.9766 3.77344C17.9766 5.27344 18.0938 6.72656 18.3281 8.07422H11.8945C12.1055 6.72656 12.1992 5.42578 12.1992 4.03125C12.1992 3.19922 12.1758 2.32031 12.1055 1.58203H18.0469ZM6.49219 19.043C8.89453 17.0273 10.7461 13.5938 11.625 9.55078H18.5977C19.5 13.4766 21.3398 16.8281 23.6953 18.8086L22.9805 27.4336H7.18359L6.49219 19.043Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_698">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembuatan Gorden Custom
              </h5>
              <p class="text-white">
                Dapatkan gorden custom yang unik dan sesuai dengan gaya Anda,
                dibuat khusus oleh kami! Tim kami dapat membuat gorden custom
                sesuai dengan spesifikasi dan desain yang diinginkan.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_689)">
                <path
                  d="M5.92339 11.9733C6.03702 12.0738 6.19413 12.1101 6.34503 12.0795C6.4943 12.0498 6.62416 11.9465 6.69186 11.8092C6.7172 11.7577 6.99395 11.2739 7.91644 11.3585C9.10182 11.4663 9.8744 12.0003 9.88206 12.0051C9.96744 12.0653 10.0665 12.0953 10.1652 12.0953C10.2844 12.0953 10.4028 12.0518 10.4965 11.9665L13.4356 9.27245C13.5966 9.12437 13.6403 8.8878 13.5427 8.69188L12.3106 6.22834C13.5921 4.05896 16.1664 3.88554 16.9447 3.88554C17.047 3.88554 17.1073 3.88891 17.1494 3.89037L17.7617 3.88554C17.9631 3.88408 18.1429 3.75905 18.2151 3.57097C18.288 3.38279 18.2372 3.17037 18.0885 3.03404C16.8016 1.85613 15.2006 1.25879 13.3282 1.25879C9.5951 1.25879 5.72992 3.72953 4.94613 5.39571C4.01873 7.36643 2.85038 8.55273 2.83817 8.56494C2.74322 8.66053 2.69127 8.79166 2.69556 8.92653C2.70021 9.06167 2.75998 9.18898 2.86187 9.27865L5.92339 11.9733Z"
                  fill="white"
                />
                <path
                  d="M3.4784 15.1595C3.56762 15.2351 3.68025 15.2762 3.7958 15.2762C3.8102 15.2762 3.82469 15.2757 3.8389 15.2743C3.97013 15.2629 4.09078 15.1993 4.17398 15.0977L5.88845 13.0159C6.05658 12.8121 6.03289 12.5124 5.83505 12.3376L2.65106 9.52094C2.554 9.43455 2.42816 9.39345 2.29639 9.39892C2.16598 9.4073 2.04524 9.46635 1.95931 9.56395L0.122449 11.646C0.0353314 11.744 -0.00840985 11.8738 0.00134079 12.0046C0.0107269 12.1359 0.0724203 12.2573 0.172387 12.3425L3.4784 15.1595Z"
                  fill="white"
                />
                <path
                  d="M29.8882 24.0993C29.8622 24.0389 29.825 23.9855 29.7776 23.9395L21.4062 15.9087L17.9975 12.5821L25.0203 6.0902L25.3714 6.4414C25.4634 6.53344 25.5882 6.58493 25.7178 6.58493C25.7244 6.58493 25.7317 6.58493 25.7384 6.58447C25.8752 6.57873 26.0034 6.51585 26.092 6.41106L28.6818 3.34526C28.7669 3.24429 28.8081 3.11343 28.7952 2.98266C28.7827 2.85089 28.7176 2.73033 28.6153 2.64749L27.6562 1.874C27.4773 1.73048 27.2222 1.72902 27.0425 1.87254L24.0033 4.30355C23.8947 4.39094 23.8282 4.52025 23.8206 4.65931C23.8125 4.79847 23.8646 4.93461 23.9632 5.03312L24.3272 5.39708L17.2952 11.8974L14.7017 9.36632C14.5194 9.18844 14.2293 9.18051 14.038 9.34764L10.6703 12.2868C10.5698 12.3743 10.5095 12.4989 10.5026 12.631C10.4959 12.7639 10.5432 12.8935 10.6343 12.9906L13.1752 15.7062L12.854 16.0034L11.6165 14.751C11.4369 14.5682 11.1438 14.557 10.9494 14.7237L0.247134 23.9213C0.190909 23.9706 0.14571 24.0314 0.116549 24.0993C-0.241218 24.9284 0.271739 26.2379 1.39261 27.3584C2.24483 28.2113 3.26555 28.7415 4.05636 28.7415C4.32801 28.7415 4.56968 28.6812 4.77435 28.5629C4.81126 28.542 4.84543 28.5155 4.87532 28.4854L14.7513 18.6173C14.9416 18.4263 14.9426 18.1178 14.7532 17.9265L13.5417 16.7009L13.8435 16.422L25.1174 28.4745C25.1505 28.5088 25.1886 28.5395 25.2297 28.5635C25.4345 28.6821 25.6761 28.7415 25.9478 28.7415C26.7382 28.7415 27.7589 28.2114 28.6118 27.3589C29.7327 26.2379 30.2459 24.9284 29.8882 24.0993ZM1.71511 24.9541C1.64649 24.9541 1.57851 24.925 1.53003 24.8694C1.44127 24.7671 1.45248 24.6131 1.55509 24.5241L10.5441 16.7372C10.6459 16.6488 10.8009 16.6597 10.8895 16.7621C10.9782 16.8644 10.967 17.0188 10.8646 17.1074L1.8754 24.8942C1.82883 24.9345 1.77215 24.9541 1.71511 24.9541ZM3.0011 26.24C2.93749 26.24 2.87379 26.2152 2.82577 26.1658C2.73182 26.0692 2.73364 25.9137 2.83078 25.8195L11.3115 17.563C11.4079 17.469 11.5625 17.4709 11.6576 17.5677C11.7518 17.6643 11.7496 17.8202 11.6528 17.914L3.17205 26.1705C3.12449 26.2171 3.06279 26.24 3.0011 26.24ZM12.849 18.7067L4.46032 27.1474C4.4123 27.1962 4.3496 27.2196 4.28691 27.2196C4.22421 27.2196 4.16206 27.1956 4.11395 27.1483C4.01854 27.0532 4.01799 26.8977 4.11304 26.802L12.5017 18.3612C12.5974 18.2651 12.7526 18.2651 12.8481 18.3602C12.9434 18.4555 12.9446 18.6105 12.849 18.7067Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_689">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Gorden
              </h5>
              <p class="text-white">
                Rasakan instalasi gorden yang rapi dan profesional, untuk
                tampilan yang sempurna bersama kami. Kami juga bisa memasang /
                mengatur sistem penutup jendela seperti roller blinds, roman
                shades, dll.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7447_703)">
                <path
                  d="M19.1902 16.9062L16.7949 19.3016L26.9973 29.5039C27.3281 29.8348 27.7617 30.0002 28.1952 30.0002C28.6288 30.0002 29.0623 29.8348 29.3931 29.5039C30.0547 28.8423 30.0547 27.7698 29.3931 27.1086L19.1902 16.9062Z"
                  fill="white"
                />
                <path
                  d="M18.6679 16.0335L18.774 15.9273L16.9579 14.1112L15.8262 12.9795L12.8418 15.9643L14.0639 17.186L15.7896 18.9117L15.923 18.7784L16.0977 18.6036L18.493 16.2083L18.6679 16.0335Z"
                  fill="white"
                />
                <path
                  d="M10.3181 0.589258C10.3146 0.574915 10.3102 0.561116 10.3072 0.547317C10.2914 0.476233 10.2602 0.41205 10.2213 0.352315L10.2069 0.317726L10.199 0.325624C10.1507 0.25899 10.0909 0.202159 10.0217 0.153772C9.95012 0.103932 9.87314 0.0624441 9.78971 0.0367525C9.53397 -0.0417748 9.24555 -0.000740887 9.0688 0.220951C8.62441 0.777452 8.19138 1.3423 7.7726 1.9176L7.81063 2.01637L7.90786 2.2682L8.00509 2.52003L8.80153 4.58553L9.96292 7.59608L7.5401 5.5018L6.19016 4.33497L6.00305 4.17301L5.81595 4.01105L5.63129 3.85155C5.5928 3.96512 5.57846 4.09004 5.60415 4.22285C5.61849 4.29738 5.64419 4.37391 5.68213 4.45144C5.68704 4.46134 5.68958 4.47169 5.69448 4.48158C5.73297 4.56302 5.76411 4.64699 5.79425 4.73096L5.30493 5.22029C5.19436 5.21629 5.08369 5.21039 4.97312 5.20304C4.86645 5.19559 4.75932 5.18679 4.65311 5.1739C4.4926 5.15465 4.33219 5.12896 4.17314 5.09192C3.80038 5.00504 3.34556 5.20249 3.26213 5.60938C3.12977 6.25131 2.90462 6.77467 2.6005 7.22695C2.25589 7.73952 1.80406 8.15875 1.27425 8.55321C1.01797 8.7443 0.747437 8.93041 0.454571 9.11706C0.213633 9.27066 0.113862 9.49335 0.111411 9.71605C0.109958 9.81727 0.127661 9.91849 0.163248 10.0133C0.297062 10.3668 0.663463 10.6281 1.06781 10.4641L12.1121 15.1875L15.0644 12.2353L10.3181 0.589258Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7447_703">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Detailing
              </h5>
              <p class="text-white">
                Mau mobil Anda tampak sempurna dari setiap sudut? Kami tawarkan
                perawatan mendalam untuk membuat mobil Anda tampak seperti baru
                lagi dengan melakukan pembersihan interior dan eksterior mobil
                seperti baru, termasuk membersihkan trim, dll.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
