<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Design Interior Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7461_31694)">
                <path
                  d="M5.92339 11.9733C6.03702 12.0738 6.19413 12.1101 6.34503 12.0795C6.4943 12.0498 6.62416 11.9465 6.69186 11.8092C6.7172 11.7577 6.99395 11.2739 7.91644 11.3585C9.10182 11.4663 9.8744 12.0003 9.88206 12.0051C9.96744 12.0653 10.0665 12.0953 10.1652 12.0953C10.2844 12.0953 10.4028 12.0518 10.4965 11.9665L13.4356 9.27245C13.5966 9.12437 13.6403 8.8878 13.5427 8.69188L12.3106 6.22834C13.5921 4.05896 16.1664 3.88554 16.9447 3.88554C17.047 3.88554 17.1073 3.88891 17.1494 3.89037L17.7617 3.88554C17.9631 3.88408 18.1429 3.75905 18.2151 3.57097C18.288 3.38279 18.2372 3.17037 18.0885 3.03404C16.8016 1.85613 15.2006 1.25879 13.3282 1.25879C9.5951 1.25879 5.72992 3.72953 4.94613 5.39571C4.01873 7.36643 2.85038 8.55273 2.83817 8.56494C2.74322 8.66053 2.69127 8.79166 2.69556 8.92653C2.70021 9.06167 2.75998 9.18898 2.86187 9.27865L5.92339 11.9733Z"
                  fill="white"
                />
                <path
                  d="M3.4784 15.1595C3.56762 15.2351 3.68025 15.2762 3.7958 15.2762C3.8102 15.2762 3.82469 15.2757 3.8389 15.2743C3.97013 15.2629 4.09078 15.1993 4.17398 15.0977L5.88845 13.0159C6.05658 12.8121 6.03289 12.5124 5.83505 12.3376L2.65106 9.52094C2.554 9.43455 2.42816 9.39345 2.29639 9.39892C2.16598 9.4073 2.04524 9.46635 1.95931 9.56395L0.122449 11.646C0.0353314 11.744 -0.00840986 11.8738 0.00134079 12.0046C0.0107269 12.1359 0.0724203 12.2573 0.172387 12.3425L3.4784 15.1595Z"
                  fill="white"
                />
                <path
                  d="M29.8882 24.0993C29.8622 24.0389 29.825 23.9855 29.7776 23.9395L21.4062 15.9087L17.9975 12.5821L25.0203 6.0902L25.3714 6.4414C25.4634 6.53344 25.5882 6.58493 25.7178 6.58493C25.7244 6.58493 25.7317 6.58493 25.7384 6.58447C25.8752 6.57873 26.0034 6.51585 26.092 6.41106L28.6818 3.34526C28.7669 3.24429 28.808 3.11343 28.7952 2.98266C28.7827 2.85089 28.7176 2.73033 28.6153 2.64749L27.6562 1.874C27.4773 1.73048 27.2222 1.72902 27.0425 1.87254L24.0033 4.30355C23.8947 4.39094 23.8282 4.52025 23.8206 4.65931C23.8125 4.79847 23.8646 4.93461 23.9632 5.03312L24.3272 5.39708L17.2952 11.8974L14.7017 9.36632C14.5194 9.18844 14.2293 9.18051 14.038 9.34764L10.6703 12.2868C10.5698 12.3743 10.5095 12.4989 10.5026 12.631C10.4959 12.7639 10.5432 12.8935 10.6343 12.9906L13.1752 15.7062L12.854 16.0034L11.6165 14.751C11.4369 14.5682 11.1438 14.557 10.9494 14.7237L0.247134 23.9213C0.190909 23.9706 0.14571 24.0314 0.116549 24.0993C-0.241218 24.9284 0.271739 26.2379 1.39261 27.3584C2.24483 28.2113 3.26555 28.7415 4.05636 28.7415C4.32801 28.7415 4.56968 28.6812 4.77435 28.5629C4.81126 28.542 4.84543 28.5155 4.87532 28.4854L14.7513 18.6173C14.9416 18.4263 14.9426 18.1178 14.7532 17.9265L13.5417 16.7009L13.8435 16.422L25.1174 28.4745C25.1505 28.5088 25.1886 28.5395 25.2297 28.5635C25.4345 28.6821 25.6761 28.7415 25.9478 28.7415C26.7382 28.7415 27.7589 28.2114 28.6118 27.3589C29.7327 26.2379 30.2459 24.9284 29.8882 24.0993ZM1.71511 24.9541C1.64649 24.9541 1.57851 24.925 1.53003 24.8694C1.44127 24.7671 1.45248 24.6131 1.55509 24.5241L10.5441 16.7372C10.6459 16.6488 10.8009 16.6597 10.8895 16.7621C10.9782 16.8644 10.967 17.0188 10.8646 17.1074L1.8754 24.8942C1.82883 24.9345 1.77215 24.9541 1.71511 24.9541ZM3.0011 26.24C2.93749 26.24 2.87379 26.2152 2.82577 26.1658C2.73182 26.0692 2.73364 25.9137 2.83078 25.8195L11.3115 17.563C11.4079 17.469 11.5625 17.4709 11.6576 17.5677C11.7518 17.6643 11.7496 17.8202 11.6528 17.914L3.17205 26.1705C3.12449 26.2171 3.06279 26.24 3.0011 26.24ZM12.849 18.7067L4.46032 27.1474C4.4123 27.1962 4.3496 27.2196 4.28691 27.2196C4.22421 27.2196 4.16206 27.1956 4.11395 27.1483C4.01854 27.0532 4.01799 26.8977 4.11304 26.802L12.5017 18.3612C12.5974 18.2651 12.7526 18.2651 12.8481 18.3602C12.9434 18.4555 12.9446 18.6105 12.849 18.7067Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7461_31694">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Instalasi Kamera
              </h5>
              <p class="text-white">
                Memerlukan bantuan profesional dalam memasang kamera keamanan di
                area strategis? Kami dapat membantu Anda memasang kamera
                keamanan di lokasi-lokasi strategis untuk mengawasi area yang
                perlu diawasi.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7461_31703)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M26.001 0.429879L4.66309 6.47724L12.0435 16.1208L29.0771 11.2917C29.7461 11.1013 30.1392 10.3981 29.9487 9.7292L27.5635 1.30146C27.373 0.632515 26.6699 0.239449 26.001 0.429879ZM20.4785 16.0378L16.5112 16.9704V29.6193H20.4785V16.0378ZM8.45947 15.364L3.87939 8.53291L0 9.63154L4.62402 16.4504L8.45947 15.364ZM13.606 7.8371L11.6187 8.40107L12.2559 10.6496L14.2432 10.0856L13.606 7.8371Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7461_31703">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Konfigurasi Perangkat
              </h5>
              <p class="text-white">
                Ingin memastikan perangkat keras dan lunak cctv anda diatur
                dengan benar untuk operasi optimal? Tim ahli kami dapat mengatur
                dan mengkonfigurasi perangkat keras / lunak cctv untuk
                memastikan operasi optimal.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26.6 12.9L23.7 12.6C23.5 11.9 23.2 11.2 22.9 10.6L24.7 8.3C24.9 8.1 24.8 7.8 24.7 7.6L22.5 5.4C22.3 5.2 22 5.2 21.8 5.4L19.5 7.2C18.9 6.8 18.2 6.6 17.5 6.4L17.2 3.5C17 3.2 16.8 3 16.6 3H13.5C13.2 3 13 3.2 13 3.4L12.7 6.3C12 6.5 11.3 6.8 10.7 7.1L8.3 5.4C8.1 5.2 7.8 5.3 7.6 5.4L5.4 7.6C5.2 7.8 5.2 8.1 5.4 8.3L7.2 10.6C6.8 11.2 6.6 11.9 6.4 12.6L3.5 12.9C3.2 13 3 13.2 3 13.4V16.5C3 16.8 3.2 17 3.4 17L6.3 17.3C6.5 18 6.8 18.7 7.1 19.3L5.3 21.6C5.1 21.8 5.2 22.1 5.3 22.3L7.5 24.5C7.7 24.7 8 24.7 8.2 24.5L10.5 22.7C11.1 23.1 11.8 23.3 12.5 23.5L12.8 26.4C12.8 26.7 13 26.8 13.3 26.8H16.4C16.7 26.8 16.9 26.6 16.9 26.4L17.2 23.5C17.9 23.3 18.6 23 19.2 22.7L21.5 24.5C21.7 24.7 22 24.6 22.2 24.5L24.4 22.3C24.6 22.1 24.6 21.8 24.4 21.6L22.6 19.3C23 18.7 23.2 18 23.4 17.3L26.3 17C26.6 17 26.7 16.8 26.7 16.5V13.4C27 13.2 26.8 13 26.6 12.9ZM15 19C12.8 19 11 17.2 11 15C11 12.8 12.8 11 15 11C17.2 11 19 12.8 19 15C19 17.2 17.2 19 15 19Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemeliharaan dan Perbaikan
              </h5>
              <p class="text-white">
                Membutuhkan perawatan rutin atau perbaikan untuk memastikan
                sistem CCTV anda selalu dalam kondisi terbaik? Tim kami dapat
                melakukan perawatan rutin, pembaruan, dan perbaikan pada CCTV.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25.9998 0H23.9998C23.6998 0 23.4999 0.19998 23.4999 0.49998V24C23.4999 25.65 22.1499 27 20.4999 27H12.9999C11.3499 27 9.99986 25.65 9.99986 24C10.5499 24 10.9999 23.55 10.9999 23V22C11.2999 22 11.4999 21.8 11.4999 21.5C11.4999 21.2 11.2999 21 10.9999 21V20H12.9999C13.2999 20 13.4998 19.8 13.4998 19.5V7.5C13.4998 7.2 13.2999 7.00002 12.9999 7.00002H12.4999V3.49998C12.4999 3.19998 12.2999 3 11.9999 3V0.49998C11.9999 0.19998 11.7999 0 11.4999 0H5.49992C5.19992 0 4.99994 0.25002 4.99994 0.49998V3C4.69994 3 4.49996 3.25002 4.49996 3.49998V6.99996H3.99998C3.69998 6.99996 3.5 7.19994 3.5 7.49994V19.4999C3.5 19.7999 3.69998 19.9999 3.99998 19.9999H5.99984V21C5.69984 21 5.49986 21.2 5.49986 21.5C5.49986 21.8 5.69984 22 5.99984 22V23C5.99984 23.55 6.44984 24 6.99986 24C6.99986 27.3 9.69986 30 12.9999 30H20.4999C23.7999 30 26.4999 27.3 26.4999 24V0.49998C26.4999 0.25002 26.2998 0 25.9998 0ZM9.99986 21H6.99986V20H9.99986V21ZM5.49986 4.00002H11.4999V7.00002H5.49986V4.00002ZM5.99984 13H10.9998C11.2998 13 11.4998 13.2 11.4998 13.5C11.4998 13.8 11.2998 14 10.9998 14H5.99984C5.69984 14 5.49986 13.8 5.49986 13.5C5.49986 13.2 5.69984 13 5.99984 13ZM5.99984 15H10.9998C11.2998 15 11.4998 15.2 11.4998 15.5C11.4998 15.8 11.2998 16 10.9998 16H5.99984C5.69984 16 5.49986 15.8 5.49986 15.5C5.49986 15.2 5.69984 15 5.99984 15ZM5.99984 18C5.69984 18 5.49986 17.8 5.49986 17.5C5.49986 17.2 5.69984 17 5.99984 17H10.9998C11.2998 17 11.4998 17.2 11.4998 17.5C11.4998 17.8 11.2998 18 10.9998 18H5.99984ZM7.49984 23H6.99986V22H9.99986V23H9.49988H7.49984Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Kabel
              </h5>
              <p class="text-white">
                Anda butuh bantuan dalam menginstal dan menghubungkan kabel
                kamera ke perangkat pemantau? Serahkan pada kami untuk
                menginstal dan menghubungkan kabel kamera ke perangkat pemantau
                Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7461_31721)">
                <path
                  d="M15.5132 3.74565C15.5413 3.66553 15.3851 3.6618 15.2602 3.70154C15.3411 3.51183 15.4246 3.32275 15.5132 3.13563C15.5342 3.09101 15.4891 3.07067 15.4219 3.06901C15.4372 3.04638 15.4502 3.02282 15.4671 3.0002C15.5249 2.92122 15.4434 2.89113 15.3416 2.89486C15.3399 2.81215 15.2545 2.775 15.1622 2.7804C15.1705 2.74117 15.1782 2.70142 15.1853 2.66167C15.2156 2.60356 15.2414 2.54181 15.2729 2.48431C15.2829 2.46605 15.2619 2.45525 15.2272 2.45048C15.2304 2.42848 15.2373 2.40637 15.2404 2.38489C15.2477 2.33331 15.188 2.31442 15.1144 2.31826C15.1826 2.07106 15.2482 1.8222 15.3092 1.5724C15.3417 1.43915 14.9475 1.50142 14.9169 1.62657C14.9076 1.66528 14.8966 1.70347 14.8866 1.74115C14.8337 1.72506 14.749 1.73253 14.6771 1.75723C14.6962 1.66642 14.716 1.57396 14.7354 1.48211C14.7623 1.35093 14.5863 1.33433 14.4586 1.38964C14.4592 1.37408 14.4619 1.35851 14.4625 1.34294C14.4681 1.23491 14.3402 1.21229 14.2288 1.24082C14.2489 1.13601 14.2704 1.03026 14.2903 0.924815C14.3018 0.862029 14.2095 0.8475 14.1121 0.864104C14.1153 0.83297 14.1212 0.802874 14.1253 0.771637C14.127 0.755551 14.1224 0.744239 14.1191 0.730747C14.1306 0.628109 14.1454 0.527132 14.1564 0.423871C14.1741 0.250352 13.7762 0.320091 13.7614 0.467874C13.7614 0.468496 13.7609 0.469534 13.7609 0.470053C13.6553 0.479705 13.521 0.521631 13.4978 0.584003C13.4449 0.558162 13.3582 0.563559 13.2826 0.590437C13.2926 0.51198 13.2974 0.434042 13.3073 0.356207C13.325 0.221916 13.0878 0.234785 12.9727 0.316459C12.9364 0.329328 12.9061 0.349254 12.8829 0.369698C12.8088 0.356311 12.7186 0.37717 12.6608 0.423975C12.6403 0.423456 12.6188 0.425013 12.5963 0.429371C12.5958 0.225756 12.1986 0.286467 12.1981 0.460505C12.1981 0.485205 12.1968 0.508348 12.1968 0.532528C12.1573 0.538963 12.1188 0.551935 12.0847 0.569578C12.0842 0.567398 12.0842 0.564181 12.0842 0.563143C12.0748 0.50347 12.0207 0.478771 11.9558 0.476591C11.9416 0.335347 11.9289 0.194518 11.9142 0.0536891C11.902 -0.060261 11.5063 0.0225552 11.5205 0.158507C11.5299 0.243917 11.5372 0.329951 11.5461 0.416399C11.5141 0.429371 11.4883 0.444835 11.4722 0.459986C11.4354 0.304628 11.0579 0.400313 11.0799 0.558266C11.0216 0.558266 10.9554 0.575493 10.901 0.606108C10.8998 0.591579 10.8971 0.577673 10.8961 0.563662C10.8773 0.373434 10.4834 0.471817 10.5028 0.667442C10.5065 0.706671 10.5138 0.744862 10.518 0.783571C10.4807 0.790525 10.443 0.799138 10.4092 0.813149C10.3033 0.729295 10.0553 0.793223 10.0585 0.935712C10.0617 1.05184 10.0728 1.16683 10.0801 1.28286C10.0123 1.306 9.95896 1.34035 9.95989 1.38176C9.95564 1.35758 9.94993 1.33443 9.94567 1.30973C9.92876 1.21779 9.75088 1.22972 9.63963 1.29199C9.59853 1.30434 9.5593 1.32374 9.53024 1.34678C9.41121 1.30154 9.13744 1.41818 9.17853 1.48325C9.27609 1.63903 9.36959 1.79605 9.46092 1.9567C9.37177 1.95234 9.27204 1.99489 9.23094 2.06577C9.18746 2.07179 9.14283 2.08414 9.10444 2.1024C8.9717 2.0611 8.76155 2.15616 8.80565 2.29803C8.83139 2.38022 8.8645 2.46138 8.89345 2.54305C8.77307 2.56246 8.61999 2.62732 8.63556 2.67091C8.69866 2.84391 8.76207 3.01753 8.82579 3.19105C8.69928 3.18296 8.53697 3.26733 8.56841 3.38398C8.98 4.93061 9.91267 6.22837 10.6313 7.63469L10.781 7.57284C10.8062 7.56204 11.41 7.31442 12.3263 7.31442C12.8577 7.31442 13.3917 7.39714 13.911 7.55997L14.0679 7.60833C14.3043 7.01616 14.541 6.42451 14.7811 5.83339C15.0363 5.20469 15.19 4.51082 15.5383 3.92841C15.5796 3.8596 15.5498 3.81819 15.4926 3.79889C15.499 3.78 15.5066 3.76226 15.5132 3.74565Z"
                  fill="white"
                />
                <path
                  d="M13.7844 14.4779C13.7928 10.7893 13.7849 7.85994 13.7849 7.85994C12.1556 7.3511 10.9333 7.85994 10.9333 7.85994C10.8991 9.02393 10.9454 11.6157 11.0236 14.5917C11.6153 14.4907 12.6618 14.3656 13.7844 14.4779Z"
                  fill="white"
                />
                <path
                  d="M11.0391 15.0922C11.1982 20.9861 11.4721 28.1791 11.4983 28.8772C11.5316 29.8009 12.5161 29.7939 12.5161 29.7939C12.5161 29.7939 13.4842 29.8294 13.5688 28.8267C13.7252 26.9797 13.7746 20.292 13.7878 14.9773C12.6662 14.86 11.5998 14.9943 11.0391 15.0922Z"
                  fill="white"
                />
                <path
                  d="M20.5341 4.5127L19.4007 4.53584L19.4669 7.71067H19.4518C18.7279 14.2081 19.6614 25.9183 19.9005 28.68L19.916 29.4441C19.9224 29.7532 20.1745 29.9997 20.4824 29.9997C20.4862 29.9997 20.4899 29.9997 20.4937 29.9997C20.8071 29.9922 21.0558 29.7342 21.0494 29.421L21.0462 29.2779H21.0494C22.0661 14.8912 20.7618 8.49628 20.6013 7.77999L20.5341 4.5127Z"
                  fill="white"
                />
                <path
                  d="M20.5098 4.11934C20.8182 3.08922 21.211 1.69629 20.3093 1.69629C19.422 1.69629 18.9422 2.35353 18.9513 2.9075C18.9593 3.40346 19.3887 4.11934 19.3887 4.11934H20.5098Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7461_31721">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Integrasi Sistem Keamanan Lainnya
              </h5>
              <p class="text-white">
                Tertarik untuk mengintegrasikan sistem CCTV anda dengan sistem
                keamanan lainnya untuk meningkatkan keamanan? integrasikan
                sistem CCTV Anda dengan sistem keamanan lain seperti alarm,
                kontrol akses, dan sensor gerak.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
