@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');


.animate-fadeUp {
  animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.animate-fadeIn {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-left-enter-active,
.fade-left-leave-active {
  transition: opacity 1s, transform 1s;
}

.fade-left-enter-from,
.fade-left-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.fade-left-enter-to,
.fade-left-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.flip-up-enter-active,
.flip-up-leave-active {
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.flip-up-enter,
.flip-up-leave-to

/* .flip-up-leave-active in <2.1.8 */
  {
  transform: rotateX(90deg);
}

.flip-up-leave,
.flip-up-enter-to

/* .flip-up-enter-active in <2.1.8 */
  {
  transform: rotateX(0);
}

/** */

.sans3 {
  font-family: 'Source Sans 3', sans-serif;


}

.fontabout {
  font-family: 'Source Sans 3', sans-serif;

  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fontlogo {
  font-family: 'Source Sans 3', sans-serif;

  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fontbar {

  font-family: 'Source Sans 3', sans-serif;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero {
  font-family: 'Source Sans 3', sans-serif;

  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fonthero {
  font-family: 'Source Sans 3', sans-serif;

  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card {

  font-family: 'Source Sans 3', sans-serif;

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footertext {

  font-family: 'Source Sans 3', sans-serif;

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footertext-p1 {
  font-family: 'Source Sans 3', sans-serif;

  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.keuntungan {

  font-family: 'Source Sans 3', sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}