<template>
  <!-- Section -->
  <div class="bg-white py-10 px-20">
    <!-- Judul -->
    <h2
      class="text-center text-2xl md:text-5xl font-semibold text-black mb-10 sans3"
    >
      Keunggulan Kompetitif <span class="text-[#093D77]">Kami</span>
    </h2>

    <!-- Cards Container -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 place-items-center"
    >
      <!-- Card 1 -->
      <div
        class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-between h-[30rem] py-10"
      >
        <div class="object-cover h-40 w-40 p-5">
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="50" cy="50" r="50" fill="#60BD63" fill-opacity="0.17" />
            <path
              d="M60.1275 45.8812C60.151 45.8041 60.159 45.7234 60.1516 45.6439L60.1283 45.3926L59.9123 45.2622C59.5349 45.0343 59.0975 44.9345 58.6607 44.9804L58.6565 44.9809C58.4567 45.0036 57.9226 45.1102 57.2128 45.578L57.2113 45.579C56.9562 45.7484 56.5085 46.1426 56.0535 46.5595C55.5852 46.9886 55.0705 47.4781 54.6647 47.8664L54.6642 47.8669C54.5034 48.0211 54.3006 48.0977 54.0985 48.0916C53.8963 48.0855 53.6966 47.9966 53.5429 47.8316L53.5425 47.8312L50.675 44.7588L50.6745 44.7583C50.5281 44.6019 50.4348 44.388 50.4197 44.1546C50.4047 43.9212 50.4697 43.6934 50.5967 43.5139L50.598 43.5121C51.1192 42.7691 51.5507 42.0674 51.8525 41.5019C52.003 41.2199 52.125 40.9646 52.2099 40.7505C52.2523 40.6437 52.2882 40.5401 52.3135 40.4442C52.3368 40.3557 52.36 40.2415 52.3549 40.1245L52.3548 40.1236C52.2731 38.3359 51.7697 37.0551 50.66 36.0989L50.6601 36.0989L50.6566 36.096C50.3154 35.8072 49.7952 35.5154 49.2329 35.2847C48.6667 35.0525 48.0169 34.8652 47.4038 34.8109C46.8374 34.7599 46.2671 34.7981 45.7114 34.924L45.704 34.9257L45.6966 34.9276C45.4334 34.9957 45.1744 35.0808 44.921 35.1823L44.921 35.1823L44.9181 35.1835C44.7557 35.2497 44.5797 35.2577 44.4139 35.2073C44.2475 35.1566 44.0941 35.0478 43.9808 34.8894C43.8672 34.7305 43.8018 34.5323 43.7992 34.3243C43.7966 34.1163 43.8569 33.9162 43.9667 33.7537C44.3018 33.2597 44.6773 32.7993 45.0885 32.378C45.7799 31.6998 47.6568 30.5 50.1303 30.5L50.1307 30.5C51.5777 30.4989 53.0117 30.8012 54.3524 31.3907L54.3535 31.3912C57.9747 32.9733 60.337 35.1316 61.4163 36.2703C61.4167 36.2707 61.4171 36.2711 61.4175 36.2716L61.4217 36.2761C62.1506 37.0568 62.8253 37.8942 63.44 38.7816C63.8616 39.4174 63.8265 40.1277 63.7884 40.7174C63.7879 40.724 63.7876 40.7267 63.7872 40.7307C63.7867 40.7358 63.786 40.743 63.7843 40.7626C63.7822 40.7866 63.7797 40.8217 63.7797 40.8616V41.8803L64.5855 41.2571C64.8107 41.083 65.0768 40.9922 65.346 40.992L65.3488 40.992C65.5139 40.9909 65.6785 41.0248 65.8334 41.0928C65.9884 41.1608 66.1317 41.2621 66.2539 41.3927L66.2551 41.3939L69.1092 44.4206L69.111 44.4225L69.1301 44.4431C69.3617 44.7073 69.4966 45.0614 69.4999 45.4361C69.5032 45.8131 69.3729 46.1721 69.1432 46.4419L69.141 46.4445C69.132 46.4552 69.1222 46.4663 69.1124 46.4768C69.1122 46.4771 69.1119 46.4773 69.1117 46.4776L64.4901 51.3685C64.49 51.3686 64.4899 51.3687 64.4899 51.3688C64.242 51.6289 63.9162 51.7675 63.5846 51.7669L63.5802 51.767C63.4151 51.7682 63.2506 51.7344 63.0957 51.6665C62.9408 51.5986 62.7975 51.4974 62.6753 51.367L62.6742 51.3659L59.8192 48.3382C59.6962 48.2078 59.5968 48.0507 59.5283 47.8751L59.0625 48.0569L59.5283 47.8751C59.4597 47.6996 59.4239 47.5102 59.4237 47.318C59.4234 47.1259 59.4586 46.9363 59.5266 46.7605C59.5936 46.5872 59.6907 46.4316 59.811 46.3018L59.8298 46.283L59.8298 46.283L59.833 46.2798L59.9847 46.1253L59.9988 46.111L60.0117 46.0956C60.0651 46.0316 60.104 45.9584 60.1275 45.8812ZM60.1275 45.8812L59.6492 45.7355M60.1275 45.8812C60.1275 45.8812 60.1275 45.8811 60.1275 45.8811L59.6492 45.7355M59.6492 45.7355C59.6447 45.7501 59.6375 45.7636 59.6279 45.775L45.8219 35.4116C46.327 35.2972 46.845 35.2626 47.3594 35.3089C48.4586 35.4063 49.7586 35.9911 50.3336 36.4777C51.3087 37.3179 51.7778 38.45 51.8553 40.1464C51.8703 40.4875 51.212 41.7661 50.1886 43.225C49.9937 43.5003 49.8985 43.842 49.9208 44.1868C49.943 44.5316 50.0811 44.856 50.3095 45.1L53.177 48.1723C53.418 48.4311 53.7424 48.5811 54.0834 48.5914C54.4244 48.6017 54.7562 48.4715 55.0104 48.2277C55.8212 47.4518 57.0562 46.2821 57.4879 45.9955C58.1288 45.5732 58.5871 45.492 58.7129 45.4777C58.8741 45.4608 59.0357 45.4702 59.1924 45.5049L59.2712 45.4247L59.4263 45.577C59.5044 45.6081 59.5805 45.6459 59.6538 45.6902C59.6552 45.7055 59.6536 45.7209 59.6492 45.7355ZM46.4276 46.8332L46.4339 46.8271L46.4398 46.8207C46.8499 46.3859 47.3964 46.1497 47.9576 46.1513C48.5188 46.1529 49.0642 46.3922 49.4722 46.8295L51.648 49.1615C51.8513 49.3796 52.0142 49.6405 52.1256 49.9299C52.2371 50.2194 52.2944 50.5306 52.2937 50.8456C52.293 51.1605 52.2342 51.4714 52.1215 51.7602L52.5873 51.942L52.1215 51.7602C52.0088 52.049 51.8448 52.309 51.6404 52.526L51.6339 52.533L51.6275 52.5403L37.5714 68.6714C37.571 68.6719 37.5706 68.6724 37.5701 68.6729C37.1151 69.1868 36.5759 69.4744 36.0046 69.5L35.9185 69.5C35.9182 69.5 35.9179 69.5 35.9175 69.5C35.352 69.4977 34.8026 69.2568 34.3909 68.8172L34.3875 68.8135L31.138 65.2936C30.9262 65.0633 30.7591 64.7867 30.649 64.4801C30.539 64.1736 30.4887 63.8451 30.5021 63.5154C30.5294 62.8676 30.824 62.2726 31.3019 61.7893C31.3025 61.7887 31.3031 61.7881 31.3037 61.7875L46.4276 46.8332Z"
              stroke="#093D77"
            />
          </svg>
        </div>
        <hr class="my-2 w-[280.007px] border-t-2 border-[#093D77]" />
        <div class="p-4 w-full">
          <h3 class="font-semibold mb-3 text-center sans3 text-3xl"></h3>
          <p
            class="text-black text-center sans3 text-xl 2xl:text-3xl font-semibold"
          >
            Tukang Bersertifikasi dan sangat berpengalaman
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-between h-[30rem] py-10"
      >
        <div class="object-cover h-40 w-40 p-5">
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="50" cy="50" r="50" fill="#60BD63" fill-opacity="0.17" />
            <path
              d="M30 70L30.0008 62.4992C30.0013 58.3574 33.359 55 37.5008 55H52.4997M58.75 61.25L61.25 63.75L70 55M61.25 30C64.2839 31.7006 66.25 34.4268 66.25 37.5C66.25 40.5732 64.2838 43.2994 61.25 45M55 37.5C55 41.6421 51.6421 45 47.5 45C43.3579 45 40 41.6421 40 37.5C40 33.3579 43.3579 30 47.5 30C51.6421 30 55 33.3579 55 37.5Z"
              stroke="#093D77"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <hr class="my-2 w-[280.007px] border-t-2 border-[#093D77]" />
        <div class="p-4 w-full">
          <h3 class="font-semibold mb-3 text-center sans3 text-3xl"></h3>
          <p
            class="text-black text-center sans3 text-xl 2xl:text-3xl font-semibold"
          >
            Pembayaran Sekali Bayar untuk Semua Pekerjaan
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="bg-white rounded-3xl shadow-lg overflow-hidden flex flex-col items-center justify-between h-[30rem] py-10"
      >
        <div class="object-cover h-40 w-40 p-5">
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="50" cy="50" r="50" fill="#60BD63" fill-opacity="0.17" />
            <path
              d="M57.3419 55.4743C57.6039 55.5617 57.887 55.4201 57.9743 55.1581C58.0617 54.8961 57.9201 54.613 57.6581 54.5257L57.3419 55.4743ZM50 52.5H49.5C49.5 52.7152 49.6377 52.9063 49.8419 52.9743L50 52.5ZM50.5 42.0464C50.5 41.7702 50.2761 41.5464 50 41.5464C49.7239 41.5464 49.5 41.7702 49.5 42.0464H50.5ZM57.6581 54.5257L50.1581 52.0257L49.8419 52.9743L57.3419 55.4743L57.6581 54.5257ZM50.5 52.5V42.0464H49.5V52.5H50.5ZM69.5 50C69.5 60.7696 60.7696 69.5 50 69.5V70.5C61.3218 70.5 70.5 61.3218 70.5 50H69.5ZM50 69.5C39.2304 69.5 30.5 60.7696 30.5 50H29.5C29.5 61.3218 38.6782 70.5 50 70.5V69.5ZM30.5 50C30.5 39.2304 39.2304 30.5 50 30.5V29.5C38.6782 29.5 29.5 38.6782 29.5 50H30.5ZM50 30.5C60.7696 30.5 69.5 39.2304 69.5 50H70.5C70.5 38.6782 61.3218 29.5 50 29.5V30.5Z"
              fill="#093D77"
            />
          </svg>
        </div>
        <hr class="my-2 w-[280.007px] border-t-2 border-[#093D77]" />
        <div class="p-4 w-full">
          <h3 class="font-semibold mb-3 text-center sans3 text-3xl"></h3>
          <p
            class="text-black text-center sans3 text-xl 2xl:text-3xl font-semibold"
          >
            Same-day Service (Pesan hari ini, datang hari ini juga)
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END MARQUEE-->
</template>
