<template>
  <!-- animate-marquee -->
  <!--MARQUEE KANAN KE KIRI -->
  <div class="bg-white w-full">
    <div class="relative flex overflow-x-hidden">
      <div class="py-12 animate-marquee whitespace-nowrap flex mx-4 space-x-10">
        <!-- Button AC -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang AC</span>
        </button>

        <!-- Button Listrik -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Listrik</span>
        </button>

        <!-- Button Pipa -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Pipa</span>
        </button>

        <!-- Button Massage -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Massage</span>
        </button>
        <!-- Button HOME CLEANING -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold">
            Tukang Home Cleaning</span
          >
        </button>

        <!-- Button Service -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold">
            Tukang Service Gadget</span
          >
        </button>

        <!-- Button Kunci -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Kunci </span>
        </button>

        <!-- Button Atap -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Atap</span>
        </button>
      </div>

      <div class="py-12 animate-marquee whitespace-nowrap flex mx-4 space-x-10">
        <!-- Button AC -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang AC</span>
        </button>

        <!-- Button Listrik -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Listrik</span>
        </button>

        <!-- Button Pipa -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Pipa</span>
        </button>

        <!-- Button Massage -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Massage</span>
        </button>
        <!-- Button HOME CLEANING -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold">
            Tukang Home Cleaning</span
          >
        </button>

        <!-- Button Service -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold">
            Tukang Service Gadget</span
          >
        </button>

        <!-- Button Kunci -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Kunci </span>
        </button>

        <!-- Button Atap -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Atap</span>
        </button>
      </div>
    </div>
  </div>
  <!--MARQUEE KIRI KE KKANAN -->
  <div class="bg-white w-full">
    <div class="relative flex overflow-x-hidden">
      <div
        class="py-12 animate-marqueekiri whitespace-nowrap flex mx-4 space-x-10"
      >
        <!-- Button CAT -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Cat</span>
        </button>

        <!-- Button Bangunan -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Bangunan</span>
        </button>

        <!-- Button Besi -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Besi</span>
        </button>

        <!-- Button Desain -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold">
            Tukang Design Interior</span
          >
        </button>
        <!-- Button Gorden -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Gorden </span>
        </button>

        <!-- Button Cuci mobil -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Cuci Mobil </span>
        </button>

        <!-- Button MakeUp -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang MakeUp</span>
        </button>

        <!-- Button Nail -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Nail Art</span>
        </button>
      </div>

      <div
        class="py-12 animate-marqueekiri whitespace-nowrap flex mx-4 space-x-10"
      >
        <!-- Button CAT -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Cat</span>
        </button>

        <!-- Button Bangunan -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Bangunan</span>
        </button>

        <!-- Button Besi -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Besi</span>
        </button>

        <!-- Button Desain -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold">
            Tukang Design Interior</span
          >
        </button>
        <!-- Button Gorden -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Gorden </span>
        </button>

        <!-- Button Cuci mobil -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Cuci Mobil </span>
        </button>

        <!-- Button MakeUp -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang MakeUp</span>
        </button>

        <!-- Button Nail -->
        <button
          class="bg-white p-5 flex items-center border rounded-full shadow hover:bg-gray-100 h-[7vh] lg:h-[15vh] 2xl:h-auto"
        >
          <svg
            class="w-16 h-16 text-[#093D77] mr-4"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
          </svg>
          <span class="sans3 text-2xl font-semibold"> Tukang Nail Art</span>
        </button>
      </div>
    </div>
  </div>
</template>
