<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Design Interior Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.25417 11.0843C6.58813 11.0843 6.91883 11.1501 7.22735 11.2779C7.53588 11.4058 7.81619 11.5932 8.05227 11.8294C8.28834 12.0656 8.47556 12.346 8.60322 12.6546C8.73088 12.9632 8.79648 13.294 8.79627 13.6279V17.5058H21.2021V13.6264C21.2024 13.1493 21.3369 12.6819 21.5903 12.2777C21.8437 11.8735 22.2058 11.5487 22.6351 11.3405C23.0643 11.1324 23.5435 11.0492 24.0178 11.1006C24.4922 11.152 24.9424 11.3358 25.3172 11.631C25.692 11.9262 25.9761 12.3209 26.1371 12.77C26.2981 13.2191 26.3295 13.7045 26.2277 14.1706C26.1258 14.6367 25.8949 15.0647 25.5613 15.4057C25.2276 15.7467 24.8048 15.987 24.341 16.099V23.4158C24.3406 23.6146 24.2614 23.8051 24.1209 23.9457C23.9803 24.0863 23.7898 24.1654 23.591 24.1658H6.4089C6.21012 24.1654 6.0196 24.0863 5.87904 23.9457C5.73847 23.8051 5.65932 23.6146 5.65891 23.4158V16.099C5.05288 15.9543 4.52109 15.5921 4.16452 15.0812C3.80794 14.5703 3.65142 13.9462 3.72467 13.3275C3.79792 12.7088 4.09584 12.1385 4.56186 11.7249C5.02788 11.3114 5.63112 11.0834 6.25417 11.0843ZM7.92627 9.67267C7.80886 9.62309 7.68926 9.57883 7.56785 9.54004V7.37215C7.56868 6.90854 7.753 6.46411 8.08053 6.136C8.40805 5.80788 8.85214 5.62276 9.31575 5.62109H20.681C21.1449 5.62235 21.5894 5.80728 21.9172 6.13544C22.2451 6.4636 22.4296 6.90827 22.4305 7.37215V9.54004C22.3091 9.57883 22.1895 9.62308 22.0721 9.67267C21.2945 10.001 20.6312 10.5514 20.1649 11.255C19.6987 11.9585 19.4504 12.7839 19.451 13.6279V15.7548H10.5473V13.6279C10.5473 12.7841 10.2988 11.9589 9.83261 11.2555C9.36646 10.552 8.70342 10.0015 7.92627 9.67267Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Pemasangan Tangga Besi
              </h5>
              <p class="text-white">
                Optimalkan ruang Anda dengan tata letak yang fungsional dan
                mengalir sempurna! Tim kami dapat mengatur tata letak furnitur
                dan aksesori, juga aliran lalu lintas yang baik dan fungsional
                di dalam ruang rumah Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.9992 1.2002V1.8002C11.9992 3.24863 13.0328 4.46035 14.3992 4.73926V10.8002H15.5992V4.73926C16.9656 4.46035 17.9992 3.24863 17.9992 1.8002V1.2002H11.9992ZM4.79922 12.0002C2.81172 12.0002 1.19922 13.6127 1.19922 15.6002C1.19922 17.3885 2.50469 18.8674 4.21328 19.1486C4.34453 22.1744 6.84297 24.6002 9.89922 24.6002C12.1305 24.6002 14.0641 23.3041 14.9992 21.4291C15.9344 23.3041 17.868 24.6002 20.0992 24.6002C23.1555 24.6002 25.6539 22.1744 25.7875 19.1486C27.4938 18.8674 28.7992 17.3885 28.7992 15.6002C28.7992 13.6127 27.1867 12.0002 25.1992 12.0002C23.2117 12.0002 21.5992 13.6127 21.5992 15.6002C21.5992 17.3791 22.8906 18.8533 24.5875 19.1439C24.4586 21.5229 22.5086 23.4002 20.0992 23.4002C17.6898 23.4002 15.7398 21.5229 15.6109 19.1439C17.3078 18.8533 18.5992 17.3791 18.5992 15.6002C18.5992 13.6127 16.9867 12.0002 14.9992 12.0002C13.0117 12.0002 11.3992 13.6127 11.3992 15.6002C11.3992 17.3791 12.6906 18.8533 14.3875 19.1439C14.2586 21.5229 12.3086 23.4002 9.89922 23.4002C7.48984 23.4002 5.53984 21.5229 5.41328 19.1439C7.10781 18.8533 8.39922 17.3791 8.39922 15.6002C8.39922 13.6127 6.78672 12.0002 4.79922 12.0002ZM4.79922 13.8002V15.0002C4.46875 15.0002 4.19922 15.2697 4.19922 15.6002H2.99922C2.99922 14.6088 3.80781 13.8002 4.79922 13.8002ZM14.9992 13.8002V15.0002C14.6688 15.0002 14.3992 15.2697 14.3992 15.6002H13.1992C13.1992 14.6088 14.0078 13.8002 14.9992 13.8002ZM25.1992 13.8002V15.0002C24.8688 15.0002 24.5992 15.2697 24.5992 15.6002H23.3992C23.3992 14.6088 24.2078 13.8002 25.1992 13.8002ZM14.9992 24.0002C13.6727 24.0002 12.5992 25.0736 12.5992 26.4002C12.5992 27.7268 13.6727 28.8002 14.9992 28.8002C16.3258 28.8002 17.3992 27.7268 17.3992 26.4002C17.3992 25.0736 16.3258 24.0002 14.9992 24.0002Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pencahayaan dan Elektrifikasi
              </h5>
              <p class="text-white">
                Rencanakan pncahayaan yang sempurna dan solusi elektrifikasi
                untuk suasana ruangan yang ideal bersama kami! Tim kami dapat
                merancang sistem pencahayaan yang memadai dan atmosferis sesuai
                dengan kebutuhan dan keinginan Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.5006 20.625V24.375C27.5006 26.1 26.1006 27.5 24.3756 27.5H15.4506C14.3381 27.5 13.7881 26.1625 14.5631 25.375L21.9006 17.875C22.1381 17.6375 22.4631 17.5 22.7881 17.5H24.3756C26.1006 17.5 27.5006 18.9 27.5006 20.625Z"
                fill="white"
              />
              <path
                d="M22.9633 14.1119L19.5758 17.4994L16.5008 20.5619C15.7133 21.3494 14.3633 20.7994 14.3633 19.6869C14.3633 15.6744 14.3633 9.07441 14.3633 9.07441C14.3633 8.73691 14.5008 8.42441 14.7258 8.18691L15.8758 7.03691C17.1008 5.81191 19.0758 5.81191 20.3008 7.03691L22.9508 9.68691C24.1883 10.9119 24.1883 12.8869 22.9633 14.1119Z"
                fill="white"
              />
              <path
                d="M9.375 2.5H5.625C3.75 2.5 2.5 3.75 2.5 5.625V22.5C2.5 22.8375 2.5375 23.175 2.6 23.5C2.6375 23.6625 2.675 23.825 2.725 23.9875C2.7875 24.175 2.85 24.3625 2.925 24.5375C2.9375 24.55 2.9375 24.5625 2.9375 24.5625C2.95 24.5625 2.95 24.5625 2.9375 24.575C3.1125 24.925 3.3125 25.2625 3.55 25.575C3.6875 25.7375 3.825 25.8875 3.9625 26.0375C4.1 26.1875 4.25 26.3125 4.4125 26.4375L4.425 26.45C4.7375 26.6875 5.075 26.8875 5.425 27.0625C5.4375 27.05 5.4375 27.05 5.4375 27.0625C5.625 27.15 5.8125 27.2125 6.0125 27.275C6.175 27.325 6.3375 27.3625 6.5 27.4C6.825 27.4625 7.1625 27.5 7.5 27.5C8.0125 27.5 8.5375 27.425 9.025 27.2625C9.1625 27.2125 9.3 27.1625 9.4375 27.1C9.875 26.925 10.3 26.675 10.675 26.35C10.7875 26.2625 10.9125 26.15 11.025 26.0375L11.075 25.9875C11.95 25.0875 12.5 23.85 12.5 22.5V5.625C12.5 3.75 11.25 2.5 9.375 2.5ZM7.5 24.375C6.4625 24.375 5.625 23.5375 5.625 22.5C5.625 21.4625 6.4625 20.625 7.5 20.625C8.5375 20.625 9.375 21.4625 9.375 22.5C9.375 23.5375 8.5375 24.375 7.5 24.375Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Warna dan Skema Warna
              </h5>
              <p class="text-white">
                Tentukan bersama warna yang cocok, atmosfer yang dirancang
                khusus untuk Anda bersama kami! Tim kami dapat menciptakan
                suasana yang diinginkan, seperti relaksasi, energi, atau
                elegansi.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26.25 2.5H25V10H27.5V3.75C27.5 3.41848 27.3683 3.10054 27.1339 2.86612C26.8995 2.6317 26.5815 2.5 26.25 2.5Z"
                fill="white"
              />
              <path d="M27.5 12.5H25V20H27.5V12.5Z" fill="white" />
              <path
                d="M25 27.5H26.25C26.5815 27.5 26.8995 27.3683 27.1339 27.1339C27.3683 26.8995 27.5 26.5815 27.5 26.25V22.5H25V27.5Z"
                fill="white"
              />
              <path
                d="M2.5 26.25C2.5 26.5815 2.6317 26.8995 2.86612 27.1339C3.10054 27.3683 3.41848 27.5 3.75 27.5H22.5V22.5H2.5V26.25Z"
                fill="white"
              />
              <path
                d="M11.25 2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V20H11.25V2.5ZM8.75 12.5C8.75 12.8315 8.6183 13.1495 8.38388 13.3839C8.14946 13.6183 7.83152 13.75 7.5 13.75C7.16848 13.75 6.85054 13.6183 6.61612 13.3839C6.3817 13.1495 6.25 12.8315 6.25 12.5V10C6.25 9.66848 6.3817 9.35054 6.61612 9.11612C6.85054 8.8817 7.16848 8.75 7.5 8.75C7.83152 8.75 8.14946 8.8817 8.38388 9.11612C8.6183 9.35054 8.75 9.66848 8.75 10V12.5Z"
                fill="white"
              />
              <path
                d="M13.75 20H22.5V2.5H13.75V20ZM16.25 10C16.25 9.66848 16.3817 9.35054 16.6161 9.11612C16.8505 8.8817 17.1685 8.75 17.5 8.75C17.8315 8.75 18.1495 8.8817 18.3839 9.11612C18.6183 9.35054 18.75 9.66848 18.75 10V12.5C18.75 12.8315 18.6183 13.1495 18.3839 13.3839C18.1495 13.6183 17.8315 13.75 17.5 13.75C17.1685 13.75 16.8505 13.6183 16.6161 13.3839C16.3817 13.1495 16.25 12.8315 16.25 12.5V10Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Desain Furnitur Kustom
              </h5>
              <p class="text-white">
                Furnitur kustom untuk ruang Anda, jadikan sentuhan pribadi yang
                tak terlupakan bagi rumah Anda. Tim kami siap merancang furnitur
                kustom untuk memenuhi kebutuhan spesifik ruangan dan estetika.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5312 5.15625V7.06945C14.2215 7.11832 13.9093 7.21289 13.5938 7.34074V6.09375H12.6562V7.80234C12.5568 7.85859 12.4569 7.91678 12.3565 7.97695C12.1457 8.10352 11.9329 8.23945 11.7188 8.38154V7.03125H10.7812V9.03457C10.4693 9.26016 10.1564 9.49312 9.84375 9.72727V8.90625H8.90625V10.4276C8.58973 10.6625 8.27637 10.8905 7.96875 11.1069V9.84375H7.03125V11.7312C6.97031 11.7691 6.90879 11.8081 6.84873 11.8442C6.58811 12.0006 6.3351 12.1373 6.09375 12.2521V11.7188H5.15625V12.5961C4.98691 12.6353 4.82959 12.6562 4.6875 12.6562H4.21875V10.7812H1.40625V28.5938H4.21875V13.5938H4.6875C4.84324 13.5938 4.99945 13.5803 5.15625 13.5555V28.5938H6.09375V13.2842C6.40266 13.1589 6.71484 13.0018 7.03125 12.8227V28.5938H7.96875V12.2435C8.27895 12.0377 8.59201 11.8178 8.90625 11.5905V28.5938H9.84375V20.1562H10.7812V28.5938H11.7188V9.51814C12.0388 9.29326 12.3521 9.08297 12.6562 8.89377V17.3438H13.5938V8.37293C13.9332 8.21156 14.2493 8.09432 14.5312 8.02898V17.3438H15.4688V8.02893C15.7507 8.09432 16.0668 8.21156 16.4062 8.37287V17.3438H17.3438V8.89377C17.6479 9.08303 17.9612 9.29326 18.2812 9.51814V28.5938H19.2188V20.1562H20.1562V28.5938H21.0938V11.5904C21.408 11.8178 21.7211 12.0377 22.0312 12.2435V28.5938H22.9688V12.8227C23.2852 13.0017 23.5973 13.159 23.9062 13.2842V28.5938H24.8438V13.5555C25.0005 13.5803 25.1568 13.5938 25.3125 13.5938H25.7812V28.5938H28.5938V10.7812H25.7812V12.6562H25.3125C25.1704 12.6562 25.0131 12.6353 24.8438 12.5961V11.7188H23.9062V12.2521C23.6648 12.1372 23.4119 12.0006 23.1513 11.8443C23.0912 11.8081 23.0297 11.7691 22.9688 11.7312V9.84375H22.0312V11.1069C21.7235 10.8906 21.4103 10.6625 21.0938 10.4276V8.90625H20.1562V9.72727C19.8436 9.49312 19.5307 9.26027 19.2188 9.03451V7.03125H18.2812V8.38154C18.0671 8.23951 17.8543 8.10346 17.6435 7.97701C17.5431 7.91684 17.4432 7.85865 17.3438 7.8024V6.09375H16.4062V7.3408C16.0907 7.21289 15.7785 7.11832 15.4688 7.06951V5.15625H14.5312ZM2.8125 7.03125C2.03027 7.03125 1.40625 7.65527 1.40625 8.4375C1.40625 9.21973 2.03027 9.84375 2.8125 9.84375C3.59473 9.84375 4.21875 9.21973 4.21875 8.4375C4.21875 7.65527 3.59473 7.03125 2.8125 7.03125ZM27.1875 7.03125C26.4053 7.03125 25.7812 7.65527 25.7812 8.4375C25.7812 9.21973 26.4053 9.84375 27.1875 9.84375C27.9697 9.84375 28.5938 9.21973 28.5938 8.4375C28.5938 7.65527 27.9697 7.03125 27.1875 7.03125ZM10.7812 10.1974V19.2188H9.84375V10.8977C9.9375 10.8275 10.0314 10.7577 10.125 10.6875C10.3447 10.5229 10.5635 10.3589 10.7812 10.1974ZM19.2188 10.1974C19.4365 10.3589 19.6553 10.5229 19.875 10.6875C19.9686 10.7578 20.0625 10.8275 20.1562 10.8977V19.2188H19.2188V10.1974ZM12.6562 18.2812V20.1562H17.3438V18.2812H12.6562ZM12.6562 21.0938V28.5938H13.5938V21.0938H12.6562ZM14.5312 21.0938V28.5938H15.4688V21.0938H14.5312ZM16.4062 21.0938V28.5938H17.3438V21.0938H16.4062Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Desain Ruang Terbuka
              </h5>
              <p class="text-white">
                Apakah Anda memiliki ruang terbuka yang menghubungkan 2 ruangan
                di rumah? Atau hanya ingin merancang teras yang indah? Tim kami
                bisa merancang dan menciptakan ruang luar ruangan atau teras
                untuk fungsi dan estetika yang optimal.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
