<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Bangunan Dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.5 8.75H3.75C3.41848 8.75 3.10054 8.8817 2.86612 9.11612C2.6317 9.35054 2.5 9.66848 2.5 10V27.5H13.75V10C13.75 9.66848 13.6183 9.35054 13.3839 9.11612C13.1495 8.8817 12.8315 8.75 12.5 8.75ZM7.5 25H5V22.5H7.5V25ZM7.5 21.25H5V18.75H7.5V21.25ZM7.5 17.5H5V15H7.5V17.5ZM7.5 13.75H5V11.25H7.5V13.75ZM11.25 25H8.75V22.5H11.25V25ZM11.25 21.25H8.75V18.75H11.25V21.25ZM11.25 17.5H8.75V15H11.25V17.5ZM11.25 13.75H8.75V11.25H11.25V13.75ZM26.7575 7.17L16.25 2.5V27.5H27.5V8.3125C27.5 8.07065 27.4299 7.83398 27.2981 7.63119C27.1663 7.42839 26.9785 7.26819 26.7575 7.17ZM25 22.5H18.75V20H25V22.5ZM25 17.5H18.75V15H25V17.5ZM25 12.5H18.75V10H25V12.5Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Pembangunan Struktur Bangunan
              </h5>
              <p class="text-white">
                Rencanakan pondasi yang kuat untuk masa depan rumah Anda! Tukang
                kami siap membangun / merenovasi struktur bangunan Anda mulai
                dari dasar (pondasi) hingga atap sesuai kebutuhan Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_7431_31640)">
                <path
                  d="M12.5 18.75H5C4.66848 18.75 4.35054 18.8817 4.11612 19.1161C3.8817 19.3505 3.75 19.6685 3.75 20V26.25C3.75 26.5815 3.8817 26.8995 4.11612 27.1339C4.35054 27.3683 4.66848 27.5 5 27.5H12.5C12.8315 27.5 13.1495 27.3683 13.3839 27.1339C13.6183 26.8995 13.75 26.5815 13.75 26.25V20C13.75 19.6685 13.6183 19.3505 13.3839 19.1161C13.1495 18.8817 12.8315 18.75 12.5 18.75Z"
                  fill="white"
                />
                <path
                  d="M12.5 2.5H5C4.66848 2.5 4.35054 2.6317 4.11612 2.86612C3.8817 3.10054 3.75 3.41848 3.75 3.75V15C3.75 15.3315 3.8817 15.6495 4.11612 15.8839C4.35054 16.1183 4.66848 16.25 5 16.25H12.5C12.8315 16.25 13.1495 16.1183 13.3839 15.8839C13.6183 15.6495 13.75 15.3315 13.75 15V3.75C13.75 3.41848 13.6183 3.10054 13.3839 2.86612C13.1495 2.6317 12.8315 2.5 12.5 2.5Z"
                  fill="white"
                />
                <path
                  d="M25 2.5H17.5C17.1685 2.5 16.8505 2.6317 16.6161 2.86612C16.3817 3.10054 16.25 3.41848 16.25 3.75V10C16.25 10.3315 16.3817 10.6495 16.6161 10.8839C16.8505 11.1183 17.1685 11.25 17.5 11.25H25C25.3315 11.25 25.6495 11.1183 25.8839 10.8839C26.1183 10.6495 26.25 10.3315 26.25 10V3.75C26.25 3.41848 26.1183 3.10054 25.8839 2.86612C25.6495 2.6317 25.3315 2.5 25 2.5Z"
                  fill="white"
                />
                <path
                  d="M25 13.75H17.5C17.1685 13.75 16.8505 13.8817 16.6161 14.1161C16.3817 14.3505 16.25 14.6685 16.25 15V26.25C16.25 26.5815 16.3817 26.8995 16.6161 27.1339C16.8505 27.3683 17.1685 27.5 17.5 27.5H25C25.3315 27.5 25.6495 27.3683 25.8839 27.1339C26.1183 26.8995 26.25 26.5815 26.25 26.25V15C26.25 14.6685 26.1183 14.3505 25.8839 14.1161C25.6495 13.8817 25.3315 13.75 25 13.75Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_7431_31640">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Lantai
              </h5>
              <p class="text-white">
                Langkah nyaman di atas lantai berkualitas tinggi! Dengan
                menggunakan tim kami Anda tidak perlu lagi memikirkan tentang
                menginstal lantai ruangan Anda mulai dari keramik, marmer, kayu,
                atau bahan-bahan lainnya secara profesional.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.3125 19.875L13.5625 22.875L13.75 24H15.4375L15 22.3125L12.5 18.75L11.3125 19.875ZM16.6875 10.5L18.5625 11.9375H21.625L23.1875 13L23.75 13.875L25.4375 13.0625L24.25 11.75L21.5 10.5H16.6875ZM8.8125 15C6 13.875 5.5625 17.5 6.4375 19.5H3.875C3.875 16.25 5.25 13.875 7 13.875C8.125 13.875 9 14.6875 9 14.6875C9 14.6875 9.125 14.75 8.8125 15Z"
                fill="white"
              />
              <path
                d="M8.25 15C8.25 16.9375 10.5 18.0625 10.5 18.0625L9.0625 20L10.5 22.9375V24.0625H12.1875V22.8125L11.1875 20.5625L13 19.3125C14.125 18.5 14.3125 17.75 14 16.5625C15.5625 16 17.875 13.125 17.875 13.125L19.4375 14.125L18.3125 15.6875L16.9375 16.25L17.9375 17.5L19.1875 16.8125L21.125 14.5625C21.4375 14.25 21.375 13.75 21.125 13.5625L18.3125 10.5L17.875 8.3125C18 8.4375 18.8125 8.875 19.8125 8.0625L21.75 8.5L22.1875 7.125L19.375 5.375L19.8125 4.5625C19.8125 4.5625 18.9375 3.6875 17.5 3.6875C13.3125 3.6875 12.875 7.9375 13.1875 10.5625L10.6875 12.25C8.25 13 8.25 14.4375 8.25 15Z"
                fill="white"
              />
              <path
                d="M16.8125 6.3125C16.375 9 17.9375 9.125 17.9375 9.125L17.8125 8.375C17.5 8.375 16.9375 8.4375 16.8125 6.3125ZM14.6875 16.125C14.4375 15.8125 13.8125 15.1875 13.0625 14.8125C13.5625 15.375 13.9375 16.5 13.9375 16.5C14.1875 16.4375 14.4375 16.3125 14.6875 16.125Z"
                fill="white"
              />
              <path d="M3.75 23.75H26.25V26.25H3.75V23.75Z" fill="#FBFBFB" />
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pekerjaan Artistik Besi
              </h5>
              <p class="text-white">
                Tampilkan keindahan dengan sentuhan artistik besi kami! Tukang
                kami dapat membantu menciptakan karya seni besi yang unik untuk
                taman, patung / dekorasi interior di rumah Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.81907 4.09082H15.0009V9.54537H6.81907M17.7282 4.09082H24.5463V9.54537H17.7282M6.81907 20.4545V25.909H15.0009V20.4545M17.7282 20.4545H24.5463V25.909H17.7282M10.91 12.2726H4.0918V17.7272H10.91M13.6373 12.2726H27.2736V17.7272H13.6373"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemasangan Dinding
              </h5>
              <p class="text-white">
                Anda bingung bagaimana membuat dinding impian dengan presisi dan
                kualitas tinggi? Kami siap membuat dan memasang dinding dari
                berbagai jenis material seperti batu bata, beton / gypsum.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5312 5.15625V7.06945C14.2215 7.11832 13.9093 7.21289 13.5938 7.34074V6.09375H12.6562V7.80234C12.5568 7.85859 12.4569 7.91678 12.3565 7.97695C12.1457 8.10352 11.9329 8.23945 11.7188 8.38154V7.03125H10.7812V9.03457C10.4693 9.26016 10.1564 9.49312 9.84375 9.72727V8.90625H8.90625V10.4276C8.58973 10.6625 8.27637 10.8905 7.96875 11.1069V9.84375H7.03125V11.7312C6.97031 11.7691 6.90879 11.8081 6.84873 11.8442C6.58811 12.0006 6.3351 12.1373 6.09375 12.2521V11.7188H5.15625V12.5961C4.98691 12.6353 4.82959 12.6562 4.6875 12.6562H4.21875V10.7812H1.40625V28.5938H4.21875V13.5938H4.6875C4.84324 13.5938 4.99945 13.5803 5.15625 13.5555V28.5938H6.09375V13.2842C6.40266 13.1589 6.71484 13.0018 7.03125 12.8227V28.5938H7.96875V12.2435C8.27895 12.0377 8.59201 11.8178 8.90625 11.5905V28.5938H9.84375V20.1562H10.7812V28.5938H11.7188V9.51814C12.0388 9.29326 12.3521 9.08297 12.6562 8.89377V17.3438H13.5938V8.37293C13.9332 8.21156 14.2493 8.09432 14.5312 8.02898V17.3438H15.4688V8.02893C15.7507 8.09432 16.0668 8.21156 16.4062 8.37287V17.3438H17.3438V8.89377C17.6479 9.08303 17.9612 9.29326 18.2812 9.51814V28.5938H19.2188V20.1562H20.1562V28.5938H21.0938V11.5904C21.408 11.8178 21.7211 12.0377 22.0312 12.2435V28.5938H22.9688V12.8227C23.2852 13.0017 23.5973 13.159 23.9062 13.2842V28.5938H24.8438V13.5555C25.0005 13.5803 25.1568 13.5938 25.3125 13.5938H25.7812V28.5938H28.5938V10.7812H25.7812V12.6562H25.3125C25.1704 12.6562 25.0131 12.6353 24.8438 12.5961V11.7188H23.9062V12.2521C23.6648 12.1372 23.4119 12.0006 23.1513 11.8443C23.0912 11.8081 23.0297 11.7691 22.9688 11.7312V9.84375H22.0312V11.1069C21.7235 10.8906 21.4103 10.6625 21.0938 10.4276V8.90625H20.1562V9.72727C19.8436 9.49312 19.5307 9.26027 19.2188 9.03451V7.03125H18.2812V8.38154C18.0671 8.23951 17.8543 8.10346 17.6435 7.97701C17.5431 7.91684 17.4432 7.85865 17.3438 7.8024V6.09375H16.4062V7.3408C16.0907 7.21289 15.7785 7.11832 15.4688 7.06951V5.15625H14.5312ZM2.8125 7.03125C2.03027 7.03125 1.40625 7.65527 1.40625 8.4375C1.40625 9.21973 2.03027 9.84375 2.8125 9.84375C3.59473 9.84375 4.21875 9.21973 4.21875 8.4375C4.21875 7.65527 3.59473 7.03125 2.8125 7.03125ZM27.1875 7.03125C26.4053 7.03125 25.7812 7.65527 25.7812 8.4375C25.7812 9.21973 26.4053 9.84375 27.1875 9.84375C27.9697 9.84375 28.5938 9.21973 28.5938 8.4375C28.5938 7.65527 27.9697 7.03125 27.1875 7.03125ZM10.7812 10.1974V19.2188H9.84375V10.8977C9.9375 10.8275 10.0314 10.7577 10.125 10.6875C10.3447 10.5229 10.5635 10.3589 10.7812 10.1974ZM19.2188 10.1974C19.4365 10.3589 19.6553 10.5229 19.875 10.6875C19.9686 10.7578 20.0625 10.8275 20.1562 10.8977V19.2188H19.2188V10.1974ZM12.6562 18.2812V20.1562H17.3438V18.2812H12.6562ZM12.6562 21.0938V28.5938H13.5938V21.0938H12.6562ZM14.5312 21.0938V28.5938H15.4688V21.0938H14.5312ZM16.4062 21.0938V28.5938H17.3438V21.0938H16.4062Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembuatan Pagar dan Pagar Rumah
              </h5>
              <p class="text-white">
                Utamakan keamanan rumah mulai dari pagar yang kokoh dan estetika
                yang menawan! Dengan keahlian dalam konstruksi, kami dapat
                membangun pagar rumah / fasilitas pembatas lainnya dengan
                berbagai material untuk Anda.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
