<script setup>
import { onMounted } from "vue";
import navbar from "../../components/atas.vue";
import kami from "../../components/layanankami/tukangnailart/tukangnailartkami.vue";
import tukang from "../../components/layanankami/tukangnailart/tukangsiap.vue";
import pelanggan from "../../components/layanankami/tukangnailart/pelanggansiap.vue";
import testi from "../../components/layanankami/tukangnailart/testi.vue";
import kaki from "../../components/footer.vue";

onMounted(() => {
  // Secara otomatis gulir ke atas
  window.scrollTo(0, 0);
});
</script>
<template>
  <navbar />

  <main
    class="relative overflow-hidden bg-white pb-12 pt-20 sm:pb-16 sm:pt-32 lg:pb-24 xl:pb-32 xl:pt-32"
  >
    <div class="relative z-20 mx-auto w-full px-6 lg:px-8">
      <div class="relative mx-auto w-full rounded-2xl">
        <img
          class="w-full h-full bg-cover"
          src="/layanankami/tukangnailart.png"
          alt=""
        />
      </div>
      <div class="mx-auto max-w-2xl text-center mt-10">
        <h1
          class="text-4xl font-bold tracking-tight text-[#093D77] sans3 sm:text-6xl"
        >
          TUKANG NAIL ART
        </h1>
        <div class="flex items-center justify-center space-x-10 mt-3">
          <div class="flex items-center space-x-2">
            <svg
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.58301 8.4165H2.91634C2.22599 8.4165 1.66634 8.97615 1.66634 9.6665V17.1665C1.66634 17.8569 2.22599 18.4165 2.91634 18.4165H4.58301V8.4165Z"
                fill="#14B6B8"
              />
              <path
                d="M11.25 10.0833C11.25 8.93274 12.1827 8 13.3333 8H16.25C17.4006 8 18.3333 8.93274 18.3333 10.0833C18.3333 11.2339 17.4006 12.1667 16.25 12.1667H13.3333C12.1827 12.1667 11.25 11.2339 11.25 10.0833Z"
                fill="#14B6B8"
              />
              <path
                d="M10.833 13.4168C10.833 12.2662 11.7657 11.3335 12.9163 11.3335H15.833C16.9836 11.3335 17.9163 12.2662 17.9163 13.4168C17.9163 14.5674 16.9836 15.5002 15.833 15.5002H12.9163C11.7657 15.5002 10.833 14.5674 10.833 13.4168Z"
                fill="#14B6B8"
              />
              <path
                d="M5.83303 8.51196C5.83303 8.17827 5.9332 7.85225 6.12057 7.57613L9.50836 2.5836C9.65521 2.36718 9.96283 2.338 10.1478 2.52294L10.8188 3.19399C11.4692 3.84433 11.7099 4.79921 11.4456 5.68013L10.7497 7.99987H14.1663C15.3169 7.99987 16.2497 8.93261 16.2497 10.0832V17.5832C16.2497 18.0434 15.8766 18.4165 15.4163 18.4165H6.66634C6.2061 18.4165 5.83301 18.0434 5.83301 17.5832L5.83303 8.51196Z"
                fill="#14B6B8"
              />
            </svg>

            <p class="mt-1 text-lg leading-8 text-[#14B6B8] sans3">Populer</p>
          </div>
          <div class="flex items-center space-x-2">
            <svg
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.99345 3.16671C7.86239 3.28531 7.72466 3.39632 7.58095 3.49921C7.33262 3.66588 7.05345 3.78088 6.76012 3.83921C6.63262 3.86421 6.49928 3.87505 6.23345 3.89588C5.56595 3.94921 5.23178 3.97588 4.95345 4.07421C4.6352 4.18658 4.34614 4.36877 4.10749 4.60742C3.86884 4.84607 3.68665 5.13513 3.57428 5.45338C3.47595 5.73171 3.44928 6.06588 3.39595 6.73338C3.38686 6.90985 3.36794 7.08568 3.33928 7.26005C3.28095 7.55338 3.16595 7.83255 2.99928 8.08088C2.92678 8.18921 2.84012 8.29088 2.66678 8.49338C2.23262 9.00338 2.01512 9.25838 1.88762 9.52505C1.59345 10.1417 1.59345 10.8584 1.88762 11.475C2.01512 11.7417 2.23262 11.9967 2.66678 12.5067C2.84012 12.7092 2.92678 12.8109 2.99928 12.9192C3.16595 13.1675 3.28095 13.4467 3.33928 13.74C3.36428 13.8675 3.37512 14.0009 3.39595 14.2667C3.44928 14.9342 3.47595 15.2684 3.57428 15.5467C3.68665 15.865 3.86884 16.154 4.10749 16.3927C4.34614 16.6313 4.6352 16.8135 4.95345 16.9259C5.23178 17.0242 5.56595 17.0509 6.23345 17.1042C6.49928 17.125 6.63262 17.1359 6.76012 17.1609C7.05345 17.2192 7.33262 17.335 7.58095 17.5009C7.68928 17.5734 7.79095 17.66 7.99345 17.8334C8.50345 18.2675 8.75845 18.485 9.02512 18.6125C9.64178 18.9067 10.3585 18.9067 10.9751 18.6125C11.2418 18.485 11.4968 18.2675 12.0068 17.8334C12.2093 17.66 12.311 17.5734 12.4193 17.5009C12.6676 17.3342 12.9468 17.2192 13.2401 17.1609C13.3676 17.1359 13.501 17.125 13.7668 17.1042C14.4343 17.0509 14.7684 17.0242 15.0468 16.9259C15.365 16.8135 15.6541 16.6313 15.8927 16.3927C16.1314 16.154 16.3136 15.865 16.426 15.5467C16.5243 15.2684 16.551 14.9342 16.6043 14.2667C16.6251 14.0009 16.636 13.8675 16.661 13.74C16.7193 13.4467 16.8351 13.1675 17.0009 12.9192C17.0734 12.8109 17.1601 12.7092 17.3334 12.5067C17.7676 11.9967 17.9851 11.7417 18.1126 11.475C18.4068 10.8584 18.4068 10.1417 18.1126 9.52505C17.9851 9.25838 17.7676 9.00338 17.3334 8.49338C17.2149 8.36232 17.1038 8.2246 17.0009 8.08088C16.8344 7.83245 16.7189 7.55345 16.661 7.26005C16.6323 7.08568 16.6134 6.90985 16.6043 6.73338C16.551 6.06588 16.5243 5.73171 16.426 5.45338C16.3136 5.13513 16.1314 4.84607 15.8927 4.60742C15.6541 4.36877 15.365 4.18658 15.0468 4.07421C14.7684 3.97588 14.4343 3.94921 13.7668 3.89588C13.5903 3.88679 13.4145 3.86787 13.2401 3.83921C12.9467 3.78129 12.6677 3.66572 12.4193 3.49921C12.2757 3.3961 12.138 3.2851 12.0068 3.16671C11.4968 2.73255 11.2418 2.51505 10.9751 2.38755C10.6707 2.24203 10.3375 2.1665 10.0001 2.1665C9.66269 2.1665 9.32955 2.24203 9.02512 2.38755C8.75845 2.51505 8.50345 2.73255 7.99345 3.16671ZM13.6443 8.71921C13.7621 8.5903 13.8256 8.42094 13.8217 8.24638C13.8177 8.07181 13.7466 7.90548 13.6232 7.78201C13.4997 7.65854 13.3334 7.58744 13.1588 7.5835C12.9842 7.57957 12.8149 7.6431 12.686 7.76088L8.64428 11.8025L7.31428 10.4734C7.18537 10.3556 7.01601 10.2921 6.84144 10.296C6.66688 10.2999 6.50055 10.371 6.37708 10.4945C6.25361 10.618 6.18251 10.7843 6.17857 10.9589C6.17464 11.1334 6.23817 11.3028 6.35595 11.4317L8.16428 13.24C8.29146 13.367 8.46378 13.4382 8.64345 13.4382C8.82312 13.4382 8.99544 13.367 9.12262 13.24L13.6451 8.71921H13.6443Z"
                fill="#14B6B8"
              />
            </svg>

            <p class="mt-1 text-lg leading-8 text-[#14B6B8] sans3">
              Bersertifikasi
            </p>
          </div>

          <div class="flex items-center space-x-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M3.74029 20.5L5.32931 13.1053L0 8.13158L7.04055 7.47368L9.77855 0.5L12.5165 7.47368L19.5571 8.13158L14.2278 13.1053L15.8168 20.5L9.77855 16.5789L3.74029 20.5Z"
                fill="#FFD15B"
              />
            </svg>
            <p class="mt-1 text-lg leading-8 text-[#14B6B8] sans3">4.9</p>
          </div>
        </div>
        <div class="border-2 border-[#093D77] mt-2 rounded-2xl bg-white/70">
          <p class="text-xl mx-auto my-5 text-black sans3 p-4">
            Ingin tampil cantik dengan kuku yang menawan? Temukan seni kuku yang
            unik dan mencerminkan gaya Anda dengan layanan nail art kami! Dari
            desain yang sederhana hingga yang penuh detail, tukang nail art kami
            siap memberikan sentuhan magis untuk mempercantik kuku Anda. Buatlah
            penampilan Anda semakin memukau dengan nail art yang berkelas dan
            profesional!
          </p>
        </div>
      </div>
    </div>
    <!-- tukang ac kami bisa ngapain -->
    <kami />
    <!-- persiapan -->
    <section>
      <div class="md:w-full lg:w-full mt-14">
        <div class="w-full">
          <tukang />
        </div>
      </div>

      <div class="md:w-full lg:w-full mt-14">
        <div class="w-full">
          <pelanggan />
        </div>
      </div>

      <div class="flex justify-center mt-24 xl:mt-5">
        <a
          href=""
          class="bg-[#093D77] p-4 sans3 font-semibold shadow-xl rounded-3xl text-white hover:bg-[#093D77] duration-300"
        >
          <button class="text-lg xl:text-2xl">Pesan Sekarang !</button>
        </a>
      </div>
    </section>
    <!-- Cerita Kami -->
    <section class="w-full p-0 bg-white md:p-0 mt-10">
      <h1 class="text-center text-black fontabout">
        Cerita <span class="text-[#14B6B8]"> Mereka</span>
      </h1>
      <testi />
    </section>
  </main>
  <kaki />
</template>
