<template>
  <div class="flex justify-center">
    <div
      class="container grid grid-cols-1 xl:grid-cols-2 w-full place-content-center p-4"
    >
      <div class="hidden xl:flex justify-center">
        <img src="/layanankami/pelanggansiap.svg" alt="" />
      </div>
      <div class="w-full">
        <h1 class="text-center font-semibold text-2xl xl:text-4xl sans3">
          Ini yang harus disiapkan oleh
          <span class="text-[#14B6B8]">Pelanggan</span>
        </h1>
        <div class="h-full grid grid-cols-3 lg:grid-cols-3">
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/service/charger.svg"
              alt=""
              class="h-[85px]"
            />
            <h1 class="sans3 text-xl font-semibold">Charger</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/service/stopkontak.svg"
              alt=""
              class="h-[85px]"
            />
            <h1 class="sans3 text-xl font-semibold">Stop Kontak</h1>
          </div>
          <div class="flex justify-center flex-col text-center space-y-3">
            <img
              src="/layanankami/service/cahaya.svg"
              alt=""
              class="h-[85px]"
            />
            <h1 class="sans3 text-xl font-semibold">Sumber Cahaya</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
