<template>
  <div class="p-4">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
      <div class="lg:w-full">
        <h2 class="my-8 font-bold text-center text-4xl sans3">
          Tukang Service Gadget dari
          <span class="text-[#14B6B8]">TukanginAja.id</span> Bisa Ngapain aja ya
          ?
        </h2>
      </div>
      <div
        class="mt-10 grid divide-x divide-y divide-[#14B6B8] shadow-2xl overflow-hidden rounded-3xl text-gray-600 sm:grid-cols-1 lg:grid-cols-5 lg:divide-y-0 xl:grid-cols-5"
      >
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6098_18214)">
                <path
                  d="M20.6602 0H9.59766C8.56641 0 7.73438 0.832031 7.73438 1.86328V28.1484C7.73438 29.1797 8.56641 30.0117 9.59766 30.0117H20.625C21.6562 30.0117 22.4883 29.1797 22.4883 28.1484V1.86328C22.4883 0.832031 21.6562 0 20.6602 0ZM15.1289 28.9453C14.5313 28.9453 14.0273 28.4414 14.0273 27.8438C14.0273 27.2461 14.5313 26.7422 15.1289 26.7422C15.7266 26.7422 16.2305 27.2461 16.2305 27.8438C16.2305 28.4414 15.7266 28.9453 15.1289 28.9453ZM21.2227 25.582H9.03516V4.39453H21.2578V25.582H21.2227Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6098_18214">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2 sans3">
              <h5 class="text-xl font-semibold text-white transition">
                Perbaikan Kerusakan Fisik
              </h5>
              <p class="text-white">
                Kembalikan estetika dan fungsionalitas perangkat Anda dengan
                perbaikan fisik terbaik dari ahli kami! Tukang kami dapat
                memperbaiki komponen yang rusak, seperti layar retak, baterai
                yang bocor atau membengkak.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.19629 5.16699C4.26466 5.16699 3.51172 5.9126 3.51172 6.84424V20.2036C3.51172 21.1352 4.26466 21.8882 5.19629 21.8882H24.8105C25.7422 21.8882 26.4878 21.1352 26.4878 20.2036V6.84424C26.4878 5.9126 25.7422 5.16699 24.8105 5.16699H5.19629ZM5.89209 7.09326H24.1147V19.9692H5.89209V7.09326ZM12.3447 8.24316L12.0884 8.79248L12.0811 8.90967L12.1616 9.29785L11.6489 9.50293L11.4439 9.18066L11.3486 9.09277L10.7847 8.89502L10.5869 9.08545L10.7847 9.65674L10.8726 9.74463L11.2022 9.95703L10.9898 10.4697L10.6089 10.3892H10.4844L9.93507 10.6528V10.9312L10.4844 11.1948H10.6089L10.9898 11.1143L11.2022 11.6196L10.8726 11.8394L10.7847 11.9272L10.5869 12.4985L10.7847 12.6963L11.3486 12.4912L11.4439 12.4033L11.6489 12.0811L12.1616 12.2861L12.0811 12.6743L12.0884 12.7915L12.3447 13.3408H12.623L12.8794 12.7915L12.8867 12.6743L12.8062 12.2861L13.3188 12.0811L13.5239 12.4033L13.6191 12.4912L14.1831 12.6963L14.3809 12.4985L14.1831 11.9272L14.1025 11.8394L13.7729 11.6196L13.9854 11.1143L14.3589 11.1948H14.4907L15.0327 10.9312V10.6528L14.4907 10.3892H14.3589L13.9854 10.4697L13.7729 9.95703L14.1025 9.74463L14.1831 9.65674L14.3809 9.08545L14.1831 8.89502L13.6191 9.09277L13.5239 9.18066L13.3188 9.50293L12.8062 9.29785L12.8867 8.90967L12.8794 8.79248L12.6231 8.24316H12.3447ZM12.4839 9.95703C12.946 9.95703 13.3262 10.3298 13.3262 10.792C13.3262 11.2542 12.946 11.627 12.4839 11.627C12.0217 11.627 11.6489 11.2542 11.6489 10.792C11.6489 10.3298 12.0217 9.95703 12.4839 9.95703ZM15.355 11.583L14.9961 11.6929L14.9155 12.418L14.9668 12.6084L15.1646 12.9893L14.5933 13.4067L14.293 13.0918L14.1245 12.9966L13.4141 12.8501L13.2017 13.1504L13.5459 13.7803L13.6997 13.9048L14.0879 14.0952L13.8755 14.769L13.4434 14.6958L13.2529 14.7104L12.5938 15.0107V15.3843L13.2529 15.6846L13.4434 15.7065L13.8755 15.626L14.0879 16.2998L13.6997 16.4902L13.5459 16.6147L13.2017 17.252L13.4141 17.5449L14.1245 17.4058L14.293 17.3032L14.5933 16.9883L15.1646 17.4058L14.9668 17.7939L14.9155 17.9844L14.9961 18.7021L15.355 18.8193L15.8457 18.2847L15.9116 18.1016L15.9775 17.6768H16.688L16.7466 18.1016L16.8198 18.2847L17.3105 18.8193L17.6694 18.7021L17.75 17.9844L17.7061 17.7939L17.501 17.4058L18.0723 16.9883L18.3726 17.3032L18.541 17.4058L19.2515 17.5449L19.4712 17.252L19.1196 16.6147L18.9658 16.4902L18.5776 16.2998L18.7974 15.626L19.2295 15.7065L19.4199 15.6846L20.0718 15.3843V15.0107L19.4199 14.7104L19.2295 14.6958L18.7974 14.769L18.5776 14.0952L18.9658 13.9048L19.1196 13.7803L19.4712 13.1504L19.2515 12.8501L18.541 12.9966L18.3726 13.0918L18.0723 13.4067L17.501 12.9893L17.7061 12.6084L17.75 12.418L17.6694 11.6929L17.3105 11.583L16.8198 12.1177L16.7466 12.2935L16.688 12.7256H15.9775L15.9116 12.2935L15.8457 12.1177L15.355 11.583ZM16.3291 13.8096C17.0972 13.8096 17.728 14.4331 17.728 15.2012C17.728 15.9693 17.0972 16.5928 16.3291 16.5928C15.561 16.5928 14.9375 15.9693 14.9375 15.2012C14.9375 14.4331 15.561 13.8096 16.3291 13.8096ZM9.3125 23.0454C8.32102 23.0454 7.52539 23.841 7.52539 24.8325H22.4888C22.4888 23.841 21.6858 23.0454 20.6943 23.0454H9.3125Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Perbaikan Kerusakan Sistem
              </h5>
              <p class="text-white">
                Hadapi masalah software? Tukang kami dapat bantu Anda
                memperbaiki masalah sistem operasi, program, atau aplikasi yang
                tidak berfungsi dengan baik, termasuk masalah booting, crash
                sistem, atau error lainnya.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_6098_18218)">
                <path
                  d="M29.6079 0.384328C28.8913 -0.331922 27.6543 -0.0120593 26.3437 1.05312C25.1553 1.9956 18.9323 7.03026 15.6758 10.1641C13.4059 12.1394 11.6396 14.0649 11.251 15.4896L14.5022 18.7412C15.9273 18.353 17.8528 16.5867 19.8281 14.3164C22.9623 11.0599 27.997 4.83687 28.9391 3.64894C30.0043 2.33802 30.3246 1.1014 29.6079 0.384328Z"
                  fill="white"
                />
                <path
                  d="M8.86328 17.8042L12.2049 21.1463L13.8763 19.4748L10.5343 16.1328L8.86328 17.8042Z"
                  fill="white"
                />
                <path
                  d="M0.291621 23.6755C-0.0854883 24.053 -0.0854883 24.6646 0.291621 25.0421L4.96635 29.7168C5.34393 30.094 5.95541 30.094 6.33258 29.7168L8.91861 27.1304L2.87771 21.0898L0.291621 23.6755Z"
                  fill="white"
                />
                <path
                  d="M8.22021 18.4463C7.25646 19.4104 6.19574 17.7713 4.17127 19.7962L3.56055 20.4065L9.60156 26.4479L10.2127 25.8372C12.2367 23.8128 10.598 22.7521 11.5622 21.7883L8.22021 18.4463Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_6098_18218">
                  <rect width="30" height="30" fill="white" />
                </clipPath>
              </defs>
            </svg>

            <div class="space-y-2">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pembersihan dan Perawatan
              </h5>
              <p class="text-white">
                Jaga kebersihan dan performa perangkat dengan pembersihan dan
                perawatan profesional! Tim kami dapat membersihkan debu,
                kotoran, atau cairan yang mungkin masuk ke dalam perangkat Anda.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#13D2D4] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M29.0625 9.375V25.3125C29.0625 25.8281 28.6406 26.25 28.125 26.25H1.875C1.35938 26.25 0.9375 25.8281 0.9375 25.3125V4.6875C0.9375 4.17188 1.35938 3.75 1.875 3.75H12.1875C12.5156 3.75 12.825 3.91875 12.9937 4.20937L15.5344 8.4375H28.125C28.6406 8.4375 29.0625 8.85938 29.0625 9.375Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Pemulihan Data
              </h5>
              <p class="text-white">
                Kehilangan data? Kami memiliki solusi untuk Anda! Tim kami dapat
                melakukan proses pemulihan data dari perangkat yang mengalami
                kerusakan atau kehilangan data, menggunakan berbagai teknik
                pemulihan data yang profesional.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative bg-[#2C66A6] duration300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
        >
          <div class="relative space-y-8 py-12 p-8">
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26.2387 12.5H24.275C24.0153 12.4945 23.7633 12.4113 23.5513 12.2612C23.3394 12.111 23.1774 11.9007 23.0862 11.6575L23.08 11.6412C22.9742 11.4047 22.9414 11.142 22.986 10.8868C23.0305 10.6315 23.1503 10.3954 23.33 10.2087L24.7175 8.82125C24.9541 8.5845 25.0871 8.26348 25.0871 7.92875C25.0871 7.59402 24.9541 7.273 24.7175 7.03625L22.9675 5.28625C22.7308 5.04962 22.4097 4.91669 22.075 4.91669C21.7403 4.91669 21.4192 5.04962 21.1825 5.28625L19.795 6.67375C19.6083 6.85343 19.3722 6.97323 19.117 7.01777C18.8617 7.06232 18.599 7.02958 18.3625 6.92375H18.3462C18.1007 6.83232 17.8885 6.66881 17.7375 6.45467C17.5865 6.24053 17.5037 5.98576 17.5 5.72375V3.76125C17.5 3.42675 17.3671 3.10594 17.1306 2.86941C16.8941 2.63288 16.5733 2.5 16.2387 2.5H13.7612C13.4267 2.5 13.1059 2.63288 12.8694 2.86941C12.6329 3.10594 12.5 3.42675 12.5 3.76125V5.72375C12.4946 5.9836 12.4115 6.23586 12.2613 6.44798C12.1111 6.6601 11.9008 6.82234 11.6575 6.91375H11.6412C11.4047 7.01958 11.142 7.05232 10.8868 7.00777C10.6315 6.96323 10.3954 6.84343 10.2087 6.66375L8.82125 5.27625C8.5845 5.03962 8.26348 4.90669 7.92875 4.90669C7.59402 4.90669 7.273 5.03962 7.03625 5.27625L5.28625 7.02625C5.04962 7.263 4.91669 7.58402 4.91669 7.91875C4.91669 8.25348 5.04962 8.5745 5.28625 8.81125L6.67375 10.1987C6.85343 10.3854 6.97323 10.6215 7.01777 10.8768C7.06232 11.132 7.02958 11.3947 6.92375 11.6312V11.6475C6.83355 11.8941 6.67071 12.1076 6.4567 12.2598C6.24269 12.412 5.98757 12.4958 5.725 12.5H3.76125C3.42675 12.5 3.10594 12.6329 2.86941 12.8694C2.63288 13.1059 2.5 13.4267 2.5 13.7612V16.2387C2.5 16.5733 2.63288 16.8941 2.86941 17.1306C3.10594 17.3671 3.42675 17.5 3.76125 17.5H5.725C5.98467 17.5055 6.23674 17.5887 6.44865 17.7388C6.66055 17.889 6.82256 18.0993 6.91375 18.3425V18.3587C7.01958 18.5953 7.05232 18.858 7.00777 19.1132C6.96323 19.3685 6.84343 19.6046 6.66375 19.7912L5.27625 21.1787C5.03962 21.4155 4.90669 21.7365 4.90669 22.0712C4.90669 22.406 5.03962 22.727 5.27625 22.9637L7.02625 24.7137C7.263 24.9504 7.58402 25.0833 7.91875 25.0833C8.25348 25.0833 8.5745 24.9504 8.81125 24.7137L10.1987 23.3262C10.3854 23.1466 10.6215 23.0268 10.8768 22.9822C11.132 22.9377 11.3947 22.9704 11.6312 23.0762L11.6475 23.0825C11.8932 23.1723 12.106 23.3342 12.2581 23.547C12.4102 23.7598 12.4945 24.0135 12.5 24.275V26.2387C12.5 26.5733 12.6329 26.8941 12.8694 27.1306C13.1059 27.3671 13.4267 27.5 13.7612 27.5H16.2387C16.4044 27.5 16.5684 27.4674 16.7214 27.404C16.8744 27.3406 17.0135 27.2477 17.1306 27.1306C17.2477 27.0135 17.3406 26.8744 17.404 26.7214C17.4674 26.5684 17.5 26.4044 17.5 26.2387V24.275C17.5055 24.0153 17.5887 23.7633 17.7388 23.5513C17.889 23.3394 18.0993 23.1774 18.3425 23.0862L18.3587 23.08C18.5953 22.9742 18.858 22.9414 19.1132 22.986C19.3685 23.0305 19.6046 23.1503 19.7912 23.33L21.1787 24.7175C21.4155 24.9541 21.7365 25.0871 22.0712 25.0871C22.406 25.0871 22.727 24.9541 22.9637 24.7175L24.7137 22.9675C24.9504 22.7308 25.0833 22.4097 25.0833 22.075C25.0833 21.7403 24.9504 21.4192 24.7137 21.1825L23.3262 19.795C23.1466 19.6083 23.0268 19.3722 22.9822 19.117C22.9377 18.8617 22.9704 18.599 23.0762 18.3625L23.0825 18.3462C23.1733 18.1018 23.3356 17.8903 23.5483 17.7394C23.761 17.5884 24.0142 17.505 24.275 17.5H26.2387C26.5733 17.5 26.8941 17.3671 27.1306 17.1306C27.3671 16.8941 27.5 16.5733 27.5 16.2387V13.7612C27.5 13.5956 27.4674 13.4316 27.404 13.2786C27.3406 13.1256 27.2477 12.9865 27.1306 12.8694C27.0135 12.7523 26.8744 12.6594 26.7214 12.596C26.5684 12.5326 26.4044 12.5 26.2387 12.5ZM15 18.75C14.2583 18.75 13.5333 18.5301 12.9166 18.118C12.2999 17.706 11.8193 17.1203 11.5355 16.4351C11.2516 15.7498 11.1774 14.9958 11.3221 14.2684C11.4667 13.541 11.8239 12.8728 12.3483 12.3483C12.8728 11.8239 13.541 11.4667 14.2684 11.3221C14.9958 11.1774 15.7498 11.2516 16.4351 11.5355C17.1203 11.8193 17.706 12.2999 18.118 12.9166C18.5301 13.5333 18.75 14.2583 18.75 15C18.75 15.9946 18.3549 16.9484 17.6516 17.6516C16.9484 18.3549 15.9946 18.75 15 18.75Z"
                fill="white"
              />
            </svg>

            <div class="space-y-2 sans3">
              <h5
                class="text-xl font-semibold text-white transition group-hover:text-secondary"
              >
                Upgrade Perangkat
              </h5>
              <p class="text-white">
                Optimalkan kinerja perangkat Anda dengan upgrade hardware dan
                software terbaru! Kami dapat membantu upgrade hardware atau
                software untuk meningkatkan kinerja perangkat, seperti
                penggantian komponen, atau update sistem operasi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
